Repository mars-project/mars, pull requests merged in 2018-12, with the labels that each got.

#11 Add travis config
  .coveragerc
  .travis.yml
  bin/travis-prepare-osx.sh
  bin/travis-upload.sh
  mars/actors/pool/gevent_pool.pyx
  mars/scheduler/graph.py
  mars/scheduler/resource.py
  mars/scheduler/tests/test_main.py
  mars/scheduler/tests/test_operand.py
  mars/tests/test_promise.py
  mars/utils.py
  mars/web/session.py
  mars/web/tests/test_api.py
  requirements-dev.txt
  requirements.txt
Labels: type: tests

#24 Switch the graph into FAILED when preparation failed
  mars/scheduler/graph.py
  mars/scheduler/tests/test_main.py
  mars/web/session.py
  mars/web/tests/test_api.py
Labels: mod: scheduler, type: bug

#29 fix test case
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/execution/tests/test_reduction_execute.py
Labels: type: bug, type: tests

#26 add mars common API
  mars/api.py
  mars/scheduler/graph.py
  mars/session.py
  mars/web/__init__.py
  mars/web/__main__.py
  mars/web/api.py
  mars/web/api_client.py
  mars/web/dashboard.py
  mars/web/server.py
  mars/web/session.py
  mars/web/task_pages.py
  mars/web/tests/test_api.py
  mars/web/worker_pages.py
Labels: mod: client, type: enhancement

#32 Fix arg reduction test
  mars/tensor/execution/tests/test_reduction_execute.py
Labels: type: bug, type: tests

#33 Fix web UI dashboard
  mars/web/dashboard.py
  mars/web/tests/test_api.py
Labels: type: bug

#38 fix KeyError in stop_graph when graph preparation failed
  mars/scheduler/graph.py
  mars/web/api.py
  mars/web/session.py
Labels: type: bug

#40 Fix web session when submit multiply tensors
  mars/web/session.py
  mars/web/tests/test_api.py
Labels: type: bug

#35 Add pseudo-cluster mode support
  mars/api.py
  mars/base_app.py
  mars/config.py
  mars/deploy/__init__.py
  mars/deploy/local/__init__.py
  mars/deploy/local/core.py
  mars/deploy/local/distributor.py
  mars/deploy/local/session.py
  mars/deploy/local/tests/__init__.py
  mars/deploy/local/tests/test_cluster.py
  mars/deploy/local/tests/test_distributor.py
  mars/scheduler/__main__.py
  mars/scheduler/distributor.py
  mars/scheduler/graph.py
  mars/scheduler/operand.py
  mars/scheduler/service.py
  mars/scheduler/session.py
  mars/scheduler/tests/test_main.py
  mars/scheduler/utils.py
  mars/session.py
  mars/tensor/core.py
  mars/web/server.py
  mars/web/tests/test_api.py
  mars/worker/__main__.py
  mars/worker/calc.py
  mars/worker/chunkholder.py
  mars/worker/distributor.py
  mars/worker/execution.py
  mars/worker/prochelper.py
  mars/worker/quota.py
  mars/worker/service.py
  mars/worker/spill.py
  mars/worker/status.py
  mars/worker/tests/base.py
  mars/worker/tests/test_chunkholder.py
  mars/worker/tests/test_dispatcher.py
  mars/worker/tests/test_execution.py
  mars/worker/tests/test_main.py
  mars/worker/tests/test_quota.py
  mars/worker/tests/test_status.py
  mars/worker/tests/test_transfer.py
  mars/worker/transfer.py
  mars/worker/utils.py
  setup.py
Labels: mod: deploy, type: feature

#42 Fix submitting parts of multiple outputs operand like svd
  mars/deploy/local/tests/test_cluster.py
  mars/graph.pyx
  mars/operands/random.py
  mars/tensor/core.py
  mars/tensor/expressions/tests/test_linalg.py
Labels: type: bug

#44 Fix stop graph failed due to failure of serialization
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/graph.py
Labels: mod: scheduler, type: bug

#43 Fix serialize issue when submitting calculation on parts of svd outputs
  mars/deploy/local/tests/test_cluster.py
  mars/tensor/core.py
  mars/tensor/expressions/tests/test_linalg.py
Labels: type: bug

#47 limit shared memory to 20% when starting local cluster
  mars/config.py
  mars/deploy/local/core.py
  mars/worker/__main__.py
Labels: mod: deploy, type: enhancement

#51 Add installation, instructions and getting involved in README, add local cluster docs
  README.rst
  docs/source/install.rst
Labels: type: docs

#46 Add appveyor and fix upload config
  .travis.yml
  appveyor.yml
  bin/travis-build-wheels.sh
  bin/travis-upload.sh
  mars/actors/pool/tests/test_gevent_pool.py
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/tests/test_assigner.py
  mars/scheduler/tests/test_main.py
  mars/tensor/execution/tests/test_datasource_execute.py
  mars/tests/test_promise.py
  mars/web/tests/test_api.py
  mars/worker/service.py
  setup.py
Labels: type: tests

#57 Remove redundant code to increase coverage
  mars/compat/__init__.py
  mars/lib/futures/_base.py
  mars/lib/lib_utils.py
  mars/utils.py
  mars/worker/tests/test_transfer.py
Labels: type: tests

#58 Fix chunk index of tensor of singular values calculated by svd decompition
  mars/tensor/expressions/linalg/core.py
  mars/tensor/expressions/linalg/svd.py
  mars/tensor/expressions/tests/test_linalg.py
Labels: mod: tensor, type: bug

#60 add virtualenv test & fix some warnings
  .travis.yml
  mars/session.py
  mars/tensor/execution/indexing.py
  mars/tensor/execution/optimizes/tests/test_compose.py
  mars/tensor/execution/reduction.py
  mars/tensor/expressions/arithmetic/abs.py
  mars/tensor/expressions/arithmetic/absolute.py
  mars/tensor/expressions/arithmetic/exp.py
  mars/tensor/expressions/arithmetic/power.py
  mars/tensor/expressions/arithmetic/sign.py
  mars/tensor/expressions/arithmetic/sinc.py
  mars/tensor/expressions/base/corrcoef.py
  mars/tensor/expressions/linalg/norm.py
  mars/tensor/expressions/random/beta.py
  mars/tensor/expressions/random/binomial.py
  mars/tensor/expressions/random/chisquare.py
  mars/tensor/expressions/random/dirichlet.py
  mars/tensor/expressions/random/exponential.py
  mars/tensor/expressions/random/gamma.py
  mars/tensor/expressions/random/gumbel.py
  mars/tensor/expressions/random/hypergeometric.py
  mars/tensor/expressions/random/laplace.py
  mars/tensor/expressions/random/logistic.py
  mars/tensor/expressions/random/lognormal.py
  mars/tensor/expressions/random/logseries.py
  mars/tensor/expressions/random/negative_binomial.py
  mars/tensor/expressions/random/noncentral_chisquare.py
  mars/tensor/expressions/random/normal.py
  mars/tensor/expressions/random/pareto.py
  mars/tensor/expressions/random/poisson.py
  mars/tensor/expressions/random/randn.py
  mars/tensor/expressions/random/rayleigh.py
  mars/tensor/expressions/random/standard_cauchy.py
  mars/tensor/expressions/random/standard_gamma.py
  mars/tensor/expressions/random/standard_t.py
  mars/tensor/expressions/random/triangular.py
  mars/tensor/expressions/random/uniform.py
  mars/tensor/expressions/random/vonmises.py
  mars/tensor/expressions/random/wald.py
  mars/tensor/expressions/random/weibull.py
  mars/tensor/expressions/random/zipf.py
  mars/tests/core.py
  mars/tests/test_session.py
Labels: type: tests

#61 Make fuse logic out of graph
  mars/fuse.pyx
  mars/graph.pyx
  setup.py
Labels: type: refactor

#54 Support set endpoint for web session to reuse the session but with a different web
  mars/deploy/local/session.py
  mars/session.py
  mars/web/session.py
  mars/web/tests/test_api.py
Labels: type: enhancement

#36 add multiple scheduler support & process restart support
  .coveragerc
  .coveragerc-tensor
  .travis.yml
  docs/Makefile
  docs/build.sh
  docs/make.bat
  docs/source/norm_zh.py
  mars/actors/pool/gevent_pool.pyx
  mars/actors/pool/messages.pyx
  mars/actors/pool/tests/test_gevent_pool.py
  mars/base_app.py
  mars/cluster_info.py
  mars/config.py
  mars/errors.py
  mars/graph.pyx
  mars/kvstore.py
  mars/promise.py
  mars/scheduler/tests/test_resource.py
  mars/tensor/core.py
  mars/tests/test_promise.py
  mars/utils.py
  mars/web/__main__.py
  mars/web/server.py
  mars/web/session.py
  mars/web/templates/base.html
  mars/web/templates/worker_detail.html
  mars/web/tests/test_api.py
  mars/worker/__init__.py
  mars/worker/__main__.py
  mars/worker/calc.py
  mars/worker/daemon.py
  mars/worker/dispatcher.py
  mars/worker/execution.py
  mars/worker/prochelper.py
  mars/worker/quota.py
  mars/worker/service.py
  mars/worker/spill.py
  mars/worker/status.py
  mars/worker/tests/base.py
  mars/worker/tests/test_chunkholder.py
  mars/worker/tests/test_daemon.py
  mars/worker/tests/test_dispatcher.py
  mars/worker/tests/test_quota.py
  mars/worker/tests/test_status.py
  mars/worker/tests/test_transfer.py
Labels: mod: worker, type: refactor

#65 Fix execute method of ExecutableTuple
  mars/tensor/core.py
  mars/web/tests/test_api.py
Labels: mod: tensor, type: bug

#68 Pass timestamps as status
  mars/scheduler/graph.py
  mars/scheduler/resource.py
  mars/web/server.py
  mars/web/templates/task_list.html
  mars/web/templates/worker_detail.html
  mars/web/templates/worker_list.html
  mars/worker/status.py
Labels: mod: web, type: enhancement

#69 Remove sudo in Travis CI
  .travis.yml
Labels: type: tests

#37 Use ChunkMetaActor to replace KVStoreActor
  mars/api.py
  mars/compat/__init__.py
  mars/deploy/local/core.py
  mars/errors.py
  mars/scheduler/__init__.py
  mars/scheduler/__main__.py
  mars/scheduler/assigner.py
  mars/scheduler/chunkmeta.py
  mars/scheduler/graph.py
  mars/scheduler/kvstore.py
  mars/scheduler/operand.py
  mars/scheduler/resource.py
  mars/scheduler/service.py
  mars/scheduler/tests/test_assigner.py
  mars/scheduler/tests/test_chunkmeta.py
  mars/scheduler/tests/test_graph.py
  mars/scheduler/tests/test_main.py
  mars/scheduler/tests/test_operand.py
  mars/web/server.py
  mars/web/tests/test_api.py
  mars/worker/calc.py
  mars/worker/chunkstore.py
  mars/worker/execution.py
  mars/worker/service.py
  mars/worker/status.py
  mars/worker/tests/test_execution.py
  mars/worker/tests/test_main.py
  mars/worker/tests/test_transfer.py
  mars/worker/transfer.py
  mars/worker/utils.py
Labels: type: enhancement

#73 Fix repeat deletion of kv item
  mars/scheduler/chunkmeta.py
Labels: mod: scheduler, type: bug

#70 Fix Index and IndexSetValue operand when new chunks without indexes parameter
  mars/deploy/local/tests/test_cluster.py
  mars/tensor/execution/indexing.py
  mars/tensor/expressions/indexing/getitem.py
  mars/tensor/expressions/indexing/setitem.py
  mars/tensor/expressions/tests/test_base.py
  mars/web/tests/test_api.py
Labels: mod: tensor, type: bug

#79 Fix bug when some of the svd results are gc collected
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/graph.py
  mars/tensor/core.py
  mars/tensor/execution/core.py
  mars/tensor/expressions/core.py
  mars/tensor/expressions/fuse/core.py
  mars/tensor/expressions/linalg/core.py
  mars/tensor/expressions/linalg/qr.py
  mars/tensor/expressions/linalg/svd.py
  mars/tensor/expressions/tests/test_linalg.py
Labels: mod: scheduler, mod: tensor, type: bug

#80 Support fetch executed tensor data from server
  mars/deploy/local/session.py
  mars/deploy/local/tests/test_cluster.py
  mars/session.py
  mars/tests/test_session.py
  mars/web/session.py
  mars/web/tests/test_api.py
Labels: mod: client, type: bug, type: feature
