Repository mars-project/mars, pull requests merged in 2019-04, with the labels that each got.

#318 Remove use_one_memory_mapped_file argument when starting plasma_store
  mars/worker/__main__.py
  mars/worker/service.py
Labels: mod: worker, to be backported, type: bug

#320 Resolve use_one_memory_mapped_file argument issue when starting plasma_store
  mars/config.py
  mars/worker/__main__.py
  mars/worker/chunkholder.py
  mars/worker/chunkstore.py
  mars/worker/service.py
  mars/worker/tests/test_chunkholder.py
  mars/worker/tests/test_execution.py
  mars/worker/tests/test_transfer.py
  mars/worker/transfer.py
  mars/worker/utils.py
Labels: backport, mod: worker, type: bug

#321 [BACKPORT] Fix arithmetic operator with `where` (#314)
  mars/tensor/execution/arithmetic.py
  mars/tensor/execution/tests/test_arithmetic_execute.py
  mars/tensor/expressions/arithmetic/core.py
Labels: backport, mod: tensor, type: bug

#317 Add support for detecting NVIDIA GPU resources
  mars/actors/pool/gevent_pool.pyx
  mars/node_info.py
  mars/resource.py
  mars/tests/test_resource.py
  mars/utils.py
  mars/web/templates/worker_detail.html
  mars/worker/chunkholder.py
  mars/worker/service.py
  mars/worker/status.py
Labels: mod: worker, type: feature

#324 Fix errors caused by argument changes in tiledb
  .travis.yml
  bin/travis-build-wheels.sh
  bin/travis-install-conda.sh
  mars/deploy/local/core.py
  mars/tensor/execution/datasource.py
  mars/tensor/execution/datastore.py
  mars/tensor/execution/tests/test_datasource_execute.py
  mars/tensor/execution/tests/test_datastore_execute.py
  mars/tensor/execution/utils.py
  mars/tensor/expressions/datasource/fromtiledb.py
  mars/tensor/expressions/datastore/totiledb.py
  mars/tensor/expressions/datastore/utils.py
  mars/tensor/expressions/tests/test_datasource.py
  mars/tensor/expressions/tests/test_datastore.py
Labels: mod: tensor, to be backported, type: bug

#327 Remove chunk square limitation in cholesky decomposition
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/expressions/linalg/cholesky.py
Labels: mod: tensor, to be backported, type: enhancement

#325 [BACKPORT] Fix errors caused by argument changes in tiledb (#324)
  .travis.yml
  bin/travis-build-wheels.sh
  bin/travis-install-conda.sh
  bin/travis-prepare-osx.sh
  mars/deploy/local/core.py
  mars/deploy/local/tests/__init__.py
  mars/tensor/execution/datasource.py
  mars/tensor/execution/datastore.py
  mars/tensor/execution/tests/test_datasource_execute.py
  mars/tensor/execution/tests/test_datastore_execute.py
  mars/tensor/execution/utils.py
  mars/tensor/expressions/datasource/fromtiledb.py
  mars/tensor/expressions/datastore/totiledb.py
  mars/tensor/expressions/datastore/utils.py
  mars/tensor/expressions/tests/test_datasource.py
  mars/tensor/expressions/tests/test_datastore.py
Labels: backport, mod: tensor, type: bug

#329 [BACKPORT] Remove chunk square limitation in cholesky decomposition (#327)
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/expressions/linalg/cholesky.py
Labels: backport, mod: tensor, type: enhancement

#332 Implement __array_function__ protocol
  .travis.yml
  appveyor.yml
  mars/tensor/core.py
  mars/tensor/execution/tests/test_core_execute.py
Labels: mod: tensor, to be backported, type: feature

#333 [BACKPORT] Implement __array_function__ protocol
  .travis.yml
  appveyor.yml
  mars/tensor/core.py
  mars/tensor/execution/tests/test_core_execute.py
Labels: backport, mod: tensor, type: feature

#322 Support execute tiled tensor in distributed mode
  mars/core.py
  mars/deploy/local/tests/test_cluster.py
  mars/operands/random.py
Labels: to be backported, type: bug

#338 [BACKPORT] Support execute tiled tensor in distributed mode (#322)
  mars/core.py
  mars/deploy/local/session.py
  mars/deploy/local/tests/test_cluster.py
  mars/operands/random.py
  mars/tensor/core.py
  mars/tensor/expressions/core.py
Labels: backport, type: bug

#339 Fix tiledb error when numpy int64 in shape
  mars/session.py
  mars/tensor/execution/datastore.py
  mars/tensor/execution/tests/test_datastore_execute.py
  mars/tensor/expressions/datasource/scalar.py
  mars/tensor/expressions/reduction/core.py
  mars/tensor/expressions/tests/test_datastore.py
  mars/tensor/expressions/utils.py
Labels: mod: tensor, to be backported, type: bug

#340 Sync promise.py in v0.1 with v0.2 to solve arg missing issue
  mars/promise.py
  mars/tests/test_promise.py
Labels: type: enhancement

#341 [BACKPORT] Decouple services from applications & unify worker start logic (#170)
  mars/config.py
  mars/deploy/local/core.py
  mars/deploy/local/session.py
  mars/deploy/local/tests/test_cluster.py
  mars/kvstore.py
  mars/lib/sparse/core.py
  mars/scheduler/__main__.py
  mars/tensor/execution/array.py
  mars/tensor/execution/fft.py
  mars/tensor/execution/linalg.py
  mars/web/session.py
  mars/worker/__main__.py
  mars/worker/chunkstore.py
  mars/worker/service.py
  mars/worker/tests/test_service.py
Labels: backport, mod: worker, type: enhancement

#328 Allow batch rejecting peers in workers by endpoints
  mars/base_app.py
  mars/config.py
  mars/deploy/local/core.py
  mars/promise.py
  mars/scheduler/assigner.py
  mars/scheduler/chunkmeta.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/tests/test_common_exec.py
  mars/scheduler/operands/tests/test_common_ut.py
  mars/scheduler/resource.py
  mars/scheduler/tests/test_main.py
  mars/tests/test_promise.py
  mars/tests/test_utils.py
  mars/utils.py
  mars/worker/chunkstore.py
  mars/worker/execution.py
  mars/worker/service.py
  mars/worker/spill.py
  mars/worker/tests/base.py
  mars/worker/tests/test_daemon.py
  mars/worker/tests/test_execution.py
  mars/worker/tests/test_transfer.py
  mars/worker/transfer.py
  mars/worker/utils.py
Labels: mod: scheduler, mod: worker, type: enhancement

#345 [BACKPORT] Fix create existing operand actor
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/graph.py
  mars/scheduler/operand.py
  mars/scheduler/tests/test_main.py
  mars/web/tests/test_api.py
Labels: backport, mod: scheduler, type: bug

#343 Register worker when finish initialization
  mars/worker/__main__.py
  mars/worker/service.py
  mars/worker/status.py
  mars/worker/tests/test_status.py
Labels: mod: worker, to be backported, type: bug

#346 [BACKPORT] Register worker when finish initialization (#343)
  mars/worker/__main__.py
  mars/worker/service.py
  mars/worker/status.py
  mars/worker/tests/test_status.py
Labels: backport, mod: worker, type: bug

#347 [BACKPORT] Fix tiledb error when numpy int64 in shape (#339)
  mars/session.py
  mars/tensor/execution/datastore.py
  mars/tensor/execution/tests/test_datastore_execute.py
  mars/tensor/expressions/datasource/scalar.py
  mars/tensor/expressions/reduction/core.py
  mars/tensor/expressions/tests/test_datastore.py
  mars/tensor/expressions/utils.py
Labels: backport, mod: tensor, type: bug

#348 Support replacing actor classes given registration
  .coveragerc
  .coveragerc-tensor
  mars/actors/__init__.py
  mars/actors/core.pxd
  mars/actors/core.pyx
  mars/actors/pool/gevent_pool.pyx
  mars/actors/pool/tests/test_gevent_pool.py
  mars/scheduler/tests/op_delayer.py
  setup.py
Labels: mod: actor, to be backported, type: enhancement

#350 [BACKPORT] Support replacing actor classes given registration (#348)
  mars/actors/__init__.py
  mars/actors/core.pxd
  mars/actors/core.pyx
  mars/actors/pool/gevent_pool.pyx
  mars/actors/pool/tests/test_gevent_pool.py
  setup.py
Labels: backport, mod: actor, type: enhancement

#356 Add size estimator for sparse randint
  mars/tensor/execution/random.py
  mars/tensor/execution/tests/test_random_execute.py
Labels: mod: tensor, type: bug

#357 [BACKPORT] Add size estimator for randint (#356)
  mars/tensor/execution/random.py
  mars/tensor/execution/tests/test_random_execute.py
Labels: backport, mod: tensor, type: bug

#359 Pass an acceptable compression list when fetching results from server
  mars/api.py
  mars/deploy/local/session.py
  mars/scheduler/graph.py
  mars/serialize/dataserializer.py
  mars/serialize/tests/test_serialize.py
  mars/web/api.py
  mars/web/session.py
  mars/web/tests/test_api.py
Labels: mod: web, to be backported, type: bug

#362 [BACKPORT] Pass an acceptable compression list when fetching results from server
  mars/api.py
  mars/deploy/local/session.py
  mars/scheduler/graph.py
  mars/serialize/dataserializer.py
  mars/serialize/tests/test_serialize.py
  mars/session.py
  mars/web/api.py
  mars/web/session.py
  mars/web/tests/test_api.py
Labels: backport, mod: web, type: bug

#336 Allow renaming allocation keys in QuotaActor
  mars/_utils.pyx
  mars/promise.py
  mars/tests/core.py
  mars/tests/test_promise.py
  mars/tests/test_utils.py
  mars/worker/calc.py
  mars/worker/chunkholder.py
  mars/worker/execution.py
  mars/worker/quota.py
  mars/worker/tests/base.py
  mars/worker/tests/test_chunkholder.py
  mars/worker/tests/test_dispatcher.py
  mars/worker/tests/test_execution.py
  mars/worker/tests/test_quota.py
  mars/worker/tests/test_transfer.py
  mars/worker/tests/test_utils.py
  mars/worker/transfer.py
Labels: mod: worker, type: enhancement
