Repository mars-project/mars, pull requests merged in 2019-08, with the labels that each got.

#594 [BACKPORT] Fix web connection error when running in Docker (#567)
  .gitignore
  docs/source/contributing.rst
  docs/source/install.rst
  docs/source/locale/zh_CN/LC_MESSAGES/install.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/generated/mars.tensor.core.Tensor.po
  mars/_utils.pyx
  mars/actors/cluster.pxd
  mars/actors/cluster.pyx
  mars/actors/core.pxd
  mars/actors/core.pyx
  mars/actors/distributor.pxd
  mars/actors/pool/gevent_pool.pyx
  mars/actors/pool/messages.pxd
  mars/actors/pool/utils.pxd
  mars/base_app.py
  mars/config.py
  mars/dataframe/utils.py
  mars/deploy/__init__.py
  mars/learn/datasets/tests/test_samples_generator.py
  mars/lib/sparse/__init__.py
  mars/lib/sparse/matrix.py
  mars/scheduler/__main__.py
  mars/scheduler/service.py
  mars/scheduler/tests/integrated/base.py
  mars/tensor/linalg/tests/test_linalg_execute.py
  mars/web/__main__.py
  mars/web/tests/test_api.py
  mars/web/worker_pages.py
  mars/worker/__main__.py
  mars/worker/service.py
  mars/worker/tests/test_service.py
  mars/worker/transfer.py
  requirements-extra.txt
Labels: backport, mod: scheduler, type: bug

#598 Move optimizes out of tensor to make it universal.
  mars/executor.py
  mars/optimizes/__init__.py
  mars/optimizes/core.py
  mars/optimizes/cp.py
  mars/optimizes/ne.py
  mars/optimizes/tests/__init__.py
  mars/optimizes/tests/test_compose.py
Labels: mod: optimize, to be backported, type: enhancement

#602 Fix the default value parsing of `open_browser`
  mars/deploy/local/core.py
Labels: mod: deploy, to be backported, type: bug

#610 [BACKPORT] Support add scalar with dataframe (#582)
  mars/_version.py
  mars/dataframe/arithmetic/__init__.py
  mars/dataframe/arithmetic/add.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/utils.py
  mars/tensor/arithmetic/core.py
Labels: backport, mod: dataframe, type: feature

#615 [BACKPORT] Fix proto-serialization for certain dtypes
  mars/serialize/pbserializer.pyx
  mars/serialize/tests/test_serialize.py
Labels: backport, mod: serialization, type: bug

#614 [BACKPORT] Backport serialization patch from pyarrow.
  mars/compat.py
  mars/serialize/dataserializer.py
  mars/serialize/tests/test_serialize.py
  mars/tests/test_mutable.py
Labels: backport, mod: serialization, type: bug

#613 [BACKPORT] Fix the default value parsing of `open_browser`
  mars/deploy/local/core.py
Labels: backport, mod: deploy, type: bug

#611 Extract scheduler discoverer from cluster_info
  mars/base_app.py
  mars/cluster_info.py
  mars/deploy/local/core.py
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/__main__.py
  mars/scheduler/service.py
  mars/tensor/reduction/tests/test_reduction_execute.py
  mars/tests/core.py
  mars/web/__main__.py
  mars/web/server.py
  mars/worker/__main__.py
  mars/worker/service.py
  mars/worker/tests/test_chunkholder.py
  mars/worker/tests/test_execution.py
  mars/worker/tests/test_main.py
  mars/worker/tests/test_quota.py
  mars/worker/tests/test_status.py
  mars/worker/tests/test_transfer.py
Labels: mod: deploy, type: enhancement

#600 Support create mars session with given session_id.
  mars/api.py
  mars/deploy/local/session.py
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/session.py
  mars/session.py
  mars/web/api.py
  mars/web/session.py
Labels: mod: client, to be backported, type: enhancement

#616 Fix shuffle failover error in cases
  mars/scheduler/analyzer.py
  mars/scheduler/graph.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/shuffle.py
  mars/scheduler/tests/integrated/base.py
  mars/worker/execution.py
Labels: mod: scheduler, to be backported, type: bug

#601 Fix mutable tensor related bugs and some enhancement
  mars/api.py
  mars/deploy/local/session.py
  mars/scheduler/mutable.py
  mars/scheduler/resource.py
  mars/scheduler/session.py
  mars/tensor/core.py
  mars/tensor/utils.py
  mars/tests/test_mutable.py
  mars/web/api.py
  mars/web/server.py
  mars/web/session.py
Labels: mod: mutable tensor, to be backported, type: bug

#618 Implements DataFrame.from_records.
  mars/dataframe/core.py
  mars/dataframe/datasource/from_records.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/opcodes.py
  mars/operands.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
Labels: mod: dataframe, to be backported, type: feature

#623 Implement `scipy.special.gammaln` for Mars tensor
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/arithmetic/core.py
  mars/tensor/special/__init__.py
  mars/tensor/special/gammaln.py
  mars/tensor/special/tests/__init__.py
  mars/tensor/special/tests/test_special.py
  mars/tensor/special/tests/test_special_execute.py
Labels: mod: tensor, to be backported, type: feature

#624 Fix `infer_index_value` when one of input indexes is `RangeIndex`
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_utils.py
  mars/dataframe/arithmetic/utils.py
Labels: mod: dataframe, to be backported, type: bug

#626 [BACKPORT] Fix `infer_index_value` when one of input indexes is `RangeIndex` (#624)
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_utils.py
  mars/dataframe/arithmetic/utils.py
Labels: backport, mod: dataframe, type: bug

#632 Get more accurate memory stats from cgroup memory.stat in containers
  mars/deploy/kubernetes/docker/Dockerfile
  mars/deploy/kubernetes/docker/Dockerfile.base
  mars/resource.py
  mars/tests/test_resource.py
Labels: mod: worker, to be backported, type: enhancement

#633 [BACKPORT] Get more accurate memory stats from cgroup memory.stat in containers (#632)
  mars/resource.py
  mars/tests/test_resource.py
Labels: backport, mod: worker, type: enhancement

#641 Fix `readable_size` accuracy issue under python2
  mars/utils.py
Labels: to be backported, type: bug

#646 Use numpy only to calculate fft
  mars/tensor/fft/core.py
Labels: mod: tensor, to be backported, type: enhancement

#643 Fix compose issues when build chunk graph
  mars/executor.py
  mars/fuse.pyx
  mars/optimizes/tests/test_compose.py
  mars/tensor/linalg/matmul.py
  mars/tests/test_session.py
Labels: to be backported, type: bug

#648 Generate seed instead of RandomState in tile of RandomOperand
  mars/_utils.pyx
  mars/executor.py
  mars/tensor/random/beta.py
  mars/tensor/random/binomial.py
  mars/tensor/random/chisquare.py
  mars/tensor/random/choice.py
  mars/tensor/random/core.py
  mars/tensor/random/dirichlet.py
  mars/tensor/random/exponential.py
  mars/tensor/random/f.py
  mars/tensor/random/gamma.py
  mars/tensor/random/geometric.py
  mars/tensor/random/gumbel.py
  mars/tensor/random/hypergeometric.py
  mars/tensor/random/laplace.py
  mars/tensor/random/logistic.py
  mars/tensor/random/lognormal.py
  mars/tensor/random/logseries.py
  mars/tensor/random/multinomial.py
  mars/tensor/random/multivariate_normal.py
  mars/tensor/random/negative_binomial.py
  mars/tensor/random/noncentral_chisquare.py
  mars/tensor/random/noncentral_f.py
  mars/tensor/random/normal.py
  mars/tensor/random/pareto.py
  mars/tensor/random/poisson.py
  mars/tensor/random/power.py
  mars/tensor/random/rand.py
  mars/tensor/random/randint.py
  mars/tensor/random/randn.py
  mars/tensor/random/random_integers.py
  mars/tensor/random/random_sample.py
  mars/tensor/random/rayleigh.py
  mars/tensor/random/standard_cauchy.py
  mars/tensor/random/standard_exponential.py
  mars/tensor/random/standard_gamma.py
  mars/tensor/random/standard_normal.py
  mars/tensor/random/standard_t.py
  mars/tensor/random/tests/test_random.py
  mars/tensor/random/tests/test_random_execute.py
  mars/tensor/random/triangular.py
  mars/tensor/random/uniform.py
  mars/tensor/random/vonmises.py
  mars/tensor/random/wald.py
  mars/tensor/random/weibull.py
  mars/tensor/random/zipf.py
  mars/tensor/utils.py
Labels: mod: tensor, to be backported, type: enhancement

#628 Add `searchsorted` support
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/searchsorted.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/merge/stack.py
  mars/tensor/reduction/core.py
Labels: mod: tensor, to be backported, type: feature

#651 Preserve table order while refreshing its contents
  LICENSE
  mars/web/static/css/bootstrap-sortable.css
  mars/web/static/css/bootstrap-table.min.css
  mars/web/static/js/bootstrap-sortable.js
  mars/web/static/js/bootstrap-table.min.js
  mars/web/static/js/mars.js
  mars/web/templates/base.html
  mars/web/templates/scheduler_pages/list.html
  mars/web/templates/worker_pages/list.html
Labels: mod: web, to be backported, type: bug

#656 Fix the wrong shape of chunks in SVD
  mars/tensor/linalg/core.py
  mars/tensor/linalg/svd.py
  mars/tensor/linalg/tests/test_linalg.py
  mars/tensor/linalg/utils.py
Labels: mod: tensor, to be backported, type: bug

#658 Remove conjugate in tile of Cholesky which effects performance heavily
  mars/tensor/linalg/cholesky.py
Labels: mod: tensor, to be backported, type: enhancement

#654 Check disks before adding into spill targets
  mars/scheduler/analyzer.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/shuffle.py
  mars/worker/spill.py
Labels: mod: worker, type: bug

#660 Generate unique key for chunks of mutable tensors which have identical properties
  mars/tensor/utils.py
  mars/tests/test_mutable.py
Labels: mod: mutable tensor, to be backported, type: bug

#662 [BACKPORT] Preserve table order while refreshing its contents (#651)
  LICENSE
  docs/source/install.rst
  docs/source/locale/zh_CN/LC_MESSAGES/install.po
  mars/web/static/css/bootstrap-sortable.css
  mars/web/static/js/bootstrap-sortable.js
  mars/web/static/js/mars.js
  mars/web/templates/base.html
  mars/web/templates/scheduler_pages/list.html
  mars/web/templates/worker_pages/list.html
Labels: backport, mod: web, type: bug

#663 [BACKPORT] Add `searchsorted` support
  mars/_utils.pyx
  mars/executor.py
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/searchsorted.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/fft/core.py
  mars/tensor/linalg/cholesky.py
  mars/tensor/merge/stack.py
  mars/tensor/random/beta.py
  mars/tensor/random/binomial.py
  mars/tensor/random/chisquare.py
  mars/tensor/random/choice.py
  mars/tensor/random/core.py
  mars/tensor/random/dirichlet.py
  mars/tensor/random/exponential.py
  mars/tensor/random/f.py
  mars/tensor/random/gamma.py
  mars/tensor/random/geometric.py
  mars/tensor/random/gumbel.py
  mars/tensor/random/hypergeometric.py
  mars/tensor/random/laplace.py
  mars/tensor/random/logistic.py
  mars/tensor/random/lognormal.py
  mars/tensor/random/logseries.py
  mars/tensor/random/multinomial.py
  mars/tensor/random/multivariate_normal.py
  mars/tensor/random/negative_binomial.py
  mars/tensor/random/noncentral_chisquare.py
  mars/tensor/random/noncentral_f.py
  mars/tensor/random/normal.py
  mars/tensor/random/pareto.py
  mars/tensor/random/poisson.py
  mars/tensor/random/power.py
  mars/tensor/random/rand.py
  mars/tensor/random/randint.py
  mars/tensor/random/randn.py
  mars/tensor/random/random_integers.py
  mars/tensor/random/random_sample.py
  mars/tensor/random/rayleigh.py
  mars/tensor/random/standard_cauchy.py
  mars/tensor/random/standard_exponential.py
  mars/tensor/random/standard_gamma.py
  mars/tensor/random/standard_normal.py
  mars/tensor/random/standard_t.py
  mars/tensor/random/tests/test_random.py
  mars/tensor/random/tests/test_random_execute.py
  mars/tensor/random/triangular.py
  mars/tensor/random/uniform.py
  mars/tensor/random/vonmises.py
  mars/tensor/random/wald.py
  mars/tensor/random/weibull.py
  mars/tensor/random/zipf.py
  mars/tensor/reduction/core.py
  mars/tensor/utils.py
Labels: backport, mod: tensor, type: feature

#664 [BACKPORT] Check disks before adding into spill targets (#654)
  mars/actors/core.pyx
  mars/base_app.py
  mars/cluster_info.py
  mars/deploy/local/core.py
  mars/scheduler/analyzer.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/shuffle.py
  mars/web/session.py
  mars/web/tests/test_api.py
  mars/worker/service.py
  mars/worker/spill.py
Labels: backport, mod: worker, type: bug

#666 [BACKPORT] Fix chunk shape in tile of SVD (#656)
  mars/tensor/linalg/core.py
  mars/tensor/linalg/svd.py
  mars/tensor/linalg/tests/test_linalg.py
  mars/tensor/linalg/utils.py
Labels: backport, mod: tensor, type: bug

#667 [BACKPORT] Fix compose issues when build chunk graph (#643)
  mars/executor.py
  mars/fuse.pyx
  mars/optimizes/tests/test_compose.py
  mars/tensor/linalg/matmul.py
  mars/tests/test_session.py
Labels: backport, type: bug

#668 [BACKPORT] Fix `readable_size` accuracy with Python 2 (#641)
  mars/utils.py
Labels: backport, type: bug

#669 [BACKPORT] Fix mutable tensor related bugs and some enhancement
  mars/api.py
  mars/deploy/local/session.py
  mars/scheduler/mutable.py
  mars/scheduler/resource.py
  mars/scheduler/session.py
  mars/tensor/core.py
  mars/tensor/utils.py
  mars/tests/test_mutable.py
  mars/web/api.py
  mars/web/server.py
  mars/web/session.py
Labels: backport, mod: mutable tensor, type: bug

#670 [BACKPORT] Support create mars session with given session_id. (#600)
  mars/deploy/local/session.py
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/session.py
  mars/session.py
  mars/web/api.py
  mars/web/session.py
Labels: backport, mod: client, type: enhancement

#671 Raise an error when Python version between client and server is different
  mars/web/__init__.py
  mars/web/apihandlers.py
  mars/web/session.py
  mars/web/tests/test_api.py
  mars/worker/tests/base.py
  mars/worker/tests/test_transfer.py
  mars/worker/utils.py
Labels: mod: web, to be backported, type: bug

#672 [BACKPORT] Raise an error when Python version between client and server is different (#671)
  mars/web/__init__.py
  mars/web/apihandlers.py
  mars/web/session.py
  mars/web/tests/test_api.py
  mars/worker/tests/base.py
  mars/worker/tests/test_transfer.py
  mars/worker/utils.py
Labels: backport, mod: web, type: bug

#673 Support tokenize nested dict in `mars.utils.tokenize`
  mars/_utils.pyx
  mars/tests/test_utils.py
Labels: to be backported, type: bug

#675 Fix bug that set value to copied tensor still changed the original one
  mars/core.py
  mars/tensor/tests/test_core_execute.py
Labels: mod: tensor, to be backported, type: bug

#677 Add missing size estimation function for TensorDot
  mars/executor.py
  mars/tensor/linalg/tensordot.py
  mars/tensor/linalg/tests/test_linalg_execute.py
Labels: mod: tensor, to be backported, type: bug

#678 [BACKPORT] Add missing size estimation function for TensorDot (#677)
  mars/executor.py
  mars/tensor/linalg/tensordot.py
  mars/tensor/linalg/tests/test_linalg_execute.py
Labels: backport, mod: tensor, type: bug

#679 Extend the max_buffer_size of tornado server to 4G.
  mars/web/server.py
Labels: mod: web, to be backported, type: enhancement

#683 [BACKPORT] Support tokenize nested dict in `mars.utils.tokenize` (#673)
  mars/_utils.pyx
  mars/tests/test_utils.py
  mars/web/server.py
Labels: backport, type: bug

#681 [BACKPORT] Fix bug that set value to copied tensor still changed the original one (#675)
  mars/core.py
  mars/tensor/tests/test_core_execute.py
Labels: backport, mod: tensor, type: bug

#639 Add PCA decomposition algorithm support
  mars/core.py
  mars/dataframe/core.py
  mars/executor.py
  mars/fuse.pyx
  mars/learn/decomposition/__init__.py
  mars/learn/decomposition/base.py
  mars/learn/decomposition/pca.py
  mars/learn/decomposition/tests/__init__.py
  mars/learn/decomposition/tests/test_pca.py
  mars/learn/utils/__init__.py
  mars/learn/utils/tests/__init__.py
  mars/learn/utils/tests/test_validation.py
  mars/learn/utils/validation.py
  mars/tensor/__init__.py
  mars/tensor/datasource/array.py
  mars/tensor/datasource/core.py
  mars/tensor/fuse/ne.py
  mars/tensor/indexing/getitem.py
  mars/tensor/indexing/tests/test_indexing_execute.py
  mars/tests/test_utils.py
  requirements-extra.txt
Labels: mod: learn, to be backported, type: feature

#686 Add `TruncatedSVD` decomposition algorithm support
  mars/learn/decomposition/__init__.py
  mars/learn/decomposition/pca.py
  mars/learn/decomposition/tests/test_truncated_svd.py
  mars/learn/decomposition/truncated_svd.py
  mars/utils.py
Labels: mod: learn, to be backported, type: feature

#687 [BACKPORT] Add PCA and TruncatedSVD decomposition algorithm support
  mars/core.py
  mars/dataframe/core.py
  mars/executor.py
  mars/fuse.pyx
  mars/learn/decomposition/__init__.py
  mars/learn/decomposition/base.py
  mars/learn/decomposition/pca.py
  mars/learn/decomposition/tests/__init__.py
  mars/learn/decomposition/tests/test_pca.py
  mars/learn/decomposition/tests/test_truncated_svd.py
  mars/learn/decomposition/truncated_svd.py
  mars/learn/utils/__init__.py
  mars/learn/utils/tests/__init__.py
  mars/learn/utils/tests/test_validation.py
  mars/learn/utils/validation.py
  mars/tensor/__init__.py
  mars/tensor/datasource/array.py
  mars/tensor/datasource/core.py
  mars/tensor/fuse/ne.py
  mars/tensor/indexing/getitem.py
  mars/tensor/indexing/tests/test_indexing_execute.py
  mars/tests/test_utils.py
  mars/utils.py
  requirements-extra.txt
Labels: backport, mod: learn, type: feature

#690 Ensure remaining data removed on session close
  mars/api.py
  mars/deploy/local/session.py
  mars/scheduler/graph.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/shuffle.py
  mars/tensor/__init__.py
  mars/web/apihandlers.py
  mars/web/session.py
  mars/web/task_pages.py
  mars/web/tests/test_api.py
  mars/worker/execution.py
Labels: mod: scheduler, to be backported, type: bug

#691 [BACKPORT] Ensure remaining data removed on session close (#690)
  mars/api.py
  mars/deploy/local/session.py
  mars/scheduler/graph.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/shuffle.py
  mars/tensor/__init__.py
  mars/web/apihandlers.py
  mars/web/session.py
  mars/web/task_pages.py
  mars/web/tests/test_api.py
  mars/worker/execution.py
Labels: backport, mod: scheduler, type: bug

#695 Fix bug in creating dataframe from identical tensor.
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
Labels: mod: dataframe, to be backported, type: bug

#692 Reuse sealer actor on the same worker.
  mars/scheduler/mutable.py
Labels: mod: mutable tensor, mod: scheduler, type: enhancement

#640 Move related files to optimizes module
  mars/executor.py
  mars/graph.pyx
  mars/optimizes/chunk_graph/__init__.py
  mars/optimizes/chunk_graph/fuse.pyx
  mars/optimizes/runtime/__init__.py
  mars/optimizes/runtime/optimizers/__init__.py
  mars/optimizes/runtime/optimizers/core.py
  mars/optimizes/runtime/optimizers/cp.py
  mars/optimizes/runtime/optimizers/ne.py
  mars/optimizes/runtime/optimizers/tests/__init__.py
  mars/optimizes/runtime/optimizers/tests/test_compose.py
  mars/tensor/fuse/ne.py
  mars/tensor/utils.py
  setup.py
Labels: mod: optimize, type: enhancement
