Repository mars-project/mars, pull requests merged in 2019-12, with the labels that each got.

#843 Support Series's setitem and getitem by iloc operation
  mars/dataframe/base/__init__.py
  mars/dataframe/base/rechunk.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/initializer.py
  mars/dataframe/utils.py
  mars/deploy/local/session.py
  mars/executor.py
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/web/session.py
Labels: mod: dataframe, to be backported, type: feature

#845 Add `mars.learn.datasets.samples_generator.make_blobs` and update README
  README.rst
  mars/learn/datasets/__init__.py
  mars/learn/datasets/samples_generator.py
  mars/learn/datasets/tests/test_samples_generator.py
Labels: mod: learn, type: feature

#846 [BACKPORT] Backport CUDA-related changes in utils in v0.3
  mars/lib/nvutils.py
  mars/resource.py
Labels: backport

#848 Mark resource as processing once allocated
  mars/worker/execution.py
  mars/worker/quota.py
  mars/worker/tests/test_quota.py
Labels: mod: worker, to be backported, type: bug

#850 Add tree reduction method for DataFrame groupby aggregations
  .github/workflows/ci.yml
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/groupby/__init__.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
Labels: mod: dataframe, to be backported, type: feature

#857 Add CI/CD for Python 3.8
  .github/workflows/ci.yml
  .github/workflows/reload-env.sh
  mars/actors/pool/messages.pyx
  mars/deploy/kubernetes/tests/Dockerfile.test
  mars/lib/gipc.pyx
  mars/lib/tblib/__init__.py
  mars/lib/tblib/pickling_support.py
  mars/tensor/base/sort.py
Labels: to be backported, type: tests

#851 [BACKPORT] Mark resource as processing once allocated (#848)
  .github/workflows/ci.yml
  mars/worker/execution.py
  mars/worker/quota.py
  mars/worker/tests/test_quota.py
Labels: backport, mod: worker, type: bug

#858 [BACKPORT] Resolve compatibility issue for Python 3.8 (#857)
  .github/workflows/reload-env.sh
  mars/actors/pool/messages.pyx
  mars/lib/gipc.pyx
  mars/lib/tblib/__init__.py
  mars/lib/tblib/pickling_support.py
Labels: backport

#859 Fix `read_csv` execution on GPU
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
  mars/dataframe/merge/concat.py
Labels: mod: dataframe, to be backported, type: bug

#854 Assign enqueued operands immediately when no descendants are ready
  mars/_utils.pxd
  mars/_utils.pyx
  mars/config.py
  mars/scheduler/assigner.py
  mars/scheduler/chunkmeta.py
  mars/scheduler/graph.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/common.py
  mars/scheduler/tests/integrated/base.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/tests/test_utils.py
  mars/utils.py
  mars/worker/calc.py
  mars/worker/daemon.py
  mars/worker/execution.py
  mars/worker/service.py
  mars/worker/status.py
  mars/worker/storage/client.py
  mars/worker/storage/cudahandler.py
  mars/worker/storage/manager.py
  mars/worker/storage/objectholder.py
  mars/worker/storage/sharedhandler.py
  mars/worker/storage/sharedstore.py
  mars/worker/tests/test_calc.py
  mars/worker/utils.py
Labels: mod: worker, type: enhancement

#862 [BACKPORT] Add `mt.sort` support (#827)
  .github/workflows/install-hdfs.sh
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/sort.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/core.py
Labels: backport, mod: tensor, type: feature

#866 [BACKPORT] Support DataFrame rechunk (#839)
  mars/config.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/rechunk.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/utils.py
  mars/tensor/rechunk/core.py
  mars/tensor/rechunk/rechunk.py
Labels: backport, mod: dataframe, type: feature

#867 [BACKPORT] Kill process tree when terminating a worker process (#864)
  mars/deploy/local/core.py
  mars/scheduler/tests/integrated/base.py
  mars/utils.py
  mars/worker/daemon.py
Labels: backport, mod: worker, type: bug

#868 [BACKPORT] Support Series's setitem and getitem by iloc operation (#843)
  mars/dataframe/base/__init__.py
  mars/dataframe/base/rechunk.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/initializer.py
  mars/dataframe/utils.py
  mars/deploy/local/session.py
  mars/executor.py
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/web/session.py
Labels: backport, mod: dataframe, type: feature

#869 [BACKPORT] Add tree reduction method for DataFrame groupby aggregations (#850)
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/groupby/__init__.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
Labels: backport, mod: dataframe, type: feature

#870 [BACKPORT] Fix `read_csv` execution on GPU (#859)
  mars/_version.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
  mars/dataframe/merge/concat.py
Labels: backport, mod: dataframe, type: bug

#865 Add experimental column pruning rules for tileable graph optimization
  mars/_version.py
  mars/config.py
  mars/dataframe/datasource/read_csv.py
  mars/executor.py
  mars/graph_builder.py
  mars/optimizes/tileable_graph/__init__.py
  mars/optimizes/tileable_graph/column_pruning.py
  mars/optimizes/tileable_graph/core.py
  mars/optimizes/tileable_graph/tests/__init__.py
  mars/optimizes/tileable_graph/tests/test_column_pruning.py
  mars/session.py
  mars/tensor/fuse/tests/test_cupy_execute.py
  mars/tiles.py
  mars/utils.py
Labels: mod: optimize, type: feature

#871 Fix distribute error under Py38
  .github/workflows/ci.yml
  requirements-wheel.txt
Labels: type: tests

#880 Add `TestExecutor` that serde graph every time when executing to ensure all operands work well with serialize
  mars/dataframe/arithmetic/floordiv.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/merge/concat.py
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/dataframe/operands.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/opcodes.py
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/arithmetic/multiply.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tensor/base/searchsorted.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/datasource/linspace.py
  mars/tensor/datasource/scalar.py
  mars/tensor/datasource/tests/test_datasource_execute.py
  mars/tensor/datastore/tests/test_datastore_execute.py
  mars/tensor/fft/tests/test_fft_execute.py
  mars/tensor/indexing/tests/test_indexing_execute.py
  mars/tensor/linalg/qr.py
  mars/tensor/linalg/tests/test_linalg_execute.py
  mars/tensor/merge/tests/test_merge_execute.py
  mars/tensor/random/choice.py
  mars/tensor/random/tests/test_random_execute.py
  mars/tensor/reduction/argmax.py
  mars/tensor/reduction/argmin.py
  mars/tensor/reduction/nanargmax.py
  mars/tensor/reduction/nanargmin.py
  mars/tensor/reduction/tests/test_reduction_execute.py
  mars/tensor/reshape/tests/test_reshape_execute.py
  mars/tensor/special/tests/test_special_execute.py
  mars/tensor/tests/test_core_execute.py
  mars/tests/core.py
Labels: mod: dataframe, mod: tensor, to be backported, type: tests

#879 Add public base class for entity data
  mars/core.py
  mars/tensor/merge/stack.py
Labels: type: enhancement

#881 [BACKPORT] Add `TestExecutor` that serde graph every time when executing to ensure all operands work well with serialize (#880)
  mars/dataframe/arithmetic/floordiv.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/merge/concat.py
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/dataframe/operands.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/learn/tests/integrated/base.py
  mars/opcodes.py
  mars/scheduler/tests/integrated/base.py
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/arithmetic/multiply.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tensor/base/searchsorted.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/datasource/linspace.py
  mars/tensor/datasource/scalar.py
  mars/tensor/datasource/tests/test_datasource_execute.py
  mars/tensor/datastore/tests/test_datastore_execute.py
  mars/tensor/fft/tests/test_fft_execute.py
  mars/tensor/indexing/tests/test_indexing_execute.py
  mars/tensor/linalg/qr.py
  mars/tensor/linalg/tests/test_linalg_execute.py
  mars/tensor/merge/tests/test_merge_execute.py
  mars/tensor/random/choice.py
  mars/tensor/random/tests/test_random_execute.py
  mars/tensor/reduction/argmax.py
  mars/tensor/reduction/argmin.py
  mars/tensor/reduction/nanargmax.py
  mars/tensor/reduction/nanargmin.py
  mars/tensor/reduction/tests/test_reduction_execute.py
  mars/tensor/reshape/tests/test_reshape_execute.py
  mars/tensor/special/tests/test_special_execute.py
  mars/tensor/tests/test_core_execute.py
  mars/tests/core.py
  requirements-dev.txt
Labels: backport, mod: dataframe, mod: tensor, type: tests

#876 Implements `mt.histogram` and `mt.histogram_bin_edges`
  README.rst
  docs/source/locale/zh_CN/LC_MESSAGES/install.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/generated/mars.tensor.core.Tensor.sort.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/generated/mars.tensor.histogram.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/generated/mars.tensor.histogram_bin_edges.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/generated/mars.tensor.searchsorted.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/generated/mars.tensor.sort.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/manipulation.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/overview.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/sorting.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/statistics.po
  docs/source/tensor/generated/mars.tensor.core.Tensor.sort.rst
  docs/source/tensor/generated/mars.tensor.histogram.rst
  docs/source/tensor/generated/mars.tensor.histogram_bin_edges.rst
  docs/source/tensor/generated/mars.tensor.searchsorted.rst
  docs/source/tensor/generated/mars.tensor.sort.rst
  docs/source/tensor/overview.rst
  docs/source/tensor/sorting.rst
  docs/source/tensor/statistics.rst
  mars/_version.py
  mars/context.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/executor.py
  mars/learn/contrib/xgboost/tests/test_train.py
  mars/learn/tests/integrated/base.py
  mars/opcodes.py
  mars/operands.py
  mars/optimizes/tileable_graph/column_pruning.py
  mars/optimizes/tileable_graph/core.py
  mars/scheduler/graph.py
  mars/scheduler/tests/integrated/base.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/session.py
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/histogram.py
  mars/tensor/base/ndim.py
  mars/tensor/base/ptp.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/reduction/__init__.py
  mars/tensor/utils.py
  mars/tests/test_session.py
  mars/tiles.py
  mars/utils.py
  requirements-dev.txt
  setup.py
Labels: mod: tensor, to be backported, type: feature
