Repository mars-project/mars, pull requests merged in 2019-10, with the labels that each got.

#766 Add support for controlling data copy across processes
  mars/worker/service.py
  mars/worker/storage/client.py
  mars/worker/storage/core.py
  mars/worker/storage/diskhandler.py
  mars/worker/storage/iorunner.py
  mars/worker/storage/objectholder.py
  mars/worker/storage/procmemhandler.py
  mars/worker/storage/sharedhandler.py
  mars/worker/storage/tests/test_client.py
  mars/worker/storage/tests/test_disk_io.py
  mars/worker/storage/tests/test_objectholder.py
  mars/worker/storage/tests/test_procmem_io.py
  mars/worker/storage/tests/test_shared_io.py
  mars/worker/tests/test_calc.py
Labels: mod: worker, type: enhancement

#771 Fix relocation of plasma error objects
  mars/worker/storage/sharedstore.py
Labels: mod: worker, to be backported, type: bug

#775 Fix execution of arithmetic on GPU
  mars/tensor/arithmetic/core.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
Labels: mod: tensor, to be backported, type: bug

#777 [BACKPORT] Fix execution of arithmetic on GPU (#775)
  mars/tensor/arithmetic/core.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tensor/array_utils.py
  mars/tensor/datasource/ones.py
  mars/worker/chunkstore.py
  mars/worker/seal.py
Labels: backport, mod: tensor, type: bug

#776 Add preliminary support for distributed execution with CUDA
  mars/config.py
  mars/dataframe/__init__.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/merge/concat.py
  mars/deploy/local/core.py
  mars/deploy/local/tests/test_cluster.py
  mars/lib/nvutils.py
  mars/resource.py
  mars/scheduler/assigner.py
  mars/scheduler/graph.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/tests/test_common_exec.py
  mars/scheduler/tests/integrated/base.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/tensor/arithmetic/core.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tensor/array_utils.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/datasource/ones.py
  mars/tests/core.py
  mars/utils.py
  mars/web/tests/test_timeline.py
  mars/worker/__init__.py
  mars/worker/__main__.py
  mars/worker/calc.py
  mars/worker/events.py
  mars/worker/execution.py
  mars/worker/service.py
  mars/worker/status.py
  mars/worker/storage/__init__.py
  mars/worker/storage/client.py
  mars/worker/storage/core.py
  mars/worker/storage/cudahandler.py
  mars/worker/storage/objectholder.py
  mars/worker/storage/procmemhandler.py
  mars/worker/storage/sharedhandler.py
  mars/worker/storage/tests/test_cuda_io.py
  mars/worker/tests/test_events.py
  mars/worker/tests/test_main.py
  mars/worker/transfer.py
Labels: mod: worker, type: feature

#779 Add multiple GPU support for local execution
  appveyor.yml
  mars/executor.py
  mars/session.py
  mars/tests/test_executor.py
Labels: mod: tensor, type: feature

#781 [BACKPORT] Add multiple GPU support for local execution (#779)
  appveyor.yml
  mars/executor.py
  mars/session.py
  mars/tests/test_executor.py
Labels: backport, type: feature

#785 [BACKPORT] Skip installing tiledb on MacOS in travis (#784)
  .travis.yml
Labels: backport

#783 Add `mt.unique` support for tensor
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/base/unique.py
  mars/tensor/merge/concatenate.py
  mars/tensor/tests/test_utils.py
  mars/tensor/utils.py
Labels: mod: tensor, to be backported, type: feature

#770 Return execution exception info properly to session client.
  .travis.yml
  mars/api.py
  mars/config.py
  mars/deploy/local/session.py
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/scheduler/graph.py
  mars/scheduler/operands/common.py
  mars/tests/test_api.py
  mars/web/apihandlers.py
  mars/web/session.py
  mars/web/tests/test_api.py
Labels: to be backported, type: enhancement

#792 Simplify tiles logic to improve its performance
  mars/executor.py
  mars/tiles.py
  mars/web/session.py
Labels: to be backported, type: enhancement

#793 Switch CI service to Github Actions
  .github/workflows/build-wheels.sh
  .github/workflows/ci.yml
  .github/workflows/download-etcd.sh
  .github/workflows/install-conda.sh
  .github/workflows/install-minikube.sh
  .github/workflows/reload-env.sh
  .github/workflows/run-tests.sh
  .github/workflows/upload-packages.sh
  .travis.yml
  README.rst
  bin/ci/download-etcd.sh
  bin/ci/travis-install-conda.sh
  bin/ci/travis-upload.sh
  mars/lib/gipc.pyx
  mars/worker/execution.py
  requirements-extra.txt
  setup.py
Labels: to be backported, type: tests

#791 Support conversion between series and tensor
  .github/workflows/ci.yml
  mars/dataframe/__init__.py
  mars/dataframe/core.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/initializer.py
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/core.py
  mars/tensor/datasource/__init__.py
  mars/tensor/datasource/from_dataframe.py
  mars/tensor/datasource/tests/test_datasource_execute.py
  mars/tests/test_session.py
Labels: mod: dataframe, to be backported, type: feature

#794 [BACKPORT] Switch CI service to Github Actions (#793)
  .coveragerc-threaded
  .github/workflows/build-wheels.sh
  .github/workflows/ci.yml
  .github/workflows/download-etcd.sh
  .github/workflows/install-conda.sh
  .github/workflows/reload-env.sh
  .github/workflows/upload-packages.sh
  .travis.yml
  README.rst
  bin/download-etcd.sh
  bin/travis-install-conda.sh
  bin/travis-upload.sh
  mars/executor.py
  mars/lib/gipc.pyx
  mars/tests/core.py
  mars/web/session.py
  mars/worker/execution.py
  requirements-extra.txt
  setup.py
Labels: backport, type: tests

#795 Move tests in Appveyor into Github Actions
  .github/workflows/ci.yml
  .github/workflows/install-conda.sh
  .github/workflows/reload-env.sh
  .github/workflows/run-tests.sh
  .github/workflows/upload-packages.sh
  appveyor.yml
  mars/actors/pool/messages.pyx
  mars/resource.py
Labels: to be backported, type: tests
