Repository mars-project/mars, pull requests merged in 2019-06, with the labels that each got.

#437 [BACKPORT] Fix defunct compose option in web session
  mars/web/api.py
  mars/web/session.py
Labels: backport

#435 Fix memory size estimation for Fuse nodes in v0.1
  mars/resource.py
  mars/scheduler/assigner.py
  mars/tensor/execution/core.py
  mars/tensor/execution/tests/test_core_execute.py
  mars/tensor/execution/utils.py
  mars/worker/execution.py
Labels: mod: tensor, type: bug

#436 Fix memory size estimation for Fuse nodes in v0.2
  mars/executor.py
  mars/resource.py
  mars/tensor/execution/utils.py
  mars/tests/test_executor.py
  mars/worker/execution.py
Labels: mod: tensor, type: bug

#455 Simplify building executable graph
  mars/resource.py
  mars/scheduler/graph.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/common.py
  mars/scheduler/tests/test_graph.py
Labels: mod: scheduler, to be backported, type: enhancement

#456 Avoid shuffle for adding two dataframes whose index and columns are identical
  mars/dataframe/expressions/arithmetic/core.py
  mars/dataframe/expressions/tests/test_arithmetic.py
  mars/dataframe/utils.py
Labels: mod: dataframe, type: bug

#463 [BACKPORT] Simplify building executable graph (#455)
  mars/scheduler/graph.py
  mars/scheduler/operand.py
  mars/scheduler/tests/test_graph.py
Labels: backport, mod: scheduler, type: enhancement

#457 Build wheel for tag cp27-cp27m
  .travis.yml
  bin/travis-upload.sh
Labels: to be backported, type: install

#466 Replace default_name with default_uid
  mars/api.py
  mars/cluster_info.py
  mars/deploy/local/distributor.py
  mars/deploy/local/tests/test_cluster.py
  mars/deploy/local/tests/test_distributor.py
  mars/distributor.py
  mars/scheduler/assigner.py
  mars/scheduler/chunkmeta.py
  mars/scheduler/graph.py
  mars/scheduler/node_info.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/tests/test_common_exec.py
  mars/scheduler/operands/tests/test_common_ut.py
  mars/scheduler/resource.py
  mars/scheduler/service.py
  mars/scheduler/session.py
  mars/scheduler/tests/test_assigner.py
  mars/scheduler/tests/test_chunkmeta.py
  mars/scheduler/tests/test_graph.py
  mars/scheduler/tests/test_kvstore.py
  mars/scheduler/tests/test_main.py
  mars/scheduler/tests/test_session.py
  mars/scheduler/utils.py
  mars/tests/test_api.py
  mars/web/server.py
  mars/web/tests/test_api.py
  mars/worker/calc.py
  mars/worker/chunkholder.py
  mars/worker/chunkstore.py
  mars/worker/dispatcher.py
  mars/worker/execution.py
  mars/worker/prochelper.py
  mars/worker/quota.py
  mars/worker/service.py
  mars/worker/spill.py
  mars/worker/status.py
  mars/worker/taskqueue.py
  mars/worker/tests/test_chunkholder.py
  mars/worker/tests/test_daemon.py
  mars/worker/tests/test_dispatcher.py
  mars/worker/tests/test_execution.py
  mars/worker/tests/test_main.py
  mars/worker/tests/test_quota.py
  mars/worker/tests/test_status.py
  mars/worker/tests/test_taskqueue.py
  mars/worker/tests/test_transfer.py
  mars/worker/transfer.py
  mars/worker/utils.py
Labels: mod: scheduler, mod: worker, to be backported, type: enhancement

#467 [BACKPORT] Replace default_name with default_uid (#466)
  mars/api.py
  mars/cluster_info.py
  mars/deploy/local/distributor.py
  mars/deploy/local/tests/test_cluster.py
  mars/deploy/local/tests/test_distributor.py
  mars/distributor.py
  mars/scheduler/assigner.py
  mars/scheduler/chunkmeta.py
  mars/scheduler/graph.py
  mars/scheduler/node_info.py
  mars/scheduler/operand.py
  mars/scheduler/resource.py
  mars/scheduler/service.py
  mars/scheduler/tests/test_assigner.py
  mars/scheduler/tests/test_chunkmeta.py
  mars/scheduler/tests/test_graph.py
  mars/scheduler/tests/test_kvstore.py
  mars/scheduler/tests/test_main.py
  mars/scheduler/tests/test_operand.py
  mars/scheduler/tests/test_resource.py
  mars/scheduler/utils.py
  mars/tests/test_api.py
  mars/web/server.py
  mars/web/tests/test_api.py
  mars/worker/calc.py
  mars/worker/chunkholder.py
  mars/worker/chunkstore.py
  mars/worker/dispatcher.py
  mars/worker/execution.py
  mars/worker/prochelper.py
  mars/worker/quota.py
  mars/worker/service.py
  mars/worker/spill.py
  mars/worker/status.py
  mars/worker/tests/test_chunkholder.py
  mars/worker/tests/test_daemon.py
  mars/worker/tests/test_dispatcher.py
  mars/worker/tests/test_execution.py
  mars/worker/tests/test_main.py
  mars/worker/tests/test_quota.py
  mars/worker/tests/test_status.py
  mars/worker/tests/test_transfer.py
  mars/worker/transfer.py
  mars/worker/utils.py
Labels: backport, mod: scheduler, mod: worker, type: enhancement

#459 Fix compression types when transferring files
  mars/promise.py
  mars/serialize/dataserializer.py
  mars/serialize/tests/test_serialize.py
  mars/worker/dataio.py
  mars/worker/spill.py
  mars/worker/tests/test_dataio.py
  mars/worker/tests/test_transfer.py
  mars/worker/transfer.py
Labels: mod: worker, to be backported, type: bug

#472 [BACKPORT] Fix compression types when transferring files (#459)
  mars/promise.py
  mars/serialize/dataserializer.py
  mars/serialize/tests/test_serialize.py
  mars/worker/dataio.py
  mars/worker/spill.py
  mars/worker/tests/test_dataio.py
  mars/worker/transfer.py
Labels: backport, mod: worker, type: bug

#474 Fix promise reference counting issues
  mars/actors/pool/gevent_pool.pyx
  mars/promise.py
  mars/tests/test_promise.py
Labels: to be backported, type: bug

#475 [BACKPORT] Fix promise memory issues (#474)
  .travis.yml
  bin/travis-upload.sh
  mars/actors/pool/gevent_pool.pyx
  mars/promise.py
  mars/tests/test_promise.py
Labels: backport, mod: scheduler, mod: worker, type: bug

#471 Add resource heartbeat to avoid fake worker death
  mars/_utils.pyx
  mars/actors/pool/messages.pxd
  mars/actors/pool/messages.pyx
  mars/config.py
  mars/scheduler/graph.py
  mars/scheduler/resource.py
  mars/scheduler/tests/test_main.py
  mars/worker/transfer.py
Labels: mod: scheduler, type: bug

#482 Remove --ui-port option for Mars Web
  docs/source/install.rst
  mars/base_app.py
  mars/web/__main__.py
  mars/web/tests/test_api.py
Labels: mod: web, to be backported, type: enhancement

#483 [BACKPORT] Remove --ui-port option for Mars Web (#482)
  docs/source/install.rst
  mars/base_app.py
  mars/web/__main__.py
  mars/web/tests/test_api.py
Labels: backport, mod: web, type: enhancement

#480 Use lazy import for cupy and cudf
  .coveragerc
  .coveragerc-tensor
  mars/lib/nvutils.py
  mars/lib/sparse/core.py
  mars/node_info.py
  mars/resource.py
  mars/scheduler/node_info.py
  mars/serialize/dataserializer.py
  mars/tensor/execution/array.py
  mars/tensor/execution/core.py
  mars/tests/test_resource.py
  mars/tests/test_utils.py
  mars/utils.py
  mars/worker/status.py
Labels: mod: tensor, type: bug

#488 Add serialize support for complex type
  mars/serialize/core.pxd
  mars/serialize/core.pyx
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/value.proto
  mars/serialize/protos/value_pb2.py
  mars/serialize/tests/test_serialize.py
  mars/serialize/tests/testser.proto
  mars/serialize/tests/testser_pb2.py
Labels: mod: serialization, to be backported, type: enhancement
