Repository mars-project/mars, pull requests merged in 2019-07, with the labels that each got.

#498 Add placement_order as a priority item
  mars/api.py
  mars/scheduler/analyzer.py
  mars/scheduler/graph.py
  mars/web/api.py
  mars/web/server.py
  mars/worker/execution.py
Labels: mod: scheduler, mod: web, mod: worker, type: bug

#500 Return 404 when graph actor does not exist
  mars/api.py
  mars/web/api.py
  mars/web/server.py
Labels: mod: web, type: bug

#502 Specify an __order__ attribute in Enum class OperandState
  mars/scheduler/operands/core.py
Labels: mod: web, to be backported, type: bug

#503 [BACKPORT] Specify an __order__ attribute in Enum class OperandState
  mars/scheduler/utils.py
Labels: backport, mod: web, type: bug

#444 Add fancy indexing support
  README.rst
  docs/source/install.rst
  docs/source/locale/zh_CN/LC_MESSAGES/install.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/indexing.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/overview.po
  docs/source/tensor/indexing.rst
  docs/source/tensor/overview.rst
  mars/deploy/local/tests/test_cluster.py
  mars/fuse.pyx
  mars/graph.pyx
  mars/opcodes.py
  mars/scheduler/tests/test_main.py
  mars/serialize/protos/chunk_pb2.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/core.py
  mars/tensor/execution/indexing.py
  mars/tensor/execution/tests/test_index_execute.py
  mars/tensor/expressions/indexing/__init__.py
  mars/tensor/expressions/indexing/core.py
  mars/tensor/expressions/indexing/getitem.py
  mars/tensor/expressions/indexing/setitem.py
  mars/tensor/expressions/tests/test_indexing.py
  mars/tensor/expressions/tests/test_utils.py
  mars/tensor/expressions/utils.py
Labels: mod: tensor, type: feature

#388 Implement randomized_svd
  LICENSE
  bin/travis-install-conda.sh
  mars/learn/__init__.py
  mars/learn/datasets/__init__.py
  mars/learn/datasets/samples_generator.py
  mars/learn/datasets/tests/__init__.py
  mars/learn/datasets/tests/test_samples_generator.py
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/expressions/linalg/__init__.py
  mars/tensor/expressions/linalg/randomized_svd.py
  mars/tensor/expressions/linalg/utils.py
  mars/tensor/expressions/random/core.py
  mars/tensor/expressions/tests/test_utils.py
  mars/tensor/expressions/utils.py
Labels: mod: tensor, type: feature

#512 Refactor web using standalone tornado handlers
  .travis.yml
  bin/travis-install-conda.sh
  mars/config.py
  mars/deploy/local/core.py
  mars/deploy/local/tests/test_cluster.py
  mars/web/api.py
  mars/web/dashboard.py
  mars/web/scheduler_pages.py
  mars/web/server.py
  mars/web/task_pages.py
  mars/web/templates/base.html
  mars/web/templates/scheduler_list.html
  mars/web/templates/task_list.html
  mars/web/templates/task_operands.html
  mars/web/templates/worker_list.html
  mars/web/tests/test_api.py
  mars/web/worker_pages.py
Labels: mod: web, type: enhancement

#511 Define __str__ and __repr__ for DataFrame, Index, and Series.
  mars/dataframe/core.py
  mars/tests/test_eager_mode.py
Labels: mod: dataframe, type: enhancement

#464 Add mutable tensor support for local cluster
  mars/api.py
  mars/deploy/local/session.py
  mars/scheduler/graph.py
  mars/scheduler/mutable.py
  mars/scheduler/session.py
  mars/session.py
  mars/tensor/core.py
  mars/tensor/expressions/utils.py
  mars/tests/test_mutable.py
  mars/worker/chunkholder.py
  mars/worker/seal.py
  mars/worker/service.py
  mars/worker/transfer.py
Labels: mod: mutable tensor, type: feature

#506 Add `radd` implementation for DataFrame
  mars/dataframe/__init__.py
  mars/dataframe/core.py
  mars/dataframe/execution/tests/test_arithmetic_execution.py
  mars/dataframe/expressions/arithmetic/__init__.py
  mars/dataframe/expressions/arithmetic/add.py
Labels: mod: dataframe, type: feature

#516 Send callback on quota allocation failure
  mars/_version.py
  mars/scheduler/tests/test_graph.py
  mars/worker/quota.py
  mars/worker/tests/test_quota.py
Labels: mod: worker, to be backported, type: bug

#518 [BACKPORT] Callback on quota allocation failure & bump version (#516)
  .travis.yml
  bin/travis-install-conda.sh
  mars/_version.py
  mars/graph.pyx
  mars/scheduler/graph.py
  mars/scheduler/tests/test_graph.py
  mars/worker/quota.py
Labels: backport, mod: worker, type: bug

#519 [BACKPORT] Add serialize support for complex type
  mars/serialize/core.pxd
  mars/serialize/core.pyx
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/value.proto
  mars/serialize/protos/value_pb2.py
  mars/serialize/tests/test_serialize.py
  mars/serialize/tests/testser.proto
  mars/serialize/tests/testser_pb2.py
Labels: backport, mod: serialization, type: enhancement

#521 Add a web page listing all running operands
  mars/_utils.pyx
  mars/scheduler/graph.py
  mars/scheduler/tests/test_graph.py
  mars/tests/test_mutable.py
  mars/tests/test_utils.py
  mars/web/scheduler_pages.py
  mars/web/server.py
  mars/web/static/css/mars.css
  mars/web/static/js/mars.js
  mars/web/task_pages.py
  mars/web/templates/base.html
  mars/web/templates/scheduler_detail.html
  mars/web/templates/scheduler_pages/detail.html
  mars/web/templates/scheduler_pages/list.html
  mars/web/templates/task_operands.html
  mars/web/templates/task_pages/list.html
  mars/web/templates/task_pages/progress.html
  mars/web/templates/task_pages/runnings.html
  mars/web/templates/worker_detail.html
  mars/web/templates/worker_pages/detail.html
  mars/web/templates/worker_pages/list.html
  mars/web/tests/test_api.py
  mars/web/worker_pages.py
Labels: mod: web, type: feature

#523 Fix bug that redundant graphs are submitted unexpectedly when eager mode is on
  mars/core.py
  mars/deploy/local/tests/test_cluster.py
  mars/web/session.py
  mars/web/tests/test_api.py
Labels: to be backported, type: bug

#525 Add distributed series support
  mars/core.py
  mars/dataframe/core.py
  mars/dataframe/execution/datasource.py
  mars/dataframe/execution/merge.py
  mars/dataframe/execution/tests/test_datasource_execution.py
  mars/dataframe/expressions/arithmetic/abs.py
  mars/dataframe/expressions/arithmetic/add.py
  mars/dataframe/expressions/arithmetic/core.py
  mars/dataframe/expressions/core.py
  mars/dataframe/expressions/datasource/dataframe.py
  mars/dataframe/expressions/datasource/series.py
  mars/dataframe/expressions/fetch/core.py
  mars/dataframe/expressions/merge/concat.py
  mars/dataframe/expressions/tests/test_datasource.py
  mars/dataframe/expressions/tests/test_utils.py
  mars/dataframe/expressions/utils.py
  mars/deploy/local/tests/test_cluster.py
  mars/graph.pyx
  mars/opcodes.py
  mars/scheduler/tests/test_main.py
  mars/serialize/protos/dataframe.proto
  mars/serialize/protos/dataframe_pb2.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/utils.py
Labels: mod: dataframe, type: feature

#538 Separate scheduler integrated tests
  mars/scheduler/tests/integrated/__init__.py
  mars/scheduler/tests/integrated/base.py
  mars/scheduler/tests/integrated/op_delayer.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/scheduler/tests/integrated/test_worker_failover.py
  requirements-dev.txt
Labels: mod: scheduler, type: tests

#529 Add support for worker timeline
  mars/config.py
  mars/scheduler/operands/core.py
  mars/web/server.py
  mars/web/task_pages.py
  mars/web/templates/worker_pages/detail.html
  mars/web/templates/worker_pages/timeline.html
  mars/web/tests/test_api.py
  mars/web/tests/test_timeline.py
  mars/web/worker_pages.py
  mars/worker/__init__.py
  mars/worker/calc.py
  mars/worker/events.py
  mars/worker/service.py
  mars/worker/spill.py
  mars/worker/tests/test_events.py
  mars/worker/transfer.py
Labels: mod: web, mod: worker, type: feature

#539 Fix assignment of structured data type arrays.
  mars/tensor/execution/tests/test_index_execute.py
  mars/tensor/expressions/indexing/setitem.py
  mars/tensor/expressions/tests/test_indexing.py
Labels: mod: tensor, type: bug

#542 Fix unify chunks when add a scalar with out
  mars/tensor/execution/tests/test_arithmetic_execute.py
  mars/tensor/expressions/utils.py
Labels: mod: tensor, to be backported, type: bug

#534 Support view behavior in numpy and add `tensor.view()` as well as `tensor.flat`
  mars/core.py
  mars/dataframe/core.py
  mars/operands.py
  mars/tensor/core.py
  mars/tensor/execution/tests/test_core_execute.py
  mars/tensor/execution/tests/test_fft_execute.py
  mars/tensor/expressions/base/__init__.py
  mars/tensor/expressions/base/flatten.py
  mars/tensor/expressions/base/squeeze.py
  mars/tensor/expressions/base/swapaxes.py
  mars/tensor/expressions/base/transpose.py
  mars/tensor/expressions/indexing/getitem.py
  mars/tensor/expressions/reshape/reshape.py
  mars/tensor/expressions/tests/test_base.py
  mars/tests/test_eager_mode.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: mod: tensor, type: feature

#540 Support fetch tensor data slices from client
  mars/api.py
  mars/deploy/local/session.py
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/scheduler/graph.py
  mars/scheduler/service.py
  mars/scheduler/tests/integrated/base.py
  mars/session.py
  mars/tensor/core.py
  mars/tensor/expressions/utils.py
  mars/tests/test_api.py
  mars/tests/test_session.py
  mars/utils.py
  mars/web/api.py
  mars/web/session.py
  mars/worker/transfer.py
Labels: mod: tensor, type: feature

#546 Fix execution error caused by fused ShuffleReduces
  mars/scheduler/graph.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/utils.py
  mars/worker/calc.py
  mars/worker/execution.py
Labels: mod: tensor, type: bug

#547 Fix wrong result of negative indexing
  mars/tensor/execution/tests/test_index_execute.py
  mars/tensor/expressions/utils.py
Labels: mod: tensor, to be backported, type: bug

#524 Support conversions between tensor and DataFrame
  mars/dataframe/__init__.py
  mars/dataframe/core.py
  mars/dataframe/execution/datasource.py
  mars/dataframe/execution/tests/test_datasource_execution.py
  mars/dataframe/expressions/arithmetic/core.py
  mars/dataframe/expressions/core.py
  mars/dataframe/expressions/datasource/from_tensor.py
  mars/dataframe/expressions/tests/test_datasource.py
  mars/dataframe/initializer.py
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/__init__.py
  mars/tensor/core.py
  mars/tensor/execution/datasource.py
  mars/tensor/execution/tests/test_datasource_execute.py
  mars/tensor/execution/utils.py
  mars/tensor/expressions/datasource/__init__.py
  mars/tensor/expressions/datasource/from_dataframe.py
  mars/tensor/expressions/datasource/from_dense.py
  mars/tensor/expressions/datasource/from_sparse.py
  mars/tensor/expressions/datasource/from_tiledb.py
  mars/tensor/expressions/tests/test_core.py
  mars/tensor/expressions/tests/test_datasource.py
  mars/tests/core.py
  mars/tests/test_session.py
  requirements-dev.txt
  requirements-extra.txt
  requirements-wheel.txt
  requirements.txt
Labels: mod: dataframe, type: feature

#549 Move atleast_1d, atleast_2d, atleast_3d
  mars/executor.py
  mars/tensor/array_utils.py
  mars/tensor/base/__init__.py
  mars/tensor/base/atleast_1d.py
  mars/tensor/base/atleast_2d.py
  mars/tensor/base/atleast_3d.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/core.py
  mars/tensor/datasource/__init__.py
  mars/tensor/datasource/ones.py
  mars/tensor/datasource/scalar.py
  mars/tensor/execution/tests/test_base_execute.py
  mars/tensor/merge/stack.py
Labels: type: enhancement

#536 Mutable tensor for local session and web session
  mars/api.py
  mars/deploy/local/session.py
  mars/scheduler/mutable.py
  mars/scheduler/session.py
  mars/session.py
  mars/tensor/core.py
  mars/tensor/expressions/utils.py
  mars/tests/test_mutable.py
  mars/utils.py
  mars/web/api.py
  mars/web/server.py
  mars/web/session.py
  mars/web/tests/test_api.py
  mars/worker/seal.py
  mars/worker/transfer.py
Labels: mod: mutable tensor, type: feature

#550 Support failover for shuffle operands
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/assigner.py
  mars/scheduler/graph.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/shuffle.py
  mars/scheduler/tests/integrated/base.py
  mars/scheduler/tests/integrated/op_delayer.py
  mars/scheduler/tests/integrated/test_worker_failover.py
  mars/tests/test_promise.py
  mars/web/tests/test_api.py
  mars/worker/dispatcher.py
  mars/worker/execution.py
Labels: mod: scheduler, type: enhancement

#558 Fix error in importing new_client in Python 2.7
  mars/actors/__init__.py
  mars/actors/core.pyx
  mars/actors/distributor.pyx
  mars/actors/pool/gevent_pool.pyx
  mars/actors/pool/messages.pyx
  mars/actors/pool/utils.pyx
Labels: mod: actor, to be backported, type: bug

#560 Allow specifying different calculation methods for CPU and memory
  mars/resource.py
Labels: mod: worker, to be backported, type: enhancement

#562 [BACKPORT] Allow specifying different calculation methods for CPU and memory (#560)
  mars/resource.py
Labels: backport, mod: worker, type: enhancement

#563 [BACKPORT] Fix error in importing new_client in Python 2.7 (#558)
  mars/actors/__init__.py
  mars/actors/core.pyx
  mars/actors/distributor.pyx
  mars/actors/pool/gevent_pool.pyx
  mars/actors/pool/messages.pyx
  mars/actors/pool/utils.pyx
Labels: backport, mod: actor, type: bug

#403 Do consolidation for totiledb
  .travis.yml
  mars/core.py
  mars/graph.pyx
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/execution/datastore.py
  mars/tensor/expressions/datastore/__init__.py
  mars/tensor/expressions/datastore/core.py
  mars/tensor/expressions/datastore/totiledb.py
  mars/tensor/expressions/tests/test_datasource.py
  mars/tensor/expressions/tests/test_datastore.py
Labels: mod: tensor, to be backported, type: enhancement

#565 [BACKPORT] Do consolidation for totiledb
  .travis.yml
  mars/graph.pyx
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/execution/datastore.py
  mars/tensor/expressions/datastore/__init__.py
  mars/tensor/expressions/datastore/core.py
  mars/tensor/expressions/datastore/totiledb.py
  mars/tensor/expressions/tests/test_datasource.py
  mars/tensor/expressions/tests/test_datastore.py
Labels: backport, mod: tensor, type: enhancement

#564 [BACKPORT] Fix unify chunks when add a scalar with out (#542)
  mars/tensor/execution/tests/test_arithmetic_execute.py
  mars/tensor/expressions/utils.py
Labels: backport, mod: tensor, type: bug

#572 [BACKPORT] Fix negative indexing (#547)
  mars/tensor/execution/tests/test_index_execute.py
  mars/tensor/expressions/utils.py
Labels: backport, mod: tensor, type: bug

#588 Fix build issue under cp27-cp27m-manylinux1
  bin/travis-build-wheels.sh
  requirements-dev.txt
  requirements-wheel.txt
  requirements.txt
Labels: type: install

#582 Support add scalar with dataframe
  mars/_version.py
  mars/dataframe/arithmetic/__init__.py
  mars/dataframe/arithmetic/add.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/utils.py
  mars/tensor/arithmetic/core.py
Labels: mod: dataframe, to be backported, type: feature

#592 Fix proto-serialization for certain dtypes.
  mars/serialize/pbserializer.pyx
  mars/serialize/tests/test_serialize.py
Labels: mod: serialization, to be backported, type: bug
