Repository mars-project/mars, pull requests merged in 2019-05, with the labels that each got.

#368 Support **kwargs in new_session
  mars/deploy/local/session.py
  mars/session.py
Labels: to be backported, type: enhancement

#372 Remove DataTuple in v0.1
  mars/serialize/dataserializer.py
  mars/serialize/tests/test_serialize.py
  mars/worker/chunkstore.py
Labels: mod: worker, type: bug

#375 Adjust memory estimation for TensorDot & fix defunct hard_limit
  mars/tensor/execution/linalg.py
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/worker/calc.py
  mars/worker/quota.py
  mars/worker/service.py
Labels: mod: worker, to be backported, type: bug

#378 Fix defunct hard_limit in worker
  mars/lib/mmh3_src/mmh3module.cpp
  mars/worker/quota.py
Labels: mod: worker, type: bug

#377 [BACKPORT] Adjust memory estimation for TensorDot % fix defunct hard_limit (#375)
  mars/tensor/execution/linalg.py
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/worker/quota.py
  mars/worker/service.py
Labels: backport, mod: worker, type: bug

#383 Support non-square matrix for lu decomposition
  mars/core.py
  mars/tensor/execution/linalg.py
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/expressions/linalg/lu.py
  mars/tensor/expressions/linalg/solve_triangular.py
  mars/tensor/expressions/tests/test_linalg.py
Labels: mod: tensor, to be backported, type: enhancement

#387 Fix `nsplits` of tensors generated in the tile of QR decomposition
  mars/core.py
  mars/tensor/expressions/linalg/core.py
  mars/tensor/expressions/linalg/qr.py
  mars/tensor/expressions/tests/test_linalg.py
Labels: mod: tensor, to be backported, type: bug

#386 Unify actor distributors for workers and schedulers
  mars/api.py
  mars/cluster_info.py
  mars/deploy/local/core.py
  mars/deploy/local/distributor.py
  mars/deploy/local/tests/test_cluster.py
  mars/deploy/local/tests/test_distributor.py
  mars/distributor.py
  mars/node_info.py
  mars/scheduler/__main__.py
  mars/scheduler/chunkmeta.py
  mars/scheduler/distributor.py
  mars/scheduler/graph.py
  mars/scheduler/kvstore.py
  mars/scheduler/node_info.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/tests/test_common_exec.py
  mars/scheduler/operands/tests/test_common_ut.py
  mars/scheduler/resource.py
  mars/scheduler/service.py
  mars/scheduler/session.py
  mars/scheduler/tests/test_assigner.py
  mars/scheduler/tests/test_chunkmeta.py
  mars/scheduler/tests/test_graph.py
  mars/scheduler/tests/test_main.py
  mars/scheduler/tests/test_session.py
  mars/scheduler/utils.py
  mars/tests/test_api.py
  mars/tests/test_distributor.py
  mars/web/server.py
  mars/worker/__main__.py
  mars/worker/chunkstore.py
  mars/worker/service.py
  mars/worker/tests/test_chunkholder.py
  mars/worker/tests/test_daemon.py
  mars/worker/tests/test_execution.py
  mars/worker/tests/test_main.py
  mars/worker/tests/test_quota.py
  mars/worker/tests/test_status.py
  mars/worker/tests/test_transfer.py
  mars/worker/utils.py
Labels: mod: scheduler, mod: worker, type: enhancement

#390 Fix stuck web interface when tiling a graph
  mars/api.py
  mars/distributor.py
  mars/scheduler/graph.py
  mars/scheduler/operands/base.py
  mars/scheduler/session.py
  mars/tests/test_distributor.py
  mars/utils.py
  mars/web/server.py
  mars/worker/tests/test_quota.py
Labels: mod: web, type: bug

#391 [BACKPORT] Unify actor distributors for workers and schedulers (#386)
  mars/api.py
  mars/cluster_info.py
  mars/deploy/local/core.py
  mars/deploy/local/distributor.py
  mars/deploy/local/tests/test_cluster.py
  mars/deploy/local/tests/test_distributor.py
  mars/distributor.py
  mars/node_info.py
  mars/scheduler/__main__.py
  mars/scheduler/assigner.py
  mars/scheduler/chunkmeta.py
  mars/scheduler/distributor.py
  mars/scheduler/graph.py
  mars/scheduler/kvstore.py
  mars/scheduler/node_info.py
  mars/scheduler/operand.py
  mars/scheduler/resource.py
  mars/scheduler/service.py
  mars/scheduler/session.py
  mars/scheduler/tests/test_assigner.py
  mars/scheduler/tests/test_chunkmeta.py
  mars/scheduler/tests/test_graph.py
  mars/scheduler/tests/test_main.py
  mars/scheduler/tests/test_operand.py
  mars/scheduler/utils.py
  mars/tests/test_api.py
  mars/tests/test_distributor.py
  mars/web/server.py
  mars/worker/__main__.py
  mars/worker/chunkstore.py
  mars/worker/service.py
  mars/worker/tests/test_chunkholder.py
  mars/worker/tests/test_daemon.py
  mars/worker/tests/test_execution.py
  mars/worker/tests/test_main.py
  mars/worker/tests/test_status.py
  mars/worker/tests/test_transfer.py
  mars/worker/utils.py
Labels: backport, mod: scheduler, mod: worker

#395 Fix defunct compose option in web session
  mars/web/api.py
  mars/web/session.py
Labels: mod: web, to be backported, type: bug

#397 [BACKPORT] Support non-square matrix for lu decomposition (#383)
  mars/tensor/core.py
  mars/tensor/execution/linalg.py
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/expressions/core.py
  mars/tensor/expressions/linalg/lu.py
  mars/tensor/expressions/linalg/solve_triangular.py
  mars/tensor/expressions/tests/test_linalg.py
Labels: backport, mod: tensor, type: enhancement

#398 [BACKPORT] Fix `nsplits` of tensors generated in the tile of QR decomposition (#387)
  mars/tensor/expressions/linalg/core.py
  mars/tensor/expressions/linalg/qr.py
  mars/tensor/expressions/tests/test_linalg.py
Labels: backport, mod: tensor, type: bug

#401 Fix serialization of DataFrame's index_value or columns_value if its type is int64
  mars/dataframe/core.py
  mars/dataframe/expressions/fetch/core.py
  mars/dataframe/expressions/tests/test_datasource.py
  mars/graph.pyx
  mars/scheduler/graph.py
  mars/serialize/core.pyx
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/tests/test_serialize.py
  mars/utils.py
Labels: mod: dataframe, type: bug

#405 Fix bug that `min_val` of index_value or columns could be nan for chunks of DataFrame
  mars/api.py
  mars/dataframe/__init__.py
  mars/dataframe/execution/tests/test_arithmetic_execution.py
  mars/dataframe/expressions/__init__.py
  mars/dataframe/expressions/arithmetic/core.py
  mars/dataframe/expressions/utils.py
  mars/dataframe/initializer.py
  mars/deploy/local/session.py
  mars/executor.py
  mars/session.py
  mars/tests/test_api.py
  mars/tests/test_session.py
  mars/web/api.py
  mars/web/session.py
Labels: mod: dataframe, type: bug

#407 Fix executing DataFrame with Fetch operand
  mars/core.py
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/graph.py
  mars/session.py
  mars/utils.py
Labels: mod: dataframe, type: bug

#412 Add FuseChunkData and FuseChunk to represent fused chunk
  mars/core.py
  mars/dataframe/core.py
  mars/graph.pyx
  mars/serialize/protos/chunk.proto
  mars/serialize/protos/dataframe.proto
  mars/serialize/protos/dataframe_pb2.py
  mars/serialize/protos/fusechunk.proto
  mars/serialize/protos/fusechunk_pb2.py
  mars/serialize/protos/graph.proto
  mars/serialize/protos/graph_pb2.py
  mars/serialize/protos/tensor.proto
  mars/serialize/protos/tensor_pb2.py
  mars/tensor/core.py
  mars/tensor/expressions/fuse/core.py
Labels: mod: serialization, type: enhancement

#414 Check reference type in serialization
  mars/serialize/core.pxd
  mars/serialize/core.pyx
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/tests/test_serialize.py
Labels: mod: serialization, type: bug

#410 Support execute dataframe with compose in both local and distributed mode
  mars/core.py
  mars/dataframe/core.py
  mars/dataframe/execution/arithmetic.py
  mars/dataframe/execution/tests/test_arithmetic_execution.py
  mars/dataframe/expressions/__init__.py
  mars/dataframe/expressions/arithmetic/core.py
  mars/dataframe/expressions/core.py
  mars/dataframe/expressions/fetch/core.py
  mars/dataframe/expressions/utils.py
  mars/deploy/local/tests/test_cluster.py
  mars/fuse.pyx
  mars/operands.py
  mars/scheduler/graph.py
  mars/scheduler/tests/test_main.py
  mars/tensor/execution/reshape.py
  mars/tensor/expressions/__init__.py
  mars/tensor/expressions/fetch/core.py
  mars/tensor/expressions/fuse/__init__.py
  mars/tensor/expressions/fuse/core.py
  mars/tensor/expressions/utils.py
  mars/tests/test_eager_mode.py
  mars/utils.py
Labels: mod: dataframe, mod: serialization, type: bug

#418 [BACKPORT] Support **kwargs in new_session (#368)
  mars/deploy/local/session.py
  mars/session.py
Labels: backport, type: enhancement

#421 Remove central ChunkMetaActor in schedulers
  .gitignore
  .travis.yml
  mars/api.py
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/__init__.py
  mars/scheduler/assigner.py
  mars/scheduler/chunkmeta.py
  mars/scheduler/graph.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/tests/test_common_exec.py
  mars/scheduler/operands/tests/test_common_ut.py
  mars/scheduler/session.py
  mars/scheduler/tests/test_assigner.py
  mars/scheduler/tests/test_chunkmeta.py
  mars/scheduler/tests/test_session.py
  mars/scheduler/utils.py
  mars/tests/test_api.py
  mars/web/tests/test_api.py
  mars/worker/calc.py
  mars/worker/execution.py
  mars/worker/tests/test_execution.py
  mars/worker/transfer.py
  mars/worker/utils.py
Labels: mod: scheduler, type: enhancement

#422 [BACKPORT] Remove central ChunkMetaActor in schedulers (#421)
  .gitignore
  .travis.yml
  mars/api.py
  mars/scheduler/__init__.py
  mars/scheduler/assigner.py
  mars/scheduler/chunkmeta.py
  mars/scheduler/graph.py
  mars/scheduler/operand.py
  mars/scheduler/tests/test_assigner.py
  mars/scheduler/tests/test_chunkmeta.py
  mars/scheduler/tests/test_operand.py
  mars/scheduler/utils.py
  mars/tests/test_api.py
  mars/web/tests/test_api.py
  mars/worker/calc.py
  mars/worker/execution.py
  mars/worker/transfer.py
  mars/worker/utils.py
Labels: backport, mod: scheduler, type: enhancement

#424 Use Enum instead of numbers to specify compression types
  mars/api.py
  mars/config.py
  mars/scheduler/tests/test_kvstore.py
  mars/scheduler/tests/test_main.py
  mars/serialize/dataserializer.py
  mars/serialize/tests/test_serialize.py
  mars/tests/core.py
  mars/tests/test_kvstore.py
  mars/web/api.py
  mars/web/session.py
  mars/web/tests/test_api.py
  mars/worker/__main__.py
  mars/worker/service.py
  mars/worker/spill.py
  mars/worker/transfer.py
Labels: mod: worker, to be backported, type: enhancement

#427 [BACKPORT] Use Enum instead of numbers to specify compression types (#424)
  mars/api.py
  mars/config.py
  mars/scheduler/tests/test_kvstore.py
  mars/scheduler/tests/test_main.py
  mars/serialize/dataserializer.py
  mars/serialize/tests/test_serialize.py
  mars/tests/core.py
  mars/tests/test_kvstore.py
  mars/web/api.py
  mars/web/session.py
  mars/web/tests/test_api.py
  mars/worker/__main__.py
  mars/worker/service.py
  mars/worker/spill.py
  mars/worker/transfer.py
Labels: backport, mod: worker, type: enhancement

#426 Support creating tensor from list of tensors
  mars/tensor/expressions/datasource/array.py
  mars/tensor/expressions/tests/test_datasource.py
Labels: mod: tensor, to be backported, type: enhancement

#429 [BACKPORT] Support creating tensor from list of tensors (#426)
  mars/tensor/expressions/datasource/array.py
  mars/tensor/expressions/tests/test_datasource.py
Labels: backport, mod: tensor, type: enhancement
