Repository mars-project/mars, pull requests merged in 2019-11, with the labels that each got.

#797 Move tests in Appveyor into Github Actions (#795)
  .github/workflows/ci.yml
  .github/workflows/install-conda.sh
  .github/workflows/reload-env.sh
  .github/workflows/upload-packages.sh
  appveyor.yml
  mars/actors/pool/gevent_pool.pyx
  mars/actors/pool/messages.pyx
  mars/actors/pool/tests/test_gevent_pool.py
  mars/resource.py
Labels: backport, type: tests

#803 Support `axis` argument for `permutation` and `shuffle`
  mars/tensor/random/permutation.py
  mars/tensor/random/shuffle.py
  mars/tensor/random/tests/test_random.py
  mars/tensor/random/tests/test_random_execute.py
Labels: mod: tensor, to be backported, type: enhancement

#798 [BACKPORT] Add `mt.unique` support for tensor
  .github/workflows/ci.yml
  .github/workflows/reload-env.sh
  mars/actors/pool/messages.pyx
  mars/opcodes.py
  mars/scheduler/tests/integrated/base.py
  mars/scheduler/tests/test_kvstore.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/base/unique.py
  mars/tensor/datasource/from_dataframe.py
  mars/tensor/merge/concatenate.py
  mars/tensor/tests/test_utils.py
  mars/tensor/utils.py
  mars/tests/test_kvstore.py
Labels: backport, mod: tensor, type: feature

#801 [BACKPORT] Simplify tiles logic to improve its performance (#792)
  mars/tiles.py
Labels: backport, type: enhancement

#806 [BACKPORT] Support conversion between series and tensor (#791)
  mars/dataframe/__init__.py
  mars/dataframe/core.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/initializer.py
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/core.py
  mars/tensor/datasource/__init__.py
  mars/tensor/datasource/from_dataframe.py
  mars/tensor/datasource/tests/test_datasource_execute.py
  mars/tests/test_session.py
Labels: backport, mod: dataframe, type: feature

#811 Fix etcd cases under macOS Catalina for v0.2
  .github/workflows/ci.yml
  .github/workflows/download-etcd.sh
  .github/workflows/reload-env.sh
  .github/workflows/unify_coverage.py
Labels: type: tests

#805 Add ObjectData and ObjectChunk to represent data beyond ndarray, dataframe etc
  .gitignore
  mars/core.py
  mars/dataframe/__init__.py
  mars/dataframe/core.py
  mars/dataframe/fetch/core.py
  mars/dataframe/operands.py
  mars/dataframe/utils.py
  mars/executor.py
  mars/graph.pyx
  mars/learn/__init__.py
  mars/learn/contrib/xgboost/dmatrix.py
  mars/learn/contrib/xgboost/predict.py
  mars/learn/contrib/xgboost/start_tracker.py
  mars/learn/contrib/xgboost/tests/test_train.py
  mars/learn/contrib/xgboost/train.py
  mars/learn/operands.py
  mars/learn/utils/core.py
  mars/operands.py
  mars/scheduler/graph.py
  mars/serialize/protos/fusechunk.proto
  mars/serialize/protos/fusechunk_pb2.py
  mars/serialize/protos/graph.proto
  mars/serialize/protos/graph_pb2.py
  mars/serialize/protos/object.proto
  mars/serialize/protos/object_pb2.py
  mars/session.py
  mars/tensor/__init__.py
  mars/tensor/core.py
  mars/tensor/fetch/core.py
  mars/tensor/fuse/core.py
  mars/tensor/operands.py
  mars/tensor/utils.py
  mars/utils.py
Labels: mod: learn, type: feature

#815 Correct type checking for DataFrame arithmetic
  mars/dataframe/align.py
  mars/dataframe/arithmetic/add.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/floordiv.py
  mars/dataframe/arithmetic/subtract.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/arithmetic/truediv.py
  mars/dataframe/base/core.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/core.py
  mars/dataframe/datasource/dataframe.py
  mars/dataframe/datasource/from_records.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/set_index.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/utils.py
  mars/dataframe/merge/concat.py
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/dataframe/operands.py
  mars/dataframe/utils.py
  mars/executor.py
  mars/learn/contrib/xgboost/dmatrix.py
  mars/learn/contrib/xgboost/predict.py
  mars/scheduler/operands/tests/test_common_exec.py
  mars/scheduler/operands/tests/test_common_ut.py
  mars/scheduler/tests/integrated/base.py
  mars/scheduler/tests/test_chunkmeta.py
  mars/scheduler/tests/test_graph.py
  mars/scheduler/tests/test_kvstore.py
  mars/scheduler/tests/test_session.py
  mars/tests/core.py
  mars/tests/test_api.py
  mars/tests/test_executor.py
  mars/tests/test_prefetch.py
  mars/tests/test_promise.py
  mars/utils.py
  mars/worker/storage/tests/test_client.py
  mars/worker/storage/tests/test_sharedstore.py
  mars/worker/tests/base.py
  mars/worker/tests/test_daemon.py
  mars/worker/tests/test_dispatcher.py
  mars/worker/tests/test_events.py
  mars/worker/tests/test_execution.py
  mars/worker/tests/test_main.py
  mars/worker/tests/test_quota.py
  mars/worker/tests/test_status.py
  mars/worker/tests/test_transfer.py
Labels: mod: dataframe, to be backported, type: bug

#819 [BACKPORT] Correct type checking for DataFrame arithmetic (#815)
  mars/dataframe/align.py
  mars/dataframe/arithmetic/add.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/floordiv.py
  mars/dataframe/arithmetic/subtract.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/arithmetic/truediv.py
  mars/dataframe/base/core.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/core.py
  mars/dataframe/datasource/dataframe.py
  mars/dataframe/datasource/from_records.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/set_index.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/utils.py
  mars/dataframe/merge/concat.py
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/dataframe/operands.py
  mars/dataframe/utils.py
  mars/executor.py
  mars/scheduler/operands/tests/test_common_exec.py
  mars/scheduler/operands/tests/test_common_ut.py
  mars/scheduler/tests/integrated/base.py
  mars/scheduler/tests/test_chunkmeta.py
  mars/scheduler/tests/test_graph.py
  mars/scheduler/tests/test_kvstore.py
  mars/scheduler/tests/test_session.py
  mars/tests/core.py
  mars/tests/test_api.py
  mars/tests/test_executor.py
  mars/tests/test_prefetch.py
  mars/tests/test_promise.py
  mars/utils.py
  mars/worker/tests/base.py
  mars/worker/tests/test_daemon.py
  mars/worker/tests/test_dispatcher.py
  mars/worker/tests/test_events.py
  mars/worker/tests/test_execution.py
  mars/worker/tests/test_main.py
  mars/worker/tests/test_quota.py
  mars/worker/tests/test_status.py
  mars/worker/tests/test_transfer.py
Labels: backport, mod: dataframe, type: bug

#808 Add `mars.learn.utils.shuffle` to support shuffling multiple tileable objects in a consistent way
  .github/workflows/run-tests.sh
  mars/dataframe/core.py
  mars/dataframe/initializer.py
  mars/learn/__init__.py
  mars/learn/contrib/xgboost/dmatrix.py
  mars/learn/datasets/__init__.py
  mars/learn/datasets/samples_generator.py
  mars/learn/datasets/tests/test_samples_generator.py
  mars/learn/operands.py
  mars/learn/utils/__init__.py
  mars/learn/utils/core.py
  mars/learn/utils/shuffle.py
  mars/learn/utils/tests/test_shuffle.py
  mars/tensor/__init__.py
  mars/tensor/random/permutation.py
  mars/tensor/rechunk/rechunk.py
  mars/tensor/reduction/__init__.py
Labels: mod: learn, type: feature

#818 Handle worker storage in batches
  mars/actors/pool/gevent_pool.pyx
  mars/errors.py
  mars/executor.py
  mars/scheduler/operands/shuffle.py
  mars/scheduler/tests/integrated/base.py
  mars/utils.py
  mars/worker/calc.py
  mars/worker/dispatcher.py
  mars/worker/execution.py
  mars/worker/seal.py
  mars/worker/service.py
  mars/worker/storage/client.py
  mars/worker/storage/core.py
  mars/worker/storage/cudahandler.py
  mars/worker/storage/diskhandler.py
  mars/worker/storage/iorunner.py
  mars/worker/storage/manager.py
  mars/worker/storage/objectholder.py
  mars/worker/storage/procmemhandler.py
  mars/worker/storage/sharedhandler.py
  mars/worker/storage/sharedstore.py
  mars/worker/storage/tests/test_client.py
  mars/worker/storage/tests/test_cuda_io.py
  mars/worker/storage/tests/test_disk_io.py
  mars/worker/storage/tests/test_manager.py
  mars/worker/storage/tests/test_objectholder.py
  mars/worker/storage/tests/test_procmem_io.py
  mars/worker/storage/tests/test_shared_io.py
  mars/worker/tests/test_calc.py
  mars/worker/tests/test_execution.py
  mars/worker/tests/test_transfer.py
  mars/worker/transfer.py
Labels: mod: worker, type: enhancement

#821 [BACKPORT] Return execution exception info properly to session client. (#770)
  .github/workflows/ci.yml
  mars/api.py
  mars/config.py
  mars/deploy/local/session.py
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/scheduler/graph.py
  mars/scheduler/operands/common.py
  mars/tests/test_api.py
  mars/web/apihandlers.py
  mars/web/session.py
  mars/web/tests/test_api.py
Labels: backport, type: enhancement

#822 [BACKPORT] Support `axis` argument for `permutation` and `shuffle` (#803)
  mars/tensor/random/permutation.py
  mars/tensor/random/shuffle.py
  mars/tensor/random/tests/test_random.py
  mars/tensor/random/tests/test_random_execute.py
Labels: backport, mod: tensor, type: enhancement

#823 Fix stuck issue of GeventThreadPoolExecutor
  mars/actors/pool/gevent_pool.pyx
  mars/executor.py
  mars/scheduler/operands/shuffle.py
Labels: mod: actor, type: bug

#824 [BACKPORT] Support `__iadd__` etc by wrap `add` with `out` argument (#813)
  mars/tensor/arithmetic/__init__.py
  mars/tensor/arithmetic/core.py
  mars/tensor/tests/test_core_execute.py
Labels: backport, mod: tensor, type: enhancement

#807 Support DataFrame `read_csv`
  mars/config.py
  mars/dataframe/__init__.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
  mars/filesystem.py
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/utils.py
  mars/worker/tests/test_main.py
Labels: mod: dataframe, to be backported, type: feature

#826 [BACKPORT] Support DataFrame `read_csv` (#807)
  mars/_version.py
  mars/config.py
  mars/dataframe/__init__.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
  mars/filesystem.py
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/utils.py
Labels: backport, mod: dataframe, type: feature

#829 Add separate test environment for testing HDFS
  .github/workflows/ci.yml
  .github/workflows/install-hdfs.sh
  .github/workflows/run-tests.sh
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/datasource/tests/test_hdfs.py
  mars/filesystem.py
  mars/tests/test_filesystem.py
Labels: type: tests

#835 [BACKPORT] Add separate environment to test HDFS (#829)
  .github/workflows/ci.yml
  .github/workflows/install-hdfs.sh
  .github/workflows/run-tests.sh
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/datasource/tests/test_hdfs.py
  mars/filesystem.py
  mars/tests/test_filesystem.py
Labels: backport, type: tests

#827 Add `mt.sort` support
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/sort.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/core.py
Labels: mod: tensor, to be backported, type: feature

#838 Fix incorrect behavior of dataframe arithmetic
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
Labels: mod: dataframe, to be backported, type: bug

#833 Add ReceiverStatusActor to help listening at receiver end
  .github/workflows/upload-packages.sh
  mars/utils.py
  mars/worker/calc.py
  mars/worker/execution.py
  mars/worker/quota.py
  mars/worker/seal.py
  mars/worker/service.py
  mars/worker/storage/client.py
  mars/worker/storage/core.py
  mars/worker/storage/cudahandler.py
  mars/worker/storage/diskhandler.py
  mars/worker/storage/objectholder.py
  mars/worker/storage/procmemhandler.py
  mars/worker/storage/sharedhandler.py
  mars/worker/storage/tests/test_client.py
  mars/worker/storage/tests/test_cuda_io.py
  mars/worker/storage/tests/test_objectholder.py
  mars/worker/storage/tests/test_procmem_io.py
  mars/worker/storage/tests/test_shared_io.py
  mars/worker/tests/test_calc.py
  mars/worker/tests/test_quota.py
  mars/worker/tests/test_transfer.py
  mars/worker/transfer.py
Labels: mod: worker, type: enhancement

#840 [BACKPORT] Fix incorrect behavior of dataframe arithmetic (#838)
  .github/workflows/upload-packages.sh
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/utils.py
Labels: backport, mod: dataframe, type: bug

#839 Support DataFrame rechunk
  mars/config.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/rechunk.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/utils.py
  mars/tensor/rechunk/core.py
  mars/tensor/rechunk/rechunk.py
Labels: mod: dataframe, to be backported, type: feature
