Repository mars-project/mars, pull requests merged in 2019-09, with the labels that each got.

#699 Add option for plasma path
  docs/source/install.rst
  docs/source/locale/zh_CN/LC_MESSAGES/install.po
  mars/worker/__main__.py
  mars/worker/service.py
Labels: mod: worker, to be backported, type: enhancement

#701 Wait for graph to finish instead of querying with fixed intervals
  .gitignore
  mars/actors/pool/gevent_pool.pyx
  mars/api.py
  mars/deploy/local/core.py
  mars/deploy/local/session.py
  mars/scheduler/graph.py
  mars/tensor/__init__.py
  mars/web/apihandlers.py
  mars/web/session.py
  mars/web/tests/test_api.py
Labels: mod: scheduler, type: enhancement

#703 Separate flags for initials and terminals for operands
  mars/actors/pool/messages.pyx
  mars/lib/gipc.pyx
  mars/scheduler/graph.py
  mars/scheduler/operands/__init__.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/core.py
  mars/scheduler/tests/integrated/op_delayer.py
Labels: mod: scheduler, to be backported, type: bug

#705 Remove redundant RPC calls for schedulers
  mars/api.py
  mars/cluster_info.py
  mars/deploy/local/session.py
  mars/scheduler/graph.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/common.py
  mars/utils.py
  mars/web/apihandlers.py
  mars/web/server.py
  mars/worker/storage/tests/test_sharedstore.py
  mars/worker/tests/base.py
Labels: mod: scheduler, to be backported, type: bug

#707 [BACKPORT] Wait for graph to finish instead of querying with fixed intervals (#701)
  .gitignore
  docs/source/install.rst
  docs/source/locale/zh_CN/LC_MESSAGES/install.po
  mars/actors/pool/gevent_pool.pyx
  mars/api.py
  mars/deploy/local/core.py
  mars/deploy/local/session.py
  mars/resource.py
  mars/scheduler/graph.py
  mars/tensor/__init__.py
  mars/tests/test_resource.py
  mars/web/apihandlers.py
  mars/web/session.py
  mars/web/tests/test_api.py
  mars/worker/__main__.py
  mars/worker/service.py
Labels: backport, mod: scheduler, type: enhancement

#708 [BACKPORT] Separate flags for initials and terminals (#703)
  mars/actors/pool/messages.pyx
  mars/lib/gipc.pyx
  mars/scheduler/graph.py
  mars/scheduler/operands/__init__.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/core.py
  mars/scheduler/tests/integrated/op_delayer.py
Labels: backport, mod: scheduler, type: bug

#709 [BACKPORT] Remove redundant RPC calls for schedulers (#705)
  mars/api.py
  mars/cluster_info.py
  mars/deploy/local/session.py
  mars/scheduler/graph.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/common.py
  mars/tests/test_resource.py
  mars/utils.py
  mars/web/apihandlers.py
  mars/web/server.py
  mars/worker/tests/base.py
Labels: backport, mod: scheduler, type: bug

#712 Access column using __getattr__ syntax for DataFrame.
  mars/dataframe/core.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
Labels: mod: dataframe, to be backported, type: enhancement

#711 Submit initial operands together in one RPC call
  mars/base_app.py
  mars/config.py
  mars/deploy/local/session.py
  mars/promise.py
  mars/resource.py
  mars/scheduler/assigner.py
  mars/scheduler/chunkmeta.py
  mars/scheduler/graph.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/common.py
  mars/scheduler/tests/test_assigner.py
  mars/scheduler/tests/test_graph.py
  mars/scheduler/utils.py
  mars/tests/test_resource.py
  mars/web/apihandlers.py
  mars/web/session.py
  mars/worker/calc.py
  mars/worker/execution.py
Labels: mod: scheduler, to be backported, type: enhancement

#719 Fix incorrect chunk shape in QR decomposition
  mars/tensor/linalg/core.py
  mars/tensor/linalg/tests/test_linalg.py
Labels: mod: tensor, to be backported, type: bug

#722 [BACKPORT] Fix incorrect chunk shape in QR (#719)
  mars/tensor/linalg/core.py
  mars/tensor/linalg/tests/test_linalg.py
Labels: backport, mod: tensor, type: bug

#716 Add lock free option for workers
  mars/config.py
  mars/worker/__main__.py
  mars/worker/service.py
  mars/worker/storage/iorunner.py
  mars/worker/storage/tests/test_client.py
Labels: mod: worker, type: enhancement

#733 __setitem__ on a view should be still a view.
  mars/tensor/base/tests/test_base.py
  mars/tensor/indexing/setitem.py
  mars/tensor/reshape/reshape.py
  mars/tensor/tests/test_core_execute.py
Labels: mod: tensor, to be backported, type: bug

#731 Implements more flexible `.cix[]`.
  mars/core.py
  mars/tests/test_utils.py
Labels: type: enhancement

#727 Submit metas obtained from schedulers
  mars/scheduler/assigner.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/tests/test_common_ut.py
  mars/worker/calc.py
  mars/worker/execution.py
  mars/worker/tests/test_execution.py
Labels: mod: worker, to be backported, type: enhancement

#725 Spawn promise to utilize async network libs
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/promise.py
  mars/scheduler/operands/common.py
  mars/tests/test_promise.py
  mars/web/apihandlers.py
  mars/worker/execution.py
  mars/worker/tests/test_quota.py
  mars/worker/tests/test_transfer.py
Labels: to be backported, type: enhancement

#723 Processing `index` and `columns` seperately (and correctly) in `from_tensor`
  mars/dataframe/core.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
Labels: mod: dataframe, to be backported, type: bug

#736 Simplify data transfer protocol
  mars/scheduler/chunkmeta.py
  mars/scheduler/operands/common.py
  mars/worker/execution.py
  mars/worker/tests/test_execution.py
  mars/worker/tests/test_transfer.py
  mars/worker/transfer.py
Labels: mod: worker, to be backported, type: enhancement

#735 [BACKPORT] Spawn promise to utilize async network libs (#725)
  mars/promise.py
  mars/scheduler/operands/common.py
  mars/tests/test_promise.py
  mars/web/apihandlers.py
  mars/worker/execution.py
  mars/worker/tests/test_quota.py
  mars/worker/tests/test_transfer.py
Labels: backport, type: enhancement

#741 [BACKPORT] Submit metas obtained from schedulers (#727)
  mars/scheduler/assigner.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/tests/test_common_ut.py
  mars/worker/execution.py
  mars/worker/tests/test_execution.py
Labels: backport, mod: scheduler, type: enhancement

#742 Fuse some operations in cholesky's tile
  docs/source/install.rst
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/linalg/cholesky.py
  mars/tensor/linalg/lu.py
  mars/worker/service.py
Labels: mod: tensor, to be backported, type: enhancement

#740 Add a config to use cpuacct.stat to calculate cpu usage
  mars/deploy/kubernetes/config.py
  mars/resource.py
  mars/tests/test_resource.py
Labels: mod: worker, to be backported, type: bug

#743 [BACKPORT] Use cpuacct.stat to calculate cpu usage in Docker containers (#740)
  mars/resource.py
  mars/tests/test_resource.py
Labels: backport, mod: worker, type: bug

#746 [BACKPORT] Access column using `__getattr__` syntax for DataFrame.
  mars/dataframe/core.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
Labels: backport, mod: dataframe, type: feature

#747 [BACKPORT] Processing `index` and `columns` seperately (and correctly) in `from_tensor`
  mars/dataframe/core.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
Labels: backport, mod: dataframe, type: bug

#748 [BACKPORT] `__setitem__` on a view should be still a view.
  mars/tensor/base/tests/test_base.py
  mars/tensor/indexing/setitem.py
  mars/tensor/reshape/reshape.py
  mars/tensor/tests/test_core_execute.py
Labels: backport, mod: tensor, type: bug

#745 [BACKPORT] Submit initial operands together in one RPC call (#711)
  mars/base_app.py
  mars/config.py
  mars/deploy/local/session.py
  mars/promise.py
  mars/scheduler/assigner.py
  mars/scheduler/chunkmeta.py
  mars/scheduler/graph.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/common.py
  mars/scheduler/tests/test_assigner.py
  mars/scheduler/tests/test_graph.py
  mars/scheduler/utils.py
  mars/web/session.py
  mars/worker/execution.py
Labels: backport, mod: scheduler, type: enhancement

#749 [BACKPORT] Fuse some operations in cholesky's tile (#742)
  docs/source/install.rst
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/linalg/cholesky.py
  mars/tensor/linalg/lu.py
  mars/worker/service.py
Labels: backport, mod: tensor, type: enhancement

#755 Fix race condition when starting tasks and adding callbacks
  bin/ci/travis-install-minikube.sh
  mars/deploy/kubernetes/client.py
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/scheduler/operands/common.py
  mars/worker/calc.py
  mars/worker/execution.py
  mars/worker/quota.py
  mars/worker/tests/test_calc.py
  mars/worker/tests/test_execution.py
Labels: mod: scheduler, to be backported, type: bug

#744 [BACKPORT] Simplify data transfer protocol (#736)
  mars/scheduler/chunkmeta.py
  mars/scheduler/operands/common.py
  mars/worker/execution.py
  mars/worker/tests/test_execution.py
  mars/worker/tests/test_transfer.py
  mars/worker/transfer.py
Labels: backport, mod: worker, type: enhancement

#763 Fix certifi version after installing tiledb
  .travis.yml
Labels: type: tests

#764 [BACKPORT] Fix certifi version after installing tiledb (#763)
  .travis.yml
Labels: mod: deploy

#762 Implements `numpy.random.shuffle` and `numpy.random.permutation` for tensor
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/random/__init__.py
  mars/tensor/random/permutation.py
  mars/tensor/random/shuffle.py
  mars/tensor/random/tests/test_random.py
  mars/tensor/random/tests/test_random_execute.py
Labels: mod: tensor, to be backported, type: feature
