Repository mars-project/mars, pull requests merged in 2019-01, with the labels that each got.

#85 Add test cases for etcd and tasks web page
  .travis.yml
  bin/download-etcd.sh
  mars/api.py
  mars/base_app.py
  mars/kvstore.py
  mars/lib/gipc.pyx
  mars/node_info.py
  mars/resource.py
  mars/scheduler/kvstore.py
  mars/scheduler/tests/test_kvstore.py
  mars/serialize/__init__.py
  mars/serialize/dataserializer.py
  mars/session.py
  mars/tests/core.py
  mars/tests/test_kvstore.py
  mars/tests/test_resource.py
  mars/web/__init__.py
  mars/web/api.py
  mars/web/server.py
  mars/web/session.py
  mars/web/tests/test_api.py
  mars/worker/status.py
Labels: type: tests

#92 Support execute tensor without fetching data
  mars/api.py
  mars/deploy/local/session.py
  mars/deploy/local/tests/test_cluster.py
  mars/session.py
  mars/tensor/execution/core.py
  mars/tests/test_session.py
  mars/web/session.py
  mars/web/tests/test_api.py
Labels: mod: client, mod: deploy, mod: web, to-be-backported, type: enhancement

#95 [BACKPORT] Support execute tensor without fetching data
  mars/api.py
  mars/deploy/local/session.py
  mars/deploy/local/tests/test_cluster.py
  mars/session.py
  mars/tensor/execution/core.py
  mars/tests/test_session.py
  mars/web/session.py
  mars/web/tests/test_api.py
Labels: backport, mod: client, mod: deploy, mod: web, type: enhancement

#101 Fix setitem and getitem generate same operand key
  mars/deploy/local/tests/test_cluster.py
  mars/tensor/expressions/indexing/getitem.py
  mars/tensor/expressions/indexing/setitem.py
  mars/tensor/expressions/tests/test_indexing.py
Labels: mod: tensor, to-be-backported, type: bug

#100 Check parameters for rand and randn
  mars/tensor/expressions/random/beta.py
  mars/tensor/expressions/random/binomial.py
  mars/tensor/expressions/random/chisquare.py
  mars/tensor/expressions/random/choice.py
  mars/tensor/expressions/random/dirichlet.py
  mars/tensor/expressions/random/exponential.py
  mars/tensor/expressions/random/f.py
  mars/tensor/expressions/random/gamma.py
  mars/tensor/expressions/random/geometric.py
  mars/tensor/expressions/random/gumbel.py
  mars/tensor/expressions/random/hypergeometric.py
  mars/tensor/expressions/random/laplace.py
  mars/tensor/expressions/random/logistic.py
  mars/tensor/expressions/random/lognormal.py
  mars/tensor/expressions/random/logseries.py
  mars/tensor/expressions/random/multinomial.py
  mars/tensor/expressions/random/multivariate_normal.py
  mars/tensor/expressions/random/negative_binomial.py
  mars/tensor/expressions/random/noncentral_chisquare.py
  mars/tensor/expressions/random/noncentral_f.py
  mars/tensor/expressions/random/normal.py
  mars/tensor/expressions/random/pareto.py
  mars/tensor/expressions/random/poisson.py
  mars/tensor/expressions/random/power.py
  mars/tensor/expressions/random/rand.py
  mars/tensor/expressions/random/randint.py
  mars/tensor/expressions/random/randn.py
  mars/tensor/expressions/random/random_integers.py
  mars/tensor/expressions/random/random_sample.py
  mars/tensor/expressions/random/rayleigh.py
  mars/tensor/expressions/random/standard_cauchy.py
  mars/tensor/expressions/random/standard_exponential.py
  mars/tensor/expressions/random/standard_gamma.py
  mars/tensor/expressions/random/standard_normal.py
  mars/tensor/expressions/random/standard_t.py
  mars/tensor/expressions/random/triangular.py
  mars/tensor/expressions/random/uniform.py
  mars/tensor/expressions/random/vonmises.py
  mars/tensor/expressions/random/wald.py
  mars/tensor/expressions/random/weibull.py
  mars/tensor/expressions/random/zipf.py
  mars/tensor/expressions/tests/test_random.py
Labels: mod: tensor, to-be-backported, type: bug

#103 Fix summation on slicing on an array with same range
  mars/scheduler/graph.py
  mars/scheduler/tests/test_graph.py
  mars/scheduler/tests/test_main.py
Labels: mod: scheduler, to-be-backported

#104 [BACKPORT] Fix summation on slicing on an array with same range
  mars/scheduler/graph.py
  mars/scheduler/tests/test_graph.py
  mars/scheduler/tests/test_main.py
Labels: backport, mod: scheduler, type: bug

#107 Use property instead of weak-key dict to store cix
  mars/graph.pyx
  mars/tensor/core.py
Labels: mod: tensor, to-be-backported, type: enhancement

#108 [BACKPORT] Fix setitem and getitem generate same operand key (#101)
  mars/deploy/local/tests/test_cluster.py
  mars/tensor/expressions/indexing/getitem.py
  mars/tensor/expressions/indexing/setitem.py
  mars/tensor/expressions/tests/test_indexing.py
Labels: backport, mod: tensor, type: bug

#109 [BACKPORT] Use property instead of weak-key dict to store cix (#107)
  mars/graph.pyx
  mars/tensor/core.py
Labels: backport, mod: tensor, type: enhancement

#111 Fix compose failure after #103
  mars/scheduler/graph.py
  mars/scheduler/tests/test_graph.py
Labels: mod: scheduler, to-be-backported, type: bug

#110 [BACKPORT] Check parameters for rand and randn (#100)
  mars/tensor/expressions/random/beta.py
  mars/tensor/expressions/random/binomial.py
  mars/tensor/expressions/random/chisquare.py
  mars/tensor/expressions/random/choice.py
  mars/tensor/expressions/random/dirichlet.py
  mars/tensor/expressions/random/exponential.py
  mars/tensor/expressions/random/f.py
  mars/tensor/expressions/random/gamma.py
  mars/tensor/expressions/random/geometric.py
  mars/tensor/expressions/random/gumbel.py
  mars/tensor/expressions/random/hypergeometric.py
  mars/tensor/expressions/random/laplace.py
  mars/tensor/expressions/random/logistic.py
  mars/tensor/expressions/random/lognormal.py
  mars/tensor/expressions/random/logseries.py
  mars/tensor/expressions/random/multinomial.py
  mars/tensor/expressions/random/multivariate_normal.py
  mars/tensor/expressions/random/negative_binomial.py
  mars/tensor/expressions/random/noncentral_chisquare.py
  mars/tensor/expressions/random/noncentral_f.py
  mars/tensor/expressions/random/normal.py
  mars/tensor/expressions/random/pareto.py
  mars/tensor/expressions/random/poisson.py
  mars/tensor/expressions/random/power.py
  mars/tensor/expressions/random/rand.py
  mars/tensor/expressions/random/randint.py
  mars/tensor/expressions/random/randn.py
  mars/tensor/expressions/random/random_integers.py
  mars/tensor/expressions/random/random_sample.py
  mars/tensor/expressions/random/rayleigh.py
  mars/tensor/expressions/random/standard_cauchy.py
  mars/tensor/expressions/random/standard_exponential.py
  mars/tensor/expressions/random/standard_gamma.py
  mars/tensor/expressions/random/standard_normal.py
  mars/tensor/expressions/random/standard_t.py
  mars/tensor/expressions/random/triangular.py
  mars/tensor/expressions/random/uniform.py
  mars/tensor/expressions/random/vonmises.py
  mars/tensor/expressions/random/wald.py
  mars/tensor/expressions/random/weibull.py
  mars/tensor/expressions/random/zipf.py
  mars/tensor/expressions/tests/test_random.py
Labels: backport, mod: tensor, type: bug

#112 [BACKPORT] Fix compose failure after #103 (#111)
  mars/scheduler/graph.py
  mars/scheduler/tests/test_graph.py
Labels: backport, mod: scheduler, type: bug

#113 Support QR decomposition on short-and-fat tensor(sfqr method)
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/expressions/linalg/core.py
  mars/tensor/expressions/linalg/qr.py
  mars/tensor/expressions/linalg/svd.py
  mars/tensor/expressions/tests/test_linalg.py
Labels: mod: tensor, to-be-backported, type: feature

#116 [BACKPORT] Support QR decomposition on short-and-fat tensor(sfqr method)
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/expressions/linalg/core.py
  mars/tensor/expressions/linalg/qr.py
  mars/tensor/expressions/linalg/svd.py
  mars/tensor/expressions/tests/test_linalg.py
Labels: backport, mod: tensor, type: feature

#89 Worker refactor and schedule on worker
  mars/promise.py
  mars/scheduler/assigner.py
  mars/scheduler/chunkmeta.py
  mars/scheduler/graph.py
  mars/scheduler/operand.py
  mars/scheduler/resource.py
  mars/scheduler/service.py
  mars/scheduler/session.py
  mars/scheduler/tests/test_assigner.py
  mars/scheduler/tests/test_graph.py
  mars/scheduler/tests/test_operand.py
  mars/scheduler/tests/test_resource.py
  mars/web/templates/worker_detail.html
  mars/worker/__init__.py
  mars/worker/daemon.py
  mars/worker/execution.py
  mars/worker/service.py
  mars/worker/taskqueue.py
  mars/worker/tests/test_execution.py
  mars/worker/tests/test_main.py
  mars/worker/tests/test_taskqueue.py
  mars/worker/transfer.py
Labels: mod: worker, type: enhancement

#120 Update tensor shape after execution
  mars/api.py
  mars/deploy/local/session.py
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/chunkmeta.py
  mars/scheduler/graph.py
  mars/scheduler/tests/test_chunkmeta.py
  mars/session.py
  mars/tensor/core.py
  mars/tensor/execution/core.py
  mars/tests/test_api.py
  mars/tests/test_session.py
  mars/web/api.py
  mars/web/session.py
  mars/worker/calc.py
Labels: mod: scheduler, mod: tensor, to-be-backported, type: feature

#121 Add cython coverage
  .coveragerc
  .coveragerc-tensor
  .travis.yml
  bin/fix-gevent-cov.sh
  mars/actors/core.pyx
  mars/actors/pool/gevent_pool.pyx
  mars/actors/pool/messages.pyx
  mars/graph.pyx
  mars/tests/test_graph.py
  mars/tests/test_utils.py
  mars/utils_c.pyx
  setup.py
Labels: type: tests

#90 Add cases and docs for ExecutionActor
  docs/source/distributed/prepare.rst
  docs/source/distributed/states.rst
  docs/source/distributed/worker-schedule.rst
  docs/source/locale/zh_CN/LC_MESSAGES/distributed/architecture.po
  docs/source/locale/zh_CN/LC_MESSAGES/distributed/prepare.po
  docs/source/locale/zh_CN/LC_MESSAGES/distributed/schedule-policy.po
  docs/source/locale/zh_CN/LC_MESSAGES/distributed/states.po
  docs/source/locale/zh_CN/LC_MESSAGES/distributed/worker-schedule.po
  docs/source/locale/zh_CN/LC_MESSAGES/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/binary.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/creation.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/datasource.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/execution.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/fft.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/indexing.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/linalg.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/logic.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/manipulation.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/math.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/overview.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/random.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/routines.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/set.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/sorting.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/sparse.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/statistics.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/tensor.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/ufunc.po
  mars/scheduler/chunkmeta.py
  mars/worker/__main__.py
  mars/worker/daemon.py
  mars/worker/taskqueue.py
  mars/worker/tests/test_daemon.py
  mars/worker/tests/test_execution.py
  mars/worker/tests/test_status.py
Labels: type: docs, type: tests

#126 Implement __array__ protocol for Tensor
  mars/tensor/core.py
  mars/tests/test_session.py
Labels: mod: tensor, to-be-backported, type: feature

#127 [BACKPORT] Implement __array__ protocol for Tensor (#126)
  mars/tensor/core.py
  mars/tests/test_session.py
Labels: backport, mod: tensor, type: feature

#130 Fix worker meta error on v0.1
  mars/scheduler/tests/test_main.py
  mars/worker/execution.py
Labels: mod: worker, type: bug, type: tests

#132 Add test cases for multiple workers
  mars/actors/pool/tests/test_gevent_pool.py
  mars/graph.pyx
  mars/scheduler/graph.py
  mars/scheduler/operand.py
  mars/scheduler/tests/test_graph.py
  mars/scheduler/tests/test_main.py
  mars/serialize/tests/test_serialize.py
  mars/serialize/tests/testser.proto
  mars/serialize/tests/testser_pb2.py
Labels: type: tests

#136 Typo in index.rst: "import numpy" should be "import numpy as np"
  docs/source/index.rst
Labels: type: docs

#137 Refine contributing rules and show that on every issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/other.md
  CONTRIBUTING.rst
Labels: type: docs

#139 Fix missing import in install.rst
  docs/source/install.rst
Labels: type: docs

#141 Fix worker start fail on machines with insufficient memory (also some doc fixes)
  README.rst
  docs/source/install.rst
  mars/deploy/local/core.py
  mars/scheduler/service.py
  mars/worker/__main__.py
  mars/worker/service.py
Labels: mod: worker, to-be-backported, type: bug, type: docs

#143 [BACKPORT] Fix worker start fail on machines with insufficient memory, docs fixed also
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/other.md
  CONTRIBUTING.rst
  README.rst
  docs/source/index.rst
  docs/source/install.rst
  mars/deploy/local/core.py
  mars/scheduler/service.py
  mars/web/static/css/bootstrap-theme.css
  mars/web/static/css/bootstrap-theme.css.map
  mars/web/static/css/bootstrap-theme.min.css.map
  mars/web/static/css/bootstrap.css
  mars/web/static/css/bootstrap.css.map
  mars/web/static/css/bootstrap.min.css.map
  mars/web/static/css/font-awesome.css
  mars/web/static/js/bootstrap.js
  mars/worker/__main__.py
  mars/worker/service.py
Labels: backport, mod: deploy, type: bug, type: docs

#153 Include requirements-*.txt, pyx and pxd, exclude c file in MANIFEST.in
  .travis.yml
  MANIFEST.in
  requirements-extra.txt
Labels: to-be-backported, type: install

#155 [BACKPORT] Bug fixes on installation (scripts and extra requirement files in source dists) (#151, #153)
  .travis.yml
  MANIFEST.in
  bin/travis-upload.sh
  requirements-extra.txt
  scripts/mars-scheduler
  scripts/mars-web
  scripts/mars-worker
  setup.py
Labels: backport, type: install

#159 Fix --phy-mem arg error and BrokenPipeErrors under Python 2.7
  .travis.yml
  bin/fix-gevent-cov.sh
  mars/compat/__init__.py
  mars/worker/__main__.py
  mars/worker/service.py
Labels: mod: worker, to-be-backported, type: bug

#162 [BACKPORT] Fix --phy-mem arg error and BrokenPipeErrors under Python 2.7 (#159)
  mars/compat/__init__.py
  mars/worker/__main__.py
  mars/worker/service.py
Labels: backport, mod: worker, type: bug

#163 Use dataserializer to serde ndarray in protobuf and json serializers instead of numpy.save and numpy.load
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
Labels: mod: serialization, type: enhancement

#164 Add IndexField, SeriesField, DataFrameField for protobuf and json serializer, remove DataTuple for dataserializer
  mars/serialize/core.pxd
  mars/serialize/core.pyx
  mars/serialize/dataserializer.py
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/value.proto
  mars/serialize/protos/value_pb2.py
  mars/serialize/tests/test_serialize.py
  mars/worker/chunkstore.py
Labels: mod: serialization, type: feature

#168 Use miniconda to test on OSX
  .travis.yml
  bin/travis-prepare-osx.sh
  setup.py
Labels: type: tests

#170 Decouple services from applications & unify worker start logic
  .travis.yml
  bin/travis-prepare-osx.sh
  mars/base_app.py
  mars/compat/__init__.py
  mars/config.py
  mars/deploy/local/core.py
  mars/deploy/local/session.py
  mars/deploy/local/tests/test_cluster.py
  mars/kvstore.py
  mars/lib/sparse/core.py
  mars/scheduler/__main__.py
  mars/scheduler/tests/test_main.py
  mars/tensor/execution/array.py
  mars/tensor/execution/core.py
  mars/tensor/execution/fft.py
  mars/tensor/execution/linalg.py
  mars/web/__main__.py
  mars/web/session.py
  mars/worker/__main__.py
  mars/worker/service.py
  mars/worker/tests/test_main.py
  mars/worker/tests/test_service.py
Labels: mod: worker, type: enhancement, type: tests

#171 Fix parse error of cache_mem on v0.1
  mars/worker/__main__.py
Labels: mod: worker, type: bug

#166 Add batch support for broadcasts and local meta setting
  mars/scheduler/chunkmeta.py
  mars/scheduler/operand.py
  mars/scheduler/tests/test_chunkmeta.py
Labels: mod: scheduler, type: enhancement

#174 Fix random execute that a random tensor can have different results when executed in different sessions
  mars/_version.py
  mars/tensor/expressions/random/core.py
  mars/tests/test_session.py
Labels: mod: tensor, to-be-backported, type: bug

#178 [BACKPORT] Fix random execute that a random tensor can have different results when executed in different sessions
  mars/_version.py
  mars/tensor/expressions/random/core.py
  mars/tests/test_session.py
Labels: mod: tensor, type: bug

#181 Add contributing guide & remove tracing on tags
  .travis.yml
  CONTRIBUTING.rst
  README.rst
  conda-spec.txt
  docs/doc-requirements.txt
  docs/source/contributing.rst
  docs/source/index.rst
  mars/base_app.py
  setup.py
Labels: type: docs, type: install

#188 Fix CI failure under python 2.7 in osx
  .travis.yml
Labels: to-be-backported, type: tests

#189 [BACKPORT] Fix CI failure under python 2.7 in osx
  .travis.yml
Labels: backport, type: tests

#191 Fix serializing graph with a tiled tensor
  mars/core.py
  mars/dataframe/core.py
  mars/dataframe/expressions/tests/test_datasource.py
  mars/tensor/core.py
  mars/tensor/expressions/tests/test_core.py
Labels: mod: serialization, type: bug

#180 Replace executed tensor with fetch tensor
  mars/api.py
  mars/core.py
  mars/deploy/local/session.py
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/scheduler/graph.py
  mars/scheduler/service.py
  mars/scheduler/session.py
  mars/session.py
  mars/tensor/core.py
  mars/tensor/execution/datasource.py
  mars/tensor/expressions/datasource/__init__.py
  mars/tensor/expressions/datasource/core.py
  mars/tensor/expressions/fuse/core.py
  mars/tensor/expressions/tests/test_arithmetic.py
  mars/tensor/expressions/utils.py
  mars/tests/test_session.py
  mars/tests/test_utils.py
  mars/utils.py
  mars/web/session.py
  mars/web/tests/test_api.py
  mars/worker/calc.py
  mars/worker/execution.py
  mars/worker/tests/test_execution.py
  mars/worker/utils.py
Labels: mod: tensor, type: feature

#119 Pre-push operands into worker when the worker can be estimated
  mars/promise.py
  mars/scheduler/graph.py
  mars/scheduler/operand.py
  mars/scheduler/tests/test_operand_exec.py
  mars/scheduler/tests/test_operand_ut.py
  mars/tests/core.py
  mars/web/templates/worker_detail.html
  mars/web/tests/test_api.py
  mars/worker/execution.py
  mars/worker/status.py
  mars/worker/tests/test_execution.py
  mars/worker/utils.py
  requirements-dev.txt
Labels: mod: scheduler, mod: worker, type: enhancement

#198 Use fixed versions of dependencies to build wheels
  .travis.yml
  appveyor.yml
  bin/travis-build-wheels.sh
  bin/travis-upload.sh
  requirements-wheel.txt
Labels: to-be-backported, type: install
