Repository mars-project/mars, pull requests merged in 2019-03, with the labels that each got.

#207 Add worker-level fail-over support for single graph
  .travis.yml
  docs/source/distributed/fault-tolerance.rst
  docs/source/images/worker-failover-notification.svg
  docs/source/index.rst
  docs/source/locale/zh_CN/LC_MESSAGES/distributed/fault-tolerance.po
  mars/actors/pool/gevent_pool.pyx
  mars/cluster_info.py
  mars/config.py
  mars/errors.py
  mars/promise.py
  mars/scheduler/analyzer.py
  mars/scheduler/assigner.py
  mars/scheduler/chunkmeta.py
  mars/scheduler/graph.py
  mars/scheduler/operand.py
  mars/scheduler/resource.py
  mars/scheduler/session.py
  mars/scheduler/tests/op_delayer.py
  mars/scheduler/tests/test_graph.py
  mars/scheduler/tests/test_main.py
  mars/scheduler/tests/test_operand_exec.py
  mars/scheduler/tests/test_operand_ut.py
  mars/scheduler/tests/test_session.py
  mars/scheduler/utils.py
  mars/tests/core.py
  mars/tests/test_promise.py
  mars/utils.py
  mars/worker/calc.py
  mars/worker/chunkstore.py
  mars/worker/dispatcher.py
  mars/worker/execution.py
  mars/worker/spill.py
  mars/worker/taskqueue.py
  mars/worker/tests/test_dispatcher.py
  mars/worker/tests/test_execution.py
  mars/worker/tests/test_transfer.py
  mars/worker/transfer.py
Labels: mod: scheduler, mod: worker, type: feature

#249 Fix executor's behavior of result deletions
  mars/_version.py
  mars/executor.py
  mars/tensor/execution/tests/test_linalg_execute.py
Labels: mod: tensor, type: bug

#253 Fix TensorInv tile when input tensor has only one chunk
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/expressions/linalg/inv.py
Labels: mod: tensor, type: bug

#255 [BACKPORT] Fix TensorInv tiles for input tensor with one chunk
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/expressions/linalg/inv.py
Labels: backport, mod: tensor, type: bug

#254 Support mt.diag on sparse 2d tensor
  mars/lib/sparse/__init__.py
  mars/lib/sparse/matrix.py
  mars/tensor/execution/datasource.py
  mars/tensor/execution/tests/test_datasource_execute.py
  mars/tensor/expressions/datasource/array.py
  mars/tensor/expressions/datasource/diag.py
  mars/tensor/expressions/tests/test_core.py
Labels: mod: tensor, to be backported, type: enhancement

#236 Add shuffle capability in local mode
  mars/actors/pool/gevent_pool.pyx
  mars/actors/pool/tests/test_gevent_pool.py
  mars/executor.py
  mars/opcodes.py
  mars/operands/base.py
  mars/operands/core.py
  mars/scheduler/tests/test_chunkmeta.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/execution/__init__.py
  mars/tensor/execution/base.py
  mars/tensor/execution/core.py
  mars/tensor/execution/reshape.py
  mars/tensor/execution/tests/test_base_execute.py
  mars/tensor/expressions/core.py
  mars/tensor/expressions/reshape/reshape.py
  mars/tensor/expressions/tests/test_reshape.py
Labels: mod: tensor, type: feature

#259 [BACKPORT] Support mt.diag on sparse 2d tensor
  mars/actors/pool/gevent_pool.pyx
  mars/actors/pool/tests/test_gevent_pool.py
  mars/lib/sparse/__init__.py
  mars/lib/sparse/matrix.py
  mars/tensor/execution/datasource.py
  mars/tensor/execution/tests/test_datasource_execute.py
  mars/tensor/expressions/datasource/array.py
  mars/tensor/expressions/datasource/diag.py
  mars/tensor/expressions/tests/test_core.py
Labels: backport, mod: tensor, type: enhancement

#257 Fix solve_triangular operand's sparse attributes
  .coveragerc
  .coveragerc-tensor
  mars/lib/sparse/__init__.py
  mars/lib/sparse/matrix.py
  mars/lib/sparse/tests/test_sparse.py
  mars/lib/sparse/vector.py
  mars/tensor/execution/linalg.py
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/expressions/linalg/inv.py
  mars/tensor/expressions/linalg/solve.py
  mars/tensor/expressions/linalg/solve_triangular.py
  mars/tensor/expressions/reshape/reshape.py
  mars/tensor/expressions/tests/test_linalg.py
Labels: mod: tensor, to be backported, type: bug

#261 Use parallel build for coveralls
  .travis.yml
  mars/scheduler/tests/test_main.py
Labels: to be backported, type: tests

#262 [BACKPORT] Fix solve_triangular operand's sparse attributes & use parallel build for coveralls (#257, #261)
  .coveragerc
  .coveragerc-tensor
  .travis.yml
  mars/lib/sparse/__init__.py
  mars/lib/sparse/matrix.py
  mars/lib/sparse/tests/test_sparse.py
  mars/lib/sparse/vector.py
  mars/tensor/execution/linalg.py
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/expressions/linalg/inv.py
  mars/tensor/expressions/linalg/solve.py
  mars/tensor/expressions/linalg/solve_triangular.py
  mars/tensor/expressions/tests/test_linalg.py
Labels: backport, mod: tensor, type: bug, type: tests

#266 Remove rough_size from tensor & remove chunk registration when creation failed
  mars/executor.py
  mars/scheduler/analyzer.py
  mars/scheduler/assigner.py
  mars/scheduler/graph.py
  mars/scheduler/tests/test_assigner.py
  mars/scheduler/tests/test_graph.py
  mars/tensor/core.py
  mars/tensor/execution/arithmetic.py
  mars/tensor/execution/base.py
  mars/tensor/execution/cp.py
  mars/tensor/execution/indexing.py
  mars/tensor/execution/ne.py
  mars/tensor/execution/reshape.py
  mars/tensor/execution/tests/test_base_execute.py
  mars/tensor/execution/tests/test_index_execute.py
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/execution/tests/test_numexpr_execute.py
  mars/tensor/execution/utils.py
  mars/tensor/expressions/base/argwhere.py
  mars/tensor/expressions/base/repeat.py
  mars/tensor/expressions/fuse/core.py
  mars/tensor/expressions/indexing/getitem.py
  mars/tensor/expressions/indexing/nonzero.py
  mars/tensor/expressions/reshape/reshape.py
  mars/tensor/expressions/tests/test_base.py
  mars/tensor/expressions/tests/test_indexing.py
  mars/tensor/expressions/tests/test_reshape.py
  mars/tensor/expressions/utils.py
  mars/worker/chunkstore.py
  mars/worker/execution.py
Labels: mod: tensor, to be backported, type: enhancement

#272 Remove chunk square limitation in lu decomposition
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/expressions/linalg/lu.py
  mars/tensor/expressions/tests/test_linalg.py
Labels: mod: tensor, to be backported, type: enhancement

#273 [BACKPORT] Remove rough_size from tensor (#266)
  mars/scheduler/assigner.py
  mars/scheduler/graph.py
  mars/scheduler/tests/test_assigner.py
  mars/scheduler/tests/test_graph.py
  mars/tensor/core.py
  mars/tensor/execution/arithmetic.py
  mars/tensor/execution/core.py
  mars/tensor/execution/cp.py
  mars/tensor/execution/indexing.py
  mars/tensor/execution/ne.py
  mars/tensor/execution/tests/test_index_execute.py
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/execution/tests/test_numexpr_execute.py
  mars/tensor/execution/utils.py
  mars/tensor/expressions/base/argwhere.py
  mars/tensor/expressions/base/repeat.py
  mars/tensor/expressions/fuse/core.py
  mars/tensor/expressions/indexing/getitem.py
  mars/tensor/expressions/indexing/nonzero.py
  mars/tensor/expressions/tests/test_base.py
  mars/tensor/expressions/tests/test_indexing.py
  mars/tensor/expressions/utils.py
  mars/worker/chunkstore.py
  mars/worker/execution.py
Labels: backport, mod: tensor, type: enhancement

#274 Fix kernel_mode decorator when an exception occurred in wrapped function
  mars/tests/test_eager_mode.py
  mars/utils.py
Labels: mod: tensor, type: bug

#279 Pass sparse parameter when create fetch operand
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/scheduler/graph.py
  mars/tensor/expressions/fetch/core.py
  mars/tensor/expressions/utils.py
  mars/utils.py
Labels: mod: tensor, to be backported, type: bug

#280 [BACKPORT] Add sparse property for fetch operand (#279)
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/graph.py
  mars/tensor/execution/core.py
  mars/tensor/expressions/datasource/core.py
  mars/utils.py
Labels: backport

#284 Add sparse property for fuse operand
  mars/fuse.pyx
  mars/tensor/expressions/fuse/core.py
  mars/tensor/expressions/tests/test_fuse.py
Labels: mod: tensor, to be backported, type: bug

#285 Add more Chinese translations
  docs/source/locale/zh_CN/LC_MESSAGES/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/binary.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/creation.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/datasource.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/eager-mode.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/execution.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/fft.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/indexing.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/linalg.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/logic.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/manipulation.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/math.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/overview.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/random.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/routines.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/set.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/sorting.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/sparse.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/statistics.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/ufunc.po
Labels: to be backported, type: docs

#287 Use new allocation strategy to circumvent inflating granularity in arrow
  .coveragerc
  .coveragerc-tensor
  mars/errors.py
  mars/executor.py
  mars/promise.py
  mars/tensor/execution/linalg.py
  mars/tests/test_promise.py
  mars/worker/chunkholder.py
  mars/worker/chunkstore.py
  mars/worker/execution.py
  mars/worker/taskqueue.py
  mars/worker/tests/test_chunkholder.py
  mars/worker/tests/test_daemon.py
  mars/worker/utils.py
Labels: mod: worker, to be backported, type: bug

#291 Fix issues when creating generated docs && fix untranslated titles
  docs/Makefile
  docs/source/contributing.rst
  docs/source/locale/zh_CN/LC_MESSAGES/contributing.po
  docs/source/locale/zh_CN/LC_MESSAGES/distributed/fault-tolerance.po
  docs/source/locale/zh_CN/LC_MESSAGES/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/install.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/binary.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/creation.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/datasource.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/eager-mode.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/execution.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/fft.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/generated/mars.tensor.core.Tensor.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/generated/mars.tensor.inner.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/indexing.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/linalg.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/logic.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/manipulation.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/math.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/overview.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/random.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/routines.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/set.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/sorting.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/sparse.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/statistics.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/ufunc.po
  docs/source/norm_zh.py
  docs/source/tensor/datasource.rst
  docs/source/tensor/eager-mode.rst
  docs/source/tensor/execution.rst
  docs/source/tensor/generated/mars.tensor.inner.rst
  docs/source/tensor/linalg.rst
  docs/source/tensor/random.rst
  docs/source/tensor/sparse.rst
Labels: to be backported, type: docs

#293 [BACKPORT] Use new allocation strategy & Add sparse property for fuse operand & add Chinese translations (#284, #285, #287, #291)
  docs/Makefile
  docs/source/distributed/states.rst
  docs/source/distributed/worker-schedule.rst
  docs/source/locale/zh_CN/LC_MESSAGES/distributed/architecture.po
  docs/source/locale/zh_CN/LC_MESSAGES/distributed/prepare.po
  docs/source/locale/zh_CN/LC_MESSAGES/distributed/schedule-policy.po
  docs/source/locale/zh_CN/LC_MESSAGES/distributed/states.po
  docs/source/locale/zh_CN/LC_MESSAGES/distributed/worker-schedule.po
  docs/source/locale/zh_CN/LC_MESSAGES/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/install.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/binary.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/creation.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/datasource.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/execution.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/fft.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/generated/mars.tensor.inner.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/indexing.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/linalg.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/logic.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/manipulation.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/math.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/overview.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/random.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/routines.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/set.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/sorting.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/sparse.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/statistics.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/ufunc.po
  docs/source/norm_zh.py
  docs/source/tensor/datasource.rst
  docs/source/tensor/execution.rst
  docs/source/tensor/generated/mars.tensor.inner.rst
  docs/source/tensor/linalg.rst
  docs/source/tensor/random.rst
  docs/source/tensor/sparse.rst
  mars/_version.py
  mars/errors.py
  mars/fuse.pyx
  mars/promise.py
  mars/tensor/execution/core.py
  mars/tensor/execution/linalg.py
  mars/tensor/expressions/fuse/core.py
  mars/tensor/expressions/tests/test_fuse.py
  mars/tests/test_promise.py
  mars/worker/chunkholder.py
  mars/worker/chunkstore.py
  mars/worker/execution.py
  mars/worker/service.py
  mars/worker/tests/test_chunkholder.py
  mars/worker/tests/test_daemon.py
  mars/worker/utils.py
Labels: backport, mod: tensor, mod: worker, type: docs

#294 Support execute graph without fusion
  mars/api.py
  mars/deploy/local/session.py
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/scheduler/graph.py
  mars/scheduler/session.py
  mars/tests/test_session.py
  mars/web/api.py
  mars/web/session.py
Labels: type: enhancement

#295 [BACKPORT] Support execute graph without fusion
  mars/api.py
  mars/deploy/local/session.py
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/graph.py
  mars/scheduler/session.py
  mars/tensor/execution/core.py
  mars/tests/test_session.py
  mars/web/api.py
  mars/web/session.py
Labels: backport, type: enhancement

#296 [BACKPORT] Remove chunk square limitation in lu decomposition
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/expressions/linalg/lu.py
  mars/tensor/expressions/tests/test_linalg.py
Labels: backport, mod: tensor, type: enhancement

#228 Fix create existing operand actor
  docs/source/conf.py
  docs/source/locale/zh_CN/LC_MESSAGES/index.po
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/graph.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/common.py
  mars/scheduler/tests/test_main.py
Labels: mod: scheduler, type: bug

#301 Fix long latency caused by synchronous has_actor
  .travis.yml
  mars/scheduler/analyzer.py
  mars/scheduler/graph.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/common.py
  mars/scheduler/tests/test_analyzer.py
  mars/scheduler/tests/test_graph.py
  mars/utils.py
  mars/worker/chunkholder.py
  mars/worker/execution.py
  mars/worker/utils.py
Labels: mod: scheduler, type: enhancement

#304 Validate axis for reduction
  mars/tensor/expressions/reduction/core.py
  mars/tensor/expressions/tests/test_reduction.py
  mars/tensor/expressions/utils.py
Labels: mod: tensor, to be backported, type: bug

#305 [BACKPORT] Validate axis for reduction
  .travis.yml
  mars/tensor/expressions/reduction/core.py
  mars/tensor/expressions/tests/test_reduction.py
  mars/tensor/expressions/utils.py
Labels: backport, mod: tensor, type: bug

#309 Fix execution size for fuse nodes
  mars/executor.py
  mars/tests/test_executor.py
Labels: mod: tensor, to be backported, type: bug

#310 [BACKPORT] Fix execution size for fuse nodes (#309)
  mars/tensor/execution/core.py
  mars/tensor/execution/tests/test_core_execute.py
Labels: backport, mod: tensor, type: bug

#312 [Backport] Support arithmetic operators on only nonzero elements in a sparse matrix
  README.rst
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/lib/sparse/matrix.py
  mars/lib/sparse/tests/test_sparse.py
  mars/lib/sparse/vector.py
  mars/tensor/execution/reduction.py
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/expressions/arithmetic/add.py
  mars/tensor/expressions/arithmetic/arccos.py
  mars/tensor/expressions/arithmetic/arccosh.py
  mars/tensor/expressions/arithmetic/copysign.py
  mars/tensor/expressions/arithmetic/cos.py
  mars/tensor/expressions/arithmetic/cosh.py
  mars/tensor/expressions/arithmetic/exp.py
  mars/tensor/expressions/arithmetic/exp2.py
  mars/tensor/expressions/arithmetic/expm1.py
  mars/tensor/expressions/arithmetic/floordiv.py
  mars/tensor/expressions/arithmetic/hypot.py
  mars/tensor/expressions/arithmetic/invert.py
  mars/tensor/expressions/arithmetic/isfinite.py
  mars/tensor/expressions/arithmetic/isreal.py
  mars/tensor/expressions/arithmetic/log.py
  mars/tensor/expressions/arithmetic/log10.py
  mars/tensor/expressions/arithmetic/log2.py
  mars/tensor/expressions/arithmetic/logaddexp.py
  mars/tensor/expressions/arithmetic/logaddexp2.py
  mars/tensor/expressions/arithmetic/logical_not.py
  mars/tensor/expressions/arithmetic/logical_or.py
  mars/tensor/expressions/arithmetic/logical_xor.py
  mars/tensor/expressions/arithmetic/reciprocal.py
  mars/tensor/expressions/arithmetic/sinc.py
  mars/tensor/expressions/arithmetic/subtract.py
  mars/tensor/expressions/arithmetic/truediv.py
  mars/tensor/expressions/rechunk/rechunk.py
  mars/tensor/expressions/tests/test_arithmetic.py
  mars/tensor/expressions/tests/test_fuse.py
  mars/tensor/expressions/tests/test_rechunk.py
Labels: backport, mod: tensor, type: enhancement

#260 Add shuffle capability in distributed environment
  mars/_version.py
  mars/executor.py
  mars/opcodes.py
  mars/operands/base.py
  mars/operands/fetch.py
  mars/scheduler/assigner.py
  mars/scheduler/chunkmeta.py
  mars/scheduler/graph.py
  mars/scheduler/operands/__init__.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/core.py
  mars/scheduler/operands/shuffle.py
  mars/scheduler/operands/tests/test_common_exec.py
  mars/scheduler/tests/test_graph.py
  mars/scheduler/tests/test_main.py
  mars/scheduler/utils.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/execution/fetch.py
  mars/tensor/execution/reshape.py
  mars/tensor/expressions/core.py
  mars/tensor/expressions/fetch/__init__.py
  mars/tensor/expressions/fetch/core.py
  mars/tensor/expressions/reshape/reshape.py
  mars/utils.py
  mars/worker/calc.py
  mars/worker/chunkholder.py
  mars/worker/execution.py
  mars/worker/spill.py
  mars/worker/tests/test_execution.py
  mars/worker/transfer.py
  mars/worker/utils.py
Labels: mod: scheduler, mod: worker

#313 Implement operands for SparseVector
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/lib/sparse/matrix.py
  mars/lib/sparse/tests/test_sparse.py
  mars/lib/sparse/vector.py
  mars/tensor/execution/datasource.py
  mars/tensor/execution/tests/test_linalg_execute.py
Labels: mod: tensor, type: enhancement

#315 [BACKPORT] Implement execution of operands for SparseVector (#313)
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/lib/sparse/matrix.py
  mars/lib/sparse/tests/test_sparse.py
  mars/lib/sparse/vector.py
  mars/tensor/execution/datasource.py
  mars/tensor/execution/tests/test_linalg_execute.py
Labels: backport, mod: tensor, type: enhancement

#314 Fix arithmetic calculation with `where`
  mars/tensor/execution/arithmetic.py
  mars/tensor/execution/tests/test_arithmetic_execute.py
  mars/tensor/expressions/arithmetic/core.py
Labels: mod: tensor, to be backported, type: bug
