Repository mars-project/mars, pull requests merged in 2019-02, with the labels that each got.

#202 Fix starting with multiple schedulers with --schedulers
  mars/base_app.py
  mars/cluster_info.py
  mars/core.py
  mars/lib/gipc.pyx
  mars/operands/random.py
  mars/scheduler/service.py
  mars/scheduler/tests/test_kvstore.py
  mars/scheduler/tests/test_main.py
  mars/worker/execution.py
  mars/worker/service.py
Labels: mod: scheduler, to-be-backported, type: bug

#206 Fix process clean up when local cluster terminates
  mars/base_app.py
  mars/deploy/local/core.py
  mars/deploy/local/tests/test_cluster.py
  mars/lib/gipc.pyx
  mars/scheduler/chunkmeta.py
  mars/tensor/expressions/base/expand_dims.py
  mars/tensor/expressions/random/dirichlet.py
  mars/worker/service.py
Labels: mod: actor, to-be-backported, type: bug

#208 [BACKPORT] Fix process clean up when local cluster terminates (#206)
  mars/base_app.py
  mars/deploy/local/core.py
  mars/deploy/local/tests/test_cluster.py
  mars/lib/gipc.pyx
  mars/scheduler/chunkmeta.py
  mars/tensor/expressions/base/expand_dims.py
  mars/tensor/expressions/random/dirichlet.py
  mars/worker/service.py
Labels: backport, mod: actor, type: bug

#200 Support eager mode
  README.rst
  docs/source/index.rst
  docs/source/tensor/eager-mode.rst
  docs/source/tensor/index.rst
  mars/config.py
  mars/core.py
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/session.py
  mars/tensor/core.py
  mars/tensor/execution/tests/test_arithmetic_execute.py
  mars/tensor/execution/tests/test_numexpr_execute.py
  mars/tensor/expressions/arithmetic/clip.py
  mars/tensor/expressions/arithmetic/core.py
  mars/tensor/expressions/base/split.py
  mars/tensor/expressions/indexing/getitem.py
  mars/tensor/expressions/indexing/nonzero.py
  mars/tensor/expressions/indexing/setitem.py
  mars/tensor/expressions/indexing/unravel_index.py
  mars/tensor/expressions/linalg/lu.py
  mars/tensor/expressions/linalg/qr.py
  mars/tensor/expressions/linalg/svd.py
  mars/tensor/expressions/random/core.py
  mars/tensor/expressions/reduction/core.py
  mars/tests/test_eager_mode.py
  mars/tests/test_utils.py
  mars/tiles.py
  mars/utils.py
Labels: mod: tensor, type: feature

#210 Fix bug that TensorZeros generate same key even if their shapes are different in TensorDiag.tile
  mars/tensor/expressions/datasource/core.py
  mars/tensor/expressions/tests/test_core.py
Labels: mod: tensor, to-be-backported, type: bug

#213 [BACKPORT] Fix bug that TensorZeros generate same key even if their shapes are different in TensorDiag.tile (#210)
  mars/tensor/expressions/datasource/core.py
  mars/tensor/expressions/tests/test_core.py
Labels: backport, mod: tensor, type: bug

#193 Separate graph analyzer from graph and add test cases
  mars/actors/pool/gevent_pool.pyx
  mars/actors/pool/messages.pyx
  mars/actors/pool/tests/test_gevent_pool.py
  mars/errors.py
  mars/graph.pyx
  mars/scheduler/analyzer.py
  mars/scheduler/graph.py
  mars/scheduler/kvstore.py
  mars/scheduler/operand.py
  mars/scheduler/tests/test_analyzer.py
  mars/scheduler/tests/test_graph.py
  mars/scheduler/tests/test_kvstore.py
  mars/scheduler/tests/test_operand_exec.py
  mars/scheduler/tests/test_operand_ut.py
  mars/tests/test_graph.py
  mars/worker/tests/test_execution.py
Labels: mod: scheduler, type: enhancement

#212 Refactor executor to do operand-oriented execution and support actor operation
  mars/core.py
  mars/executor.py
  mars/graph.pyx
  mars/tensor/core.py
  mars/tensor/execution/optimizes/cp.py
  mars/tensor/execution/optimizes/ne.py
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/execution/tests/test_prefetch.py
  mars/tensor/expressions/arithmetic/equal.py
  mars/tensor/expressions/datasource/core.py
  mars/tensor/expressions/tests/test_arithmetic.py
  mars/tensor/expressions/tests/test_core.py
  mars/tests/test_eager_mode.py
  mars/tests/test_executor.py
Labels: type: enhancement

#216 Fix bug that chunks of ones and zeros with same shape generated different key
  mars/scheduler/tests/test_analyzer.py
  mars/tensor/execution/tests/test_core_execute.py
  mars/tensor/expressions/datasource/core.py
  mars/tensor/expressions/tests/test_core.py
  mars/tests/test_eager_mode.py
  mars/tests/test_session.py
  mars/worker/tests/test_main.py
Labels: mod: tensor, to-be-backported, type: bug

#218 Add __mars_tokenize__ protocol support
  mars/_utils.pxd
  mars/_utils.pyx
  mars/actors/pool/utils.pyx
  mars/dataframe/core.py
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/utils.py
  setup.py
Labels: type: enhancement

#221 Fix execute one of the multiple output tensors
  mars/executor.py
  mars/tests/test_session.py
Labels: mod: tensor, type: bug

#215 Support sparse for some operators in mt.linalg
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/lib/sparse/core.py
  mars/lib/sparse/matrix.py
  mars/lib/sparse/tests/test_sparse.py
  mars/lib/sparse/vector.py
  mars/operands/linalg.py
  mars/serialize/dataserializer.py
  mars/serialize/tests/test_serialize.py
  mars/tensor/execution/linalg.py
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/expressions/arithmetic/core.py
  mars/tensor/expressions/arithmetic/utils.py
  mars/tensor/expressions/linalg/inv.py
  mars/tensor/expressions/linalg/lu.py
  mars/tensor/expressions/linalg/solve_triangular.py
  mars/tensor/expressions/tests/test_linalg.py
Labels: mod: tensor, to-be-backported, type: feature

#225 [BACKPORT] Fix bug that chunks of ones and zeros with same shape generated different key
  mars/tensor/execution/tests/test_core_execute.py
  mars/tensor/expressions/datasource/core.py
  mars/tensor/expressions/tests/test_core.py
Labels: backport, mod: tensor, type: bug

#229 Use conda for all configurations
  .travis.yml
  bin/travis-install-conda.sh
  bin/travis-prepare-osx.sh
  mars/deploy/local/tests/__init__.py
Labels: type: tests

#226 Use random object id in plasma store to avoid potential collision
  mars/scheduler/tests/test_kvstore.py
  mars/scheduler/tests/test_main.py
  mars/tensor/core.py
  mars/tensor/expressions/tests/test_base.py
  mars/worker/chunkholder.py
  mars/worker/chunkstore.py
  mars/worker/service.py
  mars/worker/tests/test_chunkholder.py
  mars/worker/tests/test_execution.py
  mars/worker/tests/test_transfer.py
  mars/worker/transfer.py
  mars/worker/utils.py
Labels: mod: worker, type: enhancement

#235 [BACKPORT] Add stub for execute() and __dir__ support in Tensor to facilitate code completion
  mars/scheduler/tests/test_kvstore.py
  mars/scheduler/tests/test_main.py
  mars/tensor/core.py
  mars/tensor/expressions/tests/test_base.py
Labels: backport, mod: tensor, type: enhancement

#238 [BACKPORT] Support sparse for part of linalg operands.
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/lib/sparse/core.py
  mars/lib/sparse/matrix.py
  mars/lib/sparse/tests/test_sparse.py
  mars/lib/sparse/vector.py
  mars/operands/linalg.py
  mars/serialize/dataserializer.py
  mars/serialize/tests/test_serialize.py
  mars/tensor/execution/linalg.py
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/expressions/arithmetic/core.py
  mars/tensor/expressions/arithmetic/utils.py
  mars/tensor/expressions/linalg/inv.py
  mars/tensor/expressions/linalg/lu.py
  mars/tensor/expressions/linalg/solve_triangular.py
  mars/tensor/expressions/tests/test_linalg.py
Labels: backport, mod: tensor, type: feature

#237 Add TensorInv operand to fix bug in mt.linalg.inv
  mars/opcodes.py
  mars/operands/linalg.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/expressions/linalg/inv.py
  mars/tensor/expressions/linalg/matmul.py
  mars/tensor/expressions/linalg/tensordot.py
  mars/tensor/expressions/tests/test_linalg.py
Labels: mod: tensor, to-be-backported, type: bug

#241 [Backport] Add TensorInv operand to fix mt.linalg.inv
  mars/opcodes.py
  mars/operands/linalg.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/execution/tests/test_linalg_execute.py
  mars/tensor/expressions/linalg/inv.py
  mars/tensor/expressions/linalg/matmul.py
  mars/tensor/expressions/linalg/tensordot.py
  mars/tensor/expressions/tests/test_linalg.py
Labels: backport, mod: tensor, type: bug

#242 Assign initials given existing data in eager mode
  mars/graph.pyx
  mars/scheduler/analyzer.py
  mars/scheduler/graph.py
  mars/scheduler/tests/test_analyzer.py
  mars/scheduler/tests/test_graph.py
  mars/tensor/execution/tests/test_datasource_execute.py
  mars/tests/test_graph.py
Labels: mod: scheduler, type: enhancement
