Repository mars-project/mars, pull requests merged in 2020-06, with the labels that each got.

#1262 Fix `NearestNeighbors` that run failed in cluster mode
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/graph.py
Labels: mod: learn, to be backported, type: bug

#1263 Add support for {DataFrame,Series,Index}.drop
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.drop.rst
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.pop.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.drop.rst
  docs/source/dataframe/reference/frame.rst
  docs/source/dataframe/reference/series.rst
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.DataFrame.drop.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.DataFrame.pop.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.Series.drop.po
  mars/dataframe/base/__init__.py
  mars/dataframe/base/drop.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/datasource/index.py
  mars/serialize/protos/operand.proto
  mars/tests/core.py
Labels: mod: dataframe, to be backported, type: feature

#1264 Add {DataFrame,Series}.to_sql() and Series.to_csv()
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.to_sql.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.to_csv.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.to_sql.rst
  docs/source/dataframe/reference/frame.rst
  docs/source/dataframe/reference/series.rst
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.DataFrame.to_sql.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.Series.to_csv.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.Series.to_sql.po
  mars/_utils.pyx
  mars/dataframe/datasource/read_sql_table.py
  mars/dataframe/datastore/__init__.py
  mars/dataframe/datastore/tests/test_datastore_execute.py
  mars/dataframe/datastore/to_csv.py
  mars/dataframe/datastore/to_sql.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
Labels: mod: dataframe, to be backported, type: feature

#1268 [BACKPORT] Add support for {DataFrame,Series,Index}.drop (#1263)
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.drop.rst
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.pop.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.drop.rst
  docs/source/dataframe/reference/frame.rst
  docs/source/dataframe/reference/series.rst
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.DataFrame.drop.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.DataFrame.pop.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.Series.drop.po
  mars/dataframe/base/__init__.py
  mars/dataframe/base/drop.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/datasource/index.py
  mars/serialize/protos/operand.proto
  mars/tests/core.py
Labels: backport, mod: dataframe, type: feature

#1267 [BACKPORT] Add {DataFrame,Series}.to_sql() and Series.to_csv() (#1264)
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.to_sql.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.to_csv.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.to_sql.rst
  docs/source/dataframe/reference/frame.rst
  docs/source/dataframe/reference/series.rst
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.DataFrame.to_sql.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.Series.to_csv.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.Series.to_sql.po
  mars/_utils.pyx
  mars/dataframe/datasource/read_sql_table.py
  mars/dataframe/datastore/__init__.py
  mars/dataframe/datastore/tests/test_datastore_execute.py
  mars/dataframe/datastore/to_csv.py
  mars/dataframe/datastore/to_sql.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
Labels: backport, mod: dataframe, type: feature

#1275 [BACKPORT] Fix graph hang on tile failure and execution failure (#1272)
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/graph.py
  mars/utils.py
Labels: backport, mod: scheduler, type: bug

#1276 Fix failure when executing None-result spawn functions
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/web/server.py
  mars/worker/service.py
  mars/worker/storage/client.py
Labels: mod: remote, to be backported, type: bug

#1280 [BACKPORT] Fix failure for None-result spawn functions (#1276)
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/web/server.py
  mars/worker/service.py
  mars/worker/storage/client.py
Labels: backport, mod: remote, type: bug

#1277 Add MarsDistributor for tsfresh library
  .github/workflows/ci.yml
  mars/api.py
  mars/learn/contrib/tsfresh/__init__.py
  mars/learn/contrib/tsfresh/core.py
  mars/learn/contrib/tsfresh/tests/__init__.py
  mars/learn/contrib/tsfresh/tests/integrated/__init__.py
  mars/learn/contrib/tsfresh/tests/integrated/test_distributed_tsfresh.py
  mars/learn/contrib/tsfresh/tests/test_tsfresh.py
  mars/remote/utils.py
  mars/session.py
  mars/web/server.py
  mars/web/session.py
Labels: mod: learn, to be backported, type: feature

#1281 [BACKPORT] Add MarsDistributor for tsfresh library (#1277)
  .github/workflows/ci.yml
  mars/api.py
  mars/learn/contrib/tsfresh/__init__.py
  mars/learn/contrib/tsfresh/core.py
  mars/learn/contrib/tsfresh/tests/__init__.py
  mars/learn/contrib/tsfresh/tests/integrated/__init__.py
  mars/learn/contrib/tsfresh/tests/integrated/test_distributed_tsfresh.py
  mars/learn/contrib/tsfresh/tests/test_tsfresh.py
  mars/remote/utils.py
  mars/session.py
  mars/web/server.py
  mars/web/session.py
Labels: backport, mod: learn, type: feature

#1283 Fix shape calculation in TensorIndex for tensor.__setitem__
  mars/tensor/indexing/getitem.py
Labels: mod: tensor, to be backported, type: bug

#1285 Implements `{DataFrame,Series,Index}.drop_duplicates`
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.drop_duplicates.rst
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.drop_duplicates.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.rst
  docs/source/dataframe/reference/frame.rst
  docs/source/dataframe/reference/series.rst
  mars/dataframe/base/__init__.py
  mars/dataframe/base/drop_duplicates.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/merge/concat.py
  mars/dataframe/utils.py
  mars/learn/__init__.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#1287 Support fuse for Mars Remote
  mars/deploy/local/tests/test_cluster.py
  mars/remote/core.py
  mars/remote/operands.py
  mars/remote/tests/test_remote_function.py
Labels: mod: remote, to be backported, type: bug

#1284 Implements DataFrame.melt
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.melt.rst
  docs/source/dataframe/reference/api/mars.dataframe.melt.rst
  docs/source/dataframe/reference/frame.rst
  docs/source/dataframe/reference/general_functions.rst
  mars/dataframe/__init__.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/melt.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/deploy/kubernetes/config.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#1289 [ENH] Allow client-side to use pickle to serialize / deserialize tensor data
  mars/api.py
  mars/config.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_hdfs.py
  mars/deploy/local/tests/test_cluster.py
  mars/filesystem.py
  mars/graph.pyx
  mars/serialize/core.pxd
  mars/serialize/core.pyx
  mars/serialize/dataserializer.py
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/tests/test_serialize.py
  mars/session.py
  mars/utils.py
  mars/web/apihandlers.py
  mars/web/server.py
  mars/web/session.py
  mars/web/tests/test_api.py
  mars/worker/dataio.py
  mars/worker/storage/diskhandler.py
  mars/worker/storage/sharedhandler.py
  mars/worker/storage/tests/test_disk_io.py
  mars/worker/storage/tests/test_shared_io.py
  mars/worker/tests/test_dataio.py
  mars/worker/transfer.py
  requirements-extra.txt
  requirements.txt
Labels: mod: serialization, mod: web, to be backported, type: enhancement

#1291 [ENH] Allow client-side to use pickle to serialize / deserialize tensor data (#1289)
  mars/api.py
  mars/config.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_hdfs.py
  mars/deploy/local/tests/test_cluster.py
  mars/filesystem.py
  mars/graph.pyx
  mars/serialize/core.pxd
  mars/serialize/core.pyx
  mars/serialize/dataserializer.py
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/tests/test_serialize.py
  mars/session.py
  mars/utils.py
  mars/web/apihandlers.py
  mars/web/server.py
  mars/web/session.py
  mars/web/tests/test_api.py
  mars/worker/dataio.py
  mars/worker/storage/diskhandler.py
  mars/worker/storage/sharedhandler.py
  mars/worker/storage/tests/test_disk_io.py
  mars/worker/storage/tests/test_shared_io.py
  mars/worker/tests/test_dataio.py
  mars/worker/transfer.py
  requirements-extra.txt
  requirements.txt
Labels: backport, mod: serialization, mod: web, type: enhancement

#1293 [BACKPORT] Fix shape calculation in TensorIndex for tensor.__setitem__ (#1283)
  mars/tensor/indexing/getitem.py
Labels: backport, mod: tensor, type: bug

#1292 [BACKPORT] Implements `{DataFrame,Series,Index}.drop_duplicates` (#1285)
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.drop_duplicates.rst
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.drop_duplicates.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.rst
  docs/source/dataframe/reference/frame.rst
  docs/source/dataframe/reference/series.rst
  mars/dataframe/base/__init__.py
  mars/dataframe/base/drop_duplicates.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/merge/concat.py
  mars/dataframe/utils.py
  mars/learn/__init__.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#1294 [BACKPORT] Support fuse for Mars Remote (#1287)
  mars/deploy/local/tests/test_cluster.py
  mars/remote/core.py
  mars/remote/operands.py
  mars/remote/tests/test_remote_function.py
Labels: backport, mod: remote, type: bug

#1295 [BACKPORT] Implement DataFrame.melt (#1284)
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.melt.rst
  docs/source/dataframe/reference/api/mars.dataframe.melt.rst
  docs/source/dataframe/reference/frame.rst
  docs/source/dataframe/reference/general_functions.rst
  mars/dataframe/__init__.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/melt.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/deploy/kubernetes/config.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#1296 Support tileables as arguments for spawned functions
  mars/_utils.pyx
  mars/context.py
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/remote/core.py
  mars/remote/tests/test_remote_function.py
  mars/remote/utils.py
  mars/session.py
  mars/utils.py
Labels: mod: remote, to be backported, type: feature

#1298 [BACKPORT] Support tileables as arguments for spawned functions (#1296)
  mars/_utils.pyx
  mars/context.py
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/remote/core.py
  mars/remote/tests/test_remote_function.py
  mars/remote/utils.py
  mars/session.py
  mars/utils.py
Labels: backport, mod: remote, type: feature

#1302 Fix `mt.linalg.norm` when chunk shape on axis > 1
  mars/tensor/linalg/norm.py
  mars/tensor/linalg/tests/test_linalg_execute.py
Labels: mod: tensor, to be backported, type: bug

#1303 [BACKPORT] Fix `mt.linalg.norm` when chunk shape on axis > 1 (#1302)
  mars/tensor/linalg/norm.py
  mars/tensor/linalg/tests/test_linalg_execute.py
Labels: backport, mod: tensor, type: bug

#1307 Fix error in calc_data_size() for GroupByWrapper
  mars/lib/groupby_wrapper.py
  mars/lib/tests/test_lib.py
  mars/utils.py
  mars/worker/execution.py
Labels: mod: dataframe, to be backported, type: bug

#1265 Support create session from environment variables
  mars/api.py
  mars/context.py
  mars/dataframe/__init__.py
  mars/dataframe/initializer.py
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/learn/contrib/pytorch/dataset.py
  mars/learn/contrib/pytorch/run_script.py
  mars/learn/contrib/pytorch/tests/dataset_sample.py
  mars/learn/contrib/pytorch/tests/integrated/test_distributed_dataset.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/session.py
  mars/tensor/__init__.py
  mars/tensor/datasource/__init__.py
  mars/tensor/datasource/array.py
  mars/tests/test_session.py
  mars/web/apihandlers.py
  mars/web/session.py
Labels: to be backported, type: enhancement

#1321 Trigger execution in `check_consistent_length` when arrays has unknown shape
  mars/learn/utils/tests/test_validation.py
  mars/learn/utils/validation.py
Labels: mod: learn, to be backported, type: bug

#1320 Fix wrong columns value in `reset_index`
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_comparison.py
  mars/dataframe/base/reset_index.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
Labels: mod: dataframe, to be backported, type: bug

#1319 Fix `build_df` when input DataFrame has duplicate columns
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/dataframe/utils.py
Labels: mod: dataframe, to be backported, type: bug

#1317 Implements {Series,Index}.to_frame() and Index.to_series()
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.Series.to_frame.po
  docs/source/reference/dataframe/api/mars.dataframe.Series.to_frame.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/__init__.py
  mars/dataframe/core.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/initializer.py
  mars/dataframe/tests/test_core.py
  mars/dataframe/tests/test_utils.py
  mars/tensor/datasource/from_dataframe.py
  mars/tensor/datasource/tests/test_datasource_execute.py
  mars/web/templates/base.html
Labels: mod: dataframe, to be backported, type: feature

#1322 [BACKPORT] Support create session from environment variables (#1265)
  mars/api.py
  mars/context.py
  mars/dataframe/__init__.py
  mars/dataframe/initializer.py
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/learn/contrib/pytorch/dataset.py
  mars/learn/contrib/pytorch/run_script.py
  mars/learn/contrib/pytorch/tests/dataset_sample.py
  mars/learn/contrib/pytorch/tests/integrated/test_distributed_dataset.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/session.py
  mars/tensor/__init__.py
  mars/tensor/datasource/__init__.py
  mars/tensor/datasource/array.py
  mars/tests/test_session.py
  mars/web/apihandlers.py
  mars/web/session.py
Labels: backport, type: enhancement

#1323 [BACKPORT] Implements {Series,Index}.to_frame() and Index.to_series() (#1317)
  docs/source/dataframe/reference/series.rst
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.Series.to_frame.po
  mars/dataframe/__init__.py
  mars/dataframe/core.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/initializer.py
  mars/dataframe/tests/test_core.py
  mars/dataframe/tests/test_utils.py
  mars/tensor/datasource/from_dataframe.py
  mars/tensor/datasource/tests/test_datasource_execute.py
  mars/web/templates/base.html
Labels: backport, mod: dataframe, type: feature

#1325 [BACKPORT] Trigger execution in `check_consistent_length` when arrays have unknown shape (#1321)
  mars/learn/utils/tests/test_validation.py
  mars/learn/utils/validation.py
Labels: backport, mod: learn, type: bug

#1326 Support setting columns for DataFrame
  mars/core.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/set_label.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#1324 [BACKPORT] Fix `build_df` when input DataFrame has duplicate columns (#1319)
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/dataframe/utils.py
Labels: backport, mod: dataframe, type: bug

#1327 [BACKPORT] Support setting columns for DataFrame (#1326)
  mars/core.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/set_label.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#1329 [BACKPORT] Fix error in calc_data_size() for GroupByWrapper (#1307)
  mars/lib/groupby_wrapper.py
  mars/lib/tests/test_lib.py
  mars/utils.py
  mars/worker/execution.py
Labels: backport, mod: dataframe, type: bug

#1330 [BACKPORT]Fix wrong columns value in `reset_index` (#1320)
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_comparison.py
  mars/dataframe/base/reset_index.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
Labels: backport, mod: dataframe, type: bug

#1332 Use latest pandas wheel for Python 3.8
  requirements-wheel.txt
Labels: mod: deploy

#1333 Use latest pandas wheel for Python 3.8
  requirements-wheel.txt
Labels: mod: deploy

#1335 Remove reliance on ``WHERE 1=0`` in ``read_sql``
  mars/dataframe/datasource/read_sql.py
Labels: mod: dataframe, to be backported, type: bug

#1352 Implements `mars.learn.model_selection.train_test_split`
  docs/source/reference/dataframe/api/mars.dataframe.Series.rst
  docs/source/reference/learn/generated/mars.learn.model_selection.train_test_split.rst
  docs/source/reference/learn/reference.rst
  mars/dataframe/indexing/getitem.py
  mars/learn/model_selection/__init__.py
  mars/learn/model_selection/_split.py
  mars/learn/model_selection/tests/__init__.py
  mars/learn/model_selection/tests/test_split.py
  mars/learn/utils/shuffle.py
  mars/learn/utils/validation.py
  mars/lib/sparse/array.py
Labels: mod: learn, to be backported, type: feature

#1353 [BACKPORT] Remove reliance on `WHERE 1=0` in `read_sql` (#1335)
  mars/dataframe/datasource/read_sql.py
Labels: backport, mod: dataframe, type: bug

#1356 Make local filesystem work when PyArrow not installed
  .github/workflows/run-tests.sh
  mars/dataframe/datasource/read_csv.py
  mars/filesystem.py
  mars/tests/test_filesystem.py
Labels: to be backported, type: bug

#1355 [BACKPORT] Implements `mars.learn.model_selection.train_test_split` (#1352)
  docs/source/dataframe/reference/api/mars.dataframe.Series.rst
  docs/source/learn/generated/mars.learn.model_selection.train_test_split.rst
  docs/source/learn/reference.rst
  mars/dataframe/indexing/getitem.py
  mars/learn/model_selection/__init__.py
  mars/learn/model_selection/_split.py
  mars/learn/model_selection/tests/__init__.py
  mars/learn/model_selection/tests/test_split.py
  mars/learn/utils/shuffle.py
  mars/learn/utils/validation.py
  mars/lib/sparse/array.py
Labels: backport, mod: learn, type: feature

#1359 Implements DataFrame.rename
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.DataFrame.rename.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/learn/generated/mars.learn.model_selection.train_test_split.po
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.rename.rst
  docs/source/reference/dataframe/frame.rst
  mars/dataframe/base/__init__.py
  mars/dataframe/base/rename.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#1299 Add `run_script` support
  .github/workflows/run-tests.sh
  mars/learn/contrib/lightgbm/train.py
  mars/learn/contrib/pytorch/run_script.py
  mars/learn/contrib/tensorflow/run_script.py
  mars/learn/contrib/xgboost/train.py
  mars/learn/operands.py
  mars/operands.py
  mars/remote/__init__.py
  mars/remote/run_script.py
  mars/remote/tests/test_run_script.py
  mars/serialize/protos/operand.proto
Labels: mod: remote, to be backported, type: feature

#1328 Optimize DataFrame.{head, tail} when DataFrame has unknown chunk shape
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/executor.py
  mars/graph.pyx
  mars/optimizes/chunk_graph/fuse.py
  mars/optimizes/runtime/optimizers/core.py
  mars/optimizes/runtime/optimizers/cp.py
  mars/optimizes/runtime/optimizers/dataframe.py
  mars/optimizes/runtime/optimizers/ne.py
  mars/optimizes/runtime/optimizers/tests/test_compose.py
  mars/tensor/base/partition.py
  mars/tensor/fuse/tests/test_cupy_execute.py
  mars/tensor/indexing/index_lib.py
  mars/tensor/statistics/histogram.py
  mars/tests/core.py
  mars/tests/test_utils.py
  mars/utils.py
  setup.py
Labels: mod: dataframe, to be backported, type: enhancement

#1360 [BACKPORT] Optimize DataFrame.{head, tail} when DataFrame has unknown chunk shape (#1328)
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/executor.py
  mars/graph.pyx
  mars/optimizes/chunk_graph/fuse.py
  mars/optimizes/runtime/optimizers/core.py
  mars/optimizes/runtime/optimizers/cp.py
  mars/optimizes/runtime/optimizers/dataframe.py
  mars/optimizes/runtime/optimizers/ne.py
  mars/optimizes/runtime/optimizers/tests/test_compose.py
  mars/tensor/base/partition.py
  mars/tensor/fuse/tests/test_cupy_execute.py
  mars/tensor/indexing/index_lib.py
  mars/tensor/statistics/histogram.py
  mars/tests/core.py
  mars/tests/test_utils.py
  mars/utils.py
  setup.py
Labels: backport, mod: dataframe, type: enhancement

#1361 Implements {Series,Index}.rename
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.Series.rename.po
  docs/source/reference/dataframe/api/mars.dataframe.Series.rename.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/base/__init__.py
  mars/dataframe/base/rename.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/initializer.py
  mars/learn/operands.py
Labels: mod: dataframe, to be backported, type: feature

#1366 [BACKPORT] Implements {DataFrame,Series,Index}.rename (#1359) (#1361)
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.rename.rst
  docs/source/dataframe/reference/frame.rst
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.DataFrame.rename.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/learn/generated/mars.learn.model_selection.train_test_split.po
  mars/dataframe/base/__init__.py
  mars/dataframe/base/rename.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/initializer.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature
