Repository mars-project/mars, pull requests merged in 2020-10, with the labels that each got.

#1620 Fix Ray 1.0 compatibility
  mars/ray/core.py
Labels: mod: ray backend, type: bug

#1623 Fix the wrong dtypes of `DataFrameSetitem`'s inputs
  .github/workflows/ci.yml
  mars/dataframe/indexing/setitem.py
  mars/dataframe/indexing/tests/test_indexing.py
Labels: mod: dataframe, to be backported, type: bug

#1627 [BACKPORT] Fix the wrong dtypes of `DataFrameSetitem`'s inputs (#1623)
  .github/workflows/ci.yml
  mars/dataframe/indexing/setitem.py
  mars/dataframe/indexing/tests/test_indexing.py
Labels: backport, mod: dataframe, type: bug

#1626 Fix issue that `output_type` does not take effect for `df.apply`
  mars/dataframe/base/apply.py
  mars/dataframe/base/map_chunk.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
Labels: mod: dataframe, to be backported, type: bug

#1628 [BACKPORT] Fix issue that `output_type` does not take effect for `df.apply` (#1626)
  mars/dataframe/base/apply.py
  mars/dataframe/base/map_chunk.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
Labels: backport, mod: dataframe, type: bug

#1631 Fix registration for DataFrameSetLabel operand
  .github/workflows/install-minikube.sh
  mars/dataframe/indexing/__init__.py
  mars/serialize/core.pxd
  mars/serialize/core.pyx
  mars/tests/core.py
Labels: mod: dataframe, to be backported, type: bug

#1633 [BACKPORT] Fix registration for DataFrameSetLabel operand(#1631)
  .github/workflows/install-minikube.sh
  mars/dataframe/indexing/__init__.py
  mars/serialize/core.pxd
  mars/serialize/core.pyx
  mars/tests/core.py
Labels: backport, mod: dataframe, type: bug

#1632 Fix issue that serialization of transpose failed when input has unknown shape
  mars/learn/neighbors/_faiss.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/base/transpose.py
Labels: mod: tensor, to be backported, type: bug

#1637 Eliminate TimeoutError when there are running nodes
  .github/workflows/install-minikube.sh
  mars/scheduler/assigner.py
  mars/scheduler/graph.py
Labels: mod: scheduler, to be backported, type: bug

#1639 [BACKPORT] Eliminate TimeoutError when there are running nodes (#1637)
  .github/workflows/install-minikube.sh
  mars/scheduler/assigner.py
  mars/scheduler/graph.py
Labels: backport, mod: scheduler, type: bug

#1638 [BACKPORT] Fix issue that serialization of transpose failed when input has unknown shape (#1632)
  mars/learn/neighbors/_faiss.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/base/transpose.py
Labels: backport, mod: tensor, type: bug

#1640 Optimize memory usage for brute-force algorithm in `NearestNeighbors`
  mars/config.py
  mars/dataframe/statistics/quantile.py
  mars/learn/metrics/__init__.py
  mars/learn/metrics/pairwise/__init__.py
  mars/learn/metrics/pairwise/core.py
  mars/learn/metrics/pairwise/euclidean.py
  mars/learn/metrics/pairwise/pairwise_distances_topk.py
  mars/learn/metrics/pairwise/tests/test_pariwise_distances.py
  mars/learn/neighbors/base.py
  mars/learn/utils/__init__.py
  mars/learn/utils/core.py
  mars/serialize/protos/operand.proto
Labels: mod: learn, to be backported, type: enhancement

#1642 Fix PSRS error when chunks has fewer rows than partition number
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/tests/test_sort_execute.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/serialize/dataserializer.py
Labels: mod: dataframe, to be backported, type: bug

#1644 [BACKPORT] Fix PSRS error when chunks has fewer rows than partition number (#1642)
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/tests/test_sort_execute.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/serialize/dataserializer.py
Labels: backport, mod: dataframe, type: bug

#1646 Add `flush` method to `_LogWrapper`
  mars/custom_log.py
  mars/scheduler/tests/integrated/test_normal_execution.py
Labels: mod: remote, to be backported, type: bug

#1648 [BACKPORT] Optimize memory usage for brute-force algorithm in `NearestNeighbors` (#1640)
  mars/config.py
  mars/custom_log.py
  mars/dataframe/statistics/quantile.py
  mars/learn/metrics/__init__.py
  mars/learn/metrics/pairwise/__init__.py
  mars/learn/metrics/pairwise/core.py
  mars/learn/metrics/pairwise/euclidean.py
  mars/learn/metrics/pairwise/pairwise_distances_topk.py
  mars/learn/metrics/pairwise/tests/test_pariwise_distances.py
  mars/learn/neighbors/base.py
  mars/learn/utils/__init__.py
  mars/learn/utils/core.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: learn, type: enhancement

#1649 Fix `md.concat` which may occupy huge amount of memory on client when all of DataFrames own large RangeIndex
  mars/_version.py
  mars/dataframe/merge/concat.py
  mars/dataframe/merge/tests/test_merge.py
Labels: mod: dataframe, to be backported, type: bug

#1651 [BACKPORT] Fix `md.concat` which may occupy huge amount of memory on client when all of DataFrames own large RangeIndex (#1649)
  mars/_version.py
  mars/dataframe/merge/concat.py
  mars/dataframe/merge/tests/test_merge.py
Labels: backport, mod: dataframe, type: bug

#1652 Add DataFrame.to_parquet support
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.to_parquet.rst
  docs/source/reference/dataframe/frame.rst
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datastore/__init__.py
  mars/dataframe/datastore/tests/test_datastore_execute.py
  mars/dataframe/datastore/to_parquet.py
Labels: mod: dataframe, to be backported, type: feature

#1653 [BACKPORT] Add `DataFrame.to_parquet` support (#1652)
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.to_parquet.rst
  docs/source/reference/dataframe/frame.rst
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datastore/__init__.py
  mars/dataframe/datastore/tests/test_datastore_execute.py
  mars/dataframe/datastore/to_parquet.py
Labels: backport, mod: dataframe, type: feature

#1655 Check unknown shape chunks in tile of `md.concat`
  .github/workflows/install-minikube.sh
  mars/config.py
  mars/dataframe/merge/concat.py
  mars/deploy/kubernetes/scheduler.py
  mars/learn/proxima/core.py
  mars/learn/proxima/simple_index/builder.py
  mars/learn/proxima/simple_index/searcher.py
  mars/scheduler/resource.py
Labels: mod: dataframe, to be backported, type: bug

#1656 [BACKPORT] Check unknown shape chunks in tile of `md.concat` (#1655)
  .github/workflows/install-minikube.sh
  mars/dataframe/merge/concat.py
Labels: backport, mod: dataframe, type: bug

#1662 Support `inplace` parameter in `reset_index` method
  mars/base_app.py
  mars/dataframe/indexing/reset_index.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
Labels: mod: dataframe, to be backported, type: enhancement

#1663 [BACKPORT] Support `inplace` parameter in `reset_index` method (#1662)
  mars/base_app.py
  mars/dataframe/indexing/reset_index.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
Labels: backport, mod: dataframe, type: enhancement

#1666 Create Fetch operands given output types
  mars/core.py
  mars/dataframe/fetch/core.py
  mars/dataframe/operands.py
  mars/deploy/local/tests/test_cluster.py
  mars/learn/operands.py
  mars/operands.py
  mars/tensor/fetch/core.py
  mars/tensor/operands.py
Labels: mod: dataframe, to be backported, type: bug

#1667 Fix hang for rerun `DataFrame.groupby` in distributed mode
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/operands/shuffle.py
Labels: mod: scheduler, to be backported, type: bug

#1669 [BACKPORT] Fix hang for rerun `DataFrame.groupby` in distributed mode (#1667)
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/operands/shuffle.py
Labels: backport, mod: scheduler, type: bug

#1668 [BACKPORT] Create Fetch operands given output types (#1666)
  mars/core.py
  mars/dataframe/fetch/core.py
  mars/dataframe/operands.py
  mars/deploy/local/tests/test_cluster.py
  mars/learn/operands.py
  mars/operands.py
  mars/tensor/fetch/core.py
  mars/tensor/operands.py
Labels: backport, mod: dataframe, type: bug
