Repository mars-project/mars, pull requests merged in 2020-01, with the labels that each got.

#891 Skip preparing specified chunks when preparing for execution
  mars/operands.py
  mars/scheduler/graph.py
  mars/worker/execution.py
Labels: mod: worker, type: enhancement

#896 Fix possible failure of `testIterativeTilingWithoutEtcd` for Python 3.5 in CI
  mars/scheduler/graph.py
  mars/scheduler/tests/integrated/test_normal_execution.py
Labels: to be backported, type: tests

#899 Adapt to new coverage format in coveragepy 5
  .coveragerc
  .coveragerc-threaded
  .github/workflows/ci.yml
  .github/workflows/run-tests.sh
  .github/workflows/unify_coverage.py
  mars/deploy/kubernetes/tests/Dockerfile.test
  mars/deploy/kubernetes/tests/entrypoint.sh
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/tests/core.py
Labels: to be backported, type: tests

#905 Accelerate `LU` when input has one chunk
  mars/tensor/linalg/lu.py
Labels: mod: tensor, to be backported, type: enhancement

#909 Switch coverage service to codecov
  .codecov.yml
  .github/codecov-upstream.yml
  .github/workflows/ci.yml
  README.rst
Labels: to be backported, type: tests

#906 [BACKPORT] Fix possible failure of `testIterativeTilingWithoutEtcd` for Python 3 in CI (#896)
  .codecov.yml
  .coveragerc
  .coveragerc-threaded
  .github/codecov-upstream.yml
  .github/workflows/ci.yml
  .github/workflows/run-tests.sh
  .github/workflows/unify_coverage.py
  README.rst
  mars/deploy/kubernetes/tests/Dockerfile.test
  mars/deploy/kubernetes/tests/entrypoint.sh
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/scheduler/graph.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/tensor/linalg/lu.py
  mars/tests/core.py
Labels: backport, type: tests

#889 Add `mt.partition` support
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/opcodes.py
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/__init__.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tensor/base/__init__.py
  mars/tensor/base/partition.py
  mars/tensor/base/sort.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/core.py
  mars/tensor/datasource/tests/test_datasource_execute.py
  mars/tensor/datastore/tests/test_datastore_execute.py
  mars/tensor/fft/tests/test_fft_execute.py
  mars/tensor/fuse/tests/test_numexpr_execute.py
  mars/tensor/indexing/tests/test_indexing_execute.py
  mars/tensor/linalg/tests/test_linalg_execute.py
  mars/tensor/merge/tests/test_merge_execute.py
  mars/tensor/random/tests/test_random_execute.py
  mars/tensor/reduction/tests/test_reduction_execute.py
  mars/tensor/reshape/tests/test_reshape_execute.py
  mars/tensor/special/tests/test_special_execute.py
  mars/tensor/tests/test_core_execute.py
  mars/tensor/utils.py
  mars/tests/core.py
  mars/utils.py
Labels: mod: tensor, to be backported, type: feature

#903 Support creating DataFrame from dict whose values are tensors
  mars/dataframe/core.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/initializer.py
  mars/tensor/datasource/from_dataframe.py
  mars/tests/test_session.py
Labels: mod: dataframe, to be backported, type: feature

#874 Add support for AnyReference in serialization
  mars/core.py
  mars/graph.pyx
  mars/serialize/core.pxd
  mars/serialize/core.pyx
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/anyref.proto
  mars/serialize/protos/anyref_pb2.py
  mars/serialize/protos/fusechunk.proto
  mars/serialize/protos/fusechunk_pb2.py
  mars/serialize/protos/graph.proto
  mars/serialize/protos/graph_pb2.py
  mars/serialize/protos/value.proto
  mars/serialize/protos/value_pb2.py
  mars/serialize/tests/test_serialize.py
  mars/serialize/tests/testser.proto
  mars/serialize/tests/testser_pb2.py
Labels: mod: serialization, type: enhancement

#900 Support DataFrame and Series count
  mars/dataframe/reduction/__init__.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/count.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
Labels: mod: dataframe, to be backported, type: feature

#907 Implement `mean` operator for DataFrame and Series
  mars/dataframe/reduction/__init__.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/mean.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
Labels: mod: dataframe, to be backported, type: feature

#914 [BACKPORT] Implements `mt.histogram` and `mt.histogram_bin_edges` (#876)
  README.rst
  docs/source/locale/zh_CN/LC_MESSAGES/install.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/generated/mars.tensor.core.Tensor.sort.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/generated/mars.tensor.histogram.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/generated/mars.tensor.histogram_bin_edges.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/generated/mars.tensor.searchsorted.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/generated/mars.tensor.sort.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/manipulation.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/overview.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/sorting.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/statistics.po
  docs/source/tensor/generated/mars.tensor.core.Tensor.sort.rst
  docs/source/tensor/generated/mars.tensor.histogram.rst
  docs/source/tensor/generated/mars.tensor.histogram_bin_edges.rst
  docs/source/tensor/generated/mars.tensor.searchsorted.rst
  docs/source/tensor/generated/mars.tensor.sort.rst
  docs/source/tensor/overview.rst
  docs/source/tensor/sorting.rst
  docs/source/tensor/statistics.rst
  mars/_version.py
  mars/context.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/executor.py
  mars/learn/contrib/xgboost/tests/test_train.py
  mars/opcodes.py
  mars/operands.py
  mars/optimizes/tileable_graph/column_pruning.py
  mars/optimizes/tileable_graph/core.py
  mars/scheduler/graph.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/session.py
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/histogram.py
  mars/tensor/base/ndim.py
  mars/tensor/base/ptp.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/reduction/__init__.py
  mars/tensor/utils.py
  mars/tests/test_session.py
  mars/tiles.py
  mars/utils.py
Labels: backport, mod: tensor, type: feature

#916 [BACKPORT] Add `mt.partition` support (#889)
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/opcodes.py
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/__init__.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tensor/base/__init__.py
  mars/tensor/base/partition.py
  mars/tensor/base/sort.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/core.py
  mars/tensor/datasource/tests/test_datasource_execute.py
  mars/tensor/datastore/tests/test_datastore_execute.py
  mars/tensor/fft/tests/test_fft_execute.py
  mars/tensor/fuse/tests/test_numexpr_execute.py
  mars/tensor/indexing/tests/test_indexing_execute.py
  mars/tensor/linalg/tests/test_linalg_execute.py
  mars/tensor/merge/tests/test_merge_execute.py
  mars/tensor/random/tests/test_random_execute.py
  mars/tensor/reduction/tests/test_reduction_execute.py
  mars/tensor/reshape/tests/test_reshape_execute.py
  mars/tensor/special/tests/test_special_execute.py
  mars/tensor/tests/test_core_execute.py
  mars/tensor/utils.py
  mars/tests/core.py
  mars/utils.py
Labels: backport, mod: tensor, type: feature

#911 Implements `DataFrame.quantile` and `Series.quantile`
  mars/dataframe/__init__.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/statistics/__init__.py
  mars/dataframe/statistics/quantile.py
  mars/dataframe/statistics/tests/__init__.py
  mars/dataframe/statistics/tests/test_statistics.py
  mars/dataframe/statistics/tests/test_statistics_execute.py
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
Labels: mod: dataframe, to be backported, type: feature

#913 Remove *_pb2.py to reduce chances of code conflict
  .github/workflows/ci.yml
  .github/workflows/upload-packages.sh
  .gitignore
  bin/build-protos.py
  docs/source/contributing.rst
  mars/dataframe/datasource/from_tensor.py
  mars/filesystem.py
  mars/opcodes.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/serialize/protos/anyref_pb2.py
  mars/serialize/protos/dataframe_pb2.py
  mars/serialize/protos/fusechunk_pb2.py
  mars/serialize/protos/genopcodes.py
  mars/serialize/protos/graph_pb2.py
  mars/serialize/protos/indexvalue_pb2.py
  mars/serialize/protos/object_pb2.py
  mars/serialize/protos/operand_pb2.py
  mars/serialize/protos/tensor_pb2.py
  mars/serialize/protos/value_pb2.py
  mars/serialize/tests/testser_pb2.py
  mars/tensor/datasource/tests/test_datasource.py
  mars/tensor/rechunk/core.py
  mars/web/server.py
  misc/pb-compile.sh
  requirements-wheel.txt
  setup.py
Labels: to be backported, type: tests

#919 [BACKPORT] Implements `mt.{percentile, quantile, median}` (#898)
  mars/core.py
  mars/opcodes.py
  mars/serialize/protos/operand.proto
  mars/serialize/protos/operand_pb2.py
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/partition.py
  mars/tensor/base/sort.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/core.py
  mars/tensor/datasource/__init__.py
  mars/tensor/indexing/getitem.py
  mars/tensor/indexing/take.py
  mars/tensor/indexing/tests/test_indexing_execute.py
  mars/tensor/reshape/reshape.py
  mars/tensor/statistics/__init__.py
  mars/tensor/statistics/average.py
  mars/tensor/statistics/core.py
  mars/tensor/statistics/corrcoef.py
  mars/tensor/statistics/cov.py
  mars/tensor/statistics/digitize.py
  mars/tensor/statistics/histogram.py
  mars/tensor/statistics/median.py
  mars/tensor/statistics/percentile.py
  mars/tensor/statistics/ptp.py
  mars/tensor/statistics/quantile.py
  mars/tensor/statistics/tests/__init__.py
  mars/tensor/statistics/tests/test_statistics.py
  mars/tensor/statistics/tests/test_statistics_execute.py
  mars/tensor/tests/test_utils.py
  mars/tensor/utils.py
Labels: backport, mod: tensor, type: feature

#888 Support Einstein summation convention
  .codecov.yml
  .coveragerc
  .coveragerc-threaded
  .github/codecov-upstream.yml
  mars/serialize/protos/operand.proto
  mars/tensor/__init__.py
  mars/tensor/einsum/__init__.py
  mars/tensor/einsum/core.py
  mars/tensor/einsum/einsumfunc.py
  mars/tensor/einsum/tests/__init__.py
  mars/tensor/einsum/tests/test_einsum.py
  mars/tensor/einsum/tests/test_einsum_execute.py
  mars/tensor/utils.py
Labels: mod: tensor, type: feature

#920 [BACKPORT] Remove *_pb2.py to reduce chances of code conflict (#913)
  .github/workflows/ci.yml
  .github/workflows/upload-packages.sh
  .gitignore
  bin/build-protos.py
  docs/source/contributing.rst
  mars/filesystem.py
  mars/opcodes.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/serialize/protos/dataframe_pb2.py
  mars/serialize/protos/fusechunk_pb2.py
  mars/serialize/protos/genopcodes.py
  mars/serialize/protos/graph_pb2.py
  mars/serialize/protos/indexvalue_pb2.py
  mars/serialize/protos/object_pb2.py
  mars/serialize/protos/operand_pb2.py
  mars/serialize/protos/tensor_pb2.py
  mars/serialize/protos/value_pb2.py
  mars/serialize/tests/testser_pb2.py
  mars/tensor/datasource/tests/test_datasource.py
  mars/tensor/rechunk/core.py
  mars/web/server.py
  misc/pb-compile.sh
  requirements-wheel.txt
  setup.py
Labels: backport, type: tests

#922 [BACKPORT] Support creating DataFrame from dict whose values are tensors (#903)
  mars/dataframe/core.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/initializer.py
  mars/tensor/datasource/from_dataframe.py
  mars/tests/test_session.py
Labels: backport, mod: dataframe, type: feature

#924 [BACKPORT] Implements `DataFrame.quantile` and `Series.quantile` (#911)
  mars/dataframe/__init__.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/statistics/__init__.py
  mars/dataframe/statistics/quantile.py
  mars/dataframe/statistics/tests/__init__.py
  mars/dataframe/statistics/tests/test_statistics.py
  mars/dataframe/statistics/tests/test_statistics_execute.py
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
Labels: backport, mod: dataframe, type: feature

#923 [BACKPORT] Support DataFrame and Series count (#900)
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/reduction/__init__.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/count.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#925 [BACKPORT] Support Einstein summation convention (#888)
  .codecov.yml
  .coveragerc
  .coveragerc-threaded
  .github/codecov-upstream.yml
  mars/serialize/protos/operand.proto
  mars/tensor/__init__.py
  mars/tensor/einsum/__init__.py
  mars/tensor/einsum/core.py
  mars/tensor/einsum/einsumfunc.py
  mars/tensor/einsum/tests/__init__.py
  mars/tensor/einsum/tests/test_einsum.py
  mars/tensor/einsum/tests/test_einsum_execute.py
  mars/tensor/utils.py
  mars/worker/storage/tests/test_client.py
Labels: backport, mod: tensor, type: feature

#921 Add comparison functions for DataFrame
  mars/core.py
  mars/dataframe/arithmetic/__init__.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/equal.py
  mars/dataframe/arithmetic/greater.py
  mars/dataframe/arithmetic/greater_equal.py
  mars/dataframe/arithmetic/less.py
  mars/dataframe/arithmetic/less_equal.py
  mars/dataframe/arithmetic/not_equal.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/arithmetic/tests/test_comparison.py
  mars/dataframe/core.py
  mars/tensor/core.py
  mars/utils.py
Labels: mod: dataframe, to be backported, type: feature

#915 Support `df.reset_index` and `series.reset_index`
  mars/_utils.pyx
  mars/core.py
  mars/dataframe/align.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/reset_index.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/merge/merge.py
  mars/dataframe/reduction/core.py
  mars/dataframe/statistics/quantile.py
  mars/dataframe/utils.py
  mars/graph.pyx
  mars/serialize/protos/operand.proto
  mars/tensor/random/core.py
  mars/tensor/statistics/histogram.py
Labels: mod: dataframe, to be backported, type: feature

#918 Add `mt.fill_diagonal` support
  mars/_utils.pyx
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/lib/sparse/tests/test_sparse.py
  mars/serialize/protos/operand.proto
  mars/tensor/__init__.py
  mars/tensor/indexing/__init__.py
  mars/tensor/indexing/fill_diagonal.py
  mars/tensor/indexing/tests/test_indexing.py
  mars/tensor/indexing/tests/test_indexing_execute.py
  mars/utils.py
Labels: mod: tensor, to be backported, type: feature

#894 Support `mars.tensor.spatial.distance.{pdist, cdist, squareform}`
  mars/serialize/jsonserializer.pyx
  mars/serialize/protos/operand.proto
  mars/tensor/arithmetic/__init__.py
  mars/tensor/arithmetic/equal.py
  mars/tensor/arithmetic/isclose.py
  mars/tensor/reduction/count_nonzero.py
  mars/tensor/spatial/__init__.py
  mars/tensor/spatial/distance/__init__.py
  mars/tensor/spatial/distance/cdist.py
  mars/tensor/spatial/distance/pdist.py
  mars/tensor/spatial/distance/squareform.py
  mars/tensor/spatial/distance/tests/__init__.py
  mars/tensor/spatial/distance/tests/test_distance.py
  mars/tensor/spatial/distance/tests/test_distance_execute.py
  mars/tensor/special/erf.py
  mars/tensor/special/gammaln.py
  mars/tests/core.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: mod: tensor, type: feature

#927 [BACKPORT] Implement `mean` operator for DataFrame and Series (#907)
  mars/dataframe/reduction/__init__.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/mean.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
Labels: backport, mod: dataframe, type: feature

#929 [BACKPORT] Add comparison operands for DataFrame (#921)
  mars/core.py
  mars/dataframe/arithmetic/__init__.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/equal.py
  mars/dataframe/arithmetic/greater.py
  mars/dataframe/arithmetic/greater_equal.py
  mars/dataframe/arithmetic/less.py
  mars/dataframe/arithmetic/less_equal.py
  mars/dataframe/arithmetic/not_equal.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/arithmetic/tests/test_comparison.py
  mars/dataframe/core.py
  mars/tensor/core.py
  mars/utils.py
Labels: backport, mod: dataframe, type: feature

#931 [BACKPORT] Add `mt.fill_diagonal` support (#918)
  mars/_utils.pyx
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/lib/sparse/tests/test_sparse.py
  mars/serialize/protos/operand.proto
  mars/tensor/__init__.py
  mars/tensor/indexing/__init__.py
  mars/tensor/indexing/fill_diagonal.py
  mars/tensor/indexing/tests/test_indexing.py
  mars/tensor/indexing/tests/test_indexing_execute.py
  mars/utils.py
Labels: backport, mod: tensor, type: feature

#933 [BACKPORT] Support `df.reset_index` and `series.reset_index` (#915)
  mars/_utils.pyx
  mars/core.py
  mars/dataframe/align.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/reset_index.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/merge/merge.py
  mars/dataframe/reduction/core.py
  mars/dataframe/statistics/quantile.py
  mars/dataframe/utils.py
  mars/serialize/protos/operand.proto
  mars/tensor/random/core.py
Labels: backport, mod: dataframe, type: feature

#934 Merge operands representing multiple stages of one single operand
  mars/core.py
  mars/dataframe/align.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/merge/__init__.py
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge.py
  mars/dataframe/operands.py
  mars/dataframe/reduction/core.py
  mars/learn/operands.py
  mars/learn/utils/shuffle.py
  mars/operands.py
  mars/scheduler/graph.py
  mars/serialize/protos/operand.proto
  mars/tensor/base/searchsorted.py
  mars/tensor/base/sort.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/unique.py
  mars/tensor/einsum/core.py
  mars/tensor/fft/tests/test_fft_execute.py
  mars/tensor/indexing/__init__.py
  mars/tensor/indexing/getitem.py
  mars/tensor/operands.py
  mars/tensor/random/core.py
  mars/tensor/random/permutation.py
  mars/tensor/reduction/__init__.py
  mars/tensor/reduction/all.py
  mars/tensor/reduction/any.py
  mars/tensor/reduction/argmax.py
  mars/tensor/reduction/argmin.py
  mars/tensor/reduction/core.py
  mars/tensor/reduction/count_nonzero.py
  mars/tensor/reduction/max.py
  mars/tensor/reduction/mean.py
  mars/tensor/reduction/min.py
  mars/tensor/reduction/nanargmax.py
  mars/tensor/reduction/nanargmin.py
  mars/tensor/reduction/nanmax.py
  mars/tensor/reduction/nanmean.py
  mars/tensor/reduction/nanmin.py
  mars/tensor/reduction/nanprod.py
  mars/tensor/reduction/nansum.py
  mars/tensor/reduction/nanvar.py
  mars/tensor/reduction/prod.py
  mars/tensor/reduction/sum.py
  mars/tensor/reduction/tests/test_reduction.py
  mars/tensor/reduction/var.py
  mars/tensor/reshape/reshape.py
  mars/tensor/reshape/tests/test_reshape.py
  mars/tensor/spatial/distance/pdist.py
  mars/tensor/spatial/distance/squareform.py
  mars/tensor/statistics/histogram.py
  mars/worker/utils.py
Labels: mod: dataframe, mod: learn, mod: tensor, to be backported, type: enhancement

#935 [BACKPORT] Merge operands representing multiple stages of one single operand (#934)
  mars/_utils.pyx
  mars/core.py
  mars/dataframe/align.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/merge/__init__.py
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge.py
  mars/dataframe/operands.py
  mars/dataframe/reduction/core.py
  mars/learn/operands.py
  mars/learn/utils/shuffle.py
  mars/operands.py
  mars/scheduler/graph.py
  mars/serialize/protos/operand.proto
  mars/tensor/base/searchsorted.py
  mars/tensor/base/sort.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/unique.py
  mars/tensor/fft/tests/test_fft_execute.py
  mars/tensor/indexing/__init__.py
  mars/tensor/indexing/getitem.py
  mars/tensor/operands.py
  mars/tensor/random/core.py
  mars/tensor/random/permutation.py
  mars/tensor/reduction/__init__.py
  mars/tensor/reduction/all.py
  mars/tensor/reduction/any.py
  mars/tensor/reduction/argmax.py
  mars/tensor/reduction/argmin.py
  mars/tensor/reduction/core.py
  mars/tensor/reduction/count_nonzero.py
  mars/tensor/reduction/max.py
  mars/tensor/reduction/mean.py
  mars/tensor/reduction/min.py
  mars/tensor/reduction/nanargmax.py
  mars/tensor/reduction/nanargmin.py
  mars/tensor/reduction/nanmax.py
  mars/tensor/reduction/nanmean.py
  mars/tensor/reduction/nanmin.py
  mars/tensor/reduction/nanprod.py
  mars/tensor/reduction/nansum.py
  mars/tensor/reduction/nanvar.py
  mars/tensor/reduction/prod.py
  mars/tensor/reduction/sum.py
  mars/tensor/reduction/tests/test_reduction.py
  mars/tensor/reduction/var.py
  mars/tensor/reshape/reshape.py
  mars/tensor/reshape/tests/test_reshape.py
  mars/worker/utils.py
Labels: backport, mod: dataframe, mod: learn, mod: tensor

#936 Fix sparse behavior for tensor.min and tensor.max
  mars/lib/sparse/__init__.py
  mars/lib/sparse/matrix.py
  mars/tensor/reduction/core.py
  mars/tensor/reduction/max.py
  mars/tensor/reduction/min.py
  mars/tensor/reduction/tests/test_reduction_execute.py
Labels: mod: tensor, type: bug

#938 Fix failures in Windows tests
  .github/workflows/ci.yml
  .github/workflows/download-etcd.sh
  .github/workflows/install-conda.sh
  .github/workflows/reload-env.sh
  .github/workflows/run-tests.sh
  mars/tests/core.py
Labels: to be backported, type: tests

#939 [BACKPORT] Fix failures in Windows tests (#938)
  .github/workflows/ci.yml
  .github/workflows/download-etcd.sh
  .github/workflows/install-conda.sh
  .github/workflows/reload-env.sh
  .github/workflows/run-tests.sh
  mars/tests/core.py
Labels: backport, type: tests

#937 Implement `MarsDataset` to integrate with PyTorch
  mars/api.py
  mars/context.py
  mars/learn/contrib/pytorch/__init__.py
  mars/learn/contrib/pytorch/dataset.py
  mars/learn/contrib/pytorch/run_script.py
  mars/learn/contrib/pytorch/tests/dataset_sample.py
  mars/learn/contrib/pytorch/tests/integrated/test_distributed_dataset.py
  mars/learn/contrib/pytorch/tests/integrated/test_distributed_pytorch.py
  mars/scheduler/api.py
  mars/scheduler/chunkmeta.py
  mars/scheduler/graph.py
  mars/scheduler/session.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/tests/test_api.py
  mars/web/apihandlers.py
  mars/web/session.py
  mars/worker/api.py
  mars/worker/calc.py
  mars/worker/transfer.py
Labels: mod: learn, type: feature

#954 Fix tile in nonzero that tensor instead of tensor data should be used during the process
  mars/tensor/indexing/nonzero.py
  mars/tensor/indexing/tests/test_indexing_execute.py
Labels: mod: tensor, to be backported, type: bug

#960 Fixes `cdist(x, y)` that creates tensor with wrong nsplits
  mars/lib/sparse/tests/test_sparse.py
  mars/tensor/spatial/distance/cdist.py
  mars/tensor/spatial/distance/tests/test_distance.py
Labels: mod: tensor, to be backported, type: bug
