Repository mars-project/mars, pull requests merged in 2020-07, with the labels that each got.

#1367 [BACKPORT] Fix hang for distributed `roc_curve` (#1362)
  mars/deploy/local/tests/test_cluster.py
  mars/learn/metrics/_ranking.py
  mars/optimizes/chunk_graph/fuse.py
  mars/scheduler/assigner.py
  mars/scheduler/graph.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/common.py
  mars/scheduler/tests/test_session.py
  mars/tensor/indexing/getitem.py
  mars/tensor/lib/index_tricks.py
  mars/web/session.py
  mars/web/tests/test_api.py
  setup.py
Labels: backport, mod: learn, mod: optimize, mod: scheduler, type: bug

#1369 Make creation of Kubernetes clusters modular
  mars/base_app.py
  mars/cluster_info.py
  mars/dataframe/align.py
  mars/dataframe/arithmetic/docstring.py
  mars/dataframe/base/drop_duplicates.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/groupby/core.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/setitem.py
  mars/dataframe/utils.py
  mars/deploy/kubernetes/client.py
  mars/deploy/kubernetes/config.py
  mars/deploy/kubernetes/core.py
  mars/deploy/kubernetes/docker/docker-logging.conf
  mars/deploy/kubernetes/tests/docker-logging.conf
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/learn/metrics/_ranking.py
  mars/learn/utils/validation.py
  mars/lib/sparse/matrix.py
  mars/remote/core.py
  mars/resource.py
  mars/serialize/dataserializer.py
  mars/serialize/tests/test_serialize.py
  mars/tensor/datasource/tests/test_datasource_execute.py
  mars/tensor/fuse/cp.py
  mars/tensor/linalg/lu.py
  mars/tensor/linalg/solve.py
  mars/tensor/linalg/tests/test_linalg.py
  mars/utils.py
  mars/worker/events.py
  mars/worker/execution.py
  mars/worker/tests/test_execution.py
Labels: mod: deploy, to be backported, type: enhancement

#1371 Fix read_sql when no data selected & refine error when no worker attached
  mars/dataframe/datasource/read_sql.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/scheduler/graph.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/scheduler/tests/test_graph.py
Labels: mod: dataframe, mod: scheduler, to be backported, type: bug

#1374 [BACKPORT] Fix read_sql when no data selected & refine error when no worker attached (#1371)
  mars/dataframe/datasource/read_sql.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/scheduler/graph.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/scheduler/tests/test_graph.py
Labels: backport, mod: dataframe, mod: scheduler, type: bug

#1373 [BACKPORT] Make creation of Kubernetes clusters modular (#1369)
  mars/base_app.py
  mars/cluster_info.py
  mars/dataframe/align.py
  mars/dataframe/base/drop_duplicates.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/groupby/core.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/setitem.py
  mars/dataframe/utils.py
  mars/deploy/kubernetes/client.py
  mars/deploy/kubernetes/config.py
  mars/deploy/kubernetes/core.py
  mars/deploy/kubernetes/docker/docker-logging.conf
  mars/deploy/kubernetes/tests/docker-logging.conf
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/learn/metrics/_ranking.py
  mars/learn/utils/validation.py
  mars/lib/sparse/matrix.py
  mars/remote/core.py
  mars/resource.py
  mars/serialize/dataserializer.py
  mars/serialize/tests/test_serialize.py
  mars/tensor/datasource/tests/test_datasource_execute.py
  mars/tensor/fuse/cp.py
  mars/tensor/linalg/lu.py
  mars/tensor/linalg/solve.py
  mars/tensor/linalg/tests/test_linalg.py
  mars/utils.py
  mars/worker/events.py
  mars/worker/execution.py
  mars/worker/tests/test_execution.py
Labels: backport, mod: deploy, type: enhancement

#1377 Optimize `read_sql` + `head`
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_sql.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/loc.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/optimizes/runtime/optimizers/dataframe.py
  mars/tensor/stats/entropy.py
Labels: mod: dataframe, to be backported, type: enhancement

#1379 [BACKPORT] Optimize `read_sql` + `head` (#1377)
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_sql.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/loc.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/optimizes/runtime/optimizers/dataframe.py
Labels: backport, mod: dataframe, type: enhancement

#1382 Fix progress display for bokeh 2.1.x
  mars/cluster_info.py
  mars/web/server.py
  mars/web/task_pages.py
  mars/web/templates/base.html
  mars/web/templates/scheduler_pages/list.html
  mars/web/templates/worker_pages/list.html
  mars/web/worker_pages.py
Labels: mod: web, to be backported, type: bug

#1383 [BACKPORT] Fix progress display for bokeh 2.1.x (#1382)
  mars/cluster_info.py
  mars/web/server.py
  mars/web/task_pages.py
  mars/web/templates/base.html
  mars/web/templates/scheduler_pages/list.html
  mars/web/templates/worker_pages/list.html
  mars/web/worker_pages.py
Labels: backport, mod: web, type: bug

#1380 Fix hang for distributed roc_curve
  .github/workflows/install-minikube.sh
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/learn/decomposition/pca.py
  mars/learn/metrics/_ranking.py
  mars/learn/metrics/tests/integrated/__init__.py
  mars/learn/metrics/tests/integrated/test_ranking.py
  mars/learn/semi_supervised/_label_propagation.py
  mars/learn/tests/integrated/base.py
  mars/scheduler/graph.py
  mars/worker/tests/test_transfer.py
  mars/worker/transfer.py
Labels: mod: learn, to be backported, type: bug

#1386 Fix serialize failed when FetchDataFrame's object_type is a list
  .github/workflows/install-minikube.sh
  mars/dataframe/fetch/core.py
  mars/deploy/local/tests/test_cluster.py
Labels: mod: dataframe, type: bug

#1388 Use subgraph to represent fused nodes instead of a list
  mars/core.py
  mars/dataframe/operands.py
  mars/executor.py
  mars/graph.pyx
  mars/operands.py
  mars/optimizes/chunk_graph/fuse.py
  mars/optimizes/runtime/core.py
  mars/optimizes/runtime/cp.py
  mars/optimizes/runtime/dataframe.py
  mars/optimizes/runtime/ne.py
  mars/optimizes/runtime/optimizers/tests/__init__.py
  mars/optimizes/runtime/tests/__init__.py
  mars/optimizes/runtime/tests/test_compose.py
  mars/scheduler/graph.py
  mars/scheduler/operands/shuffle.py
  mars/serialize/core.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/fusechunk.proto
  mars/serialize/protos/operand.proto
  mars/serialize/protos/value.proto
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/datasource/tests/test_datasource.py
  mars/tensor/fuse/core.py
  mars/tensor/fuse/ne.py
  mars/tensor/fuse/tests/test_cupy_execute.py
  mars/tensor/fuse/tests/test_numexpr_execute.py
  mars/tensor/indexing/tests/test_indexing_execute.py
  mars/tensor/linalg/inv.py
  mars/tensor/linalg/tests/test_linalg.py
  mars/tensor/linalg/tests/test_linalg_execute.py
  mars/tensor/statistics/tests/test_statistics_execute.py
  mars/tensor/tests/test_core_execute.py
  mars/tests/core.py
  mars/utils.py
Labels: mod: optimize, mod: serialization, type: enhancement

#1391 [BACKPORT] Make local filesystem work when PyArrow not installed (#1356)
  .github/workflows/run-tests.sh
  mars/dataframe/datasource/read_csv.py
  mars/filesystem.py
  mars/scheduler/graph.py
  mars/scheduler/operands/shuffle.py
  mars/tests/test_filesystem.py
Labels: backport, type: bug

#1389 Implement DataFrame.insert
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.insert.rst
  docs/source/reference/dataframe/frame.rst
  mars/dataframe/base/__init__.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/insert.py
  mars/dataframe/indexing/rename.py
  mars/dataframe/indexing/reset_index.py
  mars/dataframe/indexing/set_label.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/errors.py
  mars/scheduler/graph.py
  mars/serialize/dataserializer.py
  mars/serialize/protos/operand.proto
  mars/serialize/tests/test_serialize.py
  mars/worker/storage/sharedstore.py
  mars/worker/storage/tests/test_sharedstore.py
Labels: mod: dataframe, to be backported, type: feature

#1392 [BACKPORT] Implement DataFrame.insert (#1389)
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.insert.rst
  docs/source/dataframe/reference/frame.rst
  mars/dataframe/base/__init__.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/insert.py
  mars/dataframe/indexing/rename.py
  mars/dataframe/indexing/reset_index.py
  mars/dataframe/indexing/set_label.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/errors.py
  mars/serialize/dataserializer.py
  mars/serialize/protos/operand.proto
  mars/serialize/tests/test_serialize.py
  mars/worker/storage/sharedstore.py
  mars/worker/storage/tests/test_sharedstore.py
Labels: backport, mod: dataframe, type: feature

#1397 [BACKPORT] Add `run_script` support (#1299)
  .github/workflows/run-tests.sh
  mars/learn/contrib/lightgbm/train.py
  mars/learn/contrib/pytorch/run_script.py
  mars/learn/contrib/tensorflow/run_script.py
  mars/learn/contrib/xgboost/train.py
  mars/learn/operands.py
  mars/operands.py
  mars/remote/__init__.py
  mars/remote/run_script.py
  mars/remote/tests/test_run_script.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: remote, type: feature

#1394 Fix serialization issue when remote function has argument which is an executed tileable
  mars/deploy/local/tests/test_cluster.py
  mars/learn/__init__.py
  mars/learn/utils/shuffle.py
  mars/remote/core.py
  mars/remote/tests/test_remote_function.py
  mars/serialize/protos/fusechunk.proto
Labels: mod: remote, to be backported, type: bug

#1396 Fix LightGBM when input tileables have unknown shape
  mars/learn/contrib/lightgbm/align.py
  mars/learn/contrib/lightgbm/classifier.py
  mars/learn/contrib/lightgbm/ranker.py
  mars/learn/contrib/lightgbm/regressor.py
  mars/learn/contrib/lightgbm/tests/integrated/test_distributed_lightgbm.py
  mars/learn/contrib/lightgbm/train.py
  mars/scheduler/graph.py
Labels: mod: learn, to be backported, type: bug

#1390 Optimize `read_csv` if followed by `DataFrame.getitem`
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/deploy/local/tests/test_cluster.py
  mars/optimizes/runtime/dataframe.py
Labels: mod: dataframe, mod: optimize, to be backported, type: enhancement

#1402 Specifying encoding for long_description
  setup.py
Labels: to be backported, type: install

#1398 [BACKPORT] Optimize `read_csv` if followed by `DataFrame.getitem` (#1390)
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/optimizes/runtime/core.py
  mars/optimizes/runtime/cp.py
  mars/optimizes/runtime/dataframe.py
  mars/optimizes/runtime/ne.py
  mars/optimizes/runtime/optimizers/dataframe.py
  mars/optimizes/runtime/optimizers/tests/__init__.py
  mars/optimizes/runtime/tests/__init__.py
  mars/optimizes/runtime/tests/test_compose.py
  mars/serialize/core.pyx
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/fuse/tests/test_cupy_execute.py
  mars/tensor/fuse/tests/test_numexpr_execute.py
  mars/tensor/indexing/tests/test_indexing_execute.py
  mars/tensor/linalg/inv.py
  mars/tensor/linalg/tests/test_linalg.py
  mars/tensor/linalg/tests/test_linalg_execute.py
  mars/tensor/statistics/tests/test_statistics_execute.py
  mars/tensor/tests/test_core_execute.py
  mars/tests/core.py
  mars/utils.py
Labels: backport, mod: dataframe, mod: optimize, type: enhancement

#1400 [BACKPORT] Fix serialization issue when remote function has executed tileable arguments (#1394)
  mars/deploy/local/tests/test_cluster.py
  mars/learn/__init__.py
  mars/learn/utils/shuffle.py
  mars/remote/core.py
  mars/remote/tests/test_remote_function.py
Labels: backport, mod: remote, type: bug

#1399 [BACKPORT] Fix LightGBM when input tileables have unknown shape (#1396)
  mars/_version.py
  mars/learn/contrib/lightgbm/align.py
  mars/learn/contrib/lightgbm/classifier.py
  mars/learn/contrib/lightgbm/ranker.py
  mars/learn/contrib/lightgbm/regressor.py
  mars/learn/contrib/lightgbm/tests/integrated/test_distributed_lightgbm.py
  mars/learn/contrib/lightgbm/train.py
  mars/scheduler/graph.py
  setup.py
Labels: backport, mod: learn, type: bug

#1405 Fix worker assign when no evaluation sets specified in LGBM training
  mars/learn/contrib/lightgbm/tests/integrated/test_distributed_lightgbm.py
  mars/learn/contrib/lightgbm/train.py
Labels: mod: learn, to be backported, type: bug

#1408 [BACKPORT] Fix worker assign when no evaluation sets specified in LGBM training (#1405)
  mars/learn/contrib/lightgbm/tests/integrated/test_distributed_lightgbm.py
  mars/learn/contrib/lightgbm/train.py
Labels: backport, mod: learn, type: bug

#1409 Optimize `to_pandas` and `to_numpy` etc that fetch first, if failed, call `execute().fetch()` instead
  docs/source/user_guide/learn/lightgbm.rst
  docs/source/user_guide/learn/xgboost.rst
  mars/api.py
  mars/core.py
  mars/dataframe/core.py
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/learn/decomposition/__init__.py
  mars/learn/decomposition/_base.py
  mars/learn/decomposition/_pca.py
  mars/learn/decomposition/_truncated_svd.py
  mars/learn/decomposition/tests/test_pca.py
  mars/learn/decomposition/tests/test_truncated_svd.py
  mars/remote/tests/test_remote_function.py
  mars/session.py
  mars/tensor/core.py
  mars/web/session.py
Labels: mod: client, mod: dataframe, to be backported, type: enhancement

#1410 [BACKPORT] Optimize `to_pandas` and `to_numpy` etc that fetch first, if failed, call `execute().fetch()` instead (#1409)
  mars/api.py
  mars/core.py
  mars/dataframe/core.py
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/learn/decomposition/__init__.py
  mars/learn/decomposition/_base.py
  mars/learn/decomposition/_pca.py
  mars/learn/decomposition/_truncated_svd.py
  mars/learn/decomposition/tests/test_pca.py
  mars/learn/decomposition/tests/test_truncated_svd.py
  mars/remote/tests/test_remote_function.py
  mars/session.py
  mars/tensor/core.py
  mars/web/session.py
Labels: backport, mod: client, mod: dataframe, type: enhancement

#1411 Create backup CalcActor when spawning a new graph in mars.remote
  mars/api.py
  mars/context.py
  mars/scheduler/graph.py
  mars/scheduler/tests/integrated/base.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/scheduler/tests/integrated/test_worker_failover.py
  mars/session.py
  mars/worker/calc.py
  mars/worker/daemon.py
  mars/worker/dispatcher.py
  mars/worker/execution.py
  mars/worker/tests/base.py
  mars/worker/tests/test_calc.py
  mars/worker/tests/test_dispatcher.py
  mars/worker/tests/test_transfer.py
Labels: mod: worker, to be backported, type: enhancement

#1412 [BACKPORT] Create backup CalcActor when spawning a new graph in mars.remote (#1411)
  mars/api.py
  mars/context.py
  mars/scheduler/graph.py
  mars/scheduler/tests/integrated/base.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/scheduler/tests/integrated/test_worker_failover.py
  mars/session.py
  mars/worker/calc.py
  mars/worker/daemon.py
  mars/worker/dispatcher.py
  mars/worker/execution.py
  mars/worker/tests/base.py
  mars/worker/tests/test_calc.py
  mars/worker/tests/test_dispatcher.py
  mars/worker/tests/test_transfer.py
Labels: backport, mod: worker, type: enhancement

#1416 Fix query alias & add estimation for object types
  mars/dataframe/datasource/read_sql.py
  mars/operands.py
  mars/utils.py
  mars/worker/execution.py
Labels: mod: dataframe, to be backported, type: bug

#1417 [BACKPORT] Fix query alias & add estimation for object types (#1416)
  mars/dataframe/datasource/read_sql.py
  mars/operands.py
  mars/utils.py
  mars/worker/execution.py
Labels: backport, mod: dataframe, type: bug

#1419 Fix the dtype of LightGBM model's predicted results.
  mars/learn/contrib/lightgbm/tests/test_ranker.py
  mars/learn/contrib/lightgbm/tests/test_regressor.py
  mars/learn/contrib/lightgbm/train.py
Labels: mod: learn, to be backported, type: bug

#1414 Skip rechunk when DataFrame has unknown shape in `sort_values`.
  mars/context.py
  mars/dataframe/base/__init__.py
  mars/dataframe/core.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/tests/test_sort_execute.py
  mars/dataframe/utils.py
  mars/deploy/local/tests/test_cluster.py
  mars/operands.py
  mars/remote/core.py
  mars/remote/tests/test_remote_function.py
  mars/scheduler/tests/integrated/no_prepare_op.py
  mars/tensor/base/psrs.py
  mars/tensor/rechunk/core.py
  mars/tests/test_session.py
  mars/utils.py
  mars/worker/calc.py
  mars/worker/tests/test_dispatcher.py
Labels: mod: dataframe, to be backported, type: enhancement

#1420 [BACKPORT] Skip rechunk when DataFrame has unknown shape in `sort_values` (#1414)
  mars/context.py
  mars/dataframe/base/__init__.py
  mars/dataframe/core.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/tests/test_sort_execute.py
  mars/dataframe/utils.py
  mars/deploy/local/tests/test_cluster.py
  mars/operands.py
  mars/remote/core.py
  mars/remote/tests/test_remote_function.py
  mars/scheduler/tests/integrated/no_prepare_op.py
  mars/tensor/base/psrs.py
  mars/tensor/rechunk/core.py
  mars/tests/test_session.py
  mars/utils.py
  mars/worker/calc.py
  mars/worker/tests/test_dispatcher.py
Labels: backport, mod: dataframe, type: enhancement

#1424 Fix the error raised when inferring dtype in DataFrame.transform
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/transform.py
Labels: mod: dataframe, to be backported, type: bug

#1421 [BACKPORT] Fix the dtype of LightGBM model's predicted results (#1419)
  mars/learn/contrib/lightgbm/tests/test_ranker.py
  mars/learn/contrib/lightgbm/tests/test_regressor.py
  mars/learn/contrib/lightgbm/train.py
Labels: backport, mod: learn, type: bug

#1427 [BACKPORT] Fix the error raised when inferring dtype in DataFrame.transform (#1424)
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/transform.py
Labels: backport, mod: dataframe, type: bug

#1429 Fix crash when storing data inside Docker containers
  .github/workflows/ci.yml
  mars/dataframe/core.py
  mars/dataframe/sort/psrs.py
  mars/dataframe/utils.py
  mars/learn/cluster/_k_means_common.py
  mars/learn/cluster/_kmeans.py
  mars/learn/tests/integrated/base.py
  mars/operands.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/shuffle.py
  mars/scheduler/operands/successors_exclusive.py
  mars/scheduler/operands/tests/test_common_exec.py
  mars/scheduler/tests/integrated/base.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/serialize/protos/indexvalue.proto
  mars/tensor/special/rel_entr.py
  mars/utils.py
  mars/web/tests/test_api.py
  mars/worker/calc.py
  mars/worker/execution.py
  mars/worker/service.py
  mars/worker/storage/sharedstore.py
  mars/worker/storage/tests/test_objectholder.py
  mars/worker/tests/test_execution.py
Labels: mod: worker, to be backported, type: bug

#1432 [BACKPORT] Fix crash when storing data inside Docker containers (#1429)
  .github/workflows/ci.yml
  mars/dataframe/core.py
  mars/dataframe/sort/psrs.py
  mars/dataframe/utils.py
  mars/learn/cluster/_k_means_common.py
  mars/learn/cluster/_kmeans.py
  mars/learn/tests/integrated/base.py
  mars/operands.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/shuffle.py
  mars/scheduler/operands/successors_exclusive.py
  mars/scheduler/operands/tests/test_common_exec.py
  mars/scheduler/tests/integrated/base.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/serialize/protos/indexvalue.proto
  mars/tensor/special/rel_entr.py
  mars/utils.py
  mars/web/tests/test_api.py
  mars/worker/calc.py
  mars/worker/execution.py
  mars/worker/service.py
  mars/worker/storage/sharedstore.py
  mars/worker/storage/tests/test_objectholder.py
  mars/worker/tests/test_execution.py
  mars/worker/transfer.py
  requirements-dev.txt
  requirements.txt
Labels: backport, mod: worker, type: bug

#1435 Drop support for python 3.5
  .github/workflows/ci.yml
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/worker/transfer.py
  requirements-dev.txt
  requirements-extra.txt
  requirements.txt
  setup.py
Labels: type: install

#1438 Add support for arrow-based string dtype
  mars/dataframe/__init__.py
  mars/dataframe/arrays.py
  mars/dataframe/tests/test_arrays.py
  mars/dataframe/utils.py
  mars/serialize/dataserializer.py
Labels: mod: dataframe, to be backported, type: feature

#1217 Support memory_usage on DataFrame objects
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.memory_usage.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.memory_usage.rst
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/base/__init__.py
  mars/dataframe/base/memory_usage.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature
