Repository mars-project/mars, pull requests merged in 2020-04, with the labels that each got.

#1126 [BACKPORT] Add support for isna, notna and __dir__ (#1125)
  .github/workflows/ci.yml
  mars/dataframe/__init__.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/checkna.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/tests/test_utils.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#1128 [BACKPORT] Add support for {DataFrame,Series}.agg (#1054)
  mars/core.py
  mars/dataframe/base/fillna.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/merge/concat.py
  mars/dataframe/reduction/__init__.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
Labels: backport, mod: dataframe, type: feature

#1127 Refactor GroupBy objects
  .github/workflows/ci.yml
  mars/dataframe/core.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/operands.py
  mars/serialize/protos/dataframe.proto
Labels: mod: dataframe, to be backported, type: enhancement

#1131 [BACKPORT] Add support for md.dropna (#1129)
  mars/dataframe/base/__init__.py
  mars/dataframe/base/dropna.py
  mars/dataframe/base/fillna.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/count.py
  mars/dataframe/reduction/tests/test_reduction.py
Labels: backport, mod: dataframe, type: feature

#1108 Check if tileable.nsplits and chunk.shape is consistent
  mars/context.py
  mars/core.py
  mars/dataframe/align.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/base/apply.py
  mars/dataframe/base/dropna.py
  mars/dataframe/base/fillna.py
  mars/dataframe/base/reset_index.py
  mars/dataframe/base/string_.py
  mars/dataframe/base/transform.py
  mars/dataframe/datasource/dataframe.py
  mars/dataframe/datasource/date_range.py
  mars/dataframe/datasource/index.py
  mars/dataframe/datastore/to_csv.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/cum.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/groupby/transform.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/set_index.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/merge/concat.py
  mars/dataframe/operands.py
  mars/dataframe/reduction/core.py
  mars/dataframe/statistics/tests/test_statistics_execute.py
  mars/dataframe/window/rolling/aggregation.py
  mars/dataframe/window/rolling/tests/test_rolling_execute.py
  mars/executor.py
  mars/learn/contrib/pytorch/dataset.py
  mars/learn/metrics/pairwise/euclidean.py
  mars/learn/metrics/pairwise/tests/test_manhattan_distances.py
  mars/learn/metrics/pairwise/tests/test_pariwise_distances.py
  mars/scheduler/api.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/tensor/base/copyto.py
  mars/tensor/base/repeat.py
  mars/tensor/base/topk.py
  mars/tensor/datastore/core.py
  mars/tensor/einsum/einsumfunc.py
  mars/tensor/einsum/tests/test_einsum.py
  mars/tensor/images/imread.py
  mars/tensor/indexing/index_lib.py
  mars/tensor/random/permutation.py
  mars/tensor/spatial/distance/cdist.py
  mars/tensor/spatial/distance/pdist.py
  mars/tests/core.py
  mars/worker/api.py
Labels: mod: dataframe, mod: tensor, to be backported, type: tests

#1132 Support `md.merge` when `on` column is in df.index
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/dataframe/utils.py
Labels: mod: dataframe, to be backported, type: bug

#1133 [BACKPORT] Check if tileable.nsplits and chunk.shape is consistent (#1108)
  mars/core.py
  mars/dataframe/align.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/base/dropna.py
  mars/dataframe/base/fillna.py
  mars/dataframe/base/reset_index.py
  mars/dataframe/base/string_.py
  mars/dataframe/datasource/dataframe.py
  mars/dataframe/datasource/date_range.py
  mars/dataframe/datasource/index.py
  mars/dataframe/datastore/to_csv.py
  mars/dataframe/groupby/cum.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/set_index.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/merge/concat.py
  mars/dataframe/operands.py
  mars/dataframe/reduction/core.py
  mars/dataframe/statistics/tests/test_statistics_execute.py
  mars/dataframe/window/rolling/aggregation.py
  mars/dataframe/window/rolling/tests/test_rolling_execute.py
  mars/executor.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/tensor/base/copyto.py
  mars/tensor/base/repeat.py
  mars/tensor/base/topk.py
  mars/tensor/datastore/core.py
  mars/tensor/einsum/einsumfunc.py
  mars/tensor/images/imread.py
  mars/tensor/indexing/index_lib.py
  mars/tensor/random/permutation.py
  mars/tests/core.py
Labels: backport, mod: dataframe, mod: tensor, type: tests

#1135 [SKIP CI] Fix requirements for doc
  docs/doc-requirements.txt
  docs/requirements-doc.txt
  docs/source/contributing.rst
Labels: type: docs

#1136 Support groupby.__getitem__ and group by level
  .github/workflows/install-conda.sh
  mars/dataframe/core.py
  mars/dataframe/groupby/__init__.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/cum.py
  mars/dataframe/groupby/getitem.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/groupby/transform.py
  mars/dataframe/merge/concat.py
  mars/dataframe/operands.py
  mars/dataframe/utils.py
  mars/lib/groupby_wrapper.py
  mars/lib/tests/__init__.py
  mars/lib/tests/test_lib.py
  mars/optimizes/tileable_graph/column_pruning.py
  mars/serialize/dataserializer.py
  mars/serialize/protos/dataframe.proto
  mars/serialize/tests/test_serialize.py
  mars/tests/core.py
Labels: mod: dataframe, type: feature

#1139 Implements `md.cut`
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.dropna.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.dropna.rst
  docs/source/dataframe/reference/api/mars.dataframe.concat.rst
  docs/source/dataframe/reference/api/mars.dataframe.cut.rst
  docs/source/dataframe/reference/api/mars.dataframe.date_range.rst
  docs/source/dataframe/reference/api/mars.dataframe.isna.rst
  docs/source/dataframe/reference/api/mars.dataframe.isnull.rst
  docs/source/dataframe/reference/api/mars.dataframe.merge.rst
  docs/source/dataframe/reference/api/mars.dataframe.notna.rst
  docs/source/dataframe/reference/api/mars.dataframe.notnull.rst
  docs/source/dataframe/reference/frame.rst
  docs/source/dataframe/reference/general_functions.rst
  docs/source/dataframe/reference/index.rst
  docs/source/dataframe/reference/series.rst
  mars/_utils.pyx
  mars/dataframe/__init__.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/cut.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/initializer.py
  mars/dataframe/merge/concat.py
  mars/dataframe/operands.py
  mars/serialize/__init__.py
  mars/serialize/core.pxd
  mars/serialize/core.pyx
  mars/serialize/dataserializer.py
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/dataframe.proto
  mars/serialize/protos/operand.proto
  mars/serialize/protos/value.proto
  mars/serialize/tests/test_serialize.py
  mars/serialize/tests/testser.proto
  mars/tests/core.py
Labels: mod: dataframe, to be backported, type: feature

#1144 Add meta checks for groupby
  mars/dataframe/core.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/getitem.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/groupby/transform.py
  mars/dataframe/operands.py
  mars/serialize/protos/dataframe.proto
  mars/tests/core.py
Labels: mod: dataframe, type: tests

#1147 Add support for `mt.union1d`
  mars/tensor/__init__.py
  mars/tensor/merge/__init__.py
  mars/tensor/merge/concatenate.py
  mars/tensor/merge/tests/test_merge_execute.py
  mars/tensor/merge/union1d.py
Labels: mod: tensor, to be backported, type: feature

#1149 Fix tokenizing partial function
  mars/_utils.pyx
  mars/tests/test_utils.py
Labels: to be backported, type: bug

#1152 Add support for `NearestNeighbors.kneighbors_graph`
  mars/learn/neighbors/_kneighbors_graph.py
  mars/learn/neighbors/base.py
  mars/learn/neighbors/tests/test_nearest_neighbors.py
  mars/learn/utils/validation.py
  mars/serialize/protos/operand.proto
  mars/tensor/fuse/ne.py
Labels: mod: learn, type: feature

#1155 Allow retrieving shape of a groupby object
  mars/lib/groupby_wrapper.py
  mars/lib/tests/test_lib.py
Labels: mod: dataframe, type: bug

#1157 Implements `{DataFrame, Series}.{shift, tshift}`
  .gitignore
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.rst
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.shift.rst
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.tshift.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.shift.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.tshift.rst
  docs/source/dataframe/reference/frame.rst
  docs/source/dataframe/reference/series.rst
  docs/source/dataframe/user_guide/10min.rst
  docs/source/tensor/generated/mars.tensor.union1d.rst
  mars/dataframe/base/__init__.py
  mars/dataframe/base/shift.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/groupby/core.py
  mars/dataframe/initializer.py
  mars/dataframe/utils.py
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/indexvalue.proto
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#1158 Implements `mars.learn.metrics.pairwise.rbf_kernel`
  docs/requirements-doc.txt
  mars/learn/metrics/pairwise/__init__.py
  mars/learn/metrics/pairwise/rbf_kernel.py
  mars/learn/metrics/pairwise/tests/test_rbf_kernel.py
Labels: mod: learn, type: feature

#1159 Support `Tensor.__setitem__` with bool indexing
  docs/source/dataframe/user_guide/10min.rst
  mars/dataframe/base/shift.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/statistics/tests/test_statistics_execute.py
  mars/dataframe/window/rolling/tests/test_rolling_execute.py
  mars/learn/metrics/tests/test_classification.py
  mars/tensor/core.py
  mars/tensor/datastore/tests/test_datastore_execute.py
  mars/tensor/indexing/getitem.py
  mars/tensor/indexing/setitem.py
  mars/tensor/indexing/tests/test_indexing.py
  mars/tensor/indexing/tests/test_indexing_execute.py
  mars/tensor/statistics/tests/test_statistics_execute.py
  mars/tests/core.py
Labels: mod: tensor, to be backported, type: feature

#1165 [BACKPORT] Support `md.merge` when `on` column is in df.index (#1132)
  .github/workflows/install-conda.sh
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/dataframe/utils.py
Labels: backport, mod: dataframe, type: bug

#1163 Implements `mars.learn.semi_supervised.LabelPropagation`
  mars/context.py
  mars/dataframe/arithmetic/dot.py
  mars/dataframe/base/describe.py
  mars/dataframe/statistics/quantile.py
  mars/executor.py
  mars/learn/base.py
  mars/learn/decomposition/base.py
  mars/learn/metrics/_check_targets.py
  mars/learn/metrics/_classification.py
  mars/learn/metrics/pairwise/cosine.py
  mars/learn/metrics/pairwise/euclidean.py
  mars/learn/metrics/pairwise/haversine.py
  mars/learn/metrics/pairwise/manhattan.py
  mars/learn/neighbors/_faiss.py
  mars/learn/preprocessing/normalize.py
  mars/learn/semi_supervised/__init__.py
  mars/learn/semi_supervised/_label_propagation.py
  mars/learn/semi_supervised/tests/__init__.py
  mars/learn/semi_supervised/tests/test_label_propagation.py
  mars/learn/utils/checks.py
  mars/learn/utils/multiclass.py
  mars/learn/utils/validation.py
  mars/scheduler/tests/test_analyzer.py
  mars/session.py
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/argwhere.py
  mars/tensor/base/copy.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/base/topk.py
  mars/tensor/fft/core.py
  mars/tensor/indexing/core.py
  mars/tensor/indexing/fill_diagonal.py
  mars/tensor/indexing/getitem.py
  mars/tensor/indexing/index_lib.py
  mars/tensor/indexing/nonzero.py
  mars/tensor/indexing/setitem.py
  mars/tensor/indexing/tests/test_indexing.py
  mars/tensor/indexing/tests/test_indexing_execute.py
  mars/tensor/linalg/lu.py
  mars/tensor/linalg/norm.py
  mars/tensor/random/choice.py
  mars/tensor/reshape/reshape.py
  mars/tensor/spatial/distance/squareform.py
  mars/tensor/statistics/histogram.py
  mars/tensor/statistics/quantile.py
  mars/tensor/utils.py
  mars/utils.py
Labels: mod: learn, type: feature

#1168 [BACKPORT] Implements `{DataFrame, Series}.{shift, tshift}` (#1157)
  mars/_utils.pyx
  mars/compat.py
  mars/dataframe/__init__.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/shift.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/groupby/core.py
  mars/dataframe/initializer.py
  mars/dataframe/utils.py
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/indexvalue.proto
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#1167 [BACKPORT] Add support for `mt.union1d` (#1147)
  mars/tensor/__init__.py
  mars/tensor/merge/__init__.py
  mars/tensor/merge/concatenate.py
  mars/tensor/merge/tests/test_merge_execute.py
  mars/tensor/merge/union1d.py
Labels: backport, mod: tensor, type: feature

#1166 [BACKPORT] Add `plot` and relative functions for DataFrame and Series (#1143)
  .github/workflows/ci.yml
  mars/core.py
  mars/dataframe/__init__.py
  mars/dataframe/core.py
  mars/dataframe/plotting/__init__.py
  mars/dataframe/plotting/core.py
  mars/dataframe/plotting/tests/__init__.py
  mars/dataframe/plotting/tests/test_plot.py
Labels: backport, mod: dataframe, type: feature

#1169 [BACKPORT] Support `Tensor.__setitem__` with bool indexing (#1159)
  mars/dataframe/statistics/tests/test_statistics_execute.py
  mars/dataframe/window/rolling/tests/test_rolling_execute.py
  mars/tensor/core.py
  mars/tensor/indexing/getitem.py
  mars/tensor/indexing/setitem.py
  mars/tensor/indexing/tests/test_indexing.py
  mars/tensor/indexing/tests/test_indexing_execute.py
  mars/tensor/statistics/tests/test_statistics_execute.py
  mars/tests/core.py
Labels: backport, mod: tensor, type: feature

#1170 [BACKPORT]Implement DataFrame nunique (#1137)
  mars/dataframe/merge/merge.py
  mars/dataframe/reduction/__init__.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/nunique.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/reduction/var.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#1172 Allow using pyarrow==0.17.0
  .github/workflows/ci.yml
  docs/requirements-doc.txt
  mars/_version.py
  mars/worker/storage/sharedstore.py
  requirements-dev.txt
  requirements.txt
Labels: mod: worker, to be backported, type: tests

#1173 [BACKPORT] Allow pyarrow to use 0.17.0 (#1172)
  .github/workflows/ci.yml
  docs/requirements-doc.txt
  docs/source/contributing.rst
  mars/_version.py
  mars/worker/storage/sharedstore.py
  requirements-dev.txt
  requirements.txt
Labels: backport, mod: worker, type: tests

#1174 Implements {DataFrame,Series}.diff
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.diff.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.diff.rst
  docs/source/dataframe/reference/frame.rst
  docs/source/dataframe/reference/series.rst
  mars/dataframe/base/__init__.py
  mars/dataframe/base/diff.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#1177 [BACKPORT] Implements {DataFrame,Series}.diff (#1174)
  mars/dataframe/base/__init__.py
  mars/dataframe/base/diff.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#1176 Support modulo operand for DataFrame
  .github/workflows/ci.yml
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.mod.rst
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.rmod.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.mod.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.rmod.rst
  docs/source/dataframe/reference/frame.rst
  docs/source/dataframe/reference/series.rst
  mars/dataframe/arithmetic/__init__.py
  mars/dataframe/arithmetic/mod.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
Labels: mod: dataframe, to be backported, type: feature

#1180 [BACKPORT] Support modulo operand for DataFrame (#1176)
  .gitignore
  mars/dataframe/arithmetic/__init__.py
  mars/dataframe/arithmetic/mod.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
Labels: backport, mod: dataframe, type: feature

#1181 Add `Series.value_counts()` support
  docs/source/dataframe/reference/api/mars.dataframe.Series.append.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.value_counts.rst
  docs/source/dataframe/reference/series.rst
  mars/dataframe/arithmetic/core.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/value_counts.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/merge/concat.py
  mars/dataframe/operands.py
  mars/dataframe/utils.py
  mars/executor.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, type: feature

#1182 Add learn docs
  .github/workflows/ci.yml
  docs/requirements-doc.txt
  docs/source/dataframe/reference/api/mars.dataframe.Series.rst
  docs/source/index.rst
  docs/source/install.rst
  docs/source/kubernetes.rst
  docs/source/learn/generated/mars.learn.contrib.pytorch.MarsDataset.rst
  docs/source/learn/generated/mars.learn.contrib.pytorch.MarsDistributedSampler.rst
  docs/source/learn/generated/mars.learn.contrib.pytorch.MarsRandomSampler.rst
  docs/source/learn/generated/mars.learn.contrib.pytorch.run_pytorch_script.rst
  docs/source/learn/generated/mars.learn.contrib.tensorflow.run_tensorflow_script.rst
  docs/source/learn/generated/mars.learn.contrib.xgboost.MarsDMatrix.rst
  docs/source/learn/generated/mars.learn.contrib.xgboost.XGBClassifier.rst
  docs/source/learn/generated/mars.learn.contrib.xgboost.XGBRegressor.rst
  docs/source/learn/generated/mars.learn.contrib.xgboost.predict.rst
  docs/source/learn/generated/mars.learn.contrib.xgboost.train.rst
  docs/source/learn/generated/mars.learn.datasets.make_blobs.rst
  docs/source/learn/generated/mars.learn.datasets.make_classification.rst
  docs/source/learn/generated/mars.learn.datasets.make_low_rank_matrix.rst
  docs/source/learn/generated/mars.learn.decomposition.PCA.rst
  docs/source/learn/generated/mars.learn.decomposition.TruncatedSVD.rst
  docs/source/learn/generated/mars.learn.metrics.accuracy_score.rst
  docs/source/learn/generated/mars.learn.metrics.pairwise.cosine_distances.rst
  docs/source/learn/generated/mars.learn.metrics.pairwise.cosine_similarity.rst
  docs/source/learn/generated/mars.learn.metrics.pairwise.euclidean_distances.rst
  docs/source/learn/generated/mars.learn.metrics.pairwise.haversine_distances.rst
  docs/source/learn/generated/mars.learn.metrics.pairwise.manhattan_distances.rst
  docs/source/learn/generated/mars.learn.metrics.pairwise.rbf_kernel.rst
  docs/source/learn/generated/mars.learn.metrics.pairwise_distances.rst
  docs/source/learn/generated/mars.learn.neighbors.NearestNeighbors.rst
  docs/source/learn/generated/mars.learn.preprocessing.normalize.rst
  docs/source/learn/generated/mars.learn.semi_supervised.LabelPropagation.rst
  docs/source/learn/generated/mars.learn.utils.assert_all_finite.rst
  docs/source/learn/generated/mars.learn.utils.check_X_y.rst
  docs/source/learn/generated/mars.learn.utils.check_array.rst
  docs/source/learn/generated/mars.learn.utils.check_consistent_length.rst
  docs/source/learn/generated/mars.learn.utils.multiclass.is_multilabel.rst
  docs/source/learn/generated/mars.learn.utils.multiclass.type_of_target.rst
  docs/source/learn/generated/mars.learn.utils.shuffle.rst
  docs/source/learn/generated/mars.learn.utils.validation.check_is_fitted.rst
  docs/source/learn/generated/mars.learn.utils.validation.column_or_1d.rst
  docs/source/learn/index.rst
  docs/source/learn/reference.rst
  docs/source/learn/tensorflow.rst
  docs/source/learn/xgboost.rst
  docs/source/tensor/eager-mode.rst
  docs/source/tensor/generated/mars.tensor.random.RandomState.rst
  mars/learn/utils/__init__.py
Labels: mod: learn, type: docs

#1183 Add translation for learn docs
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.DataFrame.plot.line.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.Series.append.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.Series.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.Series.value_counts.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/frame.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/general_functions.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/series.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/user_guide/10min.po
  docs/source/locale/zh_CN/LC_MESSAGES/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.contrib.pytorch.MarsDataset.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.contrib.pytorch.MarsDistributedSampler.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.contrib.pytorch.MarsRandomSampler.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.contrib.pytorch.run_pytorch_script.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.contrib.tensorflow.run_tensorflow_script.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.contrib.xgboost.MarsDMatrix.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.contrib.xgboost.XGBClassifier.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.contrib.xgboost.XGBRegressor.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.contrib.xgboost.predict.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.contrib.xgboost.train.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.datasets.make_blobs.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.datasets.make_classification.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.datasets.make_low_rank_matrix.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.decomposition.PCA.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.decomposition.TruncatedSVD.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.metrics.accuracy_score.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.metrics.pairwise.cosine_distances.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.metrics.pairwise.cosine_similarity.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.metrics.pairwise.euclidean_distances.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.metrics.pairwise.haversine_distances.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.metrics.pairwise.manhattan_distances.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.metrics.pairwise.rbf_kernel.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.metrics.pairwise_distances.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.neighbors.NearestNeighbors.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.preprocessing.normalize.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.semi_supervised.LabelPropagation.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.utils.assert_all_finite.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.utils.check_X_y.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.utils.check_array.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.utils.check_consistent_length.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.utils.multiclass.is_multilabel.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.utils.multiclass.type_of_target.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.utils.shuffle.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.utils.validation.check_is_fitted.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/generated/mars.learn.utils.validation.column_or_1d.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/reference.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/tensorflow.po
  docs/source/locale/zh_CN/LC_MESSAGES/learn/xgboost.po
  docs/source/locale/zh_CN/LC_MESSAGES/tensor/generated/mars.tensor.random.RandomState.po
Labels: mod: learn, type: docs

#1192 Fix serialization for `mars.learn.utils.shuffle`
  mars/learn/utils/shuffle.py
  mars/learn/utils/tests/test_shuffle.py
  mars/serialize/pbserializer.pyx
Labels: mod: learn, to be backported, type: bug

#1190 Support Mars Series in Pytorch Dataset
  mars/context.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/initializer.py
  mars/learn/contrib/pytorch/dataset.py
  mars/learn/contrib/pytorch/run_script.py
  mars/learn/contrib/pytorch/tests/dataset_sample.py
  mars/learn/contrib/pytorch/tests/integrated/test_distributed_dataset.py
  mars/session.py
  mars/tensor/datasource/array.py
  mars/tensor/indexing/getitem.py
  mars/tensor/indexing/index_lib.py
  mars/web/session.py
  mars/worker/transfer.py
Labels: mod: learn, to be backported, type: feature

#1193 [BACKPORT] Fix serialization for mars.learn.utils.shuffle (#1192)
  mars/learn/utils/shuffle.py
  mars/learn/utils/tests/test_shuffle.py
  mars/serialize/pbserializer.pyx
Labels: backport, mod: learn, type: bug

#1194 [BACKPORT] Support Mars Series in Pytorch Dataset (#1190)
  mars/context.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/initializer.py
  mars/learn/contrib/pytorch/dataset.py
  mars/learn/contrib/pytorch/run_script.py
  mars/learn/contrib/pytorch/tests/dataset_sample.py
  mars/learn/contrib/pytorch/tests/integrated/test_distributed_dataset.py
  mars/session.py
  mars/tensor/datasource/array.py
  mars/tensor/indexing/getitem.py
  mars/tensor/indexing/index_lib.py
  mars/web/session.py
  mars/worker/transfer.py
Labels: backport, mod: learn, type: feature
