Repository mars-project/mars, pull requests merged in 2020-12, with the labels that each got.

#1737 Fix `md.read_csv` when names and usecols specified
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
Labels: mod: dataframe, to be backported, type: bug

#1635 Unify groupby.agg() using ReductionCompiler
  docs/source/reference/dataframe/api/mars.dataframe.groupby.GroupBy.kurt.rst
  docs/source/reference/dataframe/api/mars.dataframe.groupby.GroupBy.kurtosis.rst
  docs/source/reference/dataframe/api/mars.dataframe.groupby.GroupBy.sem.rst
  docs/source/reference/dataframe/api/mars.dataframe.groupby.GroupBy.skew.rst
  docs/source/reference/dataframe/groupby.rst
  mars/dataframe/groupby/__init__.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/reduction/nunique.py
Labels: mod: dataframe, to be backported, type: enhancement

#1738 [BACKPORT] Fix `md.read_csv` when names and usecols specified (#1737)
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
Labels: backport, mod: dataframe, type: bug

#1739 [BACKPORT] Unify groupby.agg() using ReductionCompiler (#1635)
  docs/source/reference/dataframe/api/mars.dataframe.groupby.GroupBy.kurt.rst
  docs/source/reference/dataframe/api/mars.dataframe.groupby.GroupBy.kurtosis.rst
  docs/source/reference/dataframe/api/mars.dataframe.groupby.GroupBy.sem.rst
  docs/source/reference/dataframe/api/mars.dataframe.groupby.GroupBy.skew.rst
  docs/source/reference/dataframe/groupby.rst
  mars/dataframe/groupby/__init__.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/reduction/nunique.py
Labels: backport, mod: dataframe, type: enhancement

#1742 Make PSRS chunks more balanced
  mars/dataframe/sort/psrs.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/core.py
  mars/scheduler/operands/shuffle.py
  mars/tensor/base/psrs.py
  mars/worker/dispatcher.py
Labels: mod: dataframe, to be backported, type: bug

#1745 Support string dtype for tensor reductions
  mars/tensor/reduction/all.py
  mars/tensor/reduction/any.py
  mars/tensor/reduction/core.py
  mars/tensor/reduction/sum.py
  mars/tensor/reduction/tests/test_reduction_execute.py
Labels: mod: tensor, to be backported, type: bug

#1746 [BACKPORT] Support string dtype for tensor reductions (#1745) & balance PSRS chunks (#1742)
  mars/dataframe/sort/psrs.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/core.py
  mars/scheduler/operands/shuffle.py
  mars/tensor/base/psrs.py
  mars/tensor/reduction/all.py
  mars/tensor/reduction/any.py
  mars/tensor/reduction/core.py
  mars/tensor/reduction/sum.py
  mars/tensor/reduction/tests/test_reduction_execute.py
  mars/worker/dispatcher.py
Labels: backport, mod: dataframe, mod: tensor, type: bug

#1747 Add support for named aggregations
  mars/dataframe/__init__.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/getitem.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/worker/service.py
  mars/worker/tests/test_service.py
Labels: mod: dataframe, to be backported, type: feature

#1748 [BACKPORT] Add support for named aggregations (#1747)
  mars/dataframe/__init__.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/getitem.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/worker/service.py
  mars/worker/tests/test_service.py
Labels: backport, mod: dataframe, type: feature

#1750 Fix xgboost and lightgbm on DataFrames
  mars/dataframe/initializer.py
  mars/dataframe/merge/concat.py
  mars/dataframe/operands.py
  mars/dataframe/tests/test_initializer.py
  mars/learn/contrib/lightgbm/tests/integrated/test_distributed_lightgbm.py
  mars/learn/contrib/xgboost/tests/integrated/test_distributed_xgboost.py
  mars/scheduler/__main__.py
  mars/scheduler/operands/shuffle.py
  mars/scheduler/tests/integrated/test_normal_execution.py
Labels: mod: learn, to be backported, type: bug

#1749 Fix repeated execution of same code in distributed mode
  mars/_utils.pyx
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/iloc.py
  mars/scheduler/graph.py
  mars/scheduler/operands/common.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/tests/test_utils.py
  mars/worker/storage/client.py
Labels: mod: dataframe, to be backported, type: bug

#1751 [BACKPORT] Fix XGBoost and LightGBM on DataFrames (#1750)
  mars/dataframe/initializer.py
  mars/dataframe/merge/concat.py
  mars/dataframe/operands.py
  mars/dataframe/tests/test_initializer.py
  mars/learn/contrib/lightgbm/tests/integrated/test_distributed_lightgbm.py
  mars/learn/contrib/xgboost/tests/integrated/test_distributed_xgboost.py
  mars/scheduler/__main__.py
  mars/scheduler/operands/shuffle.py
  mars/scheduler/tests/integrated/test_normal_execution.py
Labels: backport, mod: learn, type: bug

#1753 [BACKPORT] Fix repeated execution of same code in distributed mode (#1749)
  mars/_utils.pyx
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/iloc.py
  mars/scheduler/graph.py
  mars/scheduler/operands/common.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/tests/test_utils.py
  mars/worker/storage/client.py
Labels: backport, mod: dataframe, type: bug

#1755 Support setting scalar which is a tensor for DataFrame
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/indexing/setitem.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
Labels: mod: dataframe, to be backported, type: bug

#1758 [BACKPORT] Support setting scalar which is a tensor for DataFrame (#1755)
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/indexing/setitem.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
Labels: backport, mod: dataframe, type: bug

#1760 Upgrade cython version to 0.29.14
  requirements-wheel.txt
Labels: mod: deploy

#1757 Add preliminary joblib support
  docs/source/user_guide/learn/index.rst
  docs/source/user_guide/learn/joblib.rst
  mars/_utils.pyx
  mars/_version.py
  mars/api.py
  mars/learn/contrib/joblib/__init__.py
  mars/learn/contrib/joblib/backend.py
  mars/learn/contrib/joblib/tests/__init__.py
  mars/learn/contrib/joblib/tests/integrated/__init__.py
  mars/learn/contrib/joblib/tests/integrated/test_distributed_backend.py
  mars/learn/contrib/joblib/tests/test_backend.py
  mars/ray/core.py
  mars/serialize/core.pxd
  mars/serialize/core.pyx
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/value.proto
  mars/serialize/tests/test_serialize.py
  mars/serialize/tests/testser.proto
  mars/session.py
  mars/tests/test_utils.py
  mars/web/apihandlers.py
  mars/web/session.py
  mars/web/tests/test_api.py
  requirements-wheel.txt
Labels: mod: learn, type: feature

#1762 Implements {DataFrame,Series}.replace
  .github/workflows/ci.yml
  README.rst
  docs/source/reference/dataframe/frame.rst
  mars/dataframe/__init__.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/missing/__init__.py
  mars/dataframe/missing/checkna.py
  mars/dataframe/missing/dropna.py
  mars/dataframe/missing/fillna.py
  mars/dataframe/missing/replace.py
  mars/dataframe/missing/tests/__init__.py
  mars/dataframe/missing/tests/test_missing.py
  mars/dataframe/missing/tests/test_missing_execute.py
  mars/deploy/yarn/tests/test_yarn.py
  mars/serialize/core.pxd
  mars/serialize/core.pyx
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/operand.proto
  mars/serialize/protos/value.proto
  mars/serialize/tests/test_serialize.py
  mars/serialize/tests/testser.proto
  mars/tests/core.py
Labels: mod: dataframe, to be backported, type: feature

#1765 [BACKPORT] Implements {DataFrame,Series}.replace (#1762)
  .github/workflows/ci.yml
  README.rst
  docs/source/reference/dataframe/frame.rst
  mars/_utils.pyx
  mars/dataframe/__init__.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/missing/__init__.py
  mars/dataframe/missing/checkna.py
  mars/dataframe/missing/dropna.py
  mars/dataframe/missing/fillna.py
  mars/dataframe/missing/replace.py
  mars/dataframe/missing/tests/__init__.py
  mars/dataframe/missing/tests/test_missing.py
  mars/dataframe/missing/tests/test_missing_execute.py
  mars/deploy/yarn/tests/test_yarn.py
  mars/serialize/core.pxd
  mars/serialize/core.pyx
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/operand.proto
  mars/serialize/protos/value.proto
  mars/serialize/tests/test_serialize.py
  mars/serialize/tests/testser.proto
  mars/tests/core.py
  mars/tests/test_utils.py
Labels: backport, mod: dataframe, type: feature

#1764 Fill docs for apply and transform
  mars/dataframe/base/apply.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/transform.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/cum.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/groupby/transform.py
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
  mars/deploy/local/tests/test_cluster.py
  mars/operands.py
Labels: mod: dataframe, to be backported, type: docs

#1767 [BACKPORT] Fill docs for apply and transform (#1764)
  mars/dataframe/base/apply.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/transform.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/cum.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/groupby/transform.py
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
  mars/deploy/local/tests/test_cluster.py
  mars/operands.py
Labels: backport, mod: dataframe, type: docs

#1769 Spawn serialization of executable graphs
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/core.py
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/graph.py
  mars/scheduler/operands/base.py
Labels: mod: web, to be backported, type: bug

#1770 [BACKPORT] Spawn serialization of executable graphs (#1769)
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/core.py
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/graph.py
  mars/scheduler/operands/base.py
Labels: backport, mod: web, type: bug

#1772 Fix getitem on DataFrames with unknown index
  mars/api.py
  mars/dataframe/align.py
  mars/dataframe/arithmetic/__init__.py
  mars/dataframe/arithmetic/add.py
  mars/dataframe/arithmetic/bitwise_and.py
  mars/dataframe/arithmetic/bitwise_or.py
  mars/dataframe/arithmetic/bitwise_xor.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/equal.py
  mars/dataframe/arithmetic/floordiv.py
  mars/dataframe/arithmetic/greater.py
  mars/dataframe/arithmetic/greater_equal.py
  mars/dataframe/arithmetic/invert.py
  mars/dataframe/arithmetic/less.py
  mars/dataframe/arithmetic/less_equal.py
  mars/dataframe/arithmetic/mod.py
  mars/dataframe/arithmetic/multiply.py
  mars/dataframe/arithmetic/not_equal.py
  mars/dataframe/arithmetic/power.py
  mars/dataframe/arithmetic/subtract.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/arithmetic/truediv.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/missing/dropna.py
  mars/dataframe/ufunc/tensor.py
  mars/learn/contrib/xgboost/tests/integrated/test_distributed_xgboost.py
  mars/learn/contrib/xgboost/tests/test_classifier.py
  mars/tensor/arithmetic/core.py
  mars/tests/test_session.py
  mars/worker/transfer.py
Labels: mod: dataframe, to be backported, type: bug

#1774 Add `{DataFrame, Series}.cartesian_chunk` support
  mars/dataframe/base/__init__.py
  mars/dataframe/base/cartesian_chunk.py
  mars/dataframe/base/map_chunk.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#1777 [BACKPORT] Add `{DataFrame, Series}.cartesian_chunk` support (#1774)
  mars/dataframe/base/__init__.py
  mars/dataframe/base/cartesian_chunk.py
  mars/dataframe/base/map_chunk.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/learn/contrib/xgboost/tests/integrated/test_distributed_xgboost.py
  mars/learn/contrib/xgboost/tests/test_classifier.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#1782 Fix reading partitioned parquet files in HDFS
  docs/source/installation/index.rst
  docs/source/installation/kubernetes.rst
  docs/source/installation/yarn.rst
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/datasource/tests/test_hdfs.py
  mars/dataframe/datastore/tests/test_datastore_execute.py
Labels: mod: dataframe, to be backported, type: bug

#1779 Implements reduction with `level` argument
  mars/dataframe/arithmetic/core.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
Labels: mod: dataframe, to be backported, type: feature

#1784 [BACKPORT] Implements reduction with `level` argument (#1779)
  mars/dataframe/arithmetic/core.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
Labels: backport, mod: dataframe, type: feature

#1783 [BACKPORT] Fix reading partitioned parquet files in HDFS (#1782)
  docs/source/installation/index.rst
  docs/source/installation/kubernetes.rst
  docs/source/installation/yarn.rst
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/datasource/tests/test_hdfs.py
  mars/dataframe/datastore/tests/test_datastore_execute.py
Labels: backport, mod: dataframe, type: bug

#1787 Fix creating Mars Series from empty pandas Series
  mars/_version.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/utils.py
Labels: mod: dataframe, to be backported, type: bug

#1788 [BACKPORT] Fix creating Mars Series from empty pandas Series (#1787)
  mars/_version.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/utils.py
Labels: backport, mod: dataframe, type: bug

#1798 Support md.concat on DataFrame and Series
  mars/dataframe/core.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/merge/concat.py
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/dataframe/tests/test_core.py
Labels: mod: dataframe, to be backported, type: bug

#1797 Support `missing` argument for `tensor.tosparse()` and `fill_value` argument for `sparse_tensor.todense()`
  mars/learn/contrib/lightgbm/_predict.py
  mars/learn/contrib/lightgbm/_train.py
  mars/learn/contrib/lightgbm/tests/test_classifier.py
  mars/learn/contrib/xgboost/dmatrix.py
  mars/learn/contrib/xgboost/predict.py
  mars/learn/contrib/xgboost/tests/test_predict.py
  mars/learn/contrib/xgboost/tests/test_train.py
  mars/tensor/core.py
  mars/tensor/datasource/from_dense.py
  mars/tensor/datasource/from_sparse.py
  mars/tensor/datasource/tests/test_datasource_execute.py
Labels: mod: tensor, to be backported, type: feature

#1794 Fix bug that explicit execute may be required for to_parquet and XGB predict
  docs/source/reference/dataframe/api/mars.dataframe.CustomReduction.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.backfill.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.bfill.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.explode.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.ffill.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.isnull.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.notnull.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.pad.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.replace.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.explode.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.rst
  docs/source/reference/learn/generated/mars.learn.contrib.statsmodels.MarsDistributedModel.rst
  docs/source/reference/learn/generated/mars.learn.contrib.statsmodels.MarsResults.rst
  mars/dataframe/datastore/tests/test_datastore_execute.py
  mars/dataframe/datastore/to_parquet.py
  mars/learn/contrib/xgboost/predict.py
  mars/learn/contrib/xgboost/tests/test_classifier.py
Labels: mod: dataframe, mod: learn, to be backported, type: bug

#1800 [BACKPORT] Fix bug that explicit execute may be required for to_parquet and XGB predict (#1794)
  docs/source/reference/dataframe/api/mars.dataframe.CustomReduction.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.backfill.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.bfill.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.explode.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.ffill.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.isnull.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.notnull.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.pad.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.replace.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.explode.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.rst
  docs/source/reference/learn/generated/mars.learn.contrib.statsmodels.MarsDistributedModel.rst
  docs/source/reference/learn/generated/mars.learn.contrib.statsmodels.MarsResults.rst
  mars/dataframe/datastore/tests/test_datastore_execute.py
  mars/dataframe/datastore/to_parquet.py
  mars/learn/contrib/xgboost/predict.py
  mars/learn/contrib/xgboost/tests/test_classifier.py
Labels: backport, mod: dataframe, mod: learn, type: bug

#1802 [BACKPORT] Support `missing` argument for `tensor.tosparse()` and `fill_value` argument for `sparse_tensor.todense()` (#1797)
  mars/learn/contrib/lightgbm/_predict.py
  mars/learn/contrib/lightgbm/_train.py
  mars/learn/contrib/lightgbm/tests/test_classifier.py
  mars/learn/contrib/xgboost/dmatrix.py
  mars/learn/contrib/xgboost/predict.py
  mars/learn/contrib/xgboost/tests/test_predict.py
  mars/learn/contrib/xgboost/tests/test_train.py
  mars/tensor/core.py
  mars/tensor/datasource/from_dense.py
  mars/tensor/datasource/from_sparse.py
  mars/tensor/datasource/tests/test_datasource_execute.py
Labels: backport, mod: tensor, type: feature

#1801 [BACKPORT] Support md.concat on DataFrame and Series (#1798)
  mars/dataframe/core.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/merge/concat.py
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/dataframe/tests/test_core.py
Labels: backport, mod: dataframe, type: bug

#1805 Improve proxima recall_by_id computation method
  README.rst
  mars/learn/proxima/simple_index/builder.py
  mars/learn/proxima/simple_index/recall.py
  mars/learn/proxima/simple_index/searcher.py
Labels: mod: learn, to be backported, type: enhancement

#1790 Revise to/from vineyard, for Tensor and DataFrame.
  .codecov.yml
  .coveragerc
  .coveragerc-threaded
  .github/codecov-upstream.yml
  .github/workflows/platform-ci.yml
  mars/dataframe/datasource/from_vineyard.py
  mars/dataframe/datastore/tests/test_datastore_execute.py
  mars/dataframe/datastore/to_vineyard.py
  mars/serialize/dataserializer.py
  mars/serialize/protos/operand.proto
  mars/tensor/datasource/__init__.py
  mars/tensor/datasource/from_vineyard.py
  mars/tensor/datastore/__init__.py
  mars/tensor/datastore/tests/test_datastore_execute.py
  mars/tensor/datastore/to_vineyard.py
Labels: mod: worker, to be backported, type: enhancement

#1807 [BACKPORT] Improve proxima `recall_by_id` computation method (#1805)
  README.rst
  mars/learn/proxima/simple_index/builder.py
  mars/learn/proxima/simple_index/recall.py
  mars/learn/proxima/simple_index/searcher.py
Labels: backport, mod: learn, type: enhancement

#1806 [BACKPORT] Revise to/from vineyard, of Tensor and DataFrame. (#1790)
  .codecov.yml
  .coveragerc
  .coveragerc-threaded
  .github/codecov-upstream.yml
  .github/workflows/platform-ci.yml
  mars/dataframe/datasource/from_vineyard.py
  mars/dataframe/datastore/tests/test_datastore_execute.py
  mars/dataframe/datastore/to_vineyard.py
  mars/serialize/dataserializer.py
  mars/serialize/protos/operand.proto
  mars/tensor/datasource/__init__.py
  mars/tensor/datasource/from_vineyard.py
  mars/tensor/datastore/__init__.py
  mars/tensor/datastore/tests/test_datastore_execute.py
  mars/tensor/datastore/to_vineyard.py
Labels: backport, mod: worker, type: enhancement

#1811 Add memory estimation for `read_parquet` as well as `read_csv`
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/utils.py
Labels: mod: dataframe, to be backported, type: enhancement

#1810 Support using compound agg function in lambda
  .github/workflows/core-ci.yml
  .github/workflows/os-compat-ci.yml
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/all.py
  mars/dataframe/reduction/any.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/count.py
  mars/dataframe/reduction/custom_reduction.py
  mars/dataframe/reduction/kurtosis.py
  mars/dataframe/reduction/max.py
  mars/dataframe/reduction/mean.py
  mars/dataframe/reduction/min.py
  mars/dataframe/reduction/nunique.py
  mars/dataframe/reduction/prod.py
  mars/dataframe/reduction/reduction_size.py
  mars/dataframe/reduction/sem.py
  mars/dataframe/reduction/skew.py
  mars/dataframe/reduction/str_concat.py
  mars/dataframe/reduction/sum.py
  mars/dataframe/reduction/unique.py
  mars/dataframe/reduction/var.py
  mars/deploy/kubernetes/core.py
  mars/learn/cluster/_k_means_init.py
  mars/operands.py
  mars/tests/test_session.py
  requirements-extra.txt
Labels: mod: dataframe, to be backported, type: enhancement

#1815 [BACKPORT] Add memory estimation for `read_parquet` as well as `read_csv` (#1811)
  .github/workflows/core-ci.yml
  .github/workflows/os-compat-ci.yml
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/deploy/kubernetes/core.py
  mars/learn/cluster/_k_means_init.py
  mars/operands.py
  mars/tests/test_session.py
  mars/utils.py
  requirements-extra.txt
Labels: backport, mod: dataframe, type: enhancement

#1817 Fix compatibility for sklearn 0.24.0
  .github/workflows/core-ci.yml
  .github/workflows/os-compat-ci.yml
  mars/learn/cluster/_k_means_init.py
  mars/learn/cluster/_kmeans.py
  mars/learn/cluster/tests/test_k_means.py
Labels: mod: learn, to be backported, type: bug

#1819 [BACKPORT] Support using compound agg function in lambda (#1810)
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/all.py
  mars/dataframe/reduction/any.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/count.py
  mars/dataframe/reduction/custom_reduction.py
  mars/dataframe/reduction/kurtosis.py
  mars/dataframe/reduction/max.py
  mars/dataframe/reduction/mean.py
  mars/dataframe/reduction/min.py
  mars/dataframe/reduction/nunique.py
  mars/dataframe/reduction/prod.py
  mars/dataframe/reduction/reduction_size.py
  mars/dataframe/reduction/sem.py
  mars/dataframe/reduction/skew.py
  mars/dataframe/reduction/str_concat.py
  mars/dataframe/reduction/sum.py
  mars/dataframe/reduction/unique.py
  mars/dataframe/reduction/var.py
Labels: backport, mod: dataframe, type: enhancement

#1820 [BACKPORT] Fix compatibility for scikit-learn 0.24.0 (#1817)
  .github/workflows/core-ci.yml
  .github/workflows/os-compat-ci.yml
  mars/learn/cluster/_k_means_init.py
  mars/learn/cluster/_kmeans.py
  mars/learn/cluster/tests/test_k_means.py
Labels: backport, mod: learn, type: bug

#1818 Remove unnecessary iterative tiling when predicting via XGBoost and data from/to parquet
  .github/workflows/platform-ci.yml
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/tests/test_datasource_hdfs.py
  mars/dataframe/datastore/tests/test_datastore_hdfs.py
  mars/dataframe/datastore/to_parquet.py
  mars/dataframe/indexing/set_index.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/initializer.py
  mars/dataframe/tests/test_initializer.py
  mars/deploy/yarn/tests/test_yarn.py
  mars/learn/contrib/lightgbm/core.py
  mars/learn/contrib/lightgbm/tests/test_classifier.py
  mars/learn/contrib/xgboost/classifier.py
  mars/learn/contrib/xgboost/predict.py
  mars/learn/contrib/xgboost/tests/test_classifier.py
  mars/tests/core.py
Labels: mod: dataframe, mod: learn, to be backported, type: bug

#1821 [BACKPORT] Remove unnecessary iterative tiling when predicting via XGBoost and data from/to parquet (#1818)
  .github/workflows/platform-ci.yml
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/tests/test_datasource_hdfs.py
  mars/dataframe/datastore/tests/test_datastore_hdfs.py
  mars/dataframe/datastore/to_parquet.py
  mars/dataframe/indexing/set_index.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/initializer.py
  mars/dataframe/tests/test_initializer.py
  mars/deploy/yarn/tests/test_yarn.py
  mars/learn/contrib/lightgbm/core.py
  mars/learn/contrib/lightgbm/tests/test_classifier.py
  mars/learn/contrib/xgboost/classifier.py
  mars/learn/contrib/xgboost/predict.py
  mars/learn/contrib/xgboost/tests/test_classifier.py
  mars/tests/core.py
Labels: backport, mod: dataframe, mod: learn, type: bug

#1823 Add `incremental_index` argument to `reset_index` which by default is False
  mars/dataframe/indexing/reset_index.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/merge/concat.py
  mars/tensor/datasource/from_dense.py
Labels: mod: dataframe, to be backported, type: enhancement

#1827 Refine kubedl cluster-api.
  mars/deploy/kubedl/config.py
Labels: mod: deploy, to be backported, type: enhancement

#1842 [BACKPORT] Add `incremental_index` argument to `reset_index` which by default is False (#1823)
  mars/dataframe/indexing/reset_index.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/merge/concat.py
  mars/deploy/kubedl/config.py
  mars/tensor/datasource/from_dense.py
Labels: backport, mod: dataframe, type: enhancement

#1844 Implements `mars.learn.preprocessing.{MinMaxScaler, minmax_scale}`
  docs/source/reference/learn/reference.rst
  mars/_version.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/utils.py
  mars/learn/base.py
  mars/learn/cluster/_kmeans.py
  mars/learn/preprocessing/__init__.py
  mars/learn/preprocessing/_data.py
  mars/learn/preprocessing/tests/test_data.py
  mars/learn/preprocessing/tests/test_normalize.py
  mars/tensor/datasource/array.py
  requirements-dev.txt
  requirements.txt
Labels: mod: learn, to be backported, type: feature

#1848 Enhancements for Mars on kubedl
  mars/deploy/kubedl/client.py
  mars/deploy/kubedl/config.py
Labels: mod: deploy, to be backported, type: enhancement

#1849 Implements head() on groupby objects
  docs/source/reference/dataframe/groupby.rst
  mars/base_app.py
  mars/dataframe/groupby/__init__.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/head.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/sort/psrs.py
  mars/serialize/protos/operand.proto
  mars/web/__main__.py
Labels: mod: dataframe, to be backported, type: feature

#1851 [BACKPORT] Implements head() on groupby objects (#1849)
  docs/source/reference/dataframe/groupby.rst
  mars/base_app.py
  mars/dataframe/groupby/__init__.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/head.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/sort/psrs.py
  mars/serialize/protos/operand.proto
  mars/tensor/core.py
  mars/web/__main__.py
  requirements-dev.txt
  requirements.txt
Labels: backport, mod: dataframe, type: feature

#1846 Resolve KeyError when calling `delete_keys` for ray backend
  mars/dataframe/operands.py
  mars/executor.py
  mars/learn/operands.py
  mars/operands.py
  mars/ray/core.py
  mars/ray/tests/test_ray_execution.py
  mars/tensor/operands.py
Labels: mod: ray backend, to be backported, type: bug

#1853 Support `to_pandas` in a batch way for DataFrame and Series
  mars/core.py
  mars/dataframe/core.py
  mars/dataframe/utils.py
  mars/tests/test_session.py
Labels: mod: dataframe, to be backported, type: enhancement

#1854 [BACKPORT] Resolve KeyError when calling `delete_keys` for ray backend (#1846)
  mars/dataframe/operands.py
  mars/executor.py
  mars/learn/operands.py
  mars/operands.py
  mars/ray/core.py
  mars/ray/tests/test_ray_execution.py
  mars/tensor/operands.py
Labels: backport, mod: ray backend, type: bug

#1856 Support specifying memory limit scale in kubernetes
  mars/deploy/kubedl/config.py
  mars/deploy/kubernetes/client.py
  mars/deploy/kubernetes/config.py
  mars/deploy/kubernetes/tests/test_config.py
  mars/resource.py
Labels: mod: deploy, to be backported, type: enhancement
