Repository mars-project/mars, pull requests merged in 2020-03, with the labels that each got.

#1016 Refactor tiling of `DataFrame.iloc` with `index_lib`
  mars/dataframe/core.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/operands.py
  mars/dataframe/utils.py
  mars/tensor/indexing/index_lib.py
Labels: mod: dataframe, to be backported, type: enhancement

#1029 Add support for md.fillna
  mars/dataframe/base/__init__.py
  mars/dataframe/base/fillna.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/reduction/core.py
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#1031 [BACKPORT] Add support for md.fillna (#1029)
  .codacy.yml
  mars/dataframe/base/__init__.py
  mars/dataframe/base/fillna.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/reduction/core.py
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#1033 Fix KNN so that it can accept input with unknown shape
  mars/core.py
  mars/executor.py
  mars/learn/neighbors/base.py
  mars/learn/neighbors/tests/test_nearest_neighbors.py
  mars/learn/utils/validation.py
  mars/tensor/fuse/ne.py
  mars/tensor/reduction/core.py
Labels: mod: learn, type: bug

#1040 Implement DataFrame.concat and Series.concat
  mars/dataframe/__init__.py
  mars/dataframe/merge/__init__.py
  mars/dataframe/merge/concat.py
  mars/dataframe/merge/tests/test_merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
Labels: mod: dataframe, to be backported, type: feature

#1043 [BACKPORT] Refactor tiling of `DataFrame.iloc` with `index_lib` (#1016)
  mars/core.py
  mars/dataframe/core.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/operands.py
  mars/dataframe/utils.py
  mars/executor.py
  mars/learn/utils/validation.py
  mars/tensor/fuse/ne.py
  mars/tensor/indexing/index_lib.py
  mars/tensor/reduction/core.py
Labels: backport, mod: dataframe, type: enhancement

#1038 Implement md.{DataFrame,Series,GroupBy}.apply
  mars/_utils.pyx
  mars/dataframe/base/__init__.py
  mars/dataframe/base/apply.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/groupby/__init__.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/merge/concat.py
  mars/dataframe/merge/merge.py
  mars/dataframe/operands.py
  mars/dataframe/utils.py
  mars/serialize/protos/operand.proto
  mars/tests/test_utils.py
Labels: mod: dataframe, type: feature

#1048 Add support for function serialization
  mars/dataframe/base/apply.py
  mars/dataframe/base/map.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/core.py
  mars/dataframe/merge/concat.py
  mars/dataframe/operands.py
  mars/learn/neighbors/_ball_tree.py
  mars/learn/neighbors/tree.py
  mars/serialize/__init__.py
  mars/serialize/core.pxd
  mars/serialize/core.pyx
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/value.proto
  mars/serialize/tests/test_serialize.py
  mars/serialize/tests/testser.proto
  mars/tensor/spatial/distance/cdist.py
  mars/tensor/spatial/distance/pdist.py
Labels: mod: serialization, type: feature

#1046 Add support for DataFrame.sort_values
  mars/dataframe/__init__.py
  mars/dataframe/base/standardize_range_index.py
  mars/dataframe/sort/__init__.py
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/sort/tests/__init__.py
  mars/dataframe/sort/tests/test_sort.py
  mars/dataframe/sort/tests/test_sort_execute.py
  mars/dataframe/utils.py
  mars/serialize/protos/operand.proto
  mars/tensor/base/partition.py
  mars/tensor/base/psrs.py
  mars/tensor/base/sort.py
Labels: mod: dataframe, to be backported, type: feature

#1042 Add `DataFrame.loc` support
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/loc.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/indexing/utils.py
  mars/dataframe/utils.py
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/operand.proto
  mars/serialize/protos/value.proto
  mars/serialize/tests/test_serialize.py
  requirements-dev.txt
  requirements.txt
Labels: mod: dataframe, to be backported, type: feature

#1045 Add DataFrame.rolling support
  mars/dataframe/__init__.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/utils.py
  mars/dataframe/window/__init__.py
  mars/dataframe/window/rolling/__init__.py
  mars/dataframe/window/rolling/aggregation.py
  mars/dataframe/window/rolling/core.py
  mars/dataframe/window/rolling/tests/__init__.py
  mars/dataframe/window/rolling/tests/test_rolling.py
  mars/dataframe/window/rolling/tests/test_rolling_execute.py
  mars/serialize/jsonserializer.pyx
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#1060 [BACKPORT] Add `DataFrame.loc` support (#1042)
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/loc.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/indexing/utils.py
  mars/dataframe/reduction/var.py
  mars/dataframe/utils.py
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/operand.proto
  mars/serialize/protos/value.proto
  mars/serialize/tests/test_serialize.py
  mars/web/tests/test_api.py
  requirements-dev.txt
  requirements.txt
Labels: backport, mod: dataframe, type: feature

#1054 Add support for {DataFrame,Series}.agg
  mars/core.py
  mars/dataframe/base/apply.py
  mars/dataframe/base/fillna.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/merge/concat.py
  mars/dataframe/reduction/__init__.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/reduction/var.py
  mars/dataframe/utils.py
  mars/operands.py
  mars/serialize/protos/operand.proto
  mars/web/tests/test_api.py
Labels: mod: dataframe, type: feature

#1065 Support serializing `pd.Timestamp` and `pd.Timedelta`
  mars/dataframe/core.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/indexvalue.proto
Labels: mod: serialization, to be backported, type: bug

#1061 [BACKPORT] Add DataFrame.rolling support (#1045)
  mars/dataframe/__init__.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/core.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/utils.py
  mars/dataframe/window/__init__.py
  mars/dataframe/window/rolling/__init__.py
  mars/dataframe/window/rolling/aggregation.py
  mars/dataframe/window/rolling/core.py
  mars/dataframe/window/rolling/tests/__init__.py
  mars/dataframe/window/rolling/tests/test_rolling.py
  mars/dataframe/window/rolling/tests/test_rolling_execute.py
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/indexvalue.proto
  mars/serialize/protos/operand.proto
  mars/web/tests/test_api.py
Labels: backport, mod: dataframe, type: feature

#1063 Support string and datetime methods via `Series.str` and `Series.dt` accessor
  mars/dataframe/base/__init__.py
  mars/dataframe/base/accessor.py
  mars/dataframe/base/datetimes.py
  mars/dataframe/base/string_.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#1069 Add support for GroupBy.{cumcount,cummin,cummax,cumprod,cumsum}
  mars/dataframe/groupby/__init__.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/cum.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/operands.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#1066 [BACKPORT] Standardize RangeIndex for unknown shape DataFrame (#930)
  mars/dataframe/base/reset_index.py
  mars/dataframe/base/standardize_range_index.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/utils.py
  mars/operands.py
  mars/scheduler/graph.py
  mars/scheduler/tests/integrated/no_prepare_op.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/serialize/protos/operand.proto
  mars/worker/calc.py
  mars/worker/execution.py
Labels: backport, mod: dataframe, type: bug

#1067 [BACKPORT] Add `sort_range_index` parameter in readcsv (#1024)
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/merge/merge.py
Labels: backport, mod: dataframe, type: bug

#1072 [BACKPORT] Add support for GroupBy.{cumcount,cummin,cummax,cumprod,cumsum} (#1069)
  mars/dataframe/groupby/__init__.py
  mars/dataframe/groupby/cum.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/operands.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#1074 [BACKPORT] Support string and datetime methods via `Series.str` and `Series.dt` accessor (#1063)
  mars/dataframe/base/__init__.py
  mars/dataframe/base/accessor.py
  mars/dataframe/base/datetimes.py
  mars/dataframe/base/string_.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#1075 [BACKPORT] Implement dataframe append (#1026)
  mars/dataframe/base/standardize_range_index.py
  mars/dataframe/merge/__init__.py
  mars/dataframe/merge/append.py
  mars/dataframe/merge/tests/test_merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#1053 Support sort_index for DataFrame and Series
  mars/_version.py
  mars/dataframe/sort/__init__.py
  mars/dataframe/sort/core.py
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/sort_index.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/sort/tests/test_sort.py
  mars/dataframe/sort/tests/test_sort_execute.py
  mars/dataframe/utils.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#1062 Fix failed cases in distributed mode
  mars/dataframe/indexing/getitem.py
  mars/dataframe/merge/merge.py
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/graph.py
  mars/scheduler/operands/common.py
  mars/serialize/protos/dataframe.proto
Labels: mod: scheduler, to be backported, type: bug

#1078 [BACKPORT] Implement DataFrame.concat and Series.concat (#1040)
  mars/dataframe/__init__.py
  mars/dataframe/merge/__init__.py
  mars/dataframe/merge/concat.py
  mars/dataframe/merge/tests/test_merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
Labels: backport, mod: dataframe, type: feature

#1080 Fix wrong dtypes in df.rechunk
  mars/dataframe/base/rechunk.py
  mars/dataframe/base/tests/test_base.py
Labels: mod: dataframe, to be backported, type: bug

#1079 [BACKPORT] Fix failed cases in distributed mode (#1062)
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/merge/merge.py
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/graph.py
  mars/scheduler/operands/common.py
  mars/serialize/protos/dataframe.proto
Labels: backport, mod: scheduler, type: bug

#1081 [BACKPORT] Add support for DataFrame.sort_values (#1046)
  mars/dataframe/__init__.py
  mars/dataframe/base/standardize_range_index.py
  mars/dataframe/sort/__init__.py
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/sort/tests/__init__.py
  mars/dataframe/sort/tests/test_sort.py
  mars/dataframe/sort/tests/test_sort_execute.py
  mars/dataframe/utils.py
  mars/serialize/protos/operand.proto
  mars/tensor/base/partition.py
  mars/tensor/base/psrs.py
  mars/tensor/base/sort.py
Labels: backport, mod: dataframe, type: feature

#1082 [BACKPORT] Support sort_index for DataFrame and Series (#1053)
  mars/_version.py
  mars/dataframe/sort/__init__.py
  mars/dataframe/sort/core.py
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/sort_index.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/sort/tests/test_sort.py
  mars/dataframe/sort/tests/test_sort_execute.py
  mars/dataframe/utils.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#1083 [BACKPORT] Fix wrong dtypes in df.rechunk (#1080)
  mars/dataframe/base/rechunk.py
  mars/dataframe/base/tests/test_base.py
Labels: backport, mod: dataframe, type: bug

#1073 Add `md.date_range` support
  .github/workflows/ci.yml
  mars/_utils.pyx
  mars/dataframe/__init__.py
  mars/dataframe/arithmetic/__init__.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/rechunk.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/datasource/date_range.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/index.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/merge/concat.py
  mars/dataframe/operands.py
  mars/serialize/__init__.py
  mars/serialize/core.pxd
  mars/serialize/core.pyx
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/dataframe.proto
  mars/serialize/protos/operand.proto
  mars/serialize/protos/value.proto
  mars/serialize/tests/test_serialize.py
  mars/serialize/tests/testser.proto
Labels: mod: dataframe, to be backported, type: feature

#1056 Logical operators on DataFrame and Series.
  mars/dataframe/arithmetic/__init__.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/logical_and.py
  mars/dataframe/arithmetic/logical_not.py
  mars/dataframe/arithmetic/logical_or.py
  mars/dataframe/arithmetic/logical_xor.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
Labels: mod: dataframe, to be backported, type: feature

#1050 Fix failed fit method selection for KNN when input has unknown shape
  mars/learn/neighbors/_ball_tree.py
  mars/learn/neighbors/_faiss.py
  mars/learn/neighbors/_kd_tree.py
  mars/learn/neighbors/base.py
  mars/learn/neighbors/tests/test_nearest_neighbors.py
  mars/learn/neighbors/tree.py
  mars/tensor/array_utils.py
  mars/tensor/base/astype.py
Labels: mod: learn, type: bug

#1085 Fix consistency between tensor metadata and real outputs
  mars/dataframe/align.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/merge/concat.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/core.py
  mars/dataframe/statistics/quantile.py
  mars/dataframe/window/rolling/aggregation.py
  mars/executor.py
  mars/lib/sparse/array.py
  mars/tensor/base/partition.py
  mars/tensor/base/psrs.py
  mars/tensor/base/sort.py
  mars/tensor/fft/irfft.py
  mars/tensor/indexing/core.py
  mars/tensor/indexing/index_lib.py
  mars/tensor/statistics/histogram.py
  mars/tensor/statistics/quantile.py
  mars/tests/core.py
Labels: mod: dataframe, mod: tensor, to be backported, type: bug

#1057 Implements head/tail based on iloc, and fixes bug in `getitem`.
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
Labels: mod: dataframe, to be backported, type: feature

#1086 [BACKPORT] Add `md.date_range` support (#1073)
  .github/workflows/ci.yml
  mars/_utils.pyx
  mars/dataframe/__init__.py
  mars/dataframe/arithmetic/__init__.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/rechunk.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/datasource/date_range.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/index.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/merge/concat.py
  mars/dataframe/operands.py
  mars/serialize/__init__.py
  mars/serialize/core.pxd
  mars/serialize/core.pyx
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/dataframe.proto
  mars/serialize/protos/operand.proto
  mars/serialize/protos/value.proto
  mars/serialize/tests/test_serialize.py
  mars/serialize/tests/testser.proto
Labels: backport, mod: dataframe, type: feature

#1088 [BACKPORT] Logical operators on DataFrame and Series. (#1056)
  mars/dataframe/arithmetic/__init__.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/logical_and.py
  mars/dataframe/arithmetic/logical_not.py
  mars/dataframe/arithmetic/logical_or.py
  mars/dataframe/arithmetic/logical_xor.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
Labels: backport, mod: dataframe, type: feature

#1089 [BACKPORT] Implements head/tail based on iloc, and fixes bug in `getitem`. (#1057)
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
Labels: backport, mod: dataframe, type: feature

#1087 [BACKPORT] Fix consistency between tensor metadata and real outputs (#1085)
  mars/dataframe/align.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/merge/concat.py
  mars/dataframe/reduction/core.py
  mars/dataframe/statistics/quantile.py
  mars/dataframe/window/rolling/aggregation.py
  mars/executor.py
  mars/lib/sparse/array.py
  mars/tensor/base/partition.py
  mars/tensor/base/psrs.py
  mars/tensor/base/sort.py
  mars/tensor/fft/irfft.py
  mars/tensor/indexing/core.py
  mars/tensor/indexing/index_lib.py
  mars/tensor/statistics/histogram.py
  mars/tensor/statistics/quantile.py
  mars/tests/core.py
Labels: backport, mod: dataframe, mod: tensor, type: bug

#1091 Fix `validate_axis` when input tileable has unknown shape
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
  mars/tensor/base/psrs.py
Labels: mod: dataframe, to be backported, type: bug

#1092 [BACKPORT] Fix validate_axis when input tileable has unknown shape (#1091)
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
  mars/tensor/base/psrs.py
Labels: backport, mod: dataframe, type: bug

#1071 Check metadata consistency for output chunks and tileables
  mars/dataframe/arithmetic/dot.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/base/apply.py
  mars/dataframe/base/reset_index.py
  mars/dataframe/base/standardize_range_index.py
  mars/dataframe/base/string_.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/datasource/date_range.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datastore/to_csv.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/set_index.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/merge/concat.py
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge.py
  mars/dataframe/sort/sort_index.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/sort/tests/test_sort.py
  mars/dataframe/sort/tests/test_sort_execute.py
  mars/dataframe/utils.py
  mars/tensor/base/searchsorted.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/unique.py
  mars/tensor/reduction/core.py
  mars/tensor/reduction/count_nonzero.py
  mars/tests/core.py
Labels: mod: dataframe, mod: tensor, to be backported, type: bug, type: tests

#1094 [BACKPORT] Check metadata consistency for output chunks and tileables (#1071)
  mars/dataframe/arithmetic/dot.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/base/reset_index.py
  mars/dataframe/base/standardize_range_index.py
  mars/dataframe/base/string_.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/datasource/date_range.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datastore/to_csv.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/set_index.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/merge/concat.py
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge.py
  mars/dataframe/sort/sort_index.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/sort/tests/test_sort.py
  mars/dataframe/sort/tests/test_sort_execute.py
  mars/dataframe/utils.py
  mars/serialize/core.pyx
  mars/tensor/arithmetic/isclose.py
  mars/tensor/base/searchsorted.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/unique.py
  mars/tensor/reduction/core.py
  mars/tensor/reduction/count_nonzero.py
  mars/tests/core.py
Labels: backport, mod: dataframe, mod: tensor, type: bug, type: tests

#1096 Optimize performance of executor when running ops less than number of parallelism
  .github/workflows/install-minikube.sh
  mars/_version.py
  mars/dataframe/datasource/dataframe.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/merge/concat.py
  mars/executor.py
  mars/tests/test_executor.py
  requirements-dev.txt
  requirements-extra.txt
  requirements.txt
Labels: mod: dataframe, to be backported, type: enhancement

#1098 Support creating DataFrame from dict in which scalar exists
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/initializer.py
  mars/executor.py
Labels: mod: dataframe, to be backported, type: bug

#1101 Implements `at` and `iat` for DataFrame
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/at.py
  mars/dataframe/indexing/iat.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
Labels: mod: dataframe, to be backported, type: feature

#1099 [BACKPORT] Optimize performance of executor when running ops less than number of parallelism (#1096)
  .github/workflows/ci.yml
  .github/workflows/install-conda.sh
  .github/workflows/install-minikube.sh
  mars/_version.py
  mars/dataframe/datasource/dataframe.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/merge/concat.py
  mars/executor.py
  mars/tests/test_executor.py
  requirements-dev.txt
  requirements-extra.txt
  requirements.txt
Labels: backport, mod: dataframe, type: enhancement

#1058 Implements Series.isin (for Series type).
  mars/dataframe/base/__init__.py
  mars/dataframe/base/isin.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
Labels: mod: dataframe, to be backported, type: feature

#1105 [BACKPORT]Implements `at` and `iat` for DataFrame (#1101)
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/at.py
  mars/dataframe/indexing/iat.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
Labels: backport, mod: dataframe, type: feature

#1104 [BACKPORT] Support creating DataFrame from dict in which scalar exists (#1098)
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/initializer.py
Labels: backport, mod: dataframe, type: bug

#1106 [BACKPORT] Implements Series.isin (for Series type). (#1058)
  mars/dataframe/base/__init__.py
  mars/dataframe/base/isin.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
Labels: backport, mod: dataframe, type: feature

#1103 Support slice that can be integer or other types on non-int64 index
  mars/dataframe/__init__.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/loc.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/tests/test_session.py
  mars/utils.py
Labels: mod: dataframe, to be backported, type: bug

#1109 [BACKPORT] Support slice that can be integer or other types on non-int64 index (#1103)
  mars/dataframe/__init__.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/loc.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/tests/test_session.py
  mars/utils.py
Labels: backport, mod: dataframe, type: bug

#1125 Add support for isna, notna and __dir__
  mars/dataframe/__init__.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/checkna.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/tests/test_utils.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature
