Repository mars-project/mars, pull requests merged in 2020-09, with the labels that each got.

#1541 Fix `md.read_csv` for Ray executor
  mars/dataframe/core.py
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/ray/core.py
  mars/ray/tests/test_ray_execution.py
  mars/session.py
  mars/tensor/fuse/core.py
  setup.py
Labels: mod: dataframe, mod: ray backend, type: bug

#1544 Allow returning None when using groupby.apply
  mars/context.py
  mars/dataframe/base/apply.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/utils.py
  mars/deploy/local/tests/test_cluster.py
Labels: mod: dataframe, to be backported, type: bug

#1540 Use relative paths to avoid web rendering issues under backward proxies
  mars/web/dashboard.py
  mars/web/scheduler_pages.py
  mars/web/server.py
  mars/web/session.py
  mars/web/static/js/mars.js
  mars/web/task_pages.py
  mars/web/templates/base.html
  mars/web/templates/scheduler_pages/list.html
  mars/web/templates/task_pages/list.html
  mars/web/templates/task_pages/progress.html
  mars/web/templates/task_pages/runnings.html
  mars/web/templates/worker_pages/list.html
  mars/web/tests/test_api.py
  mars/web/worker_pages.py
Labels: mod: web, to be backported, type: bug

#1545 [BACKPORT] Use relative paths to avoid web rendering issues under backward proxies (#1540)
  mars/deploy/kubernetes/docker/Dockerfile.base
  mars/web/dashboard.py
  mars/web/scheduler_pages.py
  mars/web/server.py
  mars/web/session.py
  mars/web/static/js/mars.js
  mars/web/task_pages.py
  mars/web/templates/base.html
  mars/web/templates/scheduler_pages/list.html
  mars/web/templates/task_pages/list.html
  mars/web/templates/task_pages/progress.html
  mars/web/templates/task_pages/runnings.html
  mars/web/templates/worker_pages/list.html
  mars/web/tests/test_api.py
  mars/web/worker_pages.py
  setup.py
Labels: backport, mod: web, type: bug

#1547 Add configurable label options in Kubernetes cluster
  mars/deploy/kubernetes/client.py
  mars/deploy/kubernetes/config.py
  mars/deploy/kubernetes/core.py
  mars/deploy/kubernetes/docker/Dockerfile.base
  mars/deploy/kubernetes/tests/test_config.py
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/web/static/js/mars.js
  mars/web/templates/dashboard.html
Labels: mod: deploy, to be backported, type: enhancement

#1548 [BACKPORT] Allow returning None when using groupby.apply (#1544)
  mars/context.py
  mars/dataframe/base/apply.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/utils.py
  mars/deploy/local/tests/test_cluster.py
Labels: backport, mod: dataframe, type: bug

#1550 [BACKPORT] Add configurable label options in Kubernetes cluster (#1547)
  mars/deploy/kubernetes/client.py
  mars/deploy/kubernetes/config.py
  mars/deploy/kubernetes/core.py
  mars/deploy/kubernetes/tests/test_config.py
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/web/static/js/mars.js
  mars/web/templates/dashboard.html
Labels: backport, mod: deploy, type: enhancement

#1553 Fix bug that cannot pass numpy array to `mt.swapaxes`
  mars/tensor/base/swapaxes.py
  mars/tensor/base/tests/test_base_execute.py
Labels: mod: tensor, to be backported, type: bug

#1559 Allow submitting Mars jobs in custom functions
  mars/dataframe/base/apply.py
  mars/dataframe/base/map.py
  mars/dataframe/base/transform.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/transform.py
  mars/deploy/local/tests/test_cluster.py
  mars/remote/core.py
  mars/utils.py
Labels: mod: dataframe, to be backported, type: feature

#1560 [BACKPORT] Allow submitting Mars jobs in custom functions (#1559)
  mars/dataframe/base/apply.py
  mars/dataframe/base/map.py
  mars/dataframe/base/transform.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/transform.py
  mars/deploy/local/tests/test_cluster.py
  mars/remote/core.py
  mars/utils.py
Labels: backport, mod: dataframe, type: feature

#1561 [BACKPORT] Fix bug that cannot pass numpy array to `mt.swapaxes` (#1553)
  mars/tensor/base/swapaxes.py
  mars/tensor/base/tests/test_base_execute.py
Labels: backport, mod: tensor, type: bug

#1549 Support running Mars under KubeDL
  .codecov.yml
  .coveragerc
  .coveragerc-threaded
  .github/codecov-upstream.yml
  .github/workflows/ci.yml
  mars/deploy/kubedl/__init__.py
  mars/deploy/kubedl/client.py
  mars/deploy/kubedl/config.py
Labels: mod: deploy, type: feature

#1562 Fix pandas 1.1.2 compatibility
  mars/_version.py
  mars/dataframe/groupby/aggregation.py
Labels: mod: dataframe, to be backported, type: bug

#1563 [BACKPORT] Fix pandas 1.1.2 compatibility (#1562)
  mars/_version.py
  mars/dataframe/groupby/aggregation.py
Labels: backport, mod: dataframe, type: bug

#1566 Fix compatibility for tsfresh 0.17.0
  mars/learn/contrib/tsfresh/core.py
  mars/serialize/core.pxd
  mars/serialize/core.pyx
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/value.proto
  mars/serialize/tests/test_serialize.py
  mars/serialize/tests/testser.proto
Labels: mod: learn, mod: serialization, to be backported, type: bug

#1565 Add `df.select_dtypes` support
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.select_dtypes.rst
  docs/source/reference/dataframe/frame.rst
  mars/dataframe/base/__init__.py
  mars/dataframe/base/select_dtypes.py
  mars/dataframe/base/tests/test_base_execution.py
  requirements-dev.txt
Labels: mod: dataframe, to be backported, type: feature

#1567 [BACKPORT] Fix compatibility for tsfresh 0.17.0 (#1566)
  mars/learn/contrib/tsfresh/core.py
  mars/serialize/core.pxd
  mars/serialize/core.pyx
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/value.proto
  mars/serialize/tests/test_serialize.py
  mars/serialize/tests/testser.proto
Labels: backport, mod: learn, mod: serialization, type: bug

#1568 [BACKPORT] Add `df.select_dtypes` support (#1565)
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.select_dtypes.rst
  docs/source/reference/dataframe/frame.rst
  mars/dataframe/base/__init__.py
  mars/dataframe/base/select_dtypes.py
  mars/dataframe/base/tests/test_base_execution.py
  requirements-dev.txt
Labels: backport, mod: dataframe, type: feature

#1569 Add `df.map_chunk` support
  mars/dataframe/base/__init__.py
  mars/dataframe/base/map_chunk.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#1570 [BACKPORT] Add `df.map_chunk` support (#1569)
  mars/dataframe/base/__init__.py
  mars/dataframe/base/map_chunk.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#1571 Support rescaling worker numbers in Kubernetes
  docs/source/installation/kubernetes.rst
  docs/source/locale/zh_CN/LC_MESSAGES/installation/kubernetes.po
  mars/api.py
  mars/base_app.py
  mars/cluster_info.py
  mars/deploy/kubernetes/client.py
  mars/deploy/kubernetes/core.py
  mars/deploy/kubernetes/scheduler.py
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/deploy/local/core.py
  mars/deploy/local/tests/test_cluster.py
  mars/deploy/yarn/client.py
  mars/deploy/yarn/core.py
  mars/executor.py
  mars/learn/semi_supervised/_label_propagation.py
  mars/session.py
  mars/utils.py
  mars/web/__main__.py
  mars/web/apihandlers.py
  mars/web/session.py
  mars/web/tests/test_api.py
  mars/worker/execution.py
Labels: mod: deploy, type: feature

#1572 Implements `df.rebalance()`
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.map_chunk.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.rebalance.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.dt.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.map_chunk.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.str.rst
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/api.py
  mars/context.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/map_chunk.py
  mars/dataframe/base/rebalance.py
  mars/dataframe/base/rechunk.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/operands.py
  mars/scheduler/analyzer.py
  mars/scheduler/graph.py
  mars/scheduler/resource.py
  mars/scheduler/tests/integrated/base.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/serialize/protos/operand.proto
  mars/session.py
  mars/web/apihandlers.py
  mars/worker/calc.py
Labels: mod: dataframe, to be backported, type: feature

#1573 [BACKPORT] Implements `df.rebalance()` (#1572)
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.map_chunk.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.rebalance.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.dt.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.map_chunk.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.str.rst
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/api.py
  mars/context.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/map_chunk.py
  mars/dataframe/base/rebalance.py
  mars/dataframe/base/rechunk.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/executor.py
  mars/learn/semi_supervised/_label_propagation.py
  mars/operands.py
  mars/scheduler/analyzer.py
  mars/scheduler/graph.py
  mars/scheduler/resource.py
  mars/scheduler/tests/integrated/base.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/serialize/protos/operand.proto
  mars/session.py
  mars/utils.py
  mars/web/apihandlers.py
  mars/worker/calc.py
  mars/worker/execution.py
Labels: backport, mod: dataframe, type: feature

#1577 Add support for {DataFrame,Series}.{where,mask}
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.mask.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.where.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.mask.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.where.rst
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/core.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/indexing/where.py
  mars/deploy/kubernetes/tests/test_kubernetes.py
Labels: mod: dataframe, to be backported, type: feature

#1579 [BACKPORT] Add support for {DataFrame,Series}.{where,mask} (#1577)
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.mask.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.where.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.mask.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.where.rst
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/core.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/indexing/where.py
Labels: backport, mod: dataframe, type: feature

#1576 Add `read_parquet` support
  .github/workflows/ci.yml
  mars/dataframe/__init__.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/utils.py
Labels: mod: dataframe, to be backported, type: feature

#1574 Implements `fetch_log` API
  docs/source/getting_started/execution.rst
  docs/source/getting_started/index.rst
  docs/source/getting_started/log.rst
  docs/source/getting_started/remote.rst
  docs/source/locale/zh_CN/LC_MESSAGES/getting_started/execution.po
  docs/source/locale/zh_CN/LC_MESSAGES/getting_started/log.po
  docs/source/locale/zh_CN/LC_MESSAGES/getting_started/remote.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.DataFrame.insert.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.DataFrame.map_chunk.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.DataFrame.memory_usage.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.DataFrame.rebalance.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.DataFrame.reindex.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.DataFrame.select_dtypes.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.Series.map_chunk.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.Series.memory_usage.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.Series.reindex.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.qcut.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/learn/generated/mars.learn.cluster.KMeans.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/learn/generated/mars.learn.cluster.k_means.po
  docs/source/reference/dataframe/api/mars.dataframe.ExecutableTuple.rst
  docs/source/reference/dataframe/api/mars.dataframe.read_parquet.rst
  docs/source/reference/dataframe/io.rst
  docs/source/reference/remote/generated/mars.remote.ExecutableTuple.rst
  docs/source/reference/tensor/generated/mars.tensor.ExecutableTuple.rst
  mars/config.py
  mars/context.py
  mars/core.py
  mars/custom_log.py
  mars/dataframe/base/apply.py
  mars/dataframe/base/map.py
  mars/dataframe/base/map_chunk.py
  mars/dataframe/base/transform.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/transform.py
  mars/deploy/local/core.py
  mars/ray/core.py
  mars/remote/core.py
  mars/scheduler/custom_log.py
  mars/scheduler/graph.py
  mars/scheduler/service.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/session.py
  mars/tests/test_session.py
  mars/utils.py
  mars/web/apihandlers.py
  mars/web/session.py
  mars/web/tests/test_api.py
  mars/worker/custom_log.py
  mars/worker/service.py
Labels: mod: scheduler, mod: worker, to be backported, type: feature

#1582 [BACKPORT] Implements `fetch_log` API (#1574)
  docs/source/getting_started/execution.rst
  docs/source/getting_started/index.rst
  docs/source/getting_started/log.rst
  docs/source/getting_started/remote.rst
  docs/source/locale/zh_CN/LC_MESSAGES/getting_started/execution.po
  docs/source/locale/zh_CN/LC_MESSAGES/getting_started/log.po
  docs/source/locale/zh_CN/LC_MESSAGES/getting_started/remote.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.DataFrame.insert.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.DataFrame.map_chunk.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.DataFrame.memory_usage.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.DataFrame.rebalance.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.DataFrame.reindex.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.DataFrame.select_dtypes.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.Series.map_chunk.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.Series.memory_usage.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.Series.reindex.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/api/mars.dataframe.qcut.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/learn/generated/mars.learn.cluster.KMeans.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/learn/generated/mars.learn.cluster.k_means.po
  docs/source/reference/dataframe/api/mars.dataframe.ExecutableTuple.rst
  docs/source/reference/dataframe/api/mars.dataframe.read_parquet.rst
  docs/source/reference/dataframe/io.rst
  docs/source/reference/remote/generated/mars.remote.ExecutableTuple.rst
  docs/source/reference/tensor/generated/mars.tensor.ExecutableTuple.rst
  mars/config.py
  mars/context.py
  mars/core.py
  mars/custom_log.py
  mars/dataframe/base/apply.py
  mars/dataframe/base/map.py
  mars/dataframe/base/map_chunk.py
  mars/dataframe/base/transform.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/transform.py
  mars/deploy/local/core.py
  mars/remote/core.py
  mars/scheduler/custom_log.py
  mars/scheduler/graph.py
  mars/scheduler/service.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/session.py
  mars/tests/test_session.py
  mars/utils.py
  mars/web/apihandlers.py
  mars/web/session.py
  mars/web/tests/test_api.py
  mars/worker/custom_log.py
  mars/worker/service.py
Labels: backport, mod: scheduler, mod: worker, type: feature

#1581 [BACKPORT] Add `read_parquet` support (#1576)
  .github/workflows/ci.yml
  mars/dataframe/__init__.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/utils.py
Labels: backport, mod: dataframe, type: feature

#1583 Fix the failure when fetching the result of Series.sum
  .github/workflows/ci.yml
  mars/session.py
  mars/tests/test_session.py
Labels: mod: dataframe, to be backported, type: bug

#1584 Added `DataFrame.isin` support
  docs/source/getting_started/execution.rst
  mars/_version.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/isin.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
Labels: mod: dataframe, to be backported, type: feature

#1585 [BACKPORT] Fix the failure when fetching the result of Series.sum (#1583)
  .github/workflows/ci.yml
  mars/session.py
  mars/tests/test_session.py
Labels: backport, mod: dataframe, type: bug

#1591 Implements `DataFrame.stack`
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.stack.rst
  docs/source/reference/dataframe/frame.rst
  mars/dataframe/base/__init__.py
  mars/dataframe/base/stack.py
  mars/dataframe/base/tests/test_base_execution.py
Labels: mod: dataframe, to be backported, type: feature

#1592 [BACKPORT] Add `DataFrame.isin` support (#1584)
  docs/source/getting_started/execution.rst
  mars/_version.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/isin.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
Labels: backport, mod: dataframe, type: feature

#1589 Fix the failure of DataFrame reduction operators
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/utils.py
Labels: mod: dataframe, to be backported, type: bug

#1594 [BACKPORT] Implements `DataFrame.stack` (#1591)
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.stack.rst
  docs/source/reference/dataframe/frame.rst
  mars/dataframe/base/__init__.py
  mars/dataframe/base/stack.py
  mars/dataframe/base/tests/test_base_execution.py
Labels: backport, mod: dataframe, type: feature

#1595 [BACKPORT] Fix failures of DataFrame reduction operators (#1589)
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/indexing/where.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/utils.py
Labels: backport, mod: dataframe, type: bug

#1598 Fix error on fitting LGBMModel twice
  mars/graph.pyx
  mars/learn/contrib/lightgbm/tests/integrated/test_distributed_lightgbm.py
  mars/learn/contrib/lightgbm/train.py
  mars/learn/tests/integrated/base.py
Labels: mod: learn, to be backported, type: bug

#1599 [BACKPORT] Fix error on fitting LGBMModel twice (#1598)
  mars/graph.pyx
  mars/learn/contrib/lightgbm/tests/integrated/test_distributed_lightgbm.py
  mars/learn/contrib/lightgbm/train.py
  mars/learn/tests/integrated/base.py
Labels: backport, mod: learn, type: bug

#1600 Implements {DataFrame,Series,GroupBy}.{all,any}
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.all.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.any.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.all.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.any.rst
  docs/source/reference/dataframe/api/mars.dataframe.groupby.GroupBy.all.rst
  docs/source/reference/dataframe/api/mars.dataframe.groupby.GroupBy.any.rst
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/groupby.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/groupby/__init__.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/reduction/__init__.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/all.py
  mars/dataframe/reduction/any.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/tests/core.py
Labels: mod: dataframe, to be backported, type: feature

#1601 [BACKPORT] Add support for {DataFrame,Series,GroupBy}.{all,any} (#1600)
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.all.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.any.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.all.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.any.rst
  docs/source/reference/dataframe/api/mars.dataframe.groupby.GroupBy.all.rst
  docs/source/reference/dataframe/api/mars.dataframe.groupby.GroupBy.any.rst
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/groupby.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/groupby/__init__.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/reduction/__init__.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/all.py
  mars/dataframe/reduction/any.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/tests/core.py
Labels: backport, mod: dataframe, type: feature

#1610 Fix `train_test_split` when some input is Series
  mars/deploy/kubernetes/config.py
  mars/learn/model_selection/tests/test_split.py
  mars/learn/utils/validation.py
Labels: mod: learn, to be backported, type: bug

#1609 Fix `build_faiss_index` when some index type cannot be merged
  .github/workflows/ci.yml
  mars/learn/neighbors/_faiss.py
  mars/learn/neighbors/tests/test_faiss.py
Labels: mod: learn, to be backported, type: bug

#1607 Allow LightGBM wrapper to use numpy arrays
  mars/learn/contrib/lightgbm/core.py
  mars/learn/contrib/lightgbm/regressor.py
  mars/learn/contrib/lightgbm/tests/test_regressor.py
  mars/utils.py
  mars/worker/storage/objectholder.py
  mars/worker/storage/tests/test_objectholder.py
Labels: mod: learn, to be backported, type: bug

#1612 Add an extra sort key in PSRS to make distinct pivot
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/sort/tests/test_sort_execute.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/worker/prochelper.py
  mars/worker/quota.py
Labels: mod: dataframe, to be backported, type: bug

#1587 Add support for pearson coefficients (corr, corrwith and autocorr)
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.corr.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.corrwith.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.autocorr.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.corr.rst
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/indexing/where.py
  mars/dataframe/reduction/__init__.py
  mars/dataframe/statistics/__init__.py
  mars/dataframe/statistics/corr.py
  mars/dataframe/statistics/tests/test_statistics_execute.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#1613 [BACKPORT] Add extra sort key in PSRS to make distinct pivot (#1612)
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/sort/tests/test_sort_execute.py
  mars/learn/contrib/lightgbm/core.py
  mars/learn/contrib/lightgbm/regressor.py
  mars/learn/contrib/lightgbm/tests/test_regressor.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/utils.py
  mars/worker/prochelper.py
  mars/worker/quota.py
  mars/worker/storage/objectholder.py
  mars/worker/storage/tests/test_objectholder.py
Labels: backport, mod: dataframe, type: bug

#1614 [BACKPORT] Fix `build_faiss_index` when some index type cannot be merged (#1609)
  .github/workflows/ci.yml
  mars/learn/neighbors/_faiss.py
  mars/learn/neighbors/tests/test_faiss.py
Labels: backport, mod: learn, type: bug

#1615 [BACKPORT] Fix `train_test_split` when some input is Series (#1610)
  mars/deploy/kubernetes/config.py
  mars/learn/model_selection/tests/test_split.py
  mars/learn/utils/validation.py
Labels: backport, mod: learn, type: bug

#1616 [BACKPORT] Add support for pearson coefficients (corr, corrwith and autocorr) (#1587)
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.corr.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.corrwith.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.autocorr.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.corr.rst
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/reduction/__init__.py
  mars/dataframe/statistics/__init__.py
  mars/dataframe/statistics/corr.py
  mars/dataframe/statistics/tests/test_statistics_execute.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#1606 Fixes `md.read_csv` when `dtypes` is not inferred correctly
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/sort/sort_values.py
  mars/tensor/einsum/core.py
Labels: mod: dataframe, to be backported, type: bug

#1617 [BACKPORT] Fixes `md.read_csv` when `dtypes` is not inferred correctly (#1606)
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/sort/sort_values.py
  mars/tensor/einsum/core.py
Labels: backport, mod: dataframe, type: bug

#1618 Integrate with pyproxima2
  .codecov.yml
  .coveragerc
  .coveragerc-threaded
  .github/codecov-upstream.yml
  mars/learn/neighbors/_proxima2.py
  mars/learn/neighbors/tests/test_faiss.py
  mars/learn/neighbors/tests/test_pyproxima2.py
  mars/serialize/protos/operand.proto
Labels: mod: learn, type: feature

#1619 Add docs about reading data from HDFS
  docs/source/getting_started/dataframe.rst
  docs/source/locale/zh_CN/LC_MESSAGES/getting_started/dataframe.po
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_hdfs.py
Labels: type: docs
