Repository mars-project/mars, pull requests merged in 2020-11, with the labels that each got.

#1671 Modify `df.copy()` so that it generates the identical key
  mars/core.py
  mars/tests/test_session.py
Labels: mod: dataframe, to be backported, type: bug

#1673 Add a threshold for `DataFrame.head` optimization
  mars/config.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/optimizes/runtime/dataframe.py
Labels: mod: optimize, to be backported, type: enhancement

#1679 [BACKPORT] Add a threshold for `DataFrame.head` optimization (#1673)
  mars/config.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/optimizes/runtime/dataframe.py
Labels: backport, mod: optimize, type: enhancement

#1678 [BACKPORT] Modify `df.copy()` so that it generates the identical key (#1671)
  mars/core.py
  mars/tests/test_session.py
Labels: backport, mod: dataframe, type: bug

#1675 Fix IndexError when binary op on Series whose type is datetime
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/merge/concat.py
Labels: mod: dataframe, to be backported, type: bug

#1677 Mount /dev/shm on host to pods when starting Mars workers in Kubernetes
  mars/config.py
  mars/deploy/kubernetes/client.py
  mars/deploy/kubernetes/config.py
  mars/deploy/kubernetes/tests/test_config.py
  mars/lib/gipc.pyx
  mars/resource.py
  mars/worker/__main__.py
  mars/worker/calc.py
  mars/worker/execution.py
  mars/worker/service.py
  mars/worker/tests/test_calc.py
  mars/worker/tests/test_service.py
  mars/worker/utils.py
Labels: mod: deploy, to be backported, type: bug

#1680 [BACKPORT] Fix IndexError when binary op on Series whose type is datetime (#1675)
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/merge/concat.py
Labels: backport, mod: dataframe, type: bug

#1681 [BACKPORT] Mount /dev/shm on host to pods when starting Mars workers in Kubernetes (#1677)
  mars/config.py
  mars/deploy/kubernetes/client.py
  mars/deploy/kubernetes/config.py
  mars/deploy/kubernetes/tests/test_config.py
  mars/lib/gipc.pyx
  mars/resource.py
  mars/worker/__main__.py
  mars/worker/calc.py
  mars/worker/execution.py
  mars/worker/service.py
  mars/worker/tests/test_calc.py
  mars/worker/tests/test_service.py
  mars/worker/utils.py
Labels: backport, mod: deploy, type: bug

#1685 Fix Series reduction that output type consistent for map and combine phase
  mars/dataframe/merge/concat.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/count.py
  mars/dataframe/reduction/var.py
Labels: mod: dataframe, to be backported, type: bug

#1686 [BACKPORT] Fix DataFrame reduction that output type consistent for map and combine phase (#1685)
  mars/dataframe/merge/concat.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/count.py
  mars/dataframe/reduction/var.py
Labels: backport, mod: dataframe, type: bug

#1690 Fix wrong dtypes of DataFrame setitem chunks
  mars/dataframe/indexing/setitem.py
  mars/dataframe/indexing/tests/test_indexing.py
Labels: mod: dataframe, to be backported, type: bug

#1691 [BACKPORT] Fix wrong dtypes of DataFrame setitem chunks (#1690)
  mars/_version.py
  mars/dataframe/indexing/setitem.py
  mars/dataframe/indexing/tests/test_indexing.py
Labels: backport, mod: dataframe, type: bug

#1684 Add timeout for SharedHolderActor creation
  mars/deploy/kubernetes/config.py
  mars/scheduler/graph.py
  mars/worker/__main__.py
  mars/worker/service.py
  mars/worker/tests/test_main.py
Labels: mod: worker, prio: high, to be backported, type: bug

#1689 Fix assigning operands with expected workers
  mars/scheduler/analyzer.py
  mars/scheduler/tests/test_analyzer.py
Labels: mod: scheduler, to be backported, type: bug

#1657 Support recall computation for proxima
  mars/_version.py
  mars/learn/neighbors/base.py
  mars/learn/neighbors/tests/test_nearest_neighbors.py
  mars/learn/proxima/simple_index/__init__.py
  mars/learn/proxima/simple_index/builder.py
  mars/learn/proxima/simple_index/knn.py
  mars/learn/proxima/simple_index/recall.py
  mars/learn/proxima/simple_index/searcher.py
  mars/learn/proxima/simple_index/tests/integrated/test_distributed_simple_index.py
  mars/learn/proxima/simple_index/tests/test_simple_index.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: mod: learn, type: feature

#1693 [BACKPORT] Fix assigning operands with expected workers (#1689)
  mars/scheduler/analyzer.py
  mars/scheduler/tests/test_analyzer.py
Labels: backport, mod: scheduler, type: bug

#1692 [BACKPORT] Add timeout for SharedHolderActor creation (#1684)
  mars/deploy/kubernetes/config.py
  mars/scheduler/graph.py
  mars/worker/__main__.py
  mars/worker/service.py
  mars/worker/tests/test_main.py
Labels: backport, mod: worker, type: bug

#1699 Fix the KeyError in `estimate_fuse_size`
  mars/deploy/local/tests/test_cluster.py
  mars/tensor/fuse/core.py
Labels: mod: tensor, type: bug

#1697 Add configuration page on Mars Web
  .github/workflows/install-hadoop.sh
  mars/config.py
  mars/deploy/local/core.py
  mars/node_info.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/shuffle.py
  mars/scheduler/operands/tests/test_common_exec.py
  mars/scheduler/resource.py
  mars/tests/test_config.py
  mars/web/templates/scheduler_pages/detail.html
  mars/web/templates/worker_pages/detail.html
  mars/worker/calc.py
  mars/worker/execution.py
  mars/worker/service.py
  mars/worker/tests/test_service.py
Labels: mod: scheduler, mod: web, to be backported, type: enhancement

#1701 [BACKPORT] Add configuration page on Mars Web (#1697)
  .github/workflows/install-hadoop.sh
  mars/config.py
  mars/deploy/local/core.py
  mars/node_info.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/shuffle.py
  mars/scheduler/operands/tests/test_common_exec.py
  mars/scheduler/resource.py
  mars/tests/test_config.py
  mars/web/templates/scheduler_pages/detail.html
  mars/web/templates/worker_pages/detail.html
  mars/worker/calc.py
  mars/worker/execution.py
  mars/worker/service.py
  mars/worker/tests/test_service.py
Labels: backport, mod: scheduler, mod: web, type: enhancement

#1702 Add shared limit option for Mars worker
  mars/config.py
  mars/deploy/local/core.py
  mars/utils.py
  mars/web/apihandlers.py
  mars/worker/__main__.py
  mars/worker/service.py
  mars/worker/storage/sharedstore.py
  mars/worker/storage/tests/test_sharedstore.py
  mars/worker/tests/base.py
  mars/worker/tests/test_service.py
  mars/worker/tests/test_transfer.py
Labels: mod: worker, to be backported, type: enhancement

#1703 [BACKPORT] Remount /dev/shm directory in entrypoint.sh in Kubernetes and limit plasma size to avoid SIGBUS
  mars/config.py
  mars/deploy/kubernetes/config.py
  mars/deploy/kubernetes/docker/entrypoint.sh
  mars/deploy/kubernetes/tests/test_config.py
  mars/deploy/local/core.py
  mars/resource.py
  mars/utils.py
  mars/web/apihandlers.py
  mars/worker/__main__.py
  mars/worker/service.py
  mars/worker/storage/sharedstore.py
  mars/worker/storage/tests/test_sharedstore.py
  mars/worker/tests/base.py
  mars/worker/tests/test_service.py
  mars/worker/tests/test_transfer.py
Labels: backport, mod: deploy, mod: worker, type: enhancement

#1706 Add pure-dependent option for operands
  mars/dataframe/base/standardize_range_index.py
  mars/dataframe/utils.py
  mars/operands.py
  mars/scheduler/assigner.py
  mars/scheduler/graph.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/web/templates/worker_pages/detail.html
  mars/worker/calc.py
  mars/worker/execution.py
  mars/worker/status.py
  mars/worker/storage/objectholder.py
Labels: mod: dataframe, mod: tensor, to be backported, type: enhancement

#1709 Remove `prepare_inputs` property on operands
  mars/operands.py
  mars/remote/core.py
  mars/scheduler/graph.py
  mars/scheduler/tests/integrated/no_prepare_op.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/tensor/base/shape.py
  mars/tensor/datastore/to_hdf5.py
  mars/worker/calc.py
  mars/worker/execution.py
Labels: mod: dataframe, mod: tensor, to be backported, type: enhancement

#1707 [BACKPORT] Add pure-dependent option for operands (#1706)
  mars/dataframe/base/standardize_range_index.py
  mars/dataframe/utils.py
  mars/operands.py
  mars/remote/core.py
  mars/scheduler/assigner.py
  mars/scheduler/graph.py
  mars/scheduler/tests/integrated/no_prepare_op.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/tensor/base/shape.py
  mars/tensor/datastore/to_hdf5.py
  mars/web/templates/worker_pages/detail.html
  mars/worker/calc.py
  mars/worker/execution.py
  mars/worker/status.py
  mars/worker/storage/objectholder.py
Labels: backport, mod: dataframe, mod: tensor, type: enhancement

#1712 Fix mars not working on ray cluster
  mars/ray/core.py
  mars/ray/tests/test_ray_execution.py
Labels: mod: ray backend, type: bug

#1714 Implements {DataFrame,Series}.explode
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/_version.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/explode.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/serialize/dataserializer.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#1715 [BACKPORT] Implements {DataFrame,Series}.explode (#1714)
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/_version.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/explode.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/serialize/dataserializer.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#1716 Support predicting on local LGBM models
  mars/learn/contrib/lightgbm/__init__.py
  mars/learn/contrib/lightgbm/_align.py
  mars/learn/contrib/lightgbm/_predict.py
  mars/learn/contrib/lightgbm/_train.py
  mars/learn/contrib/lightgbm/classifier.py
  mars/learn/contrib/lightgbm/ranker.py
  mars/learn/contrib/lightgbm/regressor.py
  mars/learn/contrib/lightgbm/tests/test_classifier.py
  mars/learn/contrib/lightgbm/tests/test_ranker.py
  mars/learn/contrib/lightgbm/tests/test_regressor.py
Labels: mod: learn, to be backported, type: feature

#1722 Fix inferring dtype for `series.map`
  mars/dataframe/base/map.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/value_counts.py
  mars/dataframe/groupby/core.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/set_index.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/utils.py
Labels: mod: dataframe, to be backported, type: bug

#1724 [BACKPORT] Fix inferring dtype for `series.map`
  mars/dataframe/base/map.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/value_counts.py
  mars/dataframe/groupby/core.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/set_index.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/utils.py
  mars/learn/contrib/lightgbm/__init__.py
  mars/learn/contrib/lightgbm/_align.py
  mars/learn/contrib/lightgbm/_predict.py
  mars/learn/contrib/lightgbm/_train.py
  mars/learn/contrib/lightgbm/classifier.py
  mars/learn/contrib/lightgbm/ranker.py
  mars/learn/contrib/lightgbm/regressor.py
  mars/learn/contrib/lightgbm/tests/test_classifier.py
  mars/learn/contrib/lightgbm/tests/test_ranker.py
  mars/learn/contrib/lightgbm/tests/test_regressor.py
Labels: backport, mod: dataframe, type: bug

#1723 Fix sort functions of DataFrames on CUDA
  mars/dataframe/sort/core.py
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/sort_index.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/sort/tests/test_sort_execute.py
Labels: hw: nvidia gpu, mod: dataframe, to be backported, type: bug

#1725 [BACKPORT] Fix sort functions in CUDA (#1723)
  mars/dataframe/sort/core.py
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/sort_index.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/sort/tests/test_sort_execute.py
Labels: backport, hw: nvidia gpu, mod: dataframe, type: bug

#1708 Write into and read from merged files when data sizes are small
  mars/config.py
  mars/worker/dataio.py
  mars/worker/service.py
  mars/worker/storage/__init__.py
  mars/worker/storage/diskhandler.py
  mars/worker/storage/diskmerge.py
  mars/worker/storage/tests/test_disk_io.py
Labels: mod: worker, type: enhancement

#1710 Refactor builder and searcher of Proxima
  mars/api.py
  mars/learn/proxima/simple_index/builder.py
  mars/learn/proxima/simple_index/knn.py
  mars/learn/proxima/simple_index/recall.py
  mars/learn/proxima/simple_index/searcher.py
  mars/learn/proxima/simple_index/tests/test_simple_index.py
  mars/scheduler/graph.py
  mars/session.py
  mars/web/apihandlers.py
Labels: mod: learn, type: enhancement

#1729 Support `num_partitions` argument for DataFrame initializers
  mars/dataframe/base/__init__.py
  mars/dataframe/base/apply.py
  mars/dataframe/base/map.py
  mars/dataframe/base/rebalance.py
  mars/dataframe/base/rechunk.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/transform.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/transform.py
  mars/dataframe/initializer.py
  mars/dataframe/tests/test_initializer.py
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
Labels: mod: dataframe, to be backported, type: feature
