Repository mars-project/mars, pull requests merged in 2020-02, with the labels that each got.

#964 Fix failed unittests due to release of pandas 1.0
  mars/dataframe/core.py
  mars/dataframe/merge/concat.py
  mars/dataframe/reduction/core.py
  mars/serialize/protos/indexvalue.proto
  mars/web/tests/test_timeline.py
Labels: to be backported, type: tests

#965 [BACKPORT] Fix failed unittests due to release of pandas 1.0 (#964)
  mars/dataframe/core.py
  mars/dataframe/merge/concat.py
  mars/dataframe/reduction/core.py
  mars/lib/sparse/tests/test_sparse.py
  mars/serialize/protos/indexvalue.proto
  mars/web/tests/test_timeline.py
Labels: backport, type: tests

#962 Add ability to read and write HDF5 file for tensor
  .github/workflows/ci.yml
  mars/actors/pool/gevent_pool.pyx
  mars/context.py
  mars/deploy/local/tests/test_cluster.py
  mars/filesystem.py
  mars/operands.py
  mars/scheduler/graph.py
  mars/scheduler/operands/__init__.py
  mars/scheduler/operands/successors_exclusive.py
  mars/serialize/protos/operand.proto
  mars/tensor/__init__.py
  mars/tensor/datasource/__init__.py
  mars/tensor/datasource/from_hdf5.py
  mars/tensor/datasource/tests/test_datasource_execute.py
  mars/tensor/datastore/__init__.py
  mars/tensor/datastore/tests/test_datastore_execute.py
  mars/tensor/datastore/to_hdf5.py
  mars/tensor/datastore/to_tiledb.py
  mars/worker/calc.py
Labels: mod: tensor, type: feature

#946 Implements mt.{topk, argsort, argpartition, argtopk}
  mars/learn/metrics/pairwise/euclidean.py
  mars/learn/metrics/pairwise/tests/test_euclidean_distances.py
  mars/serialize/protos/operand.proto
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/argpartition.py
  mars/tensor/base/argsort.py
  mars/tensor/base/argtopk.py
  mars/tensor/base/partition.py
  mars/tensor/base/psrs.py
  mars/tensor/base/sort.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/base/topk.py
  mars/utils.py
Labels: mod: tensor, to be backported, type: feature

#963 Support reading and writing in zarr format
  .github/workflows/ci.yml
  mars/filesystem.py
  mars/serialize/protos/operand.proto
  mars/tensor/__init__.py
  mars/tensor/datasource/__init__.py
  mars/tensor/datasource/core.py
  mars/tensor/datasource/from_hdf5.py
  mars/tensor/datasource/from_zarr.py
  mars/tensor/datasource/tests/test_datasource_execute.py
  mars/tensor/datastore/__init__.py
  mars/tensor/datastore/tests/test_datastore_execute.py
  mars/tensor/datastore/to_hdf5.py
  mars/tensor/datastore/to_zarr.py
  mars/tests/test_filesystem.py
Labels: mod: tensor, type: feature

#966 Implements `DataFrame.to_csv`
  mars/dataframe/__init__.py
  mars/dataframe/datastore/__init__.py
  mars/dataframe/datastore/tests/__init__.py
  mars/dataframe/datastore/tests/test_datastore.py
  mars/dataframe/datastore/tests/test_datastore_execute.py
  mars/dataframe/datastore/to_csv.py
  mars/dataframe/operands.py
  mars/filesystem.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#930 Fix the wrong `RangeIndex` in read_csv
  mars/dataframe/base/reset_index.py
  mars/dataframe/base/standardize_range_index.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/utils.py
  mars/scheduler/tests/integrated/no_prepare_op.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, type: bug

#968 Hotfix opcodes that conflict
  mars/serialize/protos/operand.proto
Labels: type: tests

#970 Implement PyTorch sampler to improve dataset performance
  mars/context.py
  mars/learn/contrib/pytorch/__init__.py
  mars/learn/contrib/pytorch/dataset.py
  mars/learn/contrib/pytorch/sampler.py
  mars/learn/contrib/pytorch/tests/dataset_sample.py
  mars/learn/contrib/pytorch/tests/integrated/test_distributed_dataset.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/tensor/indexing/tests/test_indexing_execute.py
Labels: mod: learn, type: feature

#973 Stop detecting GPU when no cuda devices are configured
  docs/source/contributing.rst
  docs/source/install.rst
  docs/source/locale/zh_CN/LC_MESSAGES/contributing.po
  docs/source/locale/zh_CN/LC_MESSAGES/install.po
  mars/lib/nvutils.py
  mars/node_info.py
  mars/scheduler/tests/integrated/base.py
  mars/worker/__main__.py
  mars/worker/service.py
  mars/worker/status.py
  mars/worker/tests/test_main.py
Labels: mod: worker, to be backported, type: bug

#975 [BACKPORT] Stop detecting GPU when no cuda devices are configured (#973)
  docs/source/contributing.rst
  docs/source/install.rst
  docs/source/locale/zh_CN/LC_MESSAGES/contributing.po
  docs/source/locale/zh_CN/LC_MESSAGES/install.po
  mars/lib/nvutils.py
  mars/node_info.py
  mars/scheduler/tests/integrated/base.py
  mars/worker/__main__.py
  mars/worker/service.py
  mars/worker/status.py
  mars/worker/tests/test_main.py
Labels: backport, mod: worker, type: bug

#977 Implement dataframe var and std
  mars/dataframe/arithmetic/__init__.py
  mars/dataframe/arithmetic/sqrt.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/reduction/__init__.py
  mars/dataframe/reduction/std.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/reduction/var.py
Labels: mod: dataframe, type: feature

#976 Fix wrong behavior of `mt.random.choice`
  mars/tensor/random/choice.py
  mars/tensor/random/tests/test_random.py
  mars/tensor/random/tests/test_random_execute.py
Labels: mod: tensor, to be backported, type: bug

#979 Implements `Series.map`
  mars/dataframe/base/__init__.py
  mars/dataframe/base/map.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/serialize/protos/operand.proto
  requirements-dev.txt
  requirements.txt
Labels: mod: dataframe, type: feature

#980 Implements DataFrame dot, mul and pow
  mars/dataframe/arithmetic/__init__.py
  mars/dataframe/arithmetic/dot.py
  mars/dataframe/arithmetic/multiply.py
  mars/dataframe/arithmetic/power.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/arithmetic/tests/test_dot.py
  mars/dataframe/utils.py
Labels: mod: dataframe, to be backported, type: feature

#981 Implements `describe` for DataFrame
  mars/dataframe/base/__init__.py
  mars/dataframe/base/describe.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/initializer.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/count.py
  mars/dataframe/reduction/max.py
  mars/dataframe/reduction/mean.py
  mars/dataframe/reduction/min.py
  mars/dataframe/reduction/prod.py
  mars/dataframe/reduction/sum.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/var.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#986 Implements `md.read_sql_table`
  mars/config.py
  mars/dataframe/__init__.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/datasource/dataframe.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_sql_table.py
  mars/dataframe/datasource/series.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/serialize/protos/operand.proto
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tensor/datasource/arange.py
  mars/tensor/datasource/core.py
  mars/tensor/datasource/eye.py
  mars/tensor/datasource/linspace.py
  mars/tensor/indexing/tests/test_indexing.py
  mars/tensor/indexing/tests/test_indexing_execute.py
  mars/tensor/random/choice.py
  mars/tensor/random/core.py
  mars/tensor/random/dirichlet.py
  mars/tensor/random/multivariate_normal.py
  mars/tensor/spatial/distance/squareform.py
  mars/tensor/utils.py
  requirements-dev.txt
Labels: mod: dataframe, to be backported, type: feature

#987 Make sure all kwargs are numpy types when inferring dtypes
  conda-spec.txt
  mars/tensor/arithmetic/tests/test_arithmetic.py
  mars/tensor/utils.py
Labels: mod: tensor, to be backported, type: bug

#988 Implement `imread` to read from images
  mars/serialize/protos/operand.proto
  mars/tensor/images/__init__.py
  mars/tensor/images/imread.py
  mars/tensor/images/tests/__init__.py
  mars/tensor/images/tests/test_images.py
  mars/tensor/images/tests/test_images_execute.py
Labels: mod: tensor, to be backported, type: feature

#991 [BACKPORT] Implements mt.{topk, argsort, argpartition, argtopk} (#946)
  mars/serialize/protos/operand.proto
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/argpartition.py
  mars/tensor/base/argsort.py
  mars/tensor/base/argtopk.py
  mars/tensor/base/partition.py
  mars/tensor/base/psrs.py
  mars/tensor/base/sort.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/base/topk.py
  mars/utils.py
  requirements-dev.txt
  requirements.txt
Labels: backport, mod: tensor, type: feature

#992 [BACKPORT] Implements `DataFrame.to_csv` (#966)
  mars/dataframe/__init__.py
  mars/dataframe/datastore/__init__.py
  mars/dataframe/datastore/tests/__init__.py
  mars/dataframe/datastore/tests/test_datastore.py
  mars/dataframe/datastore/tests/test_datastore_execute.py
  mars/dataframe/datastore/to_csv.py
  mars/dataframe/operands.py
  mars/filesystem.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#993 [BACKPORT] Fix wrong behavior of choice (#976)
  mars/tensor/random/choice.py
  mars/tensor/random/tests/test_random.py
  mars/tensor/random/tests/test_random_execute.py
Labels: backport, mod: tensor, type: bug

#994 [BACKPORT] Implements DataFrame dot, mul and pow (#980)
  mars/dataframe/arithmetic/__init__.py
  mars/dataframe/arithmetic/dot.py
  mars/dataframe/arithmetic/multiply.py
  mars/dataframe/arithmetic/power.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/arithmetic/tests/test_dot.py
  mars/dataframe/utils.py
Labels: backport, mod: dataframe, type: feature

#995 [BACKPORT] Make sure all kwargs are numpy types when inferring dtypes (#987)
  conda-spec.txt
  mars/tensor/arithmetic/tests/test_arithmetic.py
  mars/tensor/utils.py
Labels: backport, mod: tensor, type: bug

#990 Fix error when chunk_size not provided for `md.read_sql_table`
  mars/_version.py
  mars/dataframe/datasource/read_sql_table.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
Labels: mod: dataframe, to be backported, type: bug

#997 [BACKPORT] Implement `imread` to read from images (#988)
  mars/serialize/protos/operand.proto
  mars/tensor/images/__init__.py
  mars/tensor/images/imread.py
  mars/tensor/images/tests/__init__.py
  mars/tensor/images/tests/test_images.py
  mars/tensor/images/tests/test_images_execute.py
Labels: backport, mod: tensor, type: feature

#996 [BACKPORT] Implement dataframe var and std (#977)
  mars/dataframe/arithmetic/__init__.py
  mars/dataframe/arithmetic/sqrt.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/reduction/__init__.py
  mars/dataframe/reduction/std.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/reduction/var.py
Labels: backport, mod: dataframe, type: feature

#998 [BACKPORT] Implements `describe` for DataFrame (#981)
  mars/dataframe/base/__init__.py
  mars/dataframe/base/describe.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/initializer.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/count.py
  mars/dataframe/reduction/max.py
  mars/dataframe/reduction/mean.py
  mars/dataframe/reduction/min.py
  mars/dataframe/reduction/prod.py
  mars/dataframe/reduction/sum.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/var.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#1002 Fix wrong result of count_nonzero
  mars/tensor/reduction/core.py
  mars/tensor/reduction/count_nonzero.py
  mars/tensor/reduction/tests/test_reduction_execute.py
Labels: mod: tensor, to be backported, type: bug

#1003 [BACKPORT] Fix wrong result of count_nonzero (#1002)
  mars/_version.py
  mars/tensor/reduction/core.py
  mars/tensor/reduction/count_nonzero.py
  mars/tensor/reduction/tests/test_reduction_execute.py
Labels: backport, mod: tensor, type: bug

#1004 Add `dtype` property for `TensorImread`
  mars/context.py
  mars/learn/contrib/pytorch/dataset.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/tensor/__init__.py
  mars/tensor/einsum/core.py
  mars/tensor/images/imread.py
  mars/tensor/images/tests/test_images.py
Labels: mod: tensor, to be backported, type: bug

#1005 [BACKPORT] Add `dtype` property for `TensorImread` (#1004)
  mars/tensor/__init__.py
  mars/tensor/einsum/core.py
  mars/tensor/images/imread.py
  mars/tensor/images/tests/test_images.py
Labels: backport, mod: tensor, type: bug

#1007 Fix error when no device detected by CUDA driver
  mars/lib/nvutils.py
Labels: to be backported, type: bug

#1008 [BACKPORT] Fix error when no device detected by CUDA driver (#1007)
  mars/lib/nvutils.py
Labels: backport, type: bug

#1011 Refactor tensor indexing
  mars/context.py
  mars/tensor/base/argsort.py
  mars/tensor/indexing/core.py
  mars/tensor/indexing/getitem.py
  mars/tensor/indexing/index_lib.py
  mars/tensor/indexing/tests/test_index_lib.py
  mars/tensor/indexing/tests/test_indexing_execute.py
Labels: mod: tensor, to be backported, type: enhancement

#1012 [BACKPORT] Refactor tensor indexing (#1011)
  .github/workflows/ci.yml
  mars/tensor/base/argsort.py
  mars/tensor/indexing/core.py
  mars/tensor/indexing/getitem.py
  mars/tensor/indexing/index_lib.py
  mars/tensor/indexing/tests/test_index_lib.py
  mars/tensor/indexing/tests/test_indexing_execute.py
Labels: backport, mod: tensor, type: enhancement

#1014 Fix tests under Python 3.6 as VS2015 is preinstalled
  .github/workflows/install-conda.sh
  requirements-extra.txt
Labels: to be backported, type: tests

#1015 [BACKPORT] Fix tests under Python 3.6 as VS2015 is preinstalled (#1014)
  .github/workflows/install-conda.sh
  requirements-extra.txt
Labels: backport, type: tests

#1019 Implement md.{cummax,cummin,cumprod,cumsum}
  mars/config.py
  mars/dataframe/reduction/__init__.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/count.py
  mars/dataframe/reduction/cummax.py
  mars/dataframe/reduction/cummin.py
  mars/dataframe/reduction/cumprod.py
  mars/dataframe/reduction/cumsum.py
  mars/dataframe/reduction/max.py
  mars/dataframe/reduction/mean.py
  mars/dataframe/reduction/min.py
  mars/dataframe/reduction/prod.py
  mars/dataframe/reduction/sum.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/reduction/var.py
  mars/serialize/protos/operand.proto
  mars/tests/core.py
Labels: mod: dataframe, to be backported, type: feature

#1021 Use `mapjoin` to optimize df.merge
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
Labels: mod: dataframe, to be backported, type: enhancement

#1022 [BACKPORT] Implement md.{cummax,cummin,cumprod,cumsum} (#1019)
  mars/config.py
  mars/dataframe/reduction/__init__.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/count.py
  mars/dataframe/reduction/cummax.py
  mars/dataframe/reduction/cummin.py
  mars/dataframe/reduction/cumprod.py
  mars/dataframe/reduction/cumsum.py
  mars/dataframe/reduction/max.py
  mars/dataframe/reduction/mean.py
  mars/dataframe/reduction/min.py
  mars/dataframe/reduction/prod.py
  mars/dataframe/reduction/sum.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/reduction/var.py
  mars/serialize/protos/operand.proto
  mars/tests/core.py
Labels: backport, mod: dataframe, type: feature

#1023 [BACKPORT] Use `mapjoin` to optimize df.merge (#1021)
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
Labels: backport, mod: dataframe, type: enhancement

#1024 Add `sort_range_index` parameter in `read_csv`
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/merge/merge.py
Labels: mod: dataframe, to be backported, type: enhancement

#1026 Implement dataframe append
  mars/dataframe/base/standardize_range_index.py
  mars/dataframe/merge/__init__.py
  mars/dataframe/merge/append.py
  mars/dataframe/merge/tests/test_merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature
