Repository mars-project/mars, pull requests merged in 2020-05, with the labels that each got.

#1195 Workaround for upgraded tiledb
  .github/workflows/ci.yml
  .github/workflows/install-hadoop.sh
  .github/workflows/install-hdfs.sh
  .github/workflows/reload-env.sh
  .github/workflows/run-tests.sh
  mars/dataframe/base/accessor.py
  mars/dataframe/datasource/tests/test_hdfs.py
  mars/dataframe/window/ewm/core.py
Labels: to be backported, type: tests

#1205 Implements `mt.trapz`
  docs/source/tensor/generated/mars.tensor.trapz.rst
  docs/source/tensor/math.rst
  mars/serialize/protos/operand.proto
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/base/trapz.py
Labels: mod: tensor, to be backported, type: feature

#1208 Add dataframe.unique support
  mars/dataframe/__init__.py
  mars/dataframe/base/isin.py
  mars/dataframe/datasource/index.py
  mars/dataframe/reduction/__init__.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/reduction/unique.py
  mars/optimizes/tileable_graph/column_pruning.py
Labels: mod: dataframe, to be backported, type: feature

#1207 Implements `md.to_datetime`, support `__setitem__` for DataFrame as well
  docs/source/dataframe/reference/api/mars.dataframe.to_datetime.rst
  docs/source/dataframe/reference/general_functions.rst
  mars/dataframe/__init__.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/setitem.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/tseries/__init__.py
  mars/dataframe/tseries/tests/__init__.py
  mars/dataframe/tseries/tests/test_tseries.py
  mars/dataframe/tseries/tests/test_tseries_execution.py
  mars/dataframe/tseries/to_datetime.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#1213 Add logo in readme and docs
  README.rst
  docs/source/images/mars-logo-title.png
  docs/source/index.rst
Labels: to be backported, type: docs

#1215 Fix wrong result of column pruning
  mars/dataframe/base/standardize_range_index.py
  mars/optimizes/tileable_graph/column_pruning.py
  mars/optimizes/tileable_graph/core.py
  mars/optimizes/tileable_graph/tests/test_column_pruning.py
Labels: mod: optimize, to be backported, type: bug

#1220 Implements `mars.learn.metrics.{roc_curve, auc}`
  docs/source/dataframe/reference/api/mars.dataframe.Series.rst
  docs/source/learn/generated/mars.learn.metrics.auc.rst
  docs/source/learn/generated/mars.learn.metrics.roc_curve.rst
  docs/source/learn/reference.rst
  docs/source/tensor/generated/mars.tensor.c_.rst
  docs/source/tensor/generated/mars.tensor.r_.rst
  docs/source/tensor/indexing.rst
  mars/core.py
  mars/executor.py
  mars/learn/base.py
  mars/learn/metrics/__init__.py
  mars/learn/metrics/_classification.py
  mars/learn/metrics/_ranking.py
  mars/learn/metrics/tests/test_ranking.py
  mars/serialize/protos/operand.proto
  mars/session.py
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/shape.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/datasource/array.py
  mars/tensor/lib/index_tricks.py
  mars/tensor/lib/tests/test_index_tricks.py
  mars/tensor/operands.py
  mars/tensor/utils.py
  mars/tests/test_session.py
Labels: mod: learn, to be backported, type: feature

#1223 [BACKPORT] Implements `mt.trapz` (#1205)
  docs/source/tensor/generated/mars.tensor.trapz.rst
  docs/source/tensor/math.rst
  mars/serialize/protos/operand.proto
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/base/trapz.py
Labels: backport, mod: tensor, type: feature

#1225 [BACKPORT] Add dataframe.unique support (#1208)
  mars/dataframe/__init__.py
  mars/dataframe/base/isin.py
  mars/dataframe/datasource/index.py
  mars/dataframe/reduction/__init__.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/reduction/unique.py
  mars/optimizes/tileable_graph/column_pruning.py
Labels: backport, mod: dataframe, type: feature

#1226 [BACKPORT] Implements `md.to_datetime`, support `__setitem__` for DataFrame as well (#1207)
  docs/source/dataframe/reference/api/mars.dataframe.to_datetime.rst
  docs/source/dataframe/reference/general_functions.rst
  mars/dataframe/__init__.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/setitem.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/tseries/__init__.py
  mars/dataframe/tseries/tests/__init__.py
  mars/dataframe/tseries/tests/test_tseries.py
  mars/dataframe/tseries/tests/test_tseries_execution.py
  mars/dataframe/tseries/to_datetime.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#1229 Allow some operands to fail fast
  .dockerignore
  mars/deploy/kubernetes/docker/Dockerfile.base
  mars/operands.py
  mars/scheduler/graph.py
  mars/scheduler/operands/common.py
  mars/web/apihandlers.py
  mars/web/session.py
  mars/web/tests/test_api.py
Labels: mod: scheduler, to be backported, type: enhancement

#1230 Rename `LocalClusterSession` to `ClusterSession`
  mars/deploy/local/session.py
  mars/deploy/local/tests/test_cluster.py
  mars/session.py
  mars/worker/service.py
Labels: to be backported

#1233 [BACKPORT] Implements `mars.learn.metrics.{roc_curve, auc}` (#1220)
  README.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.rst
  docs/source/images/mars-logo-title.png
  docs/source/index.rst
  docs/source/learn/generated/mars.learn.metrics.auc.rst
  docs/source/learn/generated/mars.learn.metrics.roc_curve.rst
  docs/source/learn/reference.rst
  docs/source/tensor/generated/mars.tensor.c_.rst
  docs/source/tensor/generated/mars.tensor.r_.rst
  docs/source/tensor/indexing.rst
  mars/core.py
  mars/executor.py
  mars/learn/base.py
  mars/learn/metrics/__init__.py
  mars/learn/metrics/_classification.py
  mars/learn/metrics/_ranking.py
  mars/learn/metrics/tests/test_ranking.py
  mars/serialize/protos/operand.proto
  mars/session.py
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/shape.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/datasource/array.py
  mars/tensor/lib/index_tricks.py
  mars/tensor/lib/tests/test_index_tricks.py
  mars/tensor/operands.py
  mars/tensor/utils.py
  mars/tests/test_session.py
Labels: backport, mod: learn, type: feature

#1232 Fix error in starting local cluster with IPython
  .github/workflows/ci.yml
  .github/workflows/install-conda.sh
  mars/deploy/local/core.py
  mars/deploy/local/tests/test_cluster.py
  mars/utils.py
  mars/web/__main__.py
Labels: mod: deploy, to be backported, type: bug

#1234 [BACKPORT] Fix error in starting local cluster with IPython & latest gevent version (#1232)
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/install-conda.sh
  mars/deploy/kubernetes/docker/Dockerfile.base
  mars/deploy/local/core.py
  mars/deploy/local/tests/test_cluster.py
  mars/operands.py
  mars/scheduler/graph.py
  mars/scheduler/operands/common.py
  mars/utils.py
  mars/web/__main__.py
  mars/web/apihandlers.py
  mars/web/session.py
  mars/web/tests/test_api.py
Labels: backport, mod: deploy, type: bug

#1235 [BACKPORT] Fix wrong result of column pruning (#1215)
  mars/dataframe/base/standardize_range_index.py
  mars/optimizes/tileable_graph/column_pruning.py
  mars/optimizes/tileable_graph/core.py
  mars/optimizes/tileable_graph/tests/test_column_pruning.py
Labels: backport, mod: optimize, type: bug

#1236 [BACKPORT] Rename `LocalClusterSession` to `ClusterSession` (#1230)
  mars/deploy/local/session.py
  mars/deploy/local/tests/test_cluster.py
  mars/session.py
  mars/worker/service.py
Labels: backport

#1224 Add support for Series.astype and DataFrame.astype
  mars/dataframe/base/__init__.py
  mars/dataframe/base/astype.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/web/apihandlers.py
Labels: mod: dataframe, to be backported, type: feature

#1237 [BACKPORT] Add support for Series.astype and DataFrame.astype (#1224)
  mars/dataframe/base/__init__.py
  mars/dataframe/base/astype.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/web/apihandlers.py
Labels: backport, mod: dataframe, type: feature

#1238 Add preliminary remote function support
  mars/context.py
  mars/dataframe/base/transform.py
  mars/dataframe/groupby/transform.py
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/operands.py
  mars/remote/__init__.py
  mars/remote/core.py
  mars/remote/tests/__init__.py
  mars/remote/tests/test_remote_function.py
  mars/remote/utils.py
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/operand.proto
  mars/session.py
  mars/utils.py
Labels: mod: remote, to be backported, type: feature

#1239 [BACKPORT] Add preliminary remote function support (#1238)
  mars/_version.py
  mars/context.py
  mars/dataframe/base/transform.py
  mars/dataframe/groupby/transform.py
  mars/deploy/local/tests/test_cluster.py
  mars/executor.py
  mars/operands.py
  mars/remote/__init__.py
  mars/remote/core.py
  mars/remote/tests/__init__.py
  mars/remote/tests/test_remote_function.py
  mars/remote/utils.py
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/operand.proto
  mars/session.py
  mars/utils.py
Labels: backport, mod: remote, type: feature

#1249 Fix `df.describe()` that failed when df has unknown shape and chunk size > 1
  mars/dataframe/base/describe.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/utils.py
Labels: mod: dataframe, to be backported, type: bug

#1250 Add size function for dataframes and groupbys
  docs/source/dataframe/reference/api/mars.dataframe.groupby.GroupBy.size.rst
  docs/source/dataframe/reference/frame.rst
  docs/source/dataframe/reference/groupby.rst
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.groupby.GroupBy.size.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/groupby.po
  mars/dataframe/groupby/__init__.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
Labels: mod: dataframe, to be backported, type: feature

#1255 [BACKPORT] Fix `.fetch()` that may cause some op executed again (#1243)
  mars/executor.py
  mars/optimizes/tileable_graph/core.py
  mars/optimizes/tileable_graph/tests/test_column_pruning.py
  mars/tests/test_session.py
  mars/utils.py
Labels: backport, type: bug

#1256 [BACKPORT] Fix `df.describe()` that failed when df has unknown shape and chunk size > 1 (#1249)
  mars/dataframe/base/describe.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/utils.py
Labels: backport, mod: dataframe, type: bug

#1248 Support running tileables inside functions which spawned via mr.spawn
  mars/_version.py
  mars/deploy/local/tests/test_cluster.py
  mars/operands.py
  mars/remote/__init__.py
  mars/remote/core.py
  mars/remote/tests/test_remote_function.py
  mars/session.py
Labels: mod: remote, to be backported, type: feature

#1252 Implements DataFrame.{iterrows, itertuples}
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.astype.rst
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.iterrows.rst
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.itertuples.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.astype.rst
  docs/source/dataframe/reference/frame.rst
  docs/source/dataframe/reference/series.rst
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.DataFrame.astype.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.DataFrame.iterrows.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.DataFrame.itertuples.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.Series.astype.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/frame.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/series.po
  mars/dataframe/core.py
  mars/tests/test_session.py
Labels: mod: dataframe, to be backported, type: feature

#1257 [BACKPORT] Support running tileables inside functions which spawned via mr.spawn (#1248)
  mars/_version.py
  mars/deploy/local/tests/test_cluster.py
  mars/operands.py
  mars/remote/__init__.py
  mars/remote/core.py
  mars/remote/tests/test_remote_function.py
  mars/session.py
Labels: backport, mod: remote, type: feature

#1258 [BACKPORT] Implements DataFrame.{iterrows, itertuples} (#1252)
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.astype.rst
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.iterrows.rst
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.itertuples.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.astype.rst
  docs/source/dataframe/reference/frame.rst
  docs/source/dataframe/reference/series.rst
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.DataFrame.astype.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.DataFrame.iterrows.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.DataFrame.itertuples.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/api/mars.dataframe.Series.astype.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/frame.po
  docs/source/locale/zh_CN/LC_MESSAGES/dataframe/reference/series.po
  mars/dataframe/core.py
  mars/tests/test_session.py
Labels: backport, mod: dataframe, type: feature

#1246 Add checks for data consistency in learn module
  .github/workflows/ci.yml
  docs/source/index.rst
  mars/core.py
  mars/dataframe/window/rolling/aggregation.py
  mars/learn/contrib/lightgbm/tests/test_classifier.py
  mars/learn/contrib/lightgbm/tests/test_ranker.py
  mars/learn/contrib/lightgbm/tests/test_regressor.py
  mars/learn/contrib/pytorch/tests/test_dataset.py
  mars/learn/contrib/pytorch/tests/test_run_script.py
  mars/learn/contrib/tensorflow/tests/test_run_script.py
  mars/learn/contrib/xgboost/predict.py
  mars/learn/contrib/xgboost/tests/test_classifier.py
  mars/learn/contrib/xgboost/tests/test_predict.py
  mars/learn/contrib/xgboost/tests/test_regressor.py
  mars/learn/contrib/xgboost/tests/test_train.py
  mars/learn/contrib/xgboost/train.py
  mars/learn/datasets/samples_generator.py
  mars/learn/datasets/tests/test_samples_generator.py
  mars/learn/decomposition/tests/test_pca.py
  mars/learn/decomposition/tests/test_truncated_svd.py
  mars/learn/metrics/_check_targets.py
  mars/learn/metrics/pairwise/tests/test_cosine_distances.py
  mars/learn/metrics/pairwise/tests/test_euclidean_distances.py
  mars/learn/metrics/pairwise/tests/test_haversine_distances.py
  mars/learn/metrics/pairwise/tests/test_manhattan_distances.py
  mars/learn/metrics/pairwise/tests/test_pariwise_distances.py
  mars/learn/metrics/pairwise/tests/test_rbf_kernel.py
  mars/learn/neighbors/tests/test_faiss.py
  mars/learn/neighbors/tests/test_nearest_neighbors.py
  mars/learn/preprocessing/tests/test_normalize.py
  mars/learn/semi_supervised/tests/test_label_propagation.py
  mars/learn/utils/multiclass.py
  mars/learn/utils/shuffle.py
  mars/learn/utils/tests/test_multiclass.py
  mars/learn/utils/tests/test_shuffle.py
  mars/learn/utils/tests/test_validation.py
  mars/serialize/__init__.py
  mars/serialize/core.pyx
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/tests/test_serialize.py
  mars/serialize/tests/testser.proto
  mars/tests/core.py
  mars/utils.py
  setup.py
Labels: to be backported, type: tests

#1259 [BACKPORT] Add checks for data consistency in learn module (#1246)
  .github/workflows/ci.yml
  mars/core.py
  mars/dataframe/window/rolling/aggregation.py
  mars/learn/contrib/lightgbm/tests/test_classifier.py
  mars/learn/contrib/lightgbm/tests/test_ranker.py
  mars/learn/contrib/lightgbm/tests/test_regressor.py
  mars/learn/contrib/pytorch/tests/test_dataset.py
  mars/learn/contrib/pytorch/tests/test_run_script.py
  mars/learn/contrib/tensorflow/tests/test_run_script.py
  mars/learn/contrib/xgboost/predict.py
  mars/learn/contrib/xgboost/tests/test_classifier.py
  mars/learn/contrib/xgboost/tests/test_predict.py
  mars/learn/contrib/xgboost/tests/test_regressor.py
  mars/learn/contrib/xgboost/tests/test_train.py
  mars/learn/contrib/xgboost/train.py
  mars/learn/datasets/samples_generator.py
  mars/learn/datasets/tests/test_samples_generator.py
  mars/learn/decomposition/tests/test_pca.py
  mars/learn/decomposition/tests/test_truncated_svd.py
  mars/learn/metrics/_check_targets.py
  mars/learn/metrics/pairwise/tests/test_cosine_distances.py
  mars/learn/metrics/pairwise/tests/test_euclidean_distances.py
  mars/learn/metrics/pairwise/tests/test_haversine_distances.py
  mars/learn/metrics/pairwise/tests/test_manhattan_distances.py
  mars/learn/metrics/pairwise/tests/test_pariwise_distances.py
  mars/learn/metrics/pairwise/tests/test_rbf_kernel.py
  mars/learn/neighbors/tests/test_faiss.py
  mars/learn/neighbors/tests/test_nearest_neighbors.py
  mars/learn/preprocessing/tests/test_normalize.py
  mars/learn/semi_supervised/tests/test_label_propagation.py
  mars/learn/utils/multiclass.py
  mars/learn/utils/shuffle.py
  mars/learn/utils/tests/test_multiclass.py
  mars/learn/utils/tests/test_shuffle.py
  mars/learn/utils/tests/test_validation.py
  mars/serialize/__init__.py
  mars/serialize/core.pyx
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/tests/test_serialize.py
  mars/serialize/tests/testser.proto
  mars/tests/core.py
  mars/utils.py
  setup.py
Labels: backport, type: tests
