Repository mars-project/mars, pull requests merged in 2020-08, with the labels that each got.

#1440 [BACKPORT] Add support for arrow-based string dtype (#1438)
  .github/workflows/ci.yml
  mars/dataframe/__init__.py
  mars/dataframe/arrays.py
  mars/dataframe/tests/test_arrays.py
  mars/dataframe/utils.py
  mars/serialize/dataserializer.py
Labels: backport, mod: dataframe, type: feature

#1445 Fix kmeans hang for local cluster
  mars/actors/pool/gevent_pool.pyx
  mars/deploy/local/tests/test_cluster.py
  mars/learn/cluster/_kmeans.py
  mars/promise.py
Labels: mod: learn, to be backported, type: bug

#1442 Fix failed when serializing `LearnShuffle` operand.
  mars/dataframe/core.py
  mars/dataframe/datasource/read_sql.py
  mars/dataframe/indexing/loc.py
  mars/learn/utils/shuffle.py
  mars/tensor/base/repeat.py
  mars/tensor/base/unique.py
  mars/tensor/datasource/diag.py
  mars/tensor/datasource/from_tiledb.py
  mars/tensor/datasource/tri.py
  mars/tensor/indexing/core.py
  mars/tensor/indexing/index_lib.py
  mars/tensor/linalg/core.py
  mars/tensor/random/core.py
  mars/tensor/reshape/reshape.py
  mars/tensor/spatial/distance/pdist.py
  mars/tensor/utils.py
  mars/tests/core.py
Labels: mod: learn, mod: serialization, to be backported, type: bug

#1449 [BACKPORT] Fix failed when serializing `LearnShuffle` operand. (#1442)
  mars/_version.py
  mars/dataframe/core.py
  mars/dataframe/datasource/read_sql.py
  mars/dataframe/indexing/loc.py
  mars/learn/utils/shuffle.py
  mars/tensor/base/repeat.py
  mars/tensor/base/unique.py
  mars/tensor/datasource/diag.py
  mars/tensor/datasource/from_tiledb.py
  mars/tensor/datasource/tri.py
  mars/tensor/indexing/core.py
  mars/tensor/indexing/index_lib.py
  mars/tensor/linalg/core.py
  mars/tensor/random/core.py
  mars/tensor/reshape/reshape.py
  mars/tensor/spatial/distance/pdist.py
  mars/tensor/utils.py
  mars/tests/core.py
Labels: backport, mod: learn, mod: serialization, type: bug

#1447 [BACKPORT] Add support for memory usage (#1217)
  .github/workflows/ci.yml
  .github/workflows/reload-env.sh
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.memory_usage.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.memory_usage.rst
  docs/source/dataframe/reference/frame.rst
  mars/dataframe/base/__init__.py
  mars/dataframe/base/memory_usage.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/serialize/protos/operand.proto
  setup.py
Labels: backport, mod: dataframe, type: feature

#1452 Fix reference cycle in promise.all_
  .github/workflows/ci.yml
  .github/workflows/reload-env.sh
  mars/actors/pool/gevent_pool.pyx
  mars/actors/pool/tests/test_gevent_pool.py
  mars/base_app.py
  mars/context.py
  mars/promise.py
  mars/serialize/protos/__init__.py
  mars/worker/__init__.py
  mars/worker/events.py
  mars/worker/execution.py
  mars/worker/service.py
  mars/worker/storage/client.py
  mars/worker/tests/test_events.py
  mars/worker/tests/test_transfer.py
  mars/worker/transfer.py
  mars/worker/utils.py
  setup.py
Labels: to be backported, type: bug

#1456 [BACKPORT] Fix reference cycle in promise.all_ (#1452)
  .github/workflows/ci.yml
  mars/actors/pool/gevent_pool.pyx
  mars/actors/pool/tests/test_gevent_pool.py
  mars/base_app.py
  mars/context.py
  mars/dataframe/datasource/read_sql.py
  mars/promise.py
  mars/serialize/protos/__init__.py
  mars/worker/__init__.py
  mars/worker/events.py
  mars/worker/execution.py
  mars/worker/service.py
  mars/worker/storage/client.py
  mars/worker/tests/test_events.py
  mars/worker/tests/test_transfer.py
  mars/worker/transfer.py
  mars/worker/utils.py
Labels: backport, type: bug

#1446 [BACKPORT] Fix kmeans hang for local cluster (#1445)
  mars/actors/pool/gevent_pool.pyx
  mars/base_app.py
  mars/core.py
  mars/deploy/local/tests/test_cluster.py
  mars/learn/cluster/_kmeans.py
  mars/node_info.py
  mars/promise.py
Labels: backport, mod: learn, type: bug

#1455 Support ArrowStringDtype for DataFrame.sort_values()
  mars/_utils.pyx
  mars/core.py
  mars/dataframe/arrays.py
  mars/dataframe/base/rechunk.py
  mars/dataframe/datasource/read_sql.py
  mars/dataframe/sort/tests/test_sort_execute.py
  mars/dataframe/tests/test_arrays.py
  mars/dataframe/utils.py
  mars/scheduler/tests/integrated/test_normal_execution.py
Labels: mod: dataframe, to be backported, type: bug

#1457 [BACKPORT] Support ArrowStringDtype for DataFrame.sort_values() (#1455)
  .github/workflows/ci.yml
  .github/workflows/reload-env.sh
  mars/_utils.pyx
  mars/dataframe/arrays.py
  mars/dataframe/base/rechunk.py
  mars/dataframe/sort/tests/test_sort_execute.py
  mars/dataframe/tests/test_arrays.py
  mars/dataframe/utils.py
  mars/scheduler/tests/integrated/test_normal_execution.py
Labels: backport, mod: dataframe, type: bug

#1459 Support serializing complex scalars
  .github/workflows/ci.yml
  .github/workflows/reload-env.sh
  mars/errors.py
  mars/lib/nvutils.py
  mars/serialize/dataserializer.py
  mars/serialize/tests/test_serialize.py
  mars/session.py
  mars/worker/service.py
  mars/worker/storage/manager.py
  mars/worker/storage/sharedstore.py
Labels: mod: serialization, to be backported, type: bug

#1462 Support `ExtensionDtype ` in `df.astype`
  mars/_utils.pyx
  mars/dataframe/arrays.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/tests/test_arrays.py
Labels: mod: dataframe, to be backported, type: bug

#1464 [BACKPORT] Support `ExtensionDtype ` in `df.astype` and complex serialization (#1459) (#1462)
  .github/workflows/reload-env.sh
  mars/_utils.pyx
  mars/dataframe/arrays.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/tests/test_arrays.py
  mars/errors.py
  mars/lib/nvutils.py
  mars/serialize/dataserializer.py
  mars/serialize/tests/test_serialize.py
  mars/session.py
  mars/worker/service.py
  mars/worker/storage/manager.py
  mars/worker/storage/sharedstore.py
Labels: backport, mod: dataframe, mod: serialization, type: bug

#1468 Implements `md.qcut`
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.rst
  docs/source/reference/dataframe/api/mars.dataframe.ExecutableTuple.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.rst
  docs/source/reference/dataframe/api/mars.dataframe.qcut.rst
  docs/source/reference/dataframe/general_functions.rst
  docs/source/reference/remote/generated/mars.remote.ExecutableTuple.rst
  docs/source/reference/tensor/generated/mars.tensor.ExecutableTuple.rst
  mars/dataframe/__init__.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/qcut.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/tests/test_session.py
Labels: mod: dataframe, to be backported, type: feature

#1466 Fix incorrect `index_value` in `df.drop()`
  mars/dataframe/base/drop.py
  mars/dataframe/base/tests/test_base.py
Labels: mod: dataframe, to be backported, type: bug

#1470 Serialize results in worker before storing into shared storages
  mars/base_app.py
  mars/dataframe/arrays.py
  mars/deploy/local/tests/test_cluster.py
  mars/lib/mkl_interface.py
  mars/scheduler/__main__.py
  mars/serialize/dataserializer.py
  mars/tests/test_base_app.py
  mars/web/__main__.py
  mars/web/session.py
  mars/web/tests/test_api.py
  mars/worker/__main__.py
  mars/worker/calc.py
  mars/worker/execution.py
  mars/worker/prochelper.py
  mars/worker/quota.py
  mars/worker/storage/client.py
  mars/worker/storage/core.py
  mars/worker/storage/cudahandler.py
  mars/worker/storage/procmemhandler.py
  mars/worker/storage/sharedhandler.py
  mars/worker/storage/vineyardhandler.py
  mars/worker/tests/test_calc.py
  requirements-dev.txt
Labels: mod: worker, to be backported, type: enhancement

#1473 [BACKPORT] Implements `md.qcut` (#1468)
  docs/source/dataframe/reference/api/mars.dataframe.ExecutableTuple.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.rst
  docs/source/dataframe/reference/api/mars.dataframe.qcut.rst
  docs/source/dataframe/reference/general_functions.rst
  docs/source/remote/generated/mars.remote.ExecutableTuple.rst
  docs/source/tensor/generated/mars.tensor.ExecutableTuple.rst
  mars/dataframe/__init__.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/cut.py
  mars/dataframe/base/qcut.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/tests/test_session.py
Labels: backport, mod: dataframe, type: feature

#1474 [BACKPORT] Serialize results in worker before storing into shared storages (#1470)
  mars/base_app.py
  mars/dataframe/arrays.py
  mars/deploy/local/tests/test_cluster.py
  mars/lib/mkl_interface.py
  mars/scheduler/__main__.py
  mars/serialize/dataserializer.py
  mars/tests/test_base_app.py
  mars/web/__main__.py
  mars/web/session.py
  mars/web/tests/test_api.py
  mars/worker/__main__.py
  mars/worker/calc.py
  mars/worker/execution.py
  mars/worker/prochelper.py
  mars/worker/quota.py
  mars/worker/storage/client.py
  mars/worker/storage/core.py
  mars/worker/storage/cudahandler.py
  mars/worker/storage/procmemhandler.py
  mars/worker/storage/sharedhandler.py
  mars/worker/storage/vineyardhandler.py
  mars/worker/tests/test_calc.py
  requirements-dev.txt
Labels: backport, mod: worker, type: enhancement

#1475 Raise timeout when assigning failed for a long time
  mars/actors/core.pxd
  mars/actors/core.pyx
  mars/actors/pool/gevent_pool.pyx
  mars/base_app.py
  mars/config.py
  mars/scheduler/assigner.py
  mars/scheduler/graph.py
  mars/scheduler/resource.py
  mars/scheduler/tests/integrated/test_worker_failover.py
  mars/scheduler/tests/test_assigner.py
  mars/worker/__main__.py
  mars/worker/daemon.py
  mars/worker/execution.py
  mars/worker/service.py
  mars/worker/status.py
Labels: mod: scheduler, to be backported, type: enhancement

#1477 [BACKPORT] Raise timeout when assigning failed for a long time (#1475)
  mars/actors/core.pxd
  mars/actors/core.pyx
  mars/actors/pool/gevent_pool.pyx
  mars/base_app.py
  mars/config.py
  mars/scheduler/assigner.py
  mars/scheduler/graph.py
  mars/scheduler/resource.py
  mars/scheduler/tests/integrated/test_worker_failover.py
  mars/scheduler/tests/test_assigner.py
  mars/worker/__main__.py
  mars/worker/daemon.py
  mars/worker/execution.py
  mars/worker/service.py
  mars/worker/status.py
Labels: backport, mod: scheduler, type: enhancement

#1480 Fix pickling arrow types & allow specifying parallel number in IO runners
  mars/api.py
  mars/base_app.py
  mars/config.py
  mars/deploy/kubernetes/client.py
  mars/scheduler/__main__.py
  mars/scheduler/service.py
  mars/scheduler/tests/integrated/base.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/scheduler/tests/integrated/test_worker_failover.py
  mars/utils.py
  mars/web/tests/test_api.py
  mars/worker/__main__.py
  mars/worker/service.py
  mars/worker/storage/iorunner.py
  mars/worker/storage/tests/test_client.py
Labels: mod: web, mod: worker, to be backported, type: bug

#1482 [BACKPORT] Fix pickling arrow types & allow specifying parallel number in IO runners (#1480)
  mars/api.py
  mars/base_app.py
  mars/config.py
  mars/deploy/kubernetes/client.py
  mars/scheduler/__main__.py
  mars/scheduler/service.py
  mars/scheduler/tests/integrated/base.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/scheduler/tests/integrated/test_worker_failover.py
  mars/utils.py
  mars/web/tests/test_api.py
  mars/worker/__main__.py
  mars/worker/service.py
  mars/worker/storage/iorunner.py
  mars/worker/storage/tests/test_client.py
Labels: backport, mod: web, mod: worker, type: bug

#1481 Implements {DataFrame, Series}.reindex
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.reindex.rst
  docs/source/reference/dataframe/api/mars.dataframe.DataFrame.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.reindex.rst
  docs/source/reference/dataframe/api/mars.dataframe.Series.rst
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/base/qcut.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/loc.py
  mars/dataframe/indexing/reindex.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/initializer.py
  mars/dataframe/utils.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/serialize/dataserializer.py
  mars/serialize/protos/operand.proto
  mars/serialize/tests/test_serialize.py
Labels: mod: dataframe, to be backported, type: feature

#1483 [BACKPORT] Implements {DataFrame, Series}.reindex (#1481)
  docs/source/dataframe/reference/api/mars.dataframe.DataFrame.reindex.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.reindex.rst
  docs/source/dataframe/reference/api/mars.dataframe.Series.rst
  docs/source/dataframe/reference/frame.rst
  mars/_version.py
  mars/dataframe/base/qcut.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/loc.py
  mars/dataframe/indexing/reindex.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/initializer.py
  mars/dataframe/utils.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/serialize/dataserializer.py
  mars/serialize/protos/operand.proto
  mars/serialize/tests/test_serialize.py
Labels: backport, mod: dataframe, type: feature

#1486 Add support for `ArrowListDtype` as well as `ArrowListArray`
  mars/_version.py
  mars/config.py
  mars/dataframe/__init__.py
  mars/dataframe/arrays.py
  mars/dataframe/reduction/nunique.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/tests/test_arrays.py
  mars/dataframe/utils.py
  mars/serialize/dataserializer.py
  mars/serialize/tests/test_serialize.py
  mars/utils.py
Labels: mod: dataframe, to be backported, type: feature

#1487 [BACKPORT] Add support for `ArrowListDtype` as well as `ArrowListArray` (#1486)
  mars/config.py
  mars/dataframe/__init__.py
  mars/dataframe/arrays.py
  mars/dataframe/reduction/nunique.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/tests/test_arrays.py
  mars/dataframe/utils.py
  mars/serialize/dataserializer.py
  mars/serialize/tests/test_serialize.py
  mars/utils.py
Labels: backport, mod: dataframe, type: feature

#1488 [BACKPORT] Fix incorrect `index_value` in `df.drop()` (#1466)
  mars/dataframe/base/drop.py
  mars/dataframe/base/tests/test_base.py
Labels: backport, mod: dataframe, type: bug

#1490 Fix compatibility for gevent>=20.5.1
  mars/lib/gipc.pyx
  mars/serialize/core.pyx
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/tests/test_serialize.py
  mars/utils.py
  mars/web/session.py
  requirements-extra.txt
Labels: mod: actor, to be backported, type: enhancement

#1491 Support `use_arrow_dtype` for `md.read_csv` and `md.read_sql`
  mars/_version.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_sql.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/utils.py
Labels: mod: dataframe, to be backported, type: feature

#1494 [BACKPORT] Fix compatibility for gevent>=20.5.1 for v0.4 (#1490)
  mars/lib/gipc.pyx
  mars/serialize/core.pyx
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/tests/test_serialize.py
  mars/utils.py
  mars/web/session.py
  requirements-extra.txt
Labels: backport, mod: actor, type: enhancement

#1493 [BACKPORT] Fix compatibility for gevent>=20.5.1 for v0.5 (#1490)
  mars/lib/gipc.pyx
  mars/serialize/core.pyx
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/tests/test_serialize.py
  mars/utils.py
  mars/web/session.py
  requirements-extra.txt
Labels: backport, mod: actor, type: enhancement

#1495 [BACKPORT] Support `use_arrow_dtype` for `md.read_csv` and `md.read_sql` (#1491)
  mars/_version.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_sql.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/utils.py
Labels: backport, mod: dataframe, type: feature

#1496 Fix `arrow_array_to_objects` when input is a Series whose index is not RangeIndex(n)
  mars/_version.py
  mars/utils.py
  mars/web/tests/test_api.py
Labels: mod: serialization, type: bug

#1499 Fix `mt.linalg.norm` when axis is negative
  mars/tensor/linalg/norm.py
  mars/tensor/linalg/tests/test_linalg_execute.py
Labels: mod: tensor, to be backported, type: bug

#1498 Fix `mt.isclose` when some of the arguments is scalar
  mars/tensor/arithmetic/isclose.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/utils.py
  mars/web/tests/test_api.py
Labels: mod: tensor, to be backported, type: bug

#1501 Store and query graph information in batch
  mars/scheduler/graph.py
  mars/scheduler/session.py
  mars/web/apihandlers.py
  mars/web/server.py
  mars/web/tests/test_api.py
Labels: mod: scheduler, to be backported, type: feature

#1502 Fix `mt.arctan2` when arguments contain scalar
  mars/tensor/arithmetic/arctan2.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
Labels: mod: tensor, to be backported, type: bug

#1503 [BACKPORT] Store and query graph info in batch for v0.4 (#1501)
  mars/scheduler/graph.py
  mars/scheduler/session.py
  mars/web/apihandlers.py
  mars/web/server.py
  mars/web/tests/test_api.py
Labels: backport, mod: scheduler, type: feature

#1504 [BACKPORT] Store and query graph information in batch for v0.5 (#1501)
  mars/scheduler/graph.py
  mars/scheduler/session.py
  mars/web/apihandlers.py
  mars/web/server.py
  mars/web/tests/test_api.py
Labels: backport, mod: scheduler, type: feature

#1507 Update `mt.split` to support list and tuple
  mars/tensor/base/split.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
Labels: mod: tensor, to be backported, type: bug

#1509 [BACKPORT] Update `mt.split` to support list and tuple (#1507)
  README.rst
  mars/tensor/base/split.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
Labels: backport, mod: tensor, type: bug

#1437 Fix pandas 1.1 compatibility
  docs/requirements-doc.txt
  mars/_utils.pyx
  mars/dataframe/arrays.py
  mars/dataframe/base/apply.py
  mars/dataframe/base/diff.py
  mars/dataframe/base/isin.py
  mars/dataframe/base/shift.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/transform.py
  mars/dataframe/base/value_counts.py
  mars/dataframe/core.py
  mars/dataframe/datasource/date_range.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/loc.py
  mars/dataframe/indexing/reindex.py
  mars/dataframe/tests/test_arrays.py
  mars/dataframe/tseries/tests/test_tseries_execution.py
  mars/dataframe/utils.py
  mars/dataframe/window/aggregation.py
  mars/dataframe/window/ewm/core.py
  mars/dataframe/window/ewm/tests/test_ewm.py
  mars/deploy/local/tests/test_cluster.py
  mars/learn/contrib/tsfresh/core.py
  mars/learn/contrib/tsfresh/tests/integrated/test_distributed_tsfresh.py
  mars/serialize/core.pxd
  mars/serialize/core.pyx
  mars/serialize/jsonserializer.pyx
  mars/serialize/pbserializer.pyx
  mars/serialize/protos/value.proto
  requirements-dev.txt
  requirements-wheel.txt
  requirements.txt
Labels: mod: dataframe, to be backported, type: bug

#1518 [BACKPORT] Fix `mt.isclose` when some of the arguments is scalar (#1498)
  mars/tensor/arithmetic/isclose.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/utils.py
  mars/web/tests/test_api.py
Labels: backport, mod: tensor, type: bug

#1519 [BACKPORT] Fix `mt.linalg.norm` when axis is negative (#1499)
  mars/tensor/linalg/norm.py
  mars/tensor/linalg/tests/test_linalg_execute.py
Labels: backport, mod: tensor, type: bug

#1520 [BACKPORT] Fix arctan2 when arguments contains scalar (#1502)
  mars/tensor/arithmetic/arctan2.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
Labels: backport, mod: tensor, type: bug

#1522 Fix creating Mars DataFrame from an empty pandas DataFrame
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/utils.py
  mars/tensor/utils.py
Labels: mod: dataframe, to be backported, type: bug

#1525 Unregister scheduler observer when destroying actors
  mars/cluster_info.py
  mars/dataframe/arrays.py
  mars/scheduler/assigner.py
  mars/scheduler/graph.py
  mars/scheduler/mutable.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/tests/test_common_exec.py
  mars/scheduler/resource.py
  mars/scheduler/session.py
  mars/worker/dispatcher.py
  mars/worker/execution.py
  mars/worker/utils.py
Labels: mod: worker, to be backported, type: bug

#1526 [BACKPORT] Unregister scheduler observer when destroying actors (#1525)
  mars/cluster_info.py
  mars/dataframe/arrays.py
  mars/scheduler/assigner.py
  mars/scheduler/graph.py
  mars/scheduler/mutable.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/tests/test_common_exec.py
  mars/scheduler/resource.py
  mars/scheduler/session.py
  mars/worker/dispatcher.py
  mars/worker/execution.py
  mars/worker/utils.py
Labels: backport, mod: worker, type: bug

#1527 [BACKPORT] Add an option to control writing shuffle data into disk for v0.4 (#1513)
  mars/cluster_info.py
  mars/config.py
  mars/dataframe/arrays.py
  mars/scheduler/assigner.py
  mars/scheduler/graph.py
  mars/scheduler/mutable.py
  mars/scheduler/operands/base.py
  mars/scheduler/operands/tests/test_common_exec.py
  mars/scheduler/resource.py
  mars/scheduler/session.py
  mars/worker/__main__.py
  mars/worker/calc.py
  mars/worker/dispatcher.py
  mars/worker/execution.py
  mars/worker/quota.py
  mars/worker/service.py
  mars/worker/storage/diskhandler.py
  mars/worker/transfer.py
  mars/worker/utils.py
Labels: backport, mod: worker, type: enhancement

#1528 Unifiy logics of modes including `eager`, `kernel` and `build`
  mars/_utils.pyx
  mars/core.py
  mars/dataframe/arithmetic/__init__.py
  mars/dataframe/arithmetic/tests/test_comparison.py
  mars/dataframe/arrays.py
  mars/dataframe/core.py
  mars/dataframe/tests/test_arrays.py
  mars/executor.py
  mars/graph_builder.py
  mars/optimizes/tileable_graph/core.py
  mars/scheduler/graph.py
  mars/tensor/arithmetic/__init__.py
  mars/tensor/arithmetic/tests/test_arithmetic.py
  mars/tensor/core.py
  mars/tensor/datasource/tests/test_datasource.py
  mars/tests/test_utils.py
  mars/tiles.py
  mars/utils.py
Labels: to be backported, type: enhancement

#1530 [BACKPORT] Unify logic of modes including `eager`, `kernel` and `build` (#1528)
  mars/_utils.pyx
  mars/core.py
  mars/dataframe/arithmetic/__init__.py
  mars/dataframe/arithmetic/tests/test_comparison.py
  mars/dataframe/arrays.py
  mars/dataframe/core.py
  mars/dataframe/tests/test_arrays.py
  mars/executor.py
  mars/graph_builder.py
  mars/optimizes/tileable_graph/core.py
  mars/scheduler/graph.py
  mars/tensor/arithmetic/__init__.py
  mars/tensor/arithmetic/tests/test_arithmetic.py
  mars/tensor/core.py
  mars/tensor/datasource/tests/test_datasource.py
  mars/tests/test_utils.py
  mars/tiles.py
  mars/utils.py
Labels: backport, type: enhancement

#1523 Support `df.groupby().count()` for arrow dtype with and without pyarrow installed
  mars/config.py
  mars/dataframe/arrays.py
  mars/dataframe/base/apply.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/transform.py
  mars/dataframe/core.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/rename.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/tests/test_arrays.py
  mars/dataframe/utils.py
  mars/dataframe/window/aggregation.py
  mars/operands.py
  mars/serialize/protos/indexvalue.proto
  mars/tests/test_session.py
Labels: mod: dataframe, to be backported, type: bug

#1531 [BACKPORT] Fix creating Mars DataFrame from an empty pandas DataFrame (#1522)
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/utils.py
  mars/tensor/utils.py
Labels: backport, mod: dataframe, type: bug

#1532 [BACKPORT] Support df.groupby().count() for arrow dtype with and without pyarrow installed (#1523)
  mars/config.py
  mars/dataframe/arrays.py
  mars/dataframe/base/apply.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/transform.py
  mars/dataframe/core.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/rename.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/tests/test_arrays.py
  mars/dataframe/utils.py
  mars/dataframe/window/aggregation.py
  mars/operands.py
  mars/serialize/protos/indexvalue.proto
  mars/tests/test_session.py
Labels: backport, mod: dataframe, type: bug

#1534 Fix DataFrame reduction on GPU
  .github/workflows/ci.yml
  conda-spec.txt
  mars/dataframe/merge/concat.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/deploy/local/tests/test_cluster.py
  mars/learn/neighbors/tests/test_nearest_neighbors.py
  mars/scheduler/__init__.py
  mars/scheduler/assigner.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/tests/test_common_exec.py
  mars/session.py
  mars/tests/core.py
  mars/utils.py
  mars/web/session.py
  mars/worker/calc.py
  mars/worker/service.py
  mars/worker/storage/sharedstore.py
  mars/worker/tests/test_main.py
  mars/worker/tests/test_transfer.py
Labels: mod: dataframe, to be backported, type: bug

#1535 [BACKPORT] Fix DataFrame reduction on GPU (#1534)
  .github/workflows/ci.yml
  conda-spec.txt
  mars/dataframe/merge/concat.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/deploy/local/tests/test_cluster.py
  mars/learn/neighbors/tests/test_nearest_neighbors.py
  mars/scheduler/__init__.py
  mars/scheduler/assigner.py
  mars/scheduler/operands/common.py
  mars/scheduler/operands/tests/test_common_exec.py
  mars/session.py
  mars/tests/core.py
  mars/utils.py
  mars/web/session.py
  mars/worker/calc.py
  mars/worker/service.py
  mars/worker/storage/sharedstore.py
  mars/worker/tests/test_main.py
  mars/worker/tests/test_transfer.py
Labels: backport, mod: dataframe, type: bug

#1537 Fixed statsmodel version for v0.4
  .github/workflows/ci.yml
Labels: type: tests
