Repository mars-project/mars, pull requests merged in 2021-09, with the labels that each got.

#2409 [BACKPORT] Add TensorFlow dataset (#2383)
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/learn/tensorflow.po
  docs/source/reference/learn/reference.rst
  docs/source/user_guide/learn/tensorflow.rst
  mars/learn/contrib/tensorflow/__init__.py
  mars/learn/contrib/tensorflow/dataset.py
  mars/learn/contrib/tensorflow/run_script.py
  mars/learn/contrib/tensorflow/tests/test_dataset.py
  mars/learn/contrib/tensorflow/tests/test_run_script.py
  mars/learn/contrib/tensorflow/tests/tf_dataset.py
  mars/services/task/analyzer/assigner.py
  setup.cfg
Labels: type: feature, backport, mod: learn

#2410 [BACKPORT] API for subtask DAG structure (#2389)
  mars/services/task/api/oscar.py
  mars/services/task/api/web.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/stage.py
  mars/services/task/tests/test_service.py
  mars/services/web/ui/src/task_info/TaskDetail.js
  mars/services/web/ui/src/task_info/TaskTileableGraph.js
  mars/services/web/ui/src/task_info/TileableDetail.js
Labels: type: feature, mod: web, backport

#2411 [BACKPORT] Implements `linear_model.LinearRegression` (#2260)
  mars/learn/base.py
  mars/learn/linear_model/__init__.py
  mars/learn/linear_model/_base.py
  mars/learn/linear_model/tests/__init__.py
  mars/learn/linear_model/tests/test_base.py
  mars/learn/preprocessing/normalize.py
  mars/learn/utils/validation.py
Labels: type: feature, backport, mod: learn

#2417 Implements `mars.tensor.append`
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/learn/tensorflow.po
  docs/source/reference/tensor/manipulation.rst
  mars/tensor/__init__.py
  mars/tensor/merge/__init__.py
  mars/tensor/merge/append.py
  mars/tensor/merge/tests/test_merge_execution.py
Labels: mod: tensor, type: feature, to be backported

#2422 [BACKPORT] Implements `mars.tensor.append` (#2417)
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/learn/tensorflow.po
  docs/source/reference/tensor/manipulation.rst
  mars/tensor/__init__.py
  mars/tensor/merge/__init__.py
  mars/tensor/merge/append.py
  mars/tensor/merge/tests/test_merge_execution.py
Labels: mod: tensor, type: feature, backport

#2421 [BACKPORT] Implements `mars.learn.preprocessing.{LabelBinarizer, label_binarize}` (#2415)
  docs/source/locale/zh_CN/LC_MESSAGES/reference/learn/reference.po
  docs/source/reference/learn/reference.rst
  mars/learn/contrib/tensorflow/dataset.py
  mars/learn/preprocessing/__init__.py
  mars/learn/preprocessing/_label.py
  mars/learn/preprocessing/tests/test_label.py
  mars/tensor/base/map_chunk.py
  mars/tensor/datasource/array.py
Labels: type: feature, backport, mod: learn

#2418 Implements `mars.learn.metrics.log_loss`
  docs/source/reference/learn/reference.rst
  mars/learn/metrics/__init__.py
  mars/learn/metrics/_classification.py
  mars/learn/metrics/tests/test_classification.py
Labels: type: feature, to be backported, mod: learn

#2327 Support DataFrame.transpose()
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/indexing.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/base/__init__.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/transpose.py
  mars/dataframe/core.py
  mars/dataframe/tests/test_core.py
  mars/tests/core.py
Labels: type: feature, mod: dataframe, to be backported

#2424 [BACKPORT] Implements `mars.learn.metrics.log_loss` (#2418)
  docs/source/reference/learn/reference.rst
  mars/learn/metrics/__init__.py
  mars/learn/metrics/_classification.py
  mars/learn/metrics/tests/test_classification.py
Labels: type: feature, backport, mod: learn

#2423 [BACKPORT] Implements `DataFrame.transpose()` (#2327)
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/indexing.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/base/__init__.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/transpose.py
  mars/dataframe/core.py
  mars/dataframe/tests/test_core.py
  mars/tests/core.py
Labels: type: feature, mod: dataframe, backport

#2419 Revisit {from,to}_vineyard for tensors and dataframes.
  .github/workflows/platform-ci.yml
  mars/core/context.py
  mars/core/operand/base.py
  mars/dataframe/__init__.py
  mars/dataframe/datasource/from_vineyard.py
  mars/dataframe/datastore/__init__.py
  mars/dataframe/datastore/tests/test_datastore_execution.py
  mars/dataframe/datastore/to_vineyard.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/opcodes.py
  mars/services/context.py
  mars/services/storage/api/oscar.py
  mars/services/storage/handler.py
  mars/services/subtask/api.py
  mars/services/subtask/worker/manager.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/runner.py
  mars/services/subtask/worker/service.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/services/task/supervisor/manager.py
  mars/storage/base.py
  mars/storage/vineyard.py
  mars/tensor/__init__.py
  mars/tensor/datasource/__init__.py
  mars/tensor/datasource/from_vineyard.py
  mars/tensor/datastore/__init__.py
  mars/tensor/datastore/tests/test_datastore_execution.py
  mars/tensor/datastore/to_vineyard.py
Labels: mod: tensor, type: feature, mod: dataframe, to be backported, mod: vineyard storage

#2436 [BACKPORT] Revisit {from,to}_vineyard for tensors and dataframes (#2419)
  .github/workflows/platform-ci.yml
  mars/core/context.py
  mars/core/operand/base.py
  mars/dataframe/__init__.py
  mars/dataframe/datasource/from_vineyard.py
  mars/dataframe/datastore/__init__.py
  mars/dataframe/datastore/tests/test_datastore_execution.py
  mars/dataframe/datastore/to_vineyard.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/opcodes.py
  mars/services/context.py
  mars/services/storage/api/oscar.py
  mars/services/storage/handler.py
  mars/services/subtask/api.py
  mars/services/subtask/worker/manager.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/runner.py
  mars/services/subtask/worker/service.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/services/task/supervisor/manager.py
  mars/storage/base.py
  mars/storage/vineyard.py
  mars/tensor/__init__.py
  mars/tensor/datasource/__init__.py
  mars/tensor/datasource/from_vineyard.py
  mars/tensor/datastore/__init__.py
  mars/tensor/datastore/tests/test_datastore_execution.py
  mars/tensor/datastore/to_vineyard.py
Labels: mod: tensor, type: feature, mod: dataframe, backport, mod: vineyard storage

#2437 [BACKPORT] Fix df/series.{apply, map_chunk} when some chunk output empty data (#2434)
  mars/dataframe/base/apply.py
  mars/dataframe/base/map_chunk.py
  mars/dataframe/tests/test_core.py
Labels: type: bug, mod: dataframe, backport

#2441 Build and upload docker images in continuous deployment
  .dockerignore
  .github/workflows/docker-cd.yml
  .github/workflows/pypi-cd.yml
  bin/kube-image-tool.sh
  mars/deploy/kubernetes/docker/Dockerfile
  mars/deploy/kubernetes/docker/Dockerfile.base
  mars/services/web/core.py
Labels: type: tests, type: feature, to be backported

#2439 Fix missing DAGs when initializing with empty API results
  mars/services/web/ui/src/task_info/TaskTileableGraph.js
  mars/services/web/ui/src/task_info/TileableDetail.js
  mars/services/web/ui/src/task_info/charts/DAGChart.js
  mars/services/web/ui/src/task_info/charts/DAGPropTypes.js
Labels: type: bug, mod: web

#2442 [BACKPORT] Fix missing DAGs when initializing with empty API results (#2439)
  .dockerignore
  .github/workflows/docker-cd.yml
  .github/workflows/pypi-cd.yml
  bin/kube-image-tool.sh
  mars/deploy/kubernetes/docker/Dockerfile
  mars/deploy/kubernetes/docker/Dockerfile.base
  mars/services/web/core.py
  mars/services/web/ui/src/task_info/TaskTileableGraph.js
  mars/services/web/ui/src/task_info/TileableDetail.js
  mars/services/web/ui/src/task_info/charts/DAGChart.js
  mars/services/web/ui/src/task_info/charts/DAGPropTypes.js
Labels: type: bug, mod: web, backport

#2443 Fix skew and kurt errors under MacOS
  .github/workflows/docker-cd.yml
  mars/_version.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/kurtosis.py
  mars/dataframe/reduction/skew.py
  mars/services/subtask/core.py
  mars/services/subtask/worker/processor.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/stage.py
  mars/services/web/ui/src/Utils.js
  mars/tests/test_session.py
Labels: type: bug, mod: dataframe, to be backported

#2445 [BACKPORT] Fix skew and kurt errors under MacOS (#2443)
  .github/workflows/docker-cd.yml
  mars/_version.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/kurtosis.py
  mars/dataframe/reduction/skew.py
  mars/services/subtask/core.py
  mars/services/subtask/worker/processor.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/stage.py
  mars/services/web/ui/src/Utils.js
  mars/tests/test_session.py
Labels: type: bug, mod: dataframe, backport

#2446 Add tests for public kubernetes image
  azure-pipelines.yml
  mars/dataframe/base/describe.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/transform.py
  mars/dataframe/contrib/raydataset/dataset.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/datastore/to_vineyard.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/deploy/kubernetes/client.py
  mars/deploy/kubernetes/config.py
  mars/deploy/kubernetes/docker/Dockerfile.base
  mars/deploy/kubernetes/docker/entrypoint.sh
  mars/deploy/kubernetes/tests/Dockerfile.test
  mars/deploy/kubernetes/tests/entrypoint.sh
  mars/deploy/kubernetes/tests/test_kube_config.yml
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/yarn/client.py
  mars/learn/cluster/_k_means_elkan_iter.py
  mars/learn/contrib/pytorch/tests/test_dataset.py
  mars/learn/contrib/tensorflow/dataset.py
  mars/learn/model_selection/tests/test_split.py
  mars/learn/utils/multiclass.py
  mars/optimization/logical/common/column_pruning.py
  mars/services/cluster/tests/backend.py
  mars/tensor/base/map_chunk.py
  mars/tensor/base/tests/test_base_execution.py
  mars/tensor/base/unique.py
  mars/tensor/datasource/tests/test_datasource.py
  mars/tensor/spatial/distance/pdist.py
  mars/tensor/spatial/distance/tests/test_distance.py
  mars/utils.py
  setup.cfg
Labels: type: bug, mod: deploy, to be backported

#2447 [HOTFIX] Fix usage of kubernetes image for v0.7.2 (#2446)
  .dockerignore
  .github/workflows/docker-cd.yml
  .github/workflows/pypi-cd.yml
  azure-pipelines.yml
  bin/kube-image-tool.sh
  mars/_version.py
  mars/dataframe/base/describe.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/transform.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/deploy/kubernetes/client.py
  mars/deploy/kubernetes/config.py
  mars/deploy/kubernetes/docker/Dockerfile
  mars/deploy/kubernetes/docker/Dockerfile.base
  mars/deploy/kubernetes/docker/entrypoint.sh
  mars/deploy/kubernetes/tests/Dockerfile.test
  mars/deploy/kubernetes/tests/entrypoint.sh
  mars/deploy/kubernetes/tests/test_kube_config.yml
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/yarn/client.py
  mars/learn/cluster/_k_means_elkan_iter.py
  mars/learn/contrib/pytorch/tests/test_dataset.py
  mars/learn/contrib/tensorflow/dataset.py
  mars/learn/model_selection/tests/test_split.py
  mars/learn/utils/multiclass.py
  mars/optimization/logical/common/column_pruning.py
  mars/services/web/core.py
  mars/tensor/base/map_chunk.py
  mars/tensor/base/tests/test_base_execution.py
  mars/tensor/base/unique.py
  mars/tensor/datasource/tests/test_datasource.py
  mars/tensor/spatial/distance/pdist.py
  mars/tensor/spatial/distance/tests/test_distance.py
  mars/utils.py
  setup.cfg
Labels: type: bug, mod: deploy, backport

#2448 [BACKPORT] Fix usage of kubernetes image (#2446)
  azure-pipelines.yml
  mars/dataframe/base/describe.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/transform.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/datastore/to_vineyard.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/deploy/kubernetes/client.py
  mars/deploy/kubernetes/config.py
  mars/deploy/kubernetes/docker/Dockerfile.base
  mars/deploy/kubernetes/docker/entrypoint.sh
  mars/deploy/kubernetes/tests/Dockerfile.test
  mars/deploy/kubernetes/tests/entrypoint.sh
  mars/deploy/kubernetes/tests/test_kube_config.yml
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/yarn/client.py
  mars/learn/cluster/_k_means_elkan_iter.py
  mars/learn/contrib/pytorch/tests/test_dataset.py
  mars/learn/contrib/tensorflow/dataset.py
  mars/learn/model_selection/tests/test_split.py
  mars/learn/utils/multiclass.py
  mars/optimization/logical/common/column_pruning.py
  mars/tensor/base/map_chunk.py
  mars/tensor/base/tests/test_base_execution.py
  mars/tensor/base/unique.py
  mars/tensor/datasource/tests/test_datasource.py
  mars/tensor/spatial/distance/pdist.py
  mars/tensor/spatial/distance/tests/test_distance.py
  mars/utils.py
  setup.cfg
Labels: type: bug, mod: deploy, backport

#2413 [Ray] Reconstruct worker
  mars/deploy/kubernetes/core.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/fault_injection_config.yml
  mars/deploy/oscar/tests/fault_injection_config_with_rerun.yml
  mars/deploy/oscar/tests/test_fault_injection.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/tests/test_ray_fault_injection.py
  mars/deploy/yarn/core.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/backends/pool.py
  mars/oscar/backends/ray/backend.py
  mars/oscar/backends/ray/pool.py
  mars/oscar/backends/ray/tests/test_ray_actor_context.py
  mars/oscar/backends/ray/tests/test_ray_pool.py
  mars/oscar/backends/ray/utils.py
  mars/oscar/errors.py
  mars/services/cluster/api/oscar.py
  mars/services/cluster/backends/base.py
  mars/services/cluster/backends/fixed.py
  mars/services/cluster/supervisor/node_allocator.py
  mars/services/cluster/tests/backend.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/scheduling/worker/tests/test_workerslot.py
  mars/services/scheduling/worker/workerslot.py
  mars/services/subtask/worker/tests/__init__.py
  mars/services/subtask/worker/tests/subtask_processor.py
  mars/services/task/analyzer/assigner.py
  mars/services/tests/fault_injection_patch.py
Labels: type: feature, mod: ray backend, mod: cluster service, mod: subtask service

#2454 Make cmdline support third party modules
  mars/deploy/oscar/cmdline.py
  mars/deploy/oscar/supervisor.py
  mars/deploy/oscar/tests/test_cmdline.py
  mars/deploy/oscar/worker.py
  mars/deploy/utils.py
Labels: mod: deploy, type: feature, to be backported

#2426 Support visualizing subtask graphs on Mars Web
  LICENSE
  mars/services/task/api/oscar.py
  mars/services/task/api/web.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/processor.py
  mars/services/task/tests/test_service.py
  mars/services/web/ui/package-lock.json
  mars/services/web/ui/package.json
  mars/services/web/ui/src/task_info/SubtaskGraph.js
  mars/services/web/ui/src/task_info/TileableDetail.js
  mars/services/web/ui/src/task_info/charts/DAGCanvasChart.js
  mars/services/web/ui/src/task_info/charts/DAGChart.js
Labels: type: feature, mod: web, to be backported, mod: task service

#2457 Fix timeout error when waiting for a submitted task
  mars/deploy/oscar/session.py
  mars/services/task/api/web.py
  mars/services/web/core.py
  mars/services/web/tests/test_core.py
Labels: type: bug, mod: client, to be backported

#2458 Print the error message when error happens in `TaskProcessor`
  mars/services/task/supervisor/processor.py
Labels: type: bug, to be backported

#2456 Add nightly builds for docker images
  .github/workflows/docker-cd.yml
  ci/reload-env.sh
  docs/source/installation/kubernetes.rst
  docs/source/installation/yarn.rst
  docs/source/locale/zh_CN/LC_MESSAGES/installation/kubernetes.po
  docs/source/locale/zh_CN/LC_MESSAGES/installation/yarn.po
  mars/deploy/kubernetes/client.py
  mars/deploy/kubernetes/config.py
  mars/deploy/kubernetes/core.py
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/deploy/yarn/client.py
  mars/deploy/yarn/tests/test_yarn.py
  mars/resource.py
  mars/utils.py
Labels: mod: deploy, type: feature, to be backported

#2461 [BACKPORT] Fix timeout error when waiting for a submitted task (#2457)
  mars/deploy/oscar/session.py
  mars/services/task/api/web.py
  mars/services/task/supervisor/processor.py
  mars/services/web/core.py
  mars/services/web/tests/test_core.py
Labels: type: bug, mod: client, to be backported

#2462 [BACKPORT] Add nightly builds for docker images (#2456)
  .github/workflows/docker-cd.yml
  ci/reload-env.sh
  docs/source/installation/kubernetes.rst
  docs/source/installation/yarn.rst
  docs/source/locale/zh_CN/LC_MESSAGES/installation/kubernetes.po
  docs/source/locale/zh_CN/LC_MESSAGES/installation/yarn.po
  mars/deploy/kubernetes/client.py
  mars/deploy/kubernetes/config.py
  mars/deploy/kubernetes/core.py
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/deploy/yarn/client.py
  mars/deploy/yarn/tests/test_yarn.py
  mars/resource.py
  mars/utils.py
Labels: mod: deploy, type: feature, backport

#2465 Refine and unify subtask detail APIs
  mars/services/task/api/oscar.py
  mars/services/task/api/web.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/processor.py
  mars/services/task/tests/test_service.py
  mars/services/web/ui/src/task_info/SubtaskGraph.js
  mars/services/web/ui/src/task_info/charts/DAGCanvasChart.js
Labels: type: enhancement, to be backported, mod: subtask service

#2474 Fix coverage for Azure pipeline
  azure-pipelines.yml
Labels: type: enhancement, type: tests, to be backported

#2471 [BACKPORT] Support visualizing subtask graphs on Mars Web (#2426)
  LICENSE
  mars/services/task/api/oscar.py
  mars/services/task/api/web.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/processor.py
  mars/services/task/tests/test_service.py
  mars/services/web/ui/package-lock.json
  mars/services/web/ui/package.json
  mars/services/web/ui/src/task_info/SubtaskGraph.js
  mars/services/web/ui/src/task_info/TileableDetail.js
  mars/services/web/ui/src/task_info/charts/DAGCanvasChart.js
  mars/services/web/ui/src/task_info/charts/DAGChart.js
Labels: type: feature, mod: web, backport

#2473 [BACKPORT] Fix misuse of `name` parameter in DataFrame align (#2469)
  mars/dataframe/align.py
  mars/tests/test_session.py
Labels: type: bug, mod: dataframe, backport

#2472 [BACKPORT] Make cmdline support third party modules (#2454)
  mars/deploy/oscar/cmdline.py
  mars/deploy/oscar/supervisor.py
  mars/deploy/oscar/tests/test_cmdline.py
  mars/deploy/oscar/worker.py
  mars/deploy/utils.py
Labels: mod: deploy, type: feature, backport

#2475 [BACKPORT] Fix coverage for Azure pipeline (#2474)
  azure-pipelines.yml
Labels: type: tests, backport

#2476 [BACKPORT] Fix hang when start sub pool fails (#2468)
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/backends/pool.py
  mars/oscar/backends/ray/pool.py
  mars/oscar/backends/test/pool.py
Labels: type: bug, mod: deploy, backport

#2477 [BACKPORT] Add `_binary_roc_auc_score` method (#2403)
  mars/learn/metrics/_ranking.py
  mars/learn/metrics/tests/test_ranking.py
Labels: type: feature, backport, mod: learn

#2480 Split tileable information and subtask graph into two tabs
  mars/services/web/ui/src/task_info/TileableDetail.js
Labels: type: feature, mod: web, to be backported

#2482 [BACKPORT] Split tileable information and subtask graph into two tabs (#2480)
  mars/services/web/ui/src/task_info/TileableDetail.js
Labels: type: feature, mod: web, backport

#2481 Support specified vineyard socket and skip the launching vineyardd process
  mars/services/storage/tests/test_api.py
  mars/storage/tests/test_libs.py
  mars/storage/vineyard.py
Labels: type: enhancement, to be backported, mod: vineyard storage

#2467 Basic reschedule subtask
  mars/deploy/oscar/tests/fault_injection_config_with_rerun.yml
  mars/deploy/oscar/tests/test_fault_injection.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_fault_injection.py
  mars/services/scheduling/supervisor/manager.py
  mars/services/scheduling/supervisor/service.py
  mars/services/scheduling/supervisor/tests/test_manager.py
  mars/services/scheduling/utils.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/subtask/core.py
  mars/services/task/analyzer/analyzer.py
Labels: type: feature, mod: task service, mod: scheduling service

#2486 Compatible with scikit-learn 1.0
  mars/learn/metrics/pairwise/tests/test_manhattan_distances.py
  mars/lib/sparse/array.py
  mars/lib/sparse/tests/test_sparse.py
Labels: type: bug, to be backported, mod: learn

#2487 [BACKPORT] Compatible with scikit-learn 1.0 (#2486)
  mars/learn/metrics/pairwise/tests/test_manhattan_distances.py
  mars/lib/sparse/array.py
  mars/lib/sparse/tests/test_sparse.py
Labels: type: bug, backport, mod: learn

#2489 Fix wrong translation in cluster deployment.
  docs/source/locale/zh_CN/LC_MESSAGES/installation/deploy.po
Labels: type: docs, to be backported

#2491 [BACKPORT] Fix bug that failed to execute query when there are multiple arguments (#2490)
  docs/source/locale/zh_CN/LC_MESSAGES/installation/deploy.po
  mars/dataframe/base/eval.py
  mars/dataframe/base/tests/test_base_execution.py
Labels: type: bug, mod: dataframe, backport
