Repository mars-project/mars, pull requests merged in 2021-12, with the labels that each got.

#2587 Stop calling user funcs when dtypes is specified
  mars/dataframe/base/map_chunk.py
  mars/dataframe/base/tests/test_base_execution.py
Labels: type: enhancement, mod: dataframe, to be backported

#2593 [BACKPORT] Upgrade required version of vineyard (#2588)
  .github/workflows/platform-ci.yml
  mars/dataframe/datasource/from_vineyard.py
  mars/dataframe/datastore/tests/test_datastore_execution.py
  mars/dataframe/datastore/to_vineyard.py
  mars/storage/vineyard.py
  mars/tensor/datasource/from_vineyard.py
  mars/tensor/datastore/tests/test_datastore_execution.py
  mars/tensor/datastore/to_vineyard.py
  setup.cfg
Labels: type: bug, backport, mod: vineyard storage

#2595 [BACKPORT] Fix progress always is 0 or 100% (#2591)
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/services/task/api/web.py
Labels: type: bug, mod: deploy, backport

#2596 [BACKPORT] Stop calling user funcs when dtypes is specified (#2587)
  mars/dataframe/base/map_chunk.py
  mars/dataframe/base/tests/test_base_execution.py
Labels: type: enhancement, mod: dataframe, backport

#2586 Add basic profiling support for supervisor
  mars/_utils.pyx
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/backends/context.py
  mars/oscar/backends/message.py
  mars/oscar/backends/pool.py
  mars/oscar/backends/ray/communication.py
  mars/oscar/context.pyx
  mars/oscar/core.pxd
  mars/oscar/core.pyx
  mars/oscar/profiling.py
  mars/oscar/tests/test_profiling_data.py
  mars/services/scheduling/supervisor/manager.py
  mars/services/subtask/api.py
  mars/services/task/api/web.py
  mars/services/task/core.py
  mars/services/task/supervisor/processor.py
  mars/tests/core.py
  mars/utils.py
Labels: type: feature, mod: task service

#2589 Supports adding Mars extensions via setup entrypoints
  mars/core/entrypoints.py
  mars/core/tests/test_entrypoints.py
  mars/deploy/oscar/local.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/session.py
  mars/oscar/backends/pool.py
Labels: type: enhancement, to be backported, type: install

#2599 Make Proxima work with latest Mars
  mars/learn/proxima/core.py
  mars/services/task/analyzer/analyzer.py
Labels: type: bug, to be backported, mod: learn

#2598 [BACKPORT] Supports adding Mars extensions via setup entrypoints (#2589)
  mars/core/entrypoints.py
  mars/core/tests/test_entrypoints.py
  mars/deploy/oscar/local.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/session.py
  mars/oscar/backends/pool.py
Labels: type: enhancement, backport, type: install

#2603 Fix None dtype for some unary tensor functions
  mars/dataframe/align.py
  mars/dataframe/contrib/raydataset/dataset.py
  mars/dataframe/contrib/raydataset/mldataset.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/read_sql.py
  mars/dataframe/datastore/to_csv.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/loc.py
  mars/dataframe/merge/concat.py
  mars/dataframe/merge/merge.py
  mars/dataframe/missing/checkna.py
  mars/dataframe/missing/dropna.py
  mars/dataframe/operands.py
  mars/dataframe/reduction/core.py
  mars/dataframe/sort/core.py
  mars/dataframe/statistics/quantile.py
  mars/learn/cluster/_k_means_elkan_iter.py
  mars/learn/contrib/pytorch/run_script.py
  mars/learn/contrib/tensorflow/run_script.py
  mars/learn/contrib/xgboost/predict.py
  mars/learn/contrib/xgboost/train.py
  mars/learn/neighbors/_faiss.py
  mars/storage/shared_memory.py
  mars/tensor/arithmetic/angle.py
  mars/tensor/arithmetic/around.py
  mars/tensor/arithmetic/fabs.py
  mars/tensor/arithmetic/frexp.py
  mars/tensor/arithmetic/greater.py
  mars/tensor/arithmetic/greater_equal.py
  mars/tensor/arithmetic/less.py
  mars/tensor/arithmetic/less_equal.py
  mars/tensor/arithmetic/modf.py
  mars/tensor/arithmetic/multiply.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tensor/base/astype.py
  mars/tensor/base/partition.py
  mars/tensor/base/psrs.py
  mars/tensor/base/repeat.py
  mars/tensor/base/shape.py
  mars/tensor/base/to_cpu.py
  mars/tensor/base/to_gpu.py
  mars/tensor/datasource/empty.py
  mars/tensor/datasource/from_sparse.py
  mars/tensor/datasource/full.py
  mars/tensor/datasource/zeros.py
  mars/tensor/datastore/to_vineyard.py
  mars/tensor/fft/fftfreq.py
  mars/tensor/fuse/core.py
  mars/tensor/fuse/numexpr.py
  mars/tensor/reduction/nanvar.py
  mars/tests/core.py
Labels: type: bug, mod: tensor, to be backported

#2604 [BACKPORT] Fix None dtype for some unary tensor functions (#2603)
  mars/dataframe/align.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/read_sql.py
  mars/dataframe/datastore/to_csv.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/loc.py
  mars/dataframe/merge/concat.py
  mars/dataframe/merge/merge.py
  mars/dataframe/missing/checkna.py
  mars/dataframe/missing/dropna.py
  mars/dataframe/operands.py
  mars/dataframe/reduction/core.py
  mars/dataframe/sort/core.py
  mars/dataframe/statistics/quantile.py
  mars/learn/cluster/_k_means_elkan_iter.py
  mars/learn/contrib/pytorch/run_script.py
  mars/learn/contrib/tensorflow/run_script.py
  mars/learn/contrib/xgboost/predict.py
  mars/learn/contrib/xgboost/train.py
  mars/learn/neighbors/_faiss.py
  mars/storage/shared_memory.py
  mars/tensor/arithmetic/angle.py
  mars/tensor/arithmetic/around.py
  mars/tensor/arithmetic/fabs.py
  mars/tensor/arithmetic/frexp.py
  mars/tensor/arithmetic/greater.py
  mars/tensor/arithmetic/greater_equal.py
  mars/tensor/arithmetic/less.py
  mars/tensor/arithmetic/less_equal.py
  mars/tensor/arithmetic/modf.py
  mars/tensor/arithmetic/multiply.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tensor/base/astype.py
  mars/tensor/base/partition.py
  mars/tensor/base/psrs.py
  mars/tensor/base/repeat.py
  mars/tensor/base/shape.py
  mars/tensor/base/to_cpu.py
  mars/tensor/base/to_gpu.py
  mars/tensor/datasource/empty.py
  mars/tensor/datasource/from_sparse.py
  mars/tensor/datasource/full.py
  mars/tensor/datasource/zeros.py
  mars/tensor/datastore/to_vineyard.py
  mars/tensor/fft/fftfreq.py
  mars/tensor/fuse/core.py
  mars/tensor/fuse/numexpr.py
  mars/tensor/reduction/nanvar.py
  mars/tests/core.py
Labels: type: bug, mod: tensor, backport

#2600 Skip details of shuffled chunks in meta
  mars/services/meta/api/oscar.py
  mars/services/subtask/worker/processor.py
Labels: type: enhancement, mod: dataframe, to be backported

#2605 [BACKPORT] Make Proxima work with latest Mars (#2599)
  mars/learn/proxima/core.py
  mars/services/task/analyzer/analyzer.py
Labels: type: bug, backport, mod: learn

#2606 [BACKPORT][Ray] Refine mars on ray usability (#2580)
  README.rst
  docs/source/index.rst
  docs/source/installation/index.rst
  docs/source/installation/ray.rst
  docs/source/locale/zh_CN/LC_MESSAGES/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/installation/ray.po
  mars/__init__.py
  mars/conftest.py
  mars/deploy/oscar/__init__.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/backends/ray/driver.py
Labels: type: enhancement, backport, mod: ray backend

#2607 [BACKPORT] Reduce estimation time cost (#2577)
  mars/core/operand/core.py
  mars/lib/groupby_wrapper.py
  mars/lib/tests/test_lib.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: type: enhancement, mod: dataframe, backport

#2608 [BACKPORT] Fix tests for cudf 21.10 (#2574)
  mars/dataframe/reduction/aggregation.py
  mars/serialization/cuda.py
  mars/serialization/tests/test_serial.py
Labels: type: bug, mod: dataframe, backport

#2609 [BACKPORT] Skip details of shuffled chunks in meta (#2600)
  mars/services/meta/api/oscar.py
  mars/services/subtask/worker/processor.py
Labels: type: enhancement, mod: dataframe, backport

#2594 Reduce the time cost of fetching tileable data
  mars/core/entity/executable.py
  mars/dataframe/core.py
  mars/learn/tests/test_wrappers.py
  mars/services/meta/api/web.py
  mars/services/storage/api/web.py
  mars/utils.py
Labels: type: enhancement, mod: web, to be backported

#2611 Fix duplicate decref of subtask input chunk
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/stage.py
Labels: type: bug, to be backported, mod: task service

#2597 Reduce RPC cost of oscar by removing unnecessary tasks
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/oscar/backends/context.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/pool.py
  mars/oscar/backends/ray/communication.py
  mars/oscar/batch.py
  mars/oscar/core.pyx
  mars/services/scheduling/supervisor/assigner.py
  mars/services/task/supervisor/processor.py
Labels: type: enhancement, mod: actor, to be backported

#2616 [BACKPORT] Reduce the time cost of fetching tileable data (#2594)
  mars/core/entity/executable.py
  mars/dataframe/core.py
  mars/learn/tests/test_wrappers.py
  mars/services/meta/api/web.py
  mars/services/storage/api/web.py
  mars/utils.py
Labels: type: enhancement, backport

#2614 [BACKPORT] Fix duplicate decref of subtask input chunk (#2611)
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/stage.py
Labels: type: bug, backport, mod: task service

#2615 [BACKPORT] Use batched request to apply for slots (#2601)
  mars/services/scheduling/supervisor/globalslot.py
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/supervisor/tests/test_queue_balance.py
  mars/services/scheduling/supervisor/tests/test_queueing.py
Labels: type: enhancement, backport, mod: scheduling service

#2618 Bump version
  mars/_version.py
Labels: mod: deploy

#2622 Add wheel support for Python 3.10 and drop Python 3.6
  .github/workflows/core-ci.yml
  .github/workflows/platform-ci.yml
  .github/workflows/pypi-cd.yml
  ci/install-conda.sh
  ci/requirements-wheel.txt
Labels: mod: deploy, type: feature

#2452 Allow specifying multiple supervisor processes
  .github/workflows/install-hadoop.sh
  mars/deploy/oscar/local.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/supervisor.py
  mars/deploy/oscar/tests/test_cmdline.py
  mars/oscar/backends/core.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/backends/message.py
  mars/oscar/backends/pool.py
  mars/oscar/core.pyx
  mars/services/cluster/api/oscar.py
  mars/services/lifecycle/api/web.py
  mars/services/meta/api/web.py
  mars/services/session/api/web.py
  mars/services/session/supervisor/core.py
  mars/services/storage/api/web.py
  mars/services/subtask/worker/runner.py
  mars/services/task/api/web.py
  mars/services/web/core.py
  mars/services/web/ui/package-lock.json
Labels: type: bug, mod: actor, to be backported, mod: service

#2624 Fix backward compatibility for pandas 1.1 and 1.2
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/all.py
  mars/dataframe/reduction/any.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/kurtosis.py
  mars/dataframe/reduction/max.py
  mars/dataframe/reduction/mean.py
  mars/dataframe/reduction/min.py
  mars/dataframe/reduction/prod.py
  mars/dataframe/reduction/sem.py
  mars/dataframe/reduction/skew.py
  mars/dataframe/reduction/std.py
  mars/dataframe/reduction/sum.py
  mars/dataframe/reduction/tests/test_reduction_execution.py
  mars/dataframe/reduction/var.py
Labels: type: bug, mod: dataframe, to be backported

#2625 [BACKPORT] Allow specifying multiple supervisor processes (#2452)
  .github/workflows/install-hadoop.sh
  mars/deploy/oscar/local.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/supervisor.py
  mars/deploy/oscar/tests/test_cmdline.py
  mars/oscar/backends/core.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/backends/message.py
  mars/oscar/backends/pool.py
  mars/oscar/core.pyx
  mars/services/cluster/api/oscar.py
  mars/services/lifecycle/api/web.py
  mars/services/meta/api/web.py
  mars/services/session/api/web.py
  mars/services/session/supervisor/core.py
  mars/services/storage/api/web.py
  mars/services/subtask/worker/runner.py
  mars/services/task/api/web.py
  mars/services/web/core.py
  mars/services/web/ui/package-lock.json
Labels: type: bug, mod: actor, backport
