Repository mars-project/mars, pull requests merged in 2021-07, with the labels that each got.

#2186 Fix groupby on indexes with duplicate items
  mars/dataframe/base/drop_duplicates.py
  mars/dataframe/base/duplicated.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/merge/merge.py
  mars/dataframe/utils.py
Labels: mod: dataframe, to be backported, type: bug

#2187 [BACKPORT] Fix groupby on indexes with duplicate items (#2186)
  mars/_version.py
  mars/dataframe/base/drop_duplicates.py
  mars/dataframe/base/duplicated.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/merge/merge.py
  mars/dataframe/utils.py
Labels: backport, mod: dataframe, type: bug

#2189 Fix starting multiple workers in shared file system
  mars/deploy/oscar/tests/test_cmdline.py
  mars/oscar/backends/pool.py
  mars/services/scheduling/supervisor/globalslot.py
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/worker/workerslot.py
  mars/services/subtask/api.py
  mars/services/subtask/worker/runner.py
Labels: mod: actor, mod: service, type: bug

#2190 Fix import error in master branch
  .github/workflows/core-ci.yml
  mars/dataframe/indexing/iloc.py
  mars/services/scheduling/worker/workerslot.py
  mars/tests/core.py
Labels: type: bug

#2170 [Ray] ray two way hang-detectable channel
  .github/workflows/platform-ci.yml
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/backends/context.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/backends/ray/backend.py
  mars/oscar/backends/ray/communication.py
  mars/oscar/backends/ray/driver.py
  mars/oscar/backends/ray/pool.py
  mars/oscar/backends/ray/tests/test_communication.py
  mars/oscar/backends/ray/tests/test_ray_actor_context.py
  mars/oscar/backends/ray/tests/test_ray_actor_driver.py
  mars/oscar/backends/ray/tests/test_ray_pool.py
  mars/oscar/debug.py
  mars/services/scheduling/supervisor/tests/test_queueing.py
  mars/services/storage/tests/test_api.py
  mars/storage/ray.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tests/conftest.py
Labels: mod: actor, mod: ray backend, type: bug

#2192 Support setting task progress in context
  .github/workflows/core-ci.yml
  azure-pipelines.yml
  mars/core/context.py
  mars/services/context.py
  mars/services/subtask/api.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/services/task/api/web.py
  mars/services/task/supervisor/processor.py
  mars/services/task/tests/test_service.py
Labels: mod: service, type: feature

#2135 Use React framework to rewrite Mars UI
  .github/workflows/cd.yml
  .github/workflows/upload-packages.sh
  .gitignore
  LICENSE
  MANIFEST.in
  ci/reload-env.sh
  mars/services/cluster/api/oscar.py
  mars/services/cluster/gather.py
  mars/services/cluster/tests/test_service.py
  mars/services/cluster/uploader.py
  mars/services/scheduling/worker/quota.py
  mars/services/scheduling/worker/workerslot.py
  mars/services/web/index.html
  mars/services/web/indexhandler.py
  mars/services/web/supervisor.py
  mars/services/web/tests/test_core.py
  mars/services/web/ui/package-lock.json
  mars/services/web/ui/package.json
  mars/services/web/ui/src/App.js
  mars/services/web/ui/src/Dashboard.js
  mars/services/web/ui/src/LeftMenu.js
  mars/services/web/ui/src/MainFrame.js
  mars/services/web/ui/src/PageRouter.js
  mars/services/web/ui/src/SessionListPage.js
  mars/services/web/ui/src/Style.js
  mars/services/web/ui/src/Title.js
  mars/services/web/ui/src/Utils.js
  mars/services/web/ui/src/node_info/NodeEnvTab.js
  mars/services/web/ui/src/node_info/NodeListPage.js
  mars/services/web/ui/src/node_info/NodeResourceTab.js
  mars/services/web/ui/src/node_info/SupervisorDetailPage.js
  mars/services/web/ui/src/node_info/TabPanel.js
  mars/services/web/ui/src/node_info/WorkerDetailPage.js
  mars/services/web/ui/src/task_info/TaskListPage.js
  mars/services/web/ui/webpack.config.js
  setup.py
Labels: mod: web, type: feature

#2197 Fix compatibility issue for pandas 1.3
  .github/workflows/core-ci.yml
  azure-pipelines.yml
  mars/dataframe/arrays.py
  mars/dataframe/base/astype.py
  mars/dataframe/base/shift.py
  mars/dataframe/base/value_counts.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/indexing/loc.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/statistics/quantile.py
  mars/dataframe/tests/test_arrays.py
  mars/dataframe/window/ewm/core.py
  mars/dataframe/window/expanding/core.py
  mars/dataframe/window/rolling/core.py
  setup.py
Labels: mod: dataframe, type: bug

#2199 Fix deserializing task errors on web clients
  mars/services/storage/api/web.py
  mars/services/task/api/web.py
  mars/services/task/tests/test_service.py
  mars/services/web/ui/src/Utils.js
  mars/services/web/ui/src/task_info/TaskListPage.js
Labels: mod: web, type: bug

#2171 Cluster config support third party modules
  mars/deploy/oscar/local.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/local_test_with_third_parity_modules_config.yml
  mars/deploy/oscar/tests/modules/__init__.py
  mars/deploy/oscar/tests/modules/output_pid.py
  mars/deploy/oscar/tests/modules/replace_op.py
  mars/deploy/oscar/tests/modules/utils.py
  mars/deploy/oscar/tests/ray_test_with_third_parity_modules_config.yml
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/tests/test_utils.py
  mars/deploy/utils.py
Labels: mod: deploy, type: feature

#2201 Restart idle slots when hard memory limit is encountered
  mars/deploy/oscar/tests/modules/replace_op.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/services/scheduling/worker/quota.py
  mars/services/scheduling/worker/service.py
  mars/services/scheduling/worker/tests/test_quota.py
  mars/services/scheduling/worker/tests/test_workerslot.py
  mars/services/scheduling/worker/workerslot.py
Labels: mod: service, type: feature

#2204 Make window function under old pandas versions work
  .github/workflows/platform-ci.yml
  mars/dataframe/window/ewm/core.py
  mars/dataframe/window/expanding/core.py
  mars/dataframe/window/rolling/core.py
Labels: mod: dataframe, to be backported, type: bug

#2202 [BACKPORT] Fix compatibility issue for pandas 1.3 (#2197)
  .github/workflows/install-hadoop.sh
  .github/workflows/platform-ci.yml
  docs/source/development/contributing.rst
  docs/source/installation/yarn.rst
  mars/dataframe/arrays.py
  mars/dataframe/base/astype.py
  mars/dataframe/base/shift.py
  mars/dataframe/base/transform.py
  mars/dataframe/base/value_counts.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/getitem.py
  mars/dataframe/groupby/transform.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/loc.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/statistics/quantile.py
  mars/dataframe/tests/test_arrays.py
  mars/dataframe/utils.py
  mars/dataframe/window/ewm/core.py
  mars/dataframe/window/expanding/core.py
  mars/dataframe/window/rolling/core.py
  mars/lib/groupby_wrapper.py
  mars/tests/core.py
Labels: backport, mod: dataframe, type: bug

#2205 Fix concatenating row chunks with MultiIndex
  mars/dataframe/sort/tests/test_sort_execute.py
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
  mars/services/scheduling/supervisor/assigner.py
Labels: mod: dataframe, type: bug

#2168 Isolate client and cluster in a separated event loop and thread
  CODEOWNERS
  LICENSE
  mars/core/context.py
  mars/core/entity/executable.py
  mars/core/session.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/deploy/kubernetes/client.py
  mars/deploy/oscar/cmdline.py
  mars/deploy/oscar/local.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/session.py
  mars/deploy/oscar/tests/test_checked_session.py
  mars/deploy/oscar/tests/test_cmdline.py
  mars/deploy/oscar/tests/test_fault_injection.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/typing.py
  mars/deploy/yarn/client.py
  mars/learn/contrib/joblib/backend.py
  mars/learn/contrib/tsfresh/core.py
  mars/learn/contrib/tsfresh/tests/test_tsfresh.py
  mars/learn/metrics/pairwise/tests/test_pariwise_distances.py
  mars/learn/neighbors/tests/test_faiss.py
  mars/lib/aio/__init__.py
  mars/lib/aio/_threads.py
  mars/lib/aio/isolation.py
  mars/oscar/backends/communication/dummy.py
  mars/oscar/backends/config.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/pool.py
  mars/oscar/backends/router.py
  mars/oscar/debug.py
  mars/remote/tests/test_remote_function.py
  mars/services/context.py
  mars/services/session/supervisor/core.py
  mars/session.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/indexing/setitem.py
  mars/typing.py
  mars/utils.py
  setup.cfg
Labels: mod: client, type: enhancement

#2207 Fix merge_index_value when index_values come from multi range indexes
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
  setup.py
Labels: mod: dataframe, to be backported, type: bug

#2208 [BACKPORT] Fix merge_index_value when index_values come from multi range indexes (#2207)
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
Labels: backport, mod: dataframe, type: bug

#2213 Support choosing aggregation algorithm at runtime
  .github/workflows/os-compat-ci.yml
  mars/__init__.py
  mars/_version.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/reduction/all.py
  mars/dataframe/reduction/any.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/count.py
  mars/dataframe/reduction/custom_reduction.py
  mars/dataframe/reduction/kurtosis.py
  mars/dataframe/reduction/max.py
  mars/dataframe/reduction/mean.py
  mars/dataframe/reduction/min.py
  mars/dataframe/reduction/prod.py
  mars/dataframe/reduction/sem.py
  mars/dataframe/reduction/skew.py
  mars/dataframe/reduction/std.py
  mars/dataframe/reduction/sum.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/reduction/unique.py
  mars/dataframe/reduction/var.py
  mars/optimization/logical/tileable/tests/test_head.py
Labels: mod: dataframe, to be backported, type: enhancement

#2218 Add support for stateless actors
  mars/oscar/__init__.py
  mars/oscar/api.py
  mars/oscar/backends/context.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/backends/message.py
  mars/oscar/backends/pool.py
  mars/oscar/context.pyx
  mars/oscar/core.pxd
  mars/oscar/core.pyx
  mars/services/cluster/api/oscar.py
  mars/services/cluster/tests/test_uploader.py
  mars/services/cluster/uploader.py
  mars/services/scheduling/worker/workerslot.py
  mars/tests/test_session.py
Labels: mod: actor, to be backported, type: enhancement

#2214 Add status filters for Cluster service
  .github/workflows/core-ci.yml
  .github/workflows/os-compat-ci.yml
  .github/workflows/platform-ci.yml
  mars/dataframe/utils.py
  mars/deploy/oscar/cmdline.py
  mars/deploy/oscar/tests/local_test_config.yml
  mars/deploy/oscar/worker.py
  mars/resource.py
  mars/services/cluster/__init__.py
  mars/services/cluster/api/core.py
  mars/services/cluster/api/oscar.py
  mars/services/cluster/api/web.py
  mars/services/cluster/core.py
  mars/services/cluster/gather.py
  mars/services/cluster/locator.py
  mars/services/cluster/supervisor/node_info.py
  mars/services/cluster/tests/test_api.py
  mars/services/cluster/tests/test_gather.py
  mars/services/cluster/tests/test_locator.py
  mars/services/cluster/tests/test_service.py
  mars/services/cluster/tests/test_uploader.py
  mars/services/cluster/uploader.py
  mars/services/cluster/worker/service.py
  mars/services/scheduling/core.py
  mars/services/scheduling/supervisor/assigner.py
  mars/services/scheduling/supervisor/globalslot.py
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/supervisor/service.py
  mars/services/scheduling/worker/quota.py
  mars/services/scheduling/worker/workerslot.py
  mars/services/session/supervisor/service.py
  mars/services/session/worker/service.py
  mars/services/storage/tests/test_transfer.py
  mars/services/web/core.py
  mars/services/web/ui/src/Dashboard.js
  mars/services/web/ui/src/Utils.js
  mars/services/web/ui/src/node_info/NodeEnvTab.js
  mars/services/web/ui/src/node_info/NodeListPage.js
  mars/services/web/ui/src/node_info/NodeResourceTab.js
Labels: mod: cluster service, mod: service, to be backported, type: enhancement

#2220 [BACKPORT] Add support for stateless actors (#2218)
  mars/oscar/__init__.py
  mars/oscar/api.py
  mars/oscar/backends/context.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/backends/message.py
  mars/oscar/backends/pool.py
  mars/oscar/context.pyx
  mars/oscar/core.pxd
  mars/oscar/core.pyx
  mars/services/cluster/api/oscar.py
  mars/services/cluster/tests/test_uploader.py
  mars/services/cluster/uploader.py
  mars/services/scheduling/worker/workerslot.py
  mars/tests/test_session.py
Labels: backport, mod: actor, type: enhancement

#2203 Fix `NoDataToSpill` when multiple storage quota requests happen simultaneously
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/storage/api/oscar.py
  mars/services/storage/core.py
  mars/services/storage/errors.py
  mars/services/storage/handler.py
  mars/services/storage/spill.py
  mars/services/storage/tests/test_spill.py
  mars/services/storage/tests/test_transfer.py
  mars/services/storage/transfer.py
  mars/services/subtask/worker/processor.py
  mars/storage/core.py
Labels: mod: service, mod: storage, to be backported, type: bug

#2221 [BACKPORT] Add status filters for Cluster service (#2214)
  .github/workflows/core-ci.yml
  .github/workflows/os-compat-ci.yml
  .github/workflows/platform-ci.yml
  mars/dataframe/utils.py
  mars/deploy/oscar/cmdline.py
  mars/deploy/oscar/tests/local_test_config.yml
  mars/deploy/oscar/worker.py
  mars/resource.py
  mars/services/cluster/__init__.py
  mars/services/cluster/api/core.py
  mars/services/cluster/api/oscar.py
  mars/services/cluster/api/web.py
  mars/services/cluster/core.py
  mars/services/cluster/gather.py
  mars/services/cluster/locator.py
  mars/services/cluster/supervisor/node_info.py
  mars/services/cluster/tests/test_api.py
  mars/services/cluster/tests/test_gather.py
  mars/services/cluster/tests/test_locator.py
  mars/services/cluster/tests/test_service.py
  mars/services/cluster/tests/test_uploader.py
  mars/services/cluster/uploader.py
  mars/services/cluster/worker/service.py
  mars/services/scheduling/core.py
  mars/services/scheduling/supervisor/assigner.py
  mars/services/scheduling/supervisor/globalslot.py
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/supervisor/service.py
  mars/services/scheduling/worker/quota.py
  mars/services/scheduling/worker/workerslot.py
  mars/services/session/supervisor/service.py
  mars/services/session/worker/service.py
  mars/services/storage/tests/test_transfer.py
  mars/services/web/core.py
  mars/services/web/ui/src/Dashboard.js
  mars/services/web/ui/src/Utils.js
  mars/services/web/ui/src/node_info/NodeEnvTab.js
  mars/services/web/ui/src/node_info/NodeListPage.js
  mars/services/web/ui/src/node_info/NodeResourceTab.js
Labels: backport, mod: cluster service, mod: service

#2222 Pass logging config file name into sub pools
  azure-pipelines.yml
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/deploy/oscar/cmdline.py
  mars/deploy/oscar/supervisor.py
  mars/deploy/oscar/worker.py
  mars/oscar/backends/config.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test-logging.conf
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/backends/pool.py
  mars/tests/core.py
Labels: mod: dataframe, mod: deploy, to be backported, type: bug, type: enhancement

#2225 [BACKPORT] Pass logging config file name into sub pools (#2222)
  azure-pipelines.yml
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/deploy/oscar/cmdline.py
  mars/deploy/oscar/supervisor.py
  mars/deploy/oscar/worker.py
  mars/oscar/backends/config.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test-logging.conf
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/backends/pool.py
  mars/tests/core.py
Labels: backport, mod: dataframe, mod: deploy, type: bug, type: enhancement

#2223 [BACKPORT] Fix `NoDataToSpill` when multiple storage quota requests happen simultaneously (#2203)
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/storage/api/oscar.py
  mars/services/storage/core.py
  mars/services/storage/errors.py
  mars/services/storage/handler.py
  mars/services/storage/spill.py
  mars/services/storage/tests/test_spill.py
  mars/services/storage/tests/test_transfer.py
  mars/services/storage/transfer.py
  mars/services/subtask/worker/processor.py
  mars/storage/core.py
Labels: backport, mod: service, mod: storage, type: bug

#2226 [BACKPORT] Support choosing aggregation algorithm at runtime (#2213)
  .github/workflows/os-compat-ci.yml
  mars/__init__.py
  mars/_version.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/reduction/all.py
  mars/dataframe/reduction/any.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/count.py
  mars/dataframe/reduction/custom_reduction.py
  mars/dataframe/reduction/kurtosis.py
  mars/dataframe/reduction/max.py
  mars/dataframe/reduction/mean.py
  mars/dataframe/reduction/min.py
  mars/dataframe/reduction/prod.py
  mars/dataframe/reduction/sem.py
  mars/dataframe/reduction/skew.py
  mars/dataframe/reduction/std.py
  mars/dataframe/reduction/sum.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/reduction/unique.py
  mars/dataframe/reduction/var.py
  mars/optimization/logical/tileable/tests/test_head.py
Labels: backport, mod: dataframe, type: enhancement

#2217 Stop using thread local to store default session.
  mars/core/__init__.py
  mars/core/entity/__init__.py
  mars/core/entity/tileables.py
  mars/core/operand/core.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/deploy/oscar/session.py
  mars/services/subtask/worker/processor.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/tests/task_preprocessor.py
Labels: mod: client, to be backported, type: bug

#2228 Add get_storage_level_info api
  mars/deploy/oscar/local.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/services/session/supervisor/core.py
  mars/services/storage/api/oscar.py
  mars/services/storage/core.py
  mars/services/storage/handler.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/tests/subtask_processor.py
  mars/services/task/supervisor/processor.py
  mars/storage/core.py
  mars/tests/core.py
Labels: mod: storage, to be backported, type: feature

#2159 Reassign subtasks and filter nodes with status
  mars/services/scheduling/supervisor/assigner.py
  mars/services/scheduling/supervisor/globalslot.py
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/supervisor/tests/test_assigner.py
  mars/services/scheduling/supervisor/tests/test_queue_balance.py
Labels: mod: service, type: enhancement

#2236 Add methods to sessions to get web endpoint
  mars/deploy/oscar/local.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
Labels: mod: client, to be backported, type: enhancement

#2238 [BACKPORT] Add method to session to get web endpoint (#2236)
  mars/deploy/oscar/local.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
Labels: backport, mod: client, type: enhancement

#2232 Ensure range index incremental for data source op like `md.read_csv`
  mars/core/context.py
  mars/core/entity/executable.py
  mars/core/entity/tileables.py
  mars/core/operand/base.py
  mars/core/operand/core.py
  mars/dataframe/datasource/core.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/read_sql.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/deploy/oscar/tests/test_local.py
  mars/learn/utils/collect_ports.py
  mars/learn/utils/tests/test_collect_ports.py
  mars/services/context.py
  mars/services/core.py
  mars/services/scheduling/api.py
  mars/services/scheduling/tests/test_service.py
  mars/services/session/supervisor/core.py
  mars/services/subtask/core.py
  mars/services/subtask/worker/processor.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/analyzer/assigner.py
  mars/services/task/analyzer/fusion.py
  mars/services/task/supervisor/stage.py
  mars/tensor/datastore/to_hdf5.py
  mars/typing.py
Labels: mod: dataframe, to be backported, type: enhancement

#2227 Use Kubernetes Service to discover Mars Supervisors
  conda-spec.txt
  mars/deploy/kubernetes/client.py
  mars/deploy/kubernetes/config.py
  mars/deploy/kubernetes/core.py
  mars/deploy/kubernetes/docker/Dockerfile.base
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/deploy/tests/test_utils.py
  mars/deploy/utils.py
  mars/deploy/yarn/core.py
  mars/services/cluster/api/core.py
  mars/services/cluster/api/oscar.py
  mars/services/cluster/api/web.py
  mars/services/cluster/backends/base.py
  mars/services/cluster/backends/fixed.py
  mars/services/cluster/locator.py
  mars/services/cluster/supervisor/locator.py
  mars/services/cluster/supervisor/node_info.py
  mars/services/cluster/supervisor/service.py
  mars/services/cluster/tests/backend.py
  mars/services/cluster/tests/test_api.py
  mars/services/cluster/tests/test_locator.py
  mars/services/cluster/tests/test_uploader.py
  mars/services/cluster/uploader.py
  mars/services/cluster/worker/locator.py
  mars/services/cluster/worker/service.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/workerslot.py
  mars/services/session/supervisor/core.py
  mars/services/storage/handler.py
  mars/services/subtask/worker/manager.py
  mars/services/subtask/worker/runner.py
  setup.cfg
Labels: mod: cluster service, mod: deploy, to be backported

#2239 Fix possible CI failure when destroying remote object for incremental index
  mars/dataframe/datasource/core.py
  mars/services/cluster/api/core.py
  mars/services/cluster/api/oscar.py
  mars/services/cluster/api/web.py
  mars/services/cluster/supervisor/node_info.py
  mars/services/cluster/uploader.py
  mars/services/core.py
  mars/services/meta/api/oscar.py
  mars/services/meta/core.py
  mars/services/meta/store/base.py
  mars/services/meta/store/dictionary.py
  mars/services/scheduling/supervisor/globalslot.py
  mars/services/scheduling/supervisor/manager.py
  mars/services/scheduling/supervisor/tests/test_assigner.py
  mars/services/scheduling/supervisor/tests/test_manager.py
  mars/services/scheduling/supervisor/tests/test_queue_balance.py
  mars/services/scheduling/worker/quota.py
  mars/services/scheduling/worker/workerslot.py
  mars/services/subtask/core.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/runner.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/analyzer/assigner.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/stage.py
  mars/services/task/supervisor/tests/task_preprocessor.py
  mars/tensor/datastore/to_hdf5.py
Labels: mod: dataframe, to be backported, type: bug

#2242 [BACKPORT] Add get_storage_level_info api (#2228)
  mars/core/entity/executable.py
  mars/deploy/oscar/local.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/services/session/supervisor/core.py
  mars/services/storage/api/oscar.py
  mars/services/storage/core.py
  mars/services/storage/handler.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/tests/subtask_processor.py
  mars/services/task/supervisor/processor.py
  mars/storage/core.py
  mars/tensor/datastore/to_hdf5.py
  mars/tests/core.py
Labels: backport, mod: storage, type: feature

#2240 [BACKPORT] Use Kubernetes Service to discover Mars Supervisors (#2227)
  conda-spec.txt
  mars/deploy/kubernetes/client.py
  mars/deploy/kubernetes/config.py
  mars/deploy/kubernetes/core.py
  mars/deploy/kubernetes/docker/Dockerfile.base
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/deploy/tests/test_utils.py
  mars/deploy/utils.py
  mars/deploy/yarn/core.py
  mars/services/cluster/api/core.py
  mars/services/cluster/api/oscar.py
  mars/services/cluster/api/web.py
  mars/services/cluster/backends/base.py
  mars/services/cluster/backends/fixed.py
  mars/services/cluster/locator.py
  mars/services/cluster/supervisor/locator.py
  mars/services/cluster/supervisor/node_info.py
  mars/services/cluster/supervisor/service.py
  mars/services/cluster/tests/backend.py
  mars/services/cluster/tests/test_api.py
  mars/services/cluster/tests/test_locator.py
  mars/services/cluster/tests/test_uploader.py
  mars/services/cluster/uploader.py
  mars/services/cluster/worker/locator.py
  mars/services/cluster/worker/service.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/workerslot.py
  mars/services/session/supervisor/core.py
  mars/services/storage/handler.py
  mars/services/subtask/worker/manager.py
  mars/services/subtask/worker/runner.py
  setup.cfg
Labels: backport, mod: cluster service, mod: deploy, type: enhancement

#2243 [BACKPORT] Stop using thread local to store default session (#2217)
  mars/core/__init__.py
  mars/core/entity/__init__.py
  mars/core/entity/tileables.py
  mars/core/operand/core.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/deploy/oscar/session.py
  mars/services/subtask/worker/processor.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/tests/task_preprocessor.py
Labels: backport, mod: client, type: bug

#2244 [BACKPORT] Ensure range index incremental for data source op like md.read_csv (#2232)
  mars/core/context.py
  mars/core/entity/tileables.py
  mars/core/operand/base.py
  mars/core/operand/core.py
  mars/dataframe/datasource/core.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/read_sql.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/deploy/oscar/tests/test_local.py
  mars/learn/utils/collect_ports.py
  mars/learn/utils/tests/test_collect_ports.py
  mars/services/cluster/api/core.py
  mars/services/cluster/api/oscar.py
  mars/services/cluster/api/web.py
  mars/services/cluster/supervisor/node_info.py
  mars/services/cluster/uploader.py
  mars/services/context.py
  mars/services/core.py
  mars/services/meta/api/oscar.py
  mars/services/meta/core.py
  mars/services/meta/store/base.py
  mars/services/meta/store/dictionary.py
  mars/services/scheduling/api.py
  mars/services/scheduling/supervisor/globalslot.py
  mars/services/scheduling/supervisor/manager.py
  mars/services/scheduling/supervisor/tests/test_manager.py
  mars/services/scheduling/tests/test_service.py
  mars/services/scheduling/worker/quota.py
  mars/services/scheduling/worker/workerslot.py
  mars/services/session/supervisor/core.py
  mars/services/subtask/core.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/runner.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/analyzer/assigner.py
  mars/services/task/analyzer/fusion.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/stage.py
  mars/services/task/supervisor/tests/task_preprocessor.py
  mars/typing.py
Labels: backport, mod: dataframe, type: enhancement

#2237 Fix service errors in Windows
  .github/workflows/os-compat-ci.yml
  .github/workflows/remove_tracer_errors.py
  .github/workflows/run-tests.sh
  ci/reload-env.sh
  mars/dataframe/base/shift.py
  mars/dataframe/datasource/core.py
  mars/deploy/oscar/cmdline.py
  mars/deploy/oscar/session.py
  mars/lib/aio/isolation.py
  mars/lib/filesystem/_glob.py
  mars/lib/filesystem/tests/test_filesystem.py
  mars/lib/nvutils.py
  mars/oscar/backends/communication/socket.py
  mars/oscar/backends/communication/tests/test_comm.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/backends/pool.py
  mars/oscar/backends/ray/pool.py
  mars/oscar/backends/ray/tests/test_communication.py
  mars/services/cluster/gather.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/scheduling/worker/workerslot.py
  mars/services/storage/api/oscar.py
  mars/services/storage/handler.py
  mars/services/storage/tests/test_api.py
  mars/services/storage/tests/test_service.py
  mars/services/storage/tests/test_spill.py
  mars/services/storage/tests/test_transfer.py
  mars/services/subtask/worker/runner.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/services/task/tests/test_service.py
  mars/services/web/supervisor.py
  mars/storage/shared_memory.py
  mars/tests/test_config.py
  mars/tests/test_session.py
  mars/utils.py
Labels: mod: service, to be backported, type: bug

#2247 [BACKPORT] Fix service errors in Windows (#2237)
  .github/workflows/os-compat-ci.yml
  .github/workflows/remove_tracer_errors.py
  .github/workflows/run-tests.sh
  ci/reload-env.sh
  mars/core/operand/core.py
  mars/dataframe/base/shift.py
  mars/dataframe/datasource/core.py
  mars/deploy/oscar/cmdline.py
  mars/deploy/oscar/session.py
  mars/lib/aio/isolation.py
  mars/lib/filesystem/_glob.py
  mars/lib/filesystem/tests/test_filesystem.py
  mars/lib/nvutils.py
  mars/oscar/backends/communication/socket.py
  mars/oscar/backends/communication/tests/test_comm.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/backends/pool.py
  mars/oscar/backends/ray/pool.py
  mars/oscar/backends/ray/tests/test_communication.py
  mars/services/cluster/gather.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/scheduling/worker/workerslot.py
  mars/services/storage/api/oscar.py
  mars/services/storage/handler.py
  mars/services/storage/tests/test_api.py
  mars/services/storage/tests/test_service.py
  mars/services/storage/tests/test_spill.py
  mars/services/storage/tests/test_transfer.py
  mars/services/subtask/worker/runner.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/services/task/tests/test_service.py
  mars/services/web/supervisor.py
  mars/storage/shared_memory.py
  mars/tests/test_config.py
  mars/tests/test_session.py
  mars/utils.py
Labels: backport, mod: service, type: bug

#2248 Record mapper meta for shuffle task
  mars/deploy/oscar/tests/test_local.py
  mars/services/meta/api/oscar.py
  mars/services/subtask/worker/processor.py
  mars/services/task/supervisor/processor.py
Labels: mod: meta service, mod: service, mod: subtask service, mod: task service, to be backported, type: enhancement

#2250 Add support for `seek` method in memory cases
  mars/lib/filesystem/arrow.py
  mars/storage/core.py
  mars/storage/shared_memory.py
  mars/storage/tests/test_libs.py
Labels: mod: storage, to be backported, type: feature

#2198 Basic rerun subtask
  mars/deploy/oscar/tests/fault_injection_config_with_rerun.yml
  mars/deploy/oscar/tests/test_fault_injection.py
  mars/oscar/errors.py
  mars/services/scheduling/api.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/service.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/scheduling/worker/workerslot.py
  mars/services/subtask/worker/tests/subtask_processor.py
  mars/services/tests/fault_injection_manager.py
Labels: mod: service, mod: subtask service, type: feature

#2252 Refine oscar debugging
  mars/oscar/backends/pool.py
  mars/oscar/backends/ray/communication.py
  mars/oscar/core.pyx
  mars/oscar/debug.py
Labels: mod: actor, type: tests

#2255 [BACKPORT] Record mapper meta for shuffle task (#2248)
  mars/deploy/oscar/tests/test_local.py
  mars/services/meta/api/oscar.py
  mars/services/subtask/worker/processor.py
  mars/services/task/supervisor/processor.py
Labels: backport, mod: meta service, mod: service, mod: subtask service, mod: task service, type: enhancement

#2257 Support `fetch_log` for web session
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/deploy/oscar/tests/local_test_with_ray_config.yml
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/services/session/api/core.py
  mars/services/session/api/web.py
Labels: mod: web, to be backported, type: enhancement

#2261 [BACKPORT] Refine oscar debugging (#2252)
  mars/oscar/backends/pool.py
  mars/oscar/backends/ray/communication.py
  mars/oscar/core.pyx
  mars/oscar/debug.py
Labels: backport, mod: actor, type: enhancement

#2262 [BACKPORT] Support `fetch_log` for web session (#2257)
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/deploy/oscar/tests/local_test_with_ray_config.yml
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/services/session/api/core.py
  mars/services/session/api/web.py
Labels: backport, mod: web, type: enhancement

#2264 [BACKPORT] Add support for `seek` method in memory cases (#2250)
  mars/lib/filesystem/arrow.py
  mars/storage/core.py
  mars/storage/shared_memory.py
  mars/storage/tests/test_libs.py
Labels: backport, mod: storage, type: feature

#2263 Merge default & distributed requirements
  .github/workflows/cd.yml
  .github/workflows/core-ci.yml
  .github/workflows/os-compat-ci.yml
  .github/workflows/platform-ci.yml
  .github/workflows/run-tests.sh
  azure-pipelines.yml
  mars/deploy/kubedl/client.py
  mars/deploy/kubernetes/client.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_cmdline.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/yarn/client.py
  mars/learn/contrib/joblib/backend.py
  mars/learn/contrib/joblib/tests/test_backend.py
  mars/learn/contrib/tsfresh/tests/test_tsfresh.py
  mars/learn/datasets/tests/test_samples_generator.py
  mars/learn/decomposition/tests/test_pca.py
  mars/learn/decomposition/tests/test_truncated_svd.py
  mars/learn/metrics/pairwise/tests/test_cosine_distances.py
  mars/learn/metrics/pairwise/tests/test_euclidean_distances.py
  mars/learn/metrics/pairwise/tests/test_haversine_distances.py
  mars/learn/metrics/pairwise/tests/test_manhattan_distances.py
  mars/learn/metrics/pairwise/tests/test_pariwise_distances.py
  mars/learn/metrics/pairwise/tests/test_rbf_kernel.py
  mars/learn/metrics/tests/test_classification.py
  mars/learn/preprocessing/tests/test_data.py
  mars/learn/preprocessing/tests/test_normalize.py
  mars/learn/semi_supervised/tests/test_label_propagation.py
  mars/learn/utils/tests/test_validation.py
  mars/services/context.py
  mars/tensor/special/tests/test_special.py
  mars/tensor/special/tests/test_special_execute.py
  mars/tensor/stats/tests/test_stats_execute.py
  mars/tests/test_session.py
  setup.cfg
Labels: to be backported, type: tests

#2253 Add API to fetch tileable graph as JSON
  mars/services/task/api/oscar.py
  mars/services/task/api/web.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/processor.py
  mars/services/task/tests/test_service.py
  mars/services/web/ui/package-lock.json
  mars/services/web/ui/src/task_info/TaskListPage.js
Labels: mod: web, to be backported, type: feature

#2258 Add partial support of bessel functions
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/tensor/special/__init__.py
  mars/tensor/special/bessel.py
  mars/tensor/special/tests/test_special_execute.py
Labels: mod: tensor, to be backported, type: feature

#2271 [BACKPORT] Add API to fetch tileable graph as JSON (#2253)
  mars/services/task/api/oscar.py
  mars/services/task/api/web.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/processor.py
  mars/services/task/tests/test_service.py
  mars/services/web/ui/package-lock.json
  mars/services/web/ui/src/task_info/TaskListPage.js
Labels: backport, mod: web, type: feature

#2270 [BACKPORT] Merge default & distributed requirements (#2263)
  .github/workflows/cd.yml
  .github/workflows/core-ci.yml
  .github/workflows/os-compat-ci.yml
  .github/workflows/platform-ci.yml
  .github/workflows/run-tests.sh
  azure-pipelines.yml
  mars/deploy/kubedl/client.py
  mars/deploy/kubernetes/client.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_cmdline.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/yarn/client.py
  mars/learn/contrib/joblib/backend.py
  mars/learn/contrib/joblib/tests/test_backend.py
  mars/learn/contrib/tsfresh/tests/test_tsfresh.py
  mars/learn/datasets/tests/test_samples_generator.py
  mars/learn/decomposition/tests/test_pca.py
  mars/learn/decomposition/tests/test_truncated_svd.py
  mars/learn/metrics/pairwise/tests/test_cosine_distances.py
  mars/learn/metrics/pairwise/tests/test_euclidean_distances.py
  mars/learn/metrics/pairwise/tests/test_haversine_distances.py
  mars/learn/metrics/pairwise/tests/test_manhattan_distances.py
  mars/learn/metrics/pairwise/tests/test_pariwise_distances.py
  mars/learn/metrics/pairwise/tests/test_rbf_kernel.py
  mars/learn/metrics/tests/test_classification.py
  mars/learn/preprocessing/tests/test_data.py
  mars/learn/preprocessing/tests/test_normalize.py
  mars/learn/semi_supervised/tests/test_label_propagation.py
  mars/learn/utils/tests/test_validation.py
  mars/services/context.py
  mars/tensor/special/tests/test_special.py
  mars/tensor/special/tests/test_special_execute.py
  mars/tensor/stats/tests/test_stats_execute.py
  mars/tests/test_session.py
  setup.cfg
Labels: backport, type: tests

#2233 Use batch method to reduce transferring cost for shuffle tasks
  mars/oscar/backends/mars/pool.py
  mars/services/meta/api/oscar.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/storage/api/oscar.py
  mars/services/storage/core.py
  mars/services/storage/handler.py
  mars/services/storage/spill.py
  mars/services/storage/tests/test_api.py
  mars/services/storage/tests/test_spill.py
  mars/services/storage/tests/test_transfer.py
  mars/services/storage/transfer.py
Labels: mod: service, mod: storage, type: enhancement

#2274 [BACKPORT] Add partial support of bessel functions (#2258)
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/tensor/special/__init__.py
  mars/tensor/special/bessel.py
  mars/tensor/special/tests/test_special_execute.py
Labels: backport, mod: tensor, type: feature
