Repository mars-project/mars, pull requests merged in 2021-02, with the labels that each got.

#1954 Add tests and releases for Python 3.9
  .github/workflows/cd.yml
  .github/workflows/core-ci.yml
  .github/workflows/install-conda.sh
  mars/dataframe/datasource/date_range.py
  mars/learn/metrics/pairwise/core.py
  mars/lib/sparse/coo.py
  mars/tensor/reduction/tests/test_reduction_execute.py
  mars/tensor/statistics/cov.py
  mars/tensor/statistics/tests/test_statistics_execute.py
  requirements-wheel.txt
Labels: mod: deploy, to be backported, type: tests

#1955 [BACKPORT] Add tests and releases for Python 3.9 (#1954)
  .github/workflows/cd.yml
  .github/workflows/core-ci.yml
  .github/workflows/install-conda.sh
  mars/dataframe/datasource/date_range.py
  mars/learn/cluster/tests/test_k_means.py
  mars/learn/metrics/pairwise/core.py
  mars/lib/sparse/coo.py
  mars/tensor/reduction/tests/test_reduction_execute.py
  mars/tensor/statistics/cov.py
  mars/tensor/statistics/tests/test_statistics_execute.py
  requirements-wheel.txt
Labels: backport, mod: deploy, type: tests

#1956 Allow wrapping existing models with Mars class constructors
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/learn/lightgbm.po
  docs/source/user_guide/learn/lightgbm.rst
  mars/learn/contrib/lightgbm/core.py
  mars/learn/contrib/lightgbm/tests/test_classifier.py
  mars/learn/contrib/lightgbm/tests/test_ranker.py
  mars/learn/contrib/lightgbm/tests/test_regressor.py
Labels: mod: learn, to be backported, type: enhancement

#1957 [BACKPORT] Allow wrapping existing models with Mars class constructors (#1956)
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/learn/lightgbm.po
  docs/source/user_guide/learn/lightgbm.rst
  mars/learn/contrib/lightgbm/core.py
  mars/learn/contrib/lightgbm/tests/test_classifier.py
  mars/learn/contrib/lightgbm/tests/test_ranker.py
  mars/learn/contrib/lightgbm/tests/test_regressor.py
  mars/scheduler/analyzer.py
Labels: backport, mod: learn, type: enhancement

#1961 Optimize performance of `DataFrame.describe()`
  mars/dataframe/base/describe.py
  mars/dataframe/base/rechunk.py
  mars/dataframe/base/tests/test_base_execution.py
Labels: mod: dataframe, to be backported, type: enhancement

#1962 [BACKPORT] Optimize performance of `DataFrame.describe()` (#1961)
  mars/dataframe/base/describe.py
  mars/dataframe/base/rechunk.py
  mars/dataframe/base/tests/test_base_execution.py
Labels: backport, mod: dataframe, type: enhancement

#1952 [storage][vineyard] Implement storage lib of vineyard backend
  .github/workflows/platform-ci.yml
  mars/dataframe/datastore/tests/test_datastore_execute.py
  mars/deploy/local/tests/test_cluster.py
  mars/storage/tests/test_libs.py
  mars/storage/vineyard.py
  mars/tensor/datastore/tests/test_datastore_execute.py
Labels: mod: storage, mod: vineyard storage, type: feature

#1966 Fix `MarsDMatrix` when input tensor has unknown chunk shape
  mars/dataframe/base/rechunk.py
  mars/dataframe/base/tests/test_base.py
  mars/learn/contrib/xgboost/classifier.py
  mars/learn/contrib/xgboost/predict.py
  mars/learn/contrib/xgboost/regressor.py
  mars/learn/contrib/xgboost/tests/test_train.py
  mars/tensor/rechunk/rechunk.py
Labels: mod: learn, to be backported, type: bug

#1968 Fix tensor sorting with empty chunks
  mars/tensor/base/psrs.py
  mars/tensor/base/tests/test_base_execute.py
  mars/web/session.py
Labels: mod: tensor, to be backported, type: bug

#1973 [BACKPORT] Fix tensor sorting with empty chunks (#1968)
  mars/tensor/base/psrs.py
  mars/tensor/base/tests/test_base_execute.py
  mars/web/session.py
Labels: backport, mod: tensor, type: bug

#1970 [BACKPORT] Fix `MarsDMatrix` when input tensor has unknown chunk shape (#1966)
  mars/dataframe/base/rechunk.py
  mars/dataframe/base/tests/test_base.py
  mars/learn/contrib/xgboost/classifier.py
  mars/learn/contrib/xgboost/predict.py
  mars/learn/contrib/xgboost/regressor.py
  mars/learn/contrib/xgboost/tests/test_train.py
  mars/tensor/rechunk/rechunk.py
Labels: backport, mod: learn, type: bug

#1969 [storage][shared_memory] Add storage backend of `multiprocessing.shared_memory`
  mars/serialization/core.py
  mars/serialization/numpy.py
  mars/serialization/tests/test_serial.py
  mars/storage/core.py
  mars/storage/plasma.py
  mars/storage/shared_memory.py
  mars/storage/tests/test_libs.py
  mars/storage/vineyard.py
Labels: mod: storage, type: feature

#1971 Implements Index.__getitem__
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/operands.py
  mars/session.py
  mars/web/session.py
  mars/web/tests/test_api.py
Labels: mod: dataframe, to be backported, type: feature

#1967 Re-enable the from/to vineyard test cases, and set meta for tensor/dataframe properly.
  .github/workflows/platform-ci.yml
  mars/dataframe/datasource/from_vineyard.py
  mars/dataframe/datastore/tests/test_datastore_execute.py
  mars/dataframe/datastore/to_vineyard.py
  mars/deploy/local/tests/test_cluster.py
  mars/tensor/datasource/from_vineyard.py
  mars/tensor/datastore/tests/test_datastore_execute.py
  mars/tensor/datastore/to_vineyard.py
  requirements-vineyard.txt
  setup.py
Labels: mod: vineyard storage, type: bug

#1974 Implements `stats.chisquare`
  docs/source/locale/zh_CN/LC_MESSAGES/development/contributing.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/tensor/special.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/tensor/statistics.po
  docs/source/reference/tensor/routines.rst
  docs/source/reference/tensor/special.rst
  docs/source/reference/tensor/statistics.rst
  mars/core.py
  mars/dataframe/base/apply.py
  mars/dataframe/base/cartesian_chunk.py
  mars/dataframe/base/map.py
  mars/dataframe/base/map_chunk.py
  mars/dataframe/base/transform.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/transform.py
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/opcodes.py
  mars/tensor/base/__init__.py
  mars/tensor/base/map_chunk.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/core.py
  mars/tensor/random/__init__.py
  mars/tensor/random/chisquare.py
  mars/tensor/special/__init__.py
  mars/tensor/special/rel_entr.py
  mars/tensor/special/tests/test_special_execute.py
  mars/tensor/special/xlogy.py
  mars/tensor/stats/__init__.py
  mars/tensor/stats/chisquare.py
  mars/tensor/stats/power_divergence.py
  mars/tensor/stats/tests/test_stats_execute.py
  mars/tests/test_session.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: mod: tensor, to be backported, type: feature

#1975 [BACKPORT] Implements Index.__getitem__ (#1971)
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/operands.py
  mars/session.py
  mars/web/session.py
  mars/web/tests/test_api.py
Labels: backport, mod: dataframe, type: feature

#1976 [BACKPORT] Implements `stats.chisquare` (#1974)
  docs/source/locale/zh_CN/LC_MESSAGES/development/contributing.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/tensor/special.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/tensor/statistics.po
  docs/source/reference/tensor/routines.rst
  docs/source/reference/tensor/special.rst
  docs/source/reference/tensor/statistics.rst
  mars/core.py
  mars/dataframe/base/apply.py
  mars/dataframe/base/cartesian_chunk.py
  mars/dataframe/base/map.py
  mars/dataframe/base/map_chunk.py
  mars/dataframe/base/transform.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/transform.py
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/opcodes.py
  mars/tensor/base/__init__.py
  mars/tensor/base/map_chunk.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/core.py
  mars/tensor/random/__init__.py
  mars/tensor/random/chisquare.py
  mars/tensor/special/__init__.py
  mars/tensor/special/rel_entr.py
  mars/tensor/special/tests/test_special_execute.py
  mars/tensor/special/xlogy.py
  mars/tensor/stats/__init__.py
  mars/tensor/stats/chisquare.py
  mars/tensor/stats/power_divergence.py
  mars/tensor/stats/tests/test_stats_execute.py
  mars/tests/test_session.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: backport, mod: tensor, type: feature

#1978 Fix ValueError when reducing tensors with empty chunks
  mars/lib/sparse/matrix.py
  mars/tensor/reduction/core.py
  mars/tensor/reduction/tests/test_reduction_execute.py
  mars/tensor/statistics/tests/test_statistics_execute.py
Labels: mod: tensor, to be backported, type: bug

#1979 [BACKPORT] Fix ValueError when reducing tensors with empty chunks (#1978)
  mars/lib/sparse/matrix.py
  mars/tensor/reduction/core.py
  mars/tensor/reduction/tests/test_reduction_execute.py
  mars/tensor/statistics/tests/test_statistics_execute.py
Labels: backport, mod: tensor, type: bug

#1982 [BACKPORT] Initialize `filesystem` libs (#1980)
  .github/workflows/os-compat-ci.yml
  .github/workflows/platform-ci.yml
  .github/workflows/run-tests.sh
  mars/_version.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datastore/to_csv.py
  mars/dataframe/datastore/to_parquet.py
  mars/filesystem.py
  mars/learn/contrib/xgboost/predict.py
  mars/learn/proxima/simple_index/builder.py
  mars/learn/proxima/simple_index/searcher.py
  mars/lib/compression.py
  mars/lib/filesystem/__init__.py
  mars/lib/filesystem/_glob.py
  mars/lib/filesystem/arrow.py
  mars/lib/filesystem/base.py
  mars/lib/filesystem/core.py
  mars/lib/filesystem/fsmap.py
  mars/lib/filesystem/hdfs.py
  mars/lib/filesystem/local.py
  mars/lib/filesystem/tests/__init__.py
  mars/lib/filesystem/tests/test_filesystem.py
  mars/tensor/datasource/from_hdf5.py
  mars/tensor/datasource/from_zarr.py
  mars/tensor/datastore/to_hdf5.py
  mars/tensor/datastore/to_zarr.py
  mars/tensor/images/imread.py
  mars/tests/core.py
  mars/tests/test_filesystem.py
  mars/utils.py
Labels: backport, mod: lib, type: enhancement

#1983 Implements {DataFrame,Series}.sample
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/base/map_chunk.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/sample.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/learn/cluster/_k_means_init.py
  mars/tensor/base/__init__.py
  mars/tensor/base/map_chunk.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/random/__init__.py
  mars/tensor/random/core.py
Labels: mod: dataframe, to be backported, type: feature

#1986 Implement ttests and gamma functions
  .github/workflows/platform-ci.yml
  docs/source/reference/tensor/special.rst
  docs/source/reference/tensor/statistics.rst
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/opcodes.py
  mars/operands.py
  mars/tensor/arithmetic/core.py
  mars/tensor/random/__init__.py
  mars/tensor/random/beta.py
  mars/tensor/random/gamma.py
  mars/tensor/special/__init__.py
  mars/tensor/special/convenience.py
  mars/tensor/special/core.py
  mars/tensor/special/entr.py
  mars/tensor/special/err_fresnel.py
  mars/tensor/special/gamma_funcs.py
  mars/tensor/special/gammaln.py
  mars/tensor/special/info_theory.py
  mars/tensor/special/rel_entr.py
  mars/tensor/special/tests/test_special.py
  mars/tensor/special/tests/test_special_execute.py
  mars/tensor/stats/__init__.py
  mars/tensor/stats/entropy.py
  mars/tensor/stats/tests/test_stats_execute.py
  mars/tensor/stats/ttest.py
  mars/tensor/utils.py
Labels: mod: tensor, to be backported, type: feature

#1987 [BACKPORT] Implements {DataFrame,Series}.sample (#1983)
  .github/workflows/platform-ci.yml
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/base/map_chunk.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/sample.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/learn/cluster/_k_means_init.py
  mars/tensor/base/__init__.py
  mars/tensor/base/map_chunk.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/random/__init__.py
  mars/tensor/random/core.py
Labels: backport, mod: dataframe, type: feature

#1990 Fix job hang when error message can't be pickled
  mars/deploy/local/tests/test_cluster.py
  mars/tensor/statistics/histogram.py
  mars/worker/calc.py
Labels: mod: worker, to be backported, type: bug

#1993 [BACKPORT] Fix job hang when error message can't be pickled (#1990)
  mars/deploy/local/tests/test_cluster.py
  mars/tensor/statistics/histogram.py
  mars/worker/calc.py
Labels: backport, mod: worker, type: bug

#1994 Implements `DataFrameGroupBy.sample`
  docs/source/reference/dataframe/groupby.rst
  mars/dataframe/groupby/__init__.py
  mars/dataframe/groupby/sample.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/sample.py
  mars/opcodes.py
  mars/operands.py
  mars/scheduler/assigner.py
  mars/scheduler/graph.py
  mars/scheduler/operands/shuffle.py
  mars/scheduler/tests/integrated/test_normal_execution.py
Labels: mod: dataframe, to be backported, type: feature

#1995 [BACKPORT] Implements `DataFrameGroupBy.sample` (#1994)
  docs/source/reference/dataframe/groupby.rst
  mars/dataframe/groupby/__init__.py
  mars/dataframe/groupby/sample.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/sample.py
  mars/opcodes.py
  mars/operands.py
  mars/scheduler/assigner.py
  mars/scheduler/graph.py
  mars/scheduler/operands/shuffle.py
  mars/scheduler/tests/integrated/test_normal_execution.py
Labels: backport, mod: dataframe, type: feature

#1981 [storage][cuda] Add cuda backend storage implementation
  .codecov.yml
  .coveragerc
  .coveragerc-threaded
  .github/codecov-upstream.yml
  mars/storage/cuda.py
  mars/storage/tests/test_libs.py
Labels: hw: nvidia gpu, mod: storage, type: feature

#1999 Fix `sort_values` for empty series
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/tests/test_sort_execute.py
Labels: mod: dataframe, to be backported, type: bug

#1992 [storage][ray] Implements Ray storage
  .github/workflows/platform-ci.yml
  mars/storage/ray.py
  mars/storage/tests/test_libs.py
Labels: mod: ray backend, mod: storage, type: feature

#2001 [BACKPORT] Fix IndexError in `Series.sort_values` when some chunk is empty (#1999)
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/tests/test_sort_execute.py
Labels: backport, mod: dataframe, type: bug

#2002 Add `errors` argument for groupby.sample to ignore errors when group size less than `n`
  mars/dataframe/groupby/sample.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/deploy/kubernetes/client.py
  mars/deploy/kubernetes/core.py
  mars/lib/groupby_wrapper.py
Labels: mod: dataframe, to be backported, type: bug

#2003 [BACKPORT] Fix mars crashes on ray >= 1.2.0 (#1998)
  .github/workflows/platform-ci.yml
  mars/ray/core.py
  mars/ray/tests/test_ray_execution.py
Labels: backport, mod: ray backend, type: bug

#1996 Implements Mars backend for oscar
  .codecov.yml
  .github/codecov-upstream.yml
  mars/oscar/api.py
  mars/oscar/backend.py
  mars/oscar/backends/mars/__init__.py
  mars/oscar/backends/mars/allocate_strategy.py
  mars/oscar/backends/mars/backend.py
  mars/oscar/backends/mars/communication/__init__.py
  mars/oscar/backends/mars/communication/core.py
  mars/oscar/backends/mars/communication/dummy.py
  mars/oscar/backends/mars/communication/socket.py
  mars/oscar/backends/mars/communication/tests/__init__.py
  mars/oscar/backends/mars/communication/tests/test_comm.py
  mars/oscar/backends/mars/config.py
  mars/oscar/backends/mars/context.py
  mars/oscar/backends/mars/context.pyx
  mars/oscar/backends/mars/core.py
  mars/oscar/backends/mars/message.py
  mars/oscar/backends/mars/messages.pxd
  mars/oscar/backends/mars/messages.pyx
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/pool.pyx
  mars/oscar/backends/mars/remote.pyx
  mars/oscar/backends/mars/router.py
  mars/oscar/backends/mars/tests/__init__.py
  mars/oscar/backends/mars/tests/test_allocate_strategy.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/backends/ray/context.pyx
  mars/oscar/backends/ray/tests/test_ray_actor_context.py
  mars/oscar/context.pyx
  mars/oscar/core.pyx
  mars/oscar/errors.py
  mars/oscar/tests/__init__.py
  mars/oscar/tests/test_local_context.py
  mars/serialization/aio.py
  mars/tests/core.py
  requirements-dev.txt
Labels: mod: actor, type: feature

#2007 [BACKPORT] Add `errors` argument for groupby.sample to ignore errors when group size less than `n` (#2002)
  mars/_version.py
  mars/dataframe/groupby/sample.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/deploy/kubernetes/client.py
  mars/deploy/kubernetes/core.py
  mars/lib/groupby_wrapper.py
Labels: backport, mod: dataframe, type: bug
