Repository mars-project/mars, pull requests merged in 2021-03, with the labels that each got.

#2011 Fix errors when calling where() on reshape results
  mars/deploy/kubernetes/config.py
  mars/deploy/kubernetes/core.py
  mars/tensor/arithmetic/core.py
  mars/tensor/base/copyto.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/base/where.py
  mars/utils.py
Labels: mod: tensor, to be backported, type: bug

#2012 [BACKPORT] Fix errors when calling where() on reshape results (#2011)
  mars/deploy/kubernetes/config.py
  mars/deploy/kubernetes/core.py
  mars/tensor/arithmetic/core.py
  mars/tensor/base/copyto.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/base/where.py
  mars/utils.py
Labels: backport, mod: tensor, type: bug

#2010 Add initial service implementations
  mars/oscar/backends/mars/pool.py
  mars/services/__init__.py
  mars/services/core.py
  mars/services/tests/__init__.py
  mars/services/tests/test_core.py
  mars/services/tests/test_svcs/__init__.py
  mars/services/tests/test_svcs/test_svc1/__init__.py
  mars/services/tests/test_svcs/test_svc1/api/__init__.py
  mars/services/tests/test_svcs/test_svc1/api/web.py
  mars/services/tests/test_svcs/test_svc1/supervisor.py
  mars/services/tests/test_svcs/test_svc2/__init__.py
  mars/services/tests/test_svcs/test_svc2/supervisor.py
  mars/services/web/__init__.py
  mars/services/web/supervisor.py
Labels: type: enhancement

#2013 Add support for batch interfaces for actors
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/core.pyx
  mars/tests/test_utils.py
  mars/utils.py
Labels: mod: actor, type: feature

#2014 Implements `{DataFrame, Series}.pct_change`
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/indexing.rst
  docs/source/reference/dataframe/series.rst
  mars/_version.py
  mars/dataframe/__init__.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/duplicated.py
  mars/dataframe/base/pct_change.py
  mars/dataframe/base/shift.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/datasource/from_index.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/reindex.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/opcodes.py
  mars/tensor/arithmetic/__init__.py
  mars/tensor/rechunk/core.py
Labels: mod: dataframe, to be backported, type: feature

#2015 [BACKPORT] Implements `{DataFrame, Series}.pct_change` (#2014)
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/indexing.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/__init__.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/duplicated.py
  mars/dataframe/base/pct_change.py
  mars/dataframe/base/shift.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/datasource/from_index.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/reindex.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/opcodes.py
  mars/tensor/arithmetic/__init__.py
  mars/tensor/rechunk/core.py
Labels: backport, mod: dataframe, type: feature

#1866 Use mmap files to reduce memory usage in proxima builder
  mars/_utils.pyx
  mars/config.py
  mars/dataframe/indexing/reindex.py
  mars/deploy/kubedl/client.py
  mars/deploy/kubedl/config.py
  mars/learn/proxima/core.py
  mars/learn/proxima/simple_index/builder.py
  mars/learn/proxima/simple_index/searcher.py
  mars/learn/proxima/simple_index/tests/integrated/test_distributed_simple_index.py
  mars/scheduler/operands/common.py
  mars/tensor/merge/concatenate.py
  mars/worker/execution.py
Labels: mod: learn, to be backported, type: enhancement

#2016 [BACKPORT] Use mmap files to reduce memory usage in proxima builder (#1866)
  mars/_utils.pyx
  mars/config.py
  mars/deploy/kubedl/client.py
  mars/deploy/kubedl/config.py
  mars/learn/proxima/core.py
  mars/learn/proxima/simple_index/builder.py
  mars/learn/proxima/simple_index/searcher.py
  mars/learn/proxima/simple_index/tests/integrated/test_distributed_simple_index.py
  mars/scheduler/operands/common.py
  mars/tensor/merge/concatenate.py
  mars/worker/execution.py
Labels: backport, mod: learn, type: enhancement

#2020 Support setting column with different index for DataFrame
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/indexing/reindex.py
  mars/dataframe/indexing/setitem.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/initializer.py
  mars/dataframe/tests/test_initializer.py
  mars/dataframe/utils.py
  mars/tensor/merge/stack.py
  mars/tensor/merge/tests/test_merge_execute.py
Labels: mod: dataframe, to be backported, type: enhancement

#2022 Fix log error when yielding to another remote
  mars/custom_log.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/tests/test_utils.py
Labels: mod: worker, to be backported, type: bug

#2025 [BACKPORT] Support setting column with different index for DataFrame (#2020)
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/indexing/reindex.py
  mars/dataframe/indexing/setitem.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/initializer.py
  mars/dataframe/tests/test_initializer.py
  mars/dataframe/utils.py
  mars/tensor/merge/stack.py
  mars/tensor/merge/tests/test_merge_execute.py
Labels: backport, mod: dataframe, type: enhancement

#2026 [BACKPORT] Fix log error when yielding to another remote (#2022)
  mars/custom_log.py
  mars/scheduler/tests/integrated/test_normal_execution.py
Labels: backport, mod: worker, type: bug

#2024 Implements tree arithmetic for tensor add and multiplication
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/optimizes/runtime/tests/test_compose.py
  mars/scheduler/tests/test_analyzer.py
  mars/tensor/__init__.py
  mars/tensor/arithmetic/__init__.py
  mars/tensor/arithmetic/add.py
  mars/tensor/arithmetic/core.py
  mars/tensor/arithmetic/multiply.py
  mars/tensor/arithmetic/tests/test_arithmetic.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tensor/arithmetic/utils.py
  mars/tensor/einsum/core.py
  mars/tensor/linalg/lu.py
  mars/tensor/linalg/matmul.py
  mars/tensor/linalg/solve_triangular.py
  mars/tensor/linalg/tensordot.py
  mars/tensor/reduction/core.py
  mars/tensor/special/core.py
  mars/tensor/statistics/histogram.py
  mars/tests/test_executor.py
  mars/worker/tests/test_calc.py
Labels: mod: tensor, to be backported, type: feature

#2028 [BACKPORT] Implements tree arithmetic for tensor add and multiplication (#2024)
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/optimizes/runtime/tests/test_compose.py
  mars/scheduler/tests/test_analyzer.py
  mars/tensor/__init__.py
  mars/tensor/arithmetic/__init__.py
  mars/tensor/arithmetic/add.py
  mars/tensor/arithmetic/core.py
  mars/tensor/arithmetic/multiply.py
  mars/tensor/arithmetic/tests/test_arithmetic.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tensor/arithmetic/utils.py
  mars/tensor/einsum/core.py
  mars/tensor/linalg/lu.py
  mars/tensor/linalg/matmul.py
  mars/tensor/linalg/solve_triangular.py
  mars/tensor/linalg/tensordot.py
  mars/tensor/reduction/core.py
  mars/tensor/special/core.py
  mars/tensor/statistics/histogram.py
  mars/tests/test_executor.py
  mars/worker/tests/test_calc.py
Labels: backport, mod: tensor, type: feature

#2027 [oscar] Add cancel support, optimize error handling, add `kill_actor` API
  mars/lib/gipc.pyx
  mars/oscar/__init__.py
  mars/oscar/api.py
  mars/oscar/backends/mars/allocate_strategy.py
  mars/oscar/backends/mars/communication/__init__.py
  mars/oscar/backends/mars/communication/core.py
  mars/oscar/backends/mars/communication/dummy.py
  mars/oscar/backends/mars/communication/socket.py
  mars/oscar/backends/mars/communication/tests/test_comm.py
  mars/oscar/backends/mars/config.py
  mars/oscar/backends/mars/context.py
  mars/oscar/backends/mars/core.py
  mars/oscar/backends/mars/message.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/router.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/backends/ray/context.pyx
  mars/oscar/context.pyx
  mars/oscar/errors.py
Labels: mod: actor, type: feature

#2030 [BACKPORT] Re-enable the from/to vineyard test cases, and set meta for tensor/dataframe properly(#1967)
  .github/workflows/platform-ci.yml
  mars/dataframe/datasource/from_vineyard.py
  mars/dataframe/datastore/tests/test_datastore_execute.py
  mars/dataframe/datastore/to_vineyard.py
  mars/deploy/local/tests/test_cluster.py
  mars/tensor/datasource/from_vineyard.py
  mars/tensor/datastore/tests/test_datastore_execute.py
  mars/tensor/datastore/to_vineyard.py
  requirements-vineyard.txt
  setup.py
Labels: backport, mod: vineyard storage

#2031 Support cuda buffer serializations in actor communication
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/oscar/backends/mars/communication/socket.py
  mars/oscar/backends/mars/communication/tests/test_comm.py
  mars/oscar/backends/mars/communication/utils.py
  mars/oscar/backends/mars/context.py
  mars/oscar/backends/mars/core.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/core.pyx
  mars/serialization/aio.py
  mars/storage/cuda.py
  mars/storage/tests/test_libs.py
Labels: hw: nvidia gpu, mod: actor, type: feature

#2032 Fix cancelling actor promises
  mars/oscar/backends/mars/communication/tests/test_comm.py
  mars/oscar/backends/mars/communication/utils.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/core.pyx
Labels: mod: actor, type: bug

#2035 Support reusing kubedl cluster by job name
  .github/workflows/core-ci.yml
  .github/workflows/os-compat-ci.yml
  .github/workflows/platform-ci.yml
  mars/deploy/kubedl/client.py
  mars/deploy/kubernetes/core.py
Labels: mod: deploy, to be backported, type: enhancement

#2034 Initialize meta service with mock support
  mars/core.py
  mars/dataframe/core.py
  mars/services/meta/__init__.py
  mars/services/meta/api.py
  mars/services/meta/core.py
  mars/services/meta/store/__init__.py
  mars/services/meta/store/base.py
  mars/services/meta/store/mock.py
  mars/services/meta/store/tests/__init__.py
  mars/services/meta/store/tests/test_meta_store.py
  mars/services/meta/tests/__init__.py
  mars/services/meta/tests/test_api.py
  mars/tensor/core.py
Labels: mod: service, type: feature

#2041 [Ray backend] setup_cluster use placement group
  mars/oscar/__init__.py
  mars/oscar/api.py
  mars/oscar/backends/mars/driver.py
  mars/oscar/backends/ray/context.pyx
  mars/oscar/backends/ray/driver.py
  mars/oscar/backends/ray/tests/test_ray_actor_context.py
  mars/oscar/backends/ray/tests/test_ray_actor_driver.py
  mars/oscar/backends/ray/utils.py
  mars/oscar/driver.py
Labels: mod: actor, mod: ray backend, type: feature

#2039 Implement `mt.insert` and `mt.delete`
  .coveragerc-threaded
  .github/workflows/core-ci.yml
  docs/source/locale/zh_CN/LC_MESSAGES/reference/tensor/manipulation.po
  docs/source/reference/tensor/manipulation.rst
  mars/opcodes.py
  mars/oscar/backends/ray/tests/test_ray_actor_context.py
  mars/oscar/backends/ray/tests/test_ray_actor_driver.py
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/delete.py
  mars/tensor/base/insert.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/utils.py
Labels: mod: tensor, to be backported, type: feature

#2042 [BACKPORT] Implement `mt.insert` and `mt.delete` (#2039)
  .coveragerc-threaded
  .github/workflows/core-ci.yml
  docs/source/locale/zh_CN/LC_MESSAGES/reference/tensor/manipulation.po
  docs/source/reference/tensor/manipulation.rst
  mars/opcodes.py
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/delete.py
  mars/tensor/base/insert.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/utils.py
Labels: backport, mod: tensor, type: feature

#2045 Fix __pre_destroy__ not called when actors are in main pool
  mars/oscar/api.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/core.pyx
Labels: mod: actor, type: bug

#2046 Fix the wrong results of `mt.insert`
  mars/tensor/base/insert.py
  mars/tensor/base/tests/test_base_execute.py
Labels: mod: tensor, to be backported, type: bug

#2048 [BACKPORT] Fix wrong results of `mt.insert` (#2046)
  mars/tensor/base/insert.py
  mars/tensor/base/tests/test_base_execute.py
Labels: backport, mod: tensor, type: bug

#2052 Fix for `mt.insert` when insert values is a mars tensor
  mars/deploy/kubedl/client.py
  mars/tensor/base/insert.py
  mars/tensor/base/tests/test_base_execute.py
Labels: mod: tensor, to be backported, type: bug

#2053 [BACKPORT] Fix for `mt.insert` when insert values is a mars tensor (#2052)
  mars/deploy/kubedl/client.py
  mars/tensor/base/insert.py
  mars/tensor/base/tests/test_base_execute.py
Labels: backport, mod: tensor, type: bug

#2054 [Ray] Fix ray cluster_utils import
  mars/oscar/backends/ray/tests/test_ray_actor_driver.py
Labels: mod: actor, mod: ray backend, type: bug

#2050 Allow sync actor methods to be extensible
  mars/serialization/tests/test_serial.py
  mars/services/scheduling/__init__.py
  mars/services/scheduling/api.py
  mars/services/task/api.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: mod: service, type: enhancement

#2058 Allow serializer to serialize recursive objects
  mars/oscar/backends/mars/core.py
  mars/oscar/backends/mars/message.py
  mars/serialization/arrow.py
  mars/serialization/core.py
  mars/serialization/cuda.py
  mars/serialization/mars_objects.py
  mars/serialization/numpy.py
  mars/serialization/scipy.py
  mars/serialization/tests/test_serial.py
  requirements-dev.txt
  requirements-wheel.txt
  requirements.txt
Labels: mod: serialization, type: enhancement

#2061 Fix `mt.unique` on empty arrays
  .github/workflows/cd.yml
  .github/workflows/core-ci.yml
  .github/workflows/install-minikube.sh
  .github/workflows/platform-ci.yml
  mars/learn/neighbors/tests/test_faiss.py
  mars/lib/gipc.pyx
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/base/unique.py
Labels: mod: tensor, type: bug

#2064 Fix main pool that creating servers only when sub pools finished creation
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
Labels: mod: actor, type: bug

#2065 Add bands to chunk meta
  mars/services/cluster/gather.py
  mars/services/cluster/tests/test_gather.py
  mars/services/meta/api.py
  mars/services/meta/core.py
  mars/services/meta/store/base.py
  mars/services/meta/store/dictionary.py
  mars/services/meta/tests/test_api.py
Labels: mod: service, type: enhancement

#2067 Enrich usage experience for extensible function
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/core.pyx
  mars/services/cluster/api.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: type: enhancement

#2068 Add API interface to get data info
  .github/workflows/core-ci.yml
  mars/services/cluster/api.py
  mars/services/meta/core.py
  mars/services/storage/__init__.py
  mars/services/storage/api.py
  mars/services/storage/core.py
  mars/services/storage/tests/test_api.py
  mars/services/tests/test_utils.py
  mars/services/utils.py
  mars/storage/base.py
  mars/storage/plasma.py
  mars/storage/tests/test_libs.py
  mars/utils.py
Labels: mod: service, type: enhancement

#2070 Quarantine asyncio tests when measuring Cython coverage
  .github/workflows/core-ci.yml
  .github/workflows/reload-env.sh
  .github/workflows/run-tests.sh
  conda-spec.txt
  mars/dataframe/datastore/tests/test_datastore_execute.py
  mars/deploy/local/tests/test_cluster.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/services/storage/core.py
  mars/tensor/datastore/tests/test_datastore_execute.py
  requirements-dev.txt
Labels: type: enhancement, type: tests

#2072 Fix batch get / delete object id and stop launching plasma when working on vineyard
  .github/workflows/platform-ci.yml
  mars/deploy/local/core.py
  mars/tensor/datasource/from_vineyard.py
  mars/worker/service.py
  mars/worker/storage/objectholder.py
  mars/worker/storage/vineyardhandler.py
  mars/worker/utils.py
Labels: mod: vineyard storage, to be backported, type: bug

#2071 [BACKPORT] Fix batch get / delete object id and stop launching plasma when working on vineyard (#2072)
  .github/workflows/core-ci.yml
  .github/workflows/reload-env.sh
  conda-spec.txt
  mars/dataframe/datastore/tests/test_datastore_execute.py
  mars/deploy/local/core.py
  mars/deploy/local/tests/test_cluster.py
  mars/tensor/datasource/from_vineyard.py
  mars/tensor/datastore/tests/test_datastore_execute.py
  mars/worker/service.py
  mars/worker/storage/objectholder.py
  mars/worker/storage/vineyardhandler.py
  mars/worker/utils.py
  requirements-dev.txt
Labels: mod: vineyard storage, type: tests

#2078 [BACKPORT] Use a ref count to make delete works when multiple workers connect to the same vineyard (#2077)
  mars/worker/storage/vineyardhandler.py
Labels: backport, mod: vineyard storage, type: bug
