Repository mars-project/mars, pull requests merged in 2021-08, with the labels that each got.

#2273 Allow turning off actor killing
  mars/dataframe/base/apply.py
  mars/deploy/oscar/tests/test_cmdline.py
  mars/services/cluster/uploader.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/quota.py
  mars/services/scheduling/worker/service.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/scheduling/worker/tests/test_quota.py
  mars/services/task/supervisor/stage.py
Labels: mod: scheduling service, to be backported, type: enhancement

#2277 [BACKPORT] Allow turning off actor killing (#2273)
  mars/dataframe/base/apply.py
  mars/deploy/oscar/tests/test_cmdline.py
  mars/services/cluster/uploader.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/quota.py
  mars/services/scheduling/worker/service.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/scheduling/worker/tests/test_quota.py
  mars/services/task/supervisor/stage.py
Labels: backport, mod: scheduling service, type: enhancement

#2279 [BACKPORT] Use batch method to reduce transferring cost for shuffle tasks (#2233)
  mars/oscar/backends/mars/pool.py
  mars/services/meta/api/oscar.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/storage/api/oscar.py
  mars/services/storage/core.py
  mars/services/storage/handler.py
  mars/services/storage/spill.py
  mars/services/storage/tests/test_api.py
  mars/services/storage/tests/test_spill.py
  mars/services/storage/tests/test_transfer.py
  mars/services/storage/transfer.py
Labels: backport, mod: storage, type: enhancement

#2280 Add bind method to facilitate extracting batch args
  mars/oscar/__init__.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/batch.py
  mars/oscar/tests/__init__.py
  mars/oscar/tests/test_batch.py
  mars/services/cluster/locator.py
  mars/services/lifecycle/api/oscar.py
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/meta/api/oscar.py
  mars/services/meta/api/web.py
  mars/services/meta/store/dictionary.py
  mars/services/scheduling/api.py
  mars/services/scheduling/supervisor/assigner.py
  mars/services/scheduling/supervisor/globalslot.py
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/supervisor/tests/test_queue_balance.py
  mars/services/scheduling/supervisor/tests/test_queueing.py
  mars/services/scheduling/worker/tests/test_workerslot.py
  mars/services/storage/api/oscar.py
  mars/services/storage/api/web.py
  mars/services/storage/core.py
  mars/services/storage/handler.py
  mars/services/storage/transfer.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/processor.py
  mars/tests/test_utils.py
  mars/utils.py
  setup.py
Labels: mod: actor, to be backported, type: enhancement

#2281 [BACKPORT] Add bind method to facilitate extracting batch args (#2280)
  mars/oscar/__init__.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/batch.py
  mars/oscar/tests/__init__.py
  mars/oscar/tests/test_batch.py
  mars/services/cluster/locator.py
  mars/services/lifecycle/api/oscar.py
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/meta/api/oscar.py
  mars/services/meta/api/web.py
  mars/services/meta/store/dictionary.py
  mars/services/scheduling/api.py
  mars/services/scheduling/supervisor/globalslot.py
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/supervisor/tests/test_queueing.py
  mars/services/scheduling/worker/tests/test_workerslot.py
  mars/services/storage/api/oscar.py
  mars/services/storage/api/web.py
  mars/services/storage/core.py
  mars/services/storage/handler.py
  mars/services/storage/transfer.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/processor.py
  mars/tests/test_utils.py
  mars/utils.py
  setup.py
Labels: backport, mod: actor, type: enhancement

#2283 Reduce memory estimation for specific operands
  docs/source/conf.py
  mars/core/operand/core.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/setitem.py
  mars/learn/contrib/utils.py
  mars/oscar/backends/communication/utils.py
  mars/oscar/backends/message.py
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/quota.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/storage/handler.py
  mars/utils.py
Labels: mod: scheduling service, to be backported, type: enhancement

#2285 [BACKPORT] Reduce memory estimation for specific operands (#2283)
  docs/source/conf.py
  mars/core/operand/core.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/setitem.py
  mars/learn/contrib/utils.py
  mars/oscar/backends/communication/utils.py
  mars/oscar/backends/message.py
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/quota.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/storage/handler.py
  mars/utils.py
Labels: backport, mod: scheduling service, type: enhancement

#2293 Add docs for batch methods
  README.rst
  docs/source/development/oscar/batch.rst
  docs/source/development/oscar/index.rst
  docs/source/development/services/cluster.rst
  docs/source/development/services/meta.rst
  docs/source/development/services/scheduling.rst
  docs/source/development/services/storage.rst
  docs/source/development/services/task.rst
  docs/source/locale/zh_CN/LC_MESSAGES/development/oscar/batch.po
  docs/source/locale/zh_CN/LC_MESSAGES/development/services/cluster.po
  docs/source/locale/zh_CN/LC_MESSAGES/development/services/lifecycle.po
  docs/source/locale/zh_CN/LC_MESSAGES/development/services/meta.po
  docs/source/locale/zh_CN/LC_MESSAGES/development/services/scheduling.po
  docs/source/locale/zh_CN/LC_MESSAGES/development/services/session.po
  docs/source/locale/zh_CN/LC_MESSAGES/development/services/storage.po
  docs/source/locale/zh_CN/LC_MESSAGES/development/services/task.po
  mars/services/cluster/__init__.py
  mars/services/storage/worker/service.py
Labels: to be backported, type: docs

#2298 [BACKPORT] Add docs for batch methods (#2293)
  README.rst
  docs/source/development/oscar/batch.rst
  docs/source/development/oscar/index.rst
  docs/source/development/services/cluster.rst
  docs/source/development/services/meta.rst
  docs/source/development/services/scheduling.rst
  docs/source/development/services/storage.rst
  docs/source/development/services/task.rst
  docs/source/locale/zh_CN/LC_MESSAGES/development/oscar/batch.po
  docs/source/locale/zh_CN/LC_MESSAGES/development/services/cluster.po
  docs/source/locale/zh_CN/LC_MESSAGES/development/services/lifecycle.po
  docs/source/locale/zh_CN/LC_MESSAGES/development/services/meta.po
  docs/source/locale/zh_CN/LC_MESSAGES/development/services/scheduling.po
  docs/source/locale/zh_CN/LC_MESSAGES/development/services/session.po
  docs/source/locale/zh_CN/LC_MESSAGES/development/services/storage.po
  docs/source/locale/zh_CN/LC_MESSAGES/development/services/task.po
  mars/services/cluster/__init__.py
  mars/services/storage/worker/service.py
Labels: backport, type: docs

#2299 Add separate check pipeline
  .github/workflows/cancel-prev.yml
  .github/workflows/checks.yml
  .github/workflows/core-ci.yml
  .github/workflows/os-compat-ci.yml
  .github/workflows/platform-ci.yml
  azure-pipelines.yml
  ci/copycheck.py
  docs/source/development/contributing.rst
  docs/source/locale/zh_CN/LC_MESSAGES/development/contributing.po
  mars/learn/cluster/_k_means_elkan.pyx
  mars/learn/cluster/_k_means_lloyd.pyx
  mars/learn/utils/tests/test_validation.py
  mars/lib/aio/_threads.py
  mars/lib/version.py
  mars/services/task/supervisor/processor.py
  mars/services/web/indexhandler.py
  mars/services/web/ui/.eslintrc.yml
  mars/services/web/ui/package-lock.json
  mars/services/web/ui/package.json
  mars/services/web/ui/src/App.js
  mars/services/web/ui/src/Dashboard.js
  mars/services/web/ui/src/LeftMenu.js
  mars/services/web/ui/src/MainFrame.js
  mars/services/web/ui/src/PageRouter.js
  mars/services/web/ui/src/SessionListPage.js
  mars/services/web/ui/src/Style.js
  mars/services/web/ui/src/Title.js
  mars/services/web/ui/src/Utils.js
  mars/services/web/ui/src/node_info/NodeEnvTab.js
  mars/services/web/ui/src/node_info/NodeListPage.js
  mars/services/web/ui/src/node_info/NodeResourceTab.js
  mars/services/web/ui/src/node_info/SupervisorDetailPage.js
  mars/services/web/ui/src/node_info/TabPanel.js
  mars/services/web/ui/src/node_info/WorkerDetailPage.js
  mars/services/web/ui/src/task_info/TaskListPage.js
  mars/storage/ray.py
  setup.cfg
Labels: to be backported, type: tests

#2295 Implements mars.learn.utils.multiclass.unique_label
  mars/core/graph/builder/chunk.py
  mars/learn/metrics/_check_targets.py
  mars/learn/utils/multiclass.py
  mars/learn/utils/tests/test_multiclass.py
  mars/opcodes.py
Labels: mod: learn, to be backported, type: feature

#2297 Implements mars.tensor.in1d
  docs/source/reference/tensor/set.rst
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/in1d.py
  mars/tensor/base/isin.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
Labels: mod: tensor, to be backported, type: feature

#2301 [BACKPORT] Implements mars.tensor.in1d (#2297)
  docs/source/reference/tensor/set.rst
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/in1d.py
  mars/tensor/base/isin.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/base/tests/test_base_execute.py
Labels: mod: tensor, type: feature, backport

#2300 [BACKPORT] Implements mars.learn.utils.multiclass.unique_label (#2295)
  mars/core/graph/builder/chunk.py
  mars/learn/metrics/_check_targets.py
  mars/learn/utils/multiclass.py
  mars/learn/utils/tests/test_multiclass.py
  mars/opcodes.py
Labels: type: feature, backport, mod: learn

#2302 [BACKPORT] Add separate check pipeline (#2299)
  .github/workflows/cancel-prev.yml
  .github/workflows/checks.yml
  .github/workflows/core-ci.yml
  .github/workflows/os-compat-ci.yml
  .github/workflows/platform-ci.yml
  azure-pipelines.yml
  ci/copycheck.py
  docs/source/development/contributing.rst
  docs/source/locale/zh_CN/LC_MESSAGES/development/contributing.po
  mars/learn/cluster/_k_means_elkan.pyx
  mars/learn/cluster/_k_means_lloyd.pyx
  mars/learn/utils/tests/test_validation.py
  mars/lib/aio/_threads.py
  mars/lib/version.py
  mars/services/task/supervisor/processor.py
  mars/services/web/indexhandler.py
  mars/services/web/ui/.eslintrc.yml
  mars/services/web/ui/package-lock.json
  mars/services/web/ui/package.json
  mars/services/web/ui/src/App.js
  mars/services/web/ui/src/Dashboard.js
  mars/services/web/ui/src/LeftMenu.js
  mars/services/web/ui/src/MainFrame.js
  mars/services/web/ui/src/PageRouter.js
  mars/services/web/ui/src/SessionListPage.js
  mars/services/web/ui/src/Style.js
  mars/services/web/ui/src/Title.js
  mars/services/web/ui/src/Utils.js
  mars/services/web/ui/src/node_info/NodeEnvTab.js
  mars/services/web/ui/src/node_info/NodeListPage.js
  mars/services/web/ui/src/node_info/NodeResourceTab.js
  mars/services/web/ui/src/node_info/SupervisorDetailPage.js
  mars/services/web/ui/src/node_info/TabPanel.js
  mars/services/web/ui/src/node_info/WorkerDetailPage.js
  mars/services/web/ui/src/task_info/TaskListPage.js
  mars/storage/ray.py
  setup.cfg
Labels: type: tests, backport

#2284 Enable running on GPU for oscar
  docs/source/development/oscar/batch.rst
  mars/conftest.py
  mars/core/operand/base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/tests/test_sort_execute.py
  mars/dataframe/utils.py
  mars/deploy/oscar/local.py
  mars/deploy/oscar/pool.py
  mars/deploy/oscar/service.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/worker.py
  mars/learn/neighbors/tests/test_nearest_neighbors.py
  mars/learn/utils/tests/test_collect_ports.py
  mars/oscar/backends/communication/utils.py
  mars/serialization/aio.py
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/scheduling/supervisor/assigner.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/storage/api/oscar.py
  mars/services/storage/api/web.py
  mars/services/storage/core.py
  mars/services/storage/handler.py
  mars/services/storage/spill.py
  mars/services/storage/tests/test_api.py
  mars/services/storage/tests/test_service.py
  mars/services/storage/tests/test_spill.py
  mars/services/storage/tests/test_transfer.py
  mars/services/storage/transfer.py
  mars/services/storage/worker/service.py
  mars/services/subtask/worker/processor.py
  mars/services/task/analyzer/assigner.py
  mars/services/task/analyzer/fusion.py
  mars/storage/__init__.py
  mars/storage/cuda.py
  mars/storage/tests/test_libs.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tensor/array_utils.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/core.py
  mars/utils.py
Labels: type: feature, to be backported, hw: nvidia gpu, mod: storage

#2305 Fix delocate version to 0.8.2 to avoid deploy error
  .github/workflows/checks.yml
  .github/workflows/upload-packages.sh
Labels: type: tests, mod: deploy

#2306 [BACKPORT] Enable running on GPU for oscar (#2284)
  .github/workflows/checks.yml
  .github/workflows/upload-packages.sh
  docs/source/development/oscar/batch.rst
  mars/conftest.py
  mars/core/operand/base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/tests/test_sort_execute.py
  mars/dataframe/utils.py
  mars/deploy/oscar/local.py
  mars/deploy/oscar/pool.py
  mars/deploy/oscar/service.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/worker.py
  mars/learn/neighbors/tests/test_nearest_neighbors.py
  mars/learn/utils/tests/test_collect_ports.py
  mars/oscar/backends/communication/utils.py
  mars/serialization/aio.py
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/scheduling/supervisor/assigner.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/storage/api/oscar.py
  mars/services/storage/api/web.py
  mars/services/storage/core.py
  mars/services/storage/handler.py
  mars/services/storage/spill.py
  mars/services/storage/tests/test_api.py
  mars/services/storage/tests/test_service.py
  mars/services/storage/tests/test_spill.py
  mars/services/storage/tests/test_transfer.py
  mars/services/storage/transfer.py
  mars/services/storage/worker/service.py
  mars/services/subtask/worker/processor.py
  mars/services/task/analyzer/assigner.py
  mars/services/task/analyzer/fusion.py
  mars/storage/__init__.py
  mars/storage/cuda.py
  mars/storage/tests/test_libs.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tensor/array_utils.py
  mars/tensor/base/tests/test_base_execute.py
  mars/tensor/core.py
  mars/utils.py
Labels: type: feature, backport, hw: nvidia gpu, mod: storage

#2308 Support initializing Mars objects from CUDA
  mars/_utils.pyx
  mars/dataframe/datasource/dataframe.py
  mars/dataframe/datasource/index.py
  mars/dataframe/datasource/series.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/initializer.py
  mars/dataframe/tests/test_initializer.py
  mars/dataframe/utils.py
  mars/oscar/core.pyx
  mars/serialization/serializables/field_type.py
  mars/services/web/ui/src/node_info/NodeEnvTab.js
  mars/services/web/ui/src/node_info/NodeResourceTab.js
  mars/tensor/base/tests/test_base.py
  mars/tensor/datasource/array.py
  mars/tensor/datasource/tests/test_datasource.py
  mars/tensor/datasource/tests/test_datasource_execute.py
Labels: mod: tensor, mod: dataframe, to be backported, hw: nvidia gpu

#2288 [Ray] Rerun subtask for ray backend
  mars/deploy/oscar/tests/test_ray_fault_injection.py
  mars/oscar/backends/context.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/pool.py
  mars/oscar/backends/ray/communication.py
  mars/oscar/backends/ray/driver.py
  mars/oscar/backends/ray/pool.py
  mars/oscar/backends/ray/tests/test_ray_pool.py
  mars/oscar/context.pyx
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/workerslot.py
Labels: type: feature, mod: ray backend

#2313 [BACKPORT] Support setting multiple columns in DataFrame (#2303)
  mars/dataframe/indexing/setitem.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/deploy/oscar/session.py
Labels: type: bug, mod: dataframe, backport

#2314 [BACKPORT] Support initializing Mars objects from CUDA (#2308)
  mars/_utils.pyx
  mars/dataframe/datasource/dataframe.py
  mars/dataframe/datasource/index.py
  mars/dataframe/datasource/series.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/initializer.py
  mars/dataframe/tests/test_initializer.py
  mars/dataframe/utils.py
  mars/oscar/core.pyx
  mars/serialization/serializables/field_type.py
  mars/services/web/ui/src/node_info/NodeEnvTab.js
  mars/services/web/ui/src/node_info/NodeResourceTab.js
  mars/tensor/base/tests/test_base.py
  mars/tensor/datasource/array.py
  mars/tensor/datasource/tests/test_datasource.py
  mars/tensor/datasource/tests/test_datasource_execute.py
Labels: mod: tensor, mod: dataframe, backport, hw: nvidia gpu

#2282 Add visualization page for tileable graphs
  mars/services/task/supervisor/processor.py
  mars/services/task/tests/test_service.py
  mars/services/web/ui/package-lock.json
  mars/services/web/ui/package.json
  mars/services/web/ui/src/PageRouter.js
  mars/services/web/ui/src/task_info/TaskDetail.js
  mars/services/web/ui/src/task_info/TaskListPage.js
  mars/services/web/ui/src/task_info/TileableDetail.js
Labels: type: feature, mod: web, to be backported

#2286 Fix hangs when worker main pool has failures.
  mars/deploy/oscar/tests/fault_injection_config.yml
  mars/deploy/oscar/tests/fault_injection_config_with_rerun.yml
  mars/deploy/oscar/tests/test_fault_injection.py
  mars/deploy/oscar/tests/test_ray_fault_injection.py
  mars/services/scheduling/supervisor/manager.py
  mars/services/subtask/worker/tests/subtask_processor.py
  mars/services/tests/fault_injection_manager.py
  mars/services/tests/fault_injection_patch.py
  mars/services/tests/test_patch.py
  mars/tests/core.py
Labels: type: bug, mod: subtask service

#2318 Refactor tileable visualization classes
  mars/services/web/ui/.eslintrc.yml
  mars/services/web/ui/src/Utils.js
  mars/services/web/ui/src/node_info/NodeEnvTab.js
  mars/services/web/ui/src/node_info/NodeListPage.js
  mars/services/web/ui/src/node_info/NodeResourceTab.js
  mars/services/web/ui/src/node_info/SupervisorDetailPage.js
  mars/services/web/ui/src/node_info/TabPanel.js
  mars/services/web/ui/src/node_info/WorkerDetailPage.js
  mars/services/web/ui/src/task_info/TaskDetail.js
  mars/services/web/ui/src/task_info/TaskListPage.js
  mars/services/web/ui/src/task_info/TaskTileableGraph.js
  mars/services/web/ui/src/task_info/TileableDetail.js
Labels: type: enhancement, mod: web, to be backported

#2319 [BACKPORT] Add visualization page for tileable graphs (#2282)
  mars/services/task/supervisor/processor.py
  mars/services/task/tests/test_service.py
  mars/services/web/ui/.eslintrc.yml
  mars/services/web/ui/package-lock.json
  mars/services/web/ui/package.json
  mars/services/web/ui/src/PageRouter.js
  mars/services/web/ui/src/Utils.js
  mars/services/web/ui/src/node_info/NodeEnvTab.js
  mars/services/web/ui/src/node_info/NodeListPage.js
  mars/services/web/ui/src/node_info/NodeResourceTab.js
  mars/services/web/ui/src/node_info/SupervisorDetailPage.js
  mars/services/web/ui/src/node_info/TabPanel.js
  mars/services/web/ui/src/node_info/WorkerDetailPage.js
  mars/services/web/ui/src/task_info/TaskDetail.js
  mars/services/web/ui/src/task_info/TaskListPage.js
  mars/services/web/ui/src/task_info/TaskTileableGraph.js
  mars/services/web/ui/src/task_info/TileableDetail.js
Labels: type: feature, mod: web, backport

#2290 Support md.to_numeric
  mars/dataframe/__init__.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/to_numeric.py
Labels: type: feature, mod: dataframe, to be backported

#2317 Add storage infos in web
  mars/deploy/oscar/tests/test_cmdline.py
  mars/deploy/oscar/worker.py
  mars/services/cluster/api/oscar.py
  mars/services/storage/core.py
  mars/services/storage/tests/test_api.py
  mars/services/storage/transfer.py
  mars/services/web/ui/src/Utils.js
  mars/services/web/ui/src/node_info/NodeListPage.js
  mars/services/web/ui/src/node_info/NodeResourceTab.js
  mars/storage/filesystem.py
  mars/storage/tests/test_libs.py
Labels: type: feature, mod: web, to be backported

#2322 Fix the error when multiple subtasks fetch the same data
  mars/oscar/backends/communication/socket.py
  mars/services/meta/api/oscar.py
  mars/services/meta/store/dictionary.py
  mars/services/storage/core.py
  mars/services/storage/spill.py
  mars/services/storage/tests/test_transfer.py
  mars/services/storage/transfer.py
Labels: type: bug, to be backported, mod: storage

#2333 [BACKPORT] Add storage infos in web (#2317)
  mars/deploy/oscar/tests/test_cmdline.py
  mars/deploy/oscar/worker.py
  mars/services/cluster/api/oscar.py
  mars/services/storage/core.py
  mars/services/storage/tests/test_api.py
  mars/services/storage/transfer.py
  mars/services/web/ui/src/Utils.js
  mars/services/web/ui/src/node_info/NodeListPage.js
  mars/services/web/ui/src/node_info/NodeResourceTab.js
  mars/storage/filesystem.py
  mars/storage/tests/test_libs.py
Labels: type: feature, backport, mod: storage

#2334 [BACKPORT] Support `md.to_numeric` (#2290)
  mars/dataframe/__init__.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/to_numeric.py
Labels: type: feature, mod: dataframe, backport

#2328 Improve wait_actor_pool_recovered
  mars/oscar/backends/pool.py
  mars/oscar/backends/ray/pool.py
  mars/oscar/backends/ray/tests/test_ray_pool.py
Labels: type: enhancement, mod: actor, to be backported

#2335 Implements `mars.tensor.stats.ks_1samp`
  .github/workflows/cancel-prev.yml
  docs/source/reference/tensor/statistics.rst
  mars/tensor/stats/__init__.py
  mars/tensor/stats/core.py
  mars/tensor/stats/ks.py
  mars/tensor/stats/tests/test_stats_execute.py
  mars/tensor/stats/ttest.py
Labels: mod: tensor, type: feature, to be backported

#2340 [BACKPORT] Fix the error when multiple subtasks fetch the same data (#2322)
  mars/oscar/backends/communication/socket.py
  mars/services/meta/api/oscar.py
  mars/services/meta/store/dictionary.py
  mars/services/storage/core.py
  mars/services/storage/spill.py
  mars/services/storage/tests/test_transfer.py
  mars/services/storage/transfer.py
Labels: type: bug, backport, mod: storage

#2341 [BACKPORT] Implements `mt.stats.ks_1samp` (#2335)
  .github/workflows/cancel-prev.yml
  docs/source/reference/tensor/statistics.rst
  mars/tensor/stats/__init__.py
  mars/tensor/stats/core.py
  mars/tensor/stats/ks.py
  mars/tensor/stats/tests/test_stats_execute.py
  mars/tensor/stats/ttest.py
Labels: mod: tensor, type: feature, backport

#2339 Remove bokeh from package requirements
  .github/workflows/checks.yml
  LICENSE
  conda-spec.txt
  docs/requirements-doc.txt
  mars/deploy/kubernetes/docker/Dockerfile
  mars/deploy/kubernetes/docker/Dockerfile.base
  mars/deploy/kubernetes/tests/Dockerfile.test
  mars/deploy/oscar/session.py
  mars/services/cluster/api/web.py
  mars/services/core.py
  mars/services/lifecycle/api/web.py
  mars/services/meta/api/web.py
  mars/services/session/api/web.py
  mars/services/storage/api/web.py
  mars/services/task/api/web.py
  mars/services/tests/test_core.py
  mars/services/web/core.py
  mars/services/web/supervisor.py
  mars/services/web/tests/test_core.py
  mars/services/web/ui/src/LeftMenu.js
  mars/services/web/ui/src/MainFrame.js
  mars/services/web/ui/src/Style.js
  mars/services/web/ui/src/node_info/NodeListPage.js
  mars/services/web/ui/src/task_info/TaskTileableGraph.js
  setup.cfg
Labels: type: enhancement, mod: web, to be backported

#2344 [BACKPORT] Remove bokeh from package requirements (#2339)
  .github/workflows/checks.yml
  LICENSE
  conda-spec.txt
  docs/requirements-doc.txt
  mars/deploy/kubernetes/docker/Dockerfile
  mars/deploy/kubernetes/docker/Dockerfile.base
  mars/deploy/kubernetes/tests/Dockerfile.test
  mars/deploy/oscar/session.py
  mars/services/cluster/api/web.py
  mars/services/core.py
  mars/services/lifecycle/api/web.py
  mars/services/meta/api/web.py
  mars/services/session/api/web.py
  mars/services/storage/api/web.py
  mars/services/task/api/web.py
  mars/services/tests/test_core.py
  mars/services/web/core.py
  mars/services/web/supervisor.py
  mars/services/web/tests/test_core.py
  mars/services/web/ui/src/LeftMenu.js
  mars/services/web/ui/src/MainFrame.js
  mars/services/web/ui/src/Style.js
  mars/services/web/ui/src/node_info/NodeListPage.js
  mars/services/web/ui/src/task_info/TaskTileableGraph.js
  setup.cfg
Labels: type: enhancement, mod: web, backport

#2325 Optimize mars supervisor scheduling
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/analyzer/assigner.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/processor.py
Labels: type: enhancement, to be backported, mod: task service, mod: lifecycle service

#2289 Add experimental Dask-on-Mars support
  .github/workflows/platform-ci.yml
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/contrib/dask.po
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/contrib/index.po
  docs/source/reference/contrib/reference.rst
  docs/source/reference/index.rst
  docs/source/user_guide/contrib/dask.rst
  docs/source/user_guide/contrib/index.rst
  docs/source/user_guide/index.rst
  mars/contrib/__init__.py
  mars/contrib/dask/__init__.py
  mars/contrib/dask/converter.py
  mars/contrib/dask/scheduler.py
  mars/contrib/dask/tests/__init__.py
  mars/contrib/dask/tests/test_dask.py
  mars/contrib/dask/utils.py
Labels: mod: client, type: feature

#2343 [Ray] Fix ray ci
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/test_ray.py
  mars/services/core.py
Labels: type: bug, to be backported, mod: ray backend

#2347 [BACKPORT] Optimize scheduling service on supervisors (#2325)
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/test_ray.py
  mars/services/core.py
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/analyzer/assigner.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/processor.py
Labels: type: enhancement, backport, mod: ray backend, mod: task service

#2346 Fix untranslated strings in doc
  .github/workflows/checks.yml
  .github/workflows/os-compat-ci.yml
  docs/source/locale/zh_CN/LC_MESSAGES/installation/deploy.po
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/contrib/dask.po
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/learn/lightgbm.po
  mars/contrib/dask/tests/__init__.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/datasource/__init__.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/tests/test_core.py
  mars/dataframe/tests/test_initializer.py
  mars/dataframe/tests/test_utils.py
  mars/learn/cluster/__init__.py
  mars/learn/contrib/tensorflow/tests/__init__.py
  mars/learn/metrics/tests/test_ranking.py
  mars/learn/model_selection/tests/test_split.py
  mars/learn/semi_supervised/tests/test_label_propagation.py
  mars/learn/utils/tests/test_checks.py
  mars/remote/tests/test_remote_function.py
  mars/services/web/tests/__init__.py
  mars/tensor/arithmetic/__init__.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/datastore/tests/test_datastore.py
  mars/tensor/fft/tests/test_fft.py
  mars/tensor/fft/tests/test_fft_execute.py
  mars/tensor/images/tests/__init__.py
  mars/tensor/indexing/tests/test_indexing.py
  mars/tensor/lib/__init__.py
  mars/tensor/lib/tests/test_index_tricks.py
  mars/tensor/linalg/tests/__init__.py
  mars/tensor/merge/tests/test_merge_execute.py
  mars/tensor/rechunk/tests/test_rechunk.py
  mars/tensor/reduction/count_nonzero.py
  mars/tensor/reduction/tests/test_reduction.py
  mars/tensor/reduction/tests/test_reduction_execute.py
  mars/tensor/reshape/tests/test_reshape.py
  mars/tensor/statistics/tests/test_statistics_execute.py
  mars/tensor/stats/ks.py
  mars/tensor/stats/tests/test_stats_execute.py
  mars/tests/test_eager_mode.py
  mars/tests/test_session.py
  setup.cfg
Labels: type: enhancement, type: docs, type: tests, to be backported

#2348 Fix error in Dask-on-Mars when compute multiple objects
  mars/contrib/dask/converter.py
  mars/contrib/dask/scheduler.py
  mars/contrib/dask/tests/test_dask.py
  mars/contrib/dask/utils.py
Labels: type: bug, dask-on-mars

#2349 [BACKPORT] Fix untranslated strings in doc (#2346)
  .github/workflows/checks.yml
  .github/workflows/os-compat-ci.yml
  docs/source/locale/zh_CN/LC_MESSAGES/installation/deploy.po
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/learn/lightgbm.po
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/datasource/__init__.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/tests/test_core.py
  mars/dataframe/tests/test_initializer.py
  mars/dataframe/tests/test_utils.py
  mars/learn/cluster/__init__.py
  mars/learn/contrib/tensorflow/tests/__init__.py
  mars/learn/metrics/tests/test_ranking.py
  mars/learn/model_selection/tests/test_split.py
  mars/learn/semi_supervised/tests/test_label_propagation.py
  mars/learn/utils/tests/test_checks.py
  mars/remote/tests/test_remote_function.py
  mars/services/web/tests/__init__.py
  mars/tensor/arithmetic/__init__.py
  mars/tensor/base/tests/test_base.py
  mars/tensor/datastore/tests/test_datastore.py
  mars/tensor/fft/tests/test_fft.py
  mars/tensor/fft/tests/test_fft_execute.py
  mars/tensor/images/tests/__init__.py
  mars/tensor/indexing/tests/test_indexing.py
  mars/tensor/lib/__init__.py
  mars/tensor/lib/tests/test_index_tricks.py
  mars/tensor/linalg/tests/__init__.py
  mars/tensor/merge/tests/test_merge_execute.py
  mars/tensor/rechunk/tests/test_rechunk.py
  mars/tensor/reduction/count_nonzero.py
  mars/tensor/reduction/tests/test_reduction.py
  mars/tensor/reduction/tests/test_reduction_execute.py
  mars/tensor/reshape/tests/test_reshape.py
  mars/tensor/statistics/tests/test_statistics_execute.py
  mars/tensor/stats/ks.py
  mars/tensor/stats/tests/test_stats_execute.py
  mars/tests/test_eager_mode.py
  mars/tests/test_session.py
  setup.cfg
Labels: type: enhancement, type: docs, type: tests, backport

#2350 [BACKPORT] Improve wait_actor_pool_recovered (#2328)
  mars/oscar/backends/context.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/pool.py
  mars/oscar/backends/ray/communication.py
  mars/oscar/backends/ray/driver.py
  mars/oscar/backends/ray/pool.py
  mars/oscar/backends/ray/tests/test_ray_pool.py
  mars/oscar/context.pyx
Labels: type: enhancement, mod: actor, backport

#2355 Gives an error when input DataFrame has unknown dtypes
  README.rst
  docs/requirements-doc.txt
  docs/source/getting_started/learn.rst
  docs/source/reference/contrib/reference.rst
  docs/source/user_guide/contrib/dask.rst
  docs/source/user_guide/contrib/index.rst
  docs/source/user_guide/learn/joblib.rst
  docs/source/user_guide/learn/lightgbm.rst
  docs/source/user_guide/learn/statsmodels.rst
  docs/source/user_guide/learn/tensorflow.rst
  docs/source/user_guide/learn/xgboost.rst
  mars/core/operand/core.py
  mars/core/operand/tests/test_core.py
  mars/tensor/stats/tests/test_stats_execute.py
Labels: type: feature, mod: dataframe, to be backported

#2246 Support PyTorch Dataset for oscar
  README.rst
  docs/source/getting_started/learn.rst
  docs/source/index.rst
  docs/source/locale/zh_CN/LC_MESSAGES/getting_started/learn.po
  docs/source/locale/zh_CN/LC_MESSAGES/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/frame.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/indexing.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/series.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/learn/generated/mars.learn.contrib.pytorch.MarsDataset.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/tensor/set.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/tensor/statistics.po
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/contrib/dask.po
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/learn/pytorch.po
  docs/source/reference/learn/reference.rst
  docs/source/user_guide/learn/index.rst
  docs/source/user_guide/learn/pytorch.rst
  mars/learn/contrib/pytorch/__init__.py
  mars/learn/contrib/pytorch/dataset.py
  mars/learn/contrib/pytorch/run_script.py
  mars/learn/contrib/pytorch/sampler.py
  mars/learn/contrib/pytorch/tests/pytorch_dataset.py
  mars/learn/contrib/pytorch/tests/test_dataset.py
  mars/learn/contrib/tensorflow/run_script.py
  mars/remote/run_script.py
Labels: type: feature, to be backported, mod: learn

#2359 [BACKPORT] Gives an error when input DataFrame has unknown dtypes (#2355)
  README.rst
  docs/source/getting_started/learn.rst
  docs/source/user_guide/learn/joblib.rst
  docs/source/user_guide/learn/lightgbm.rst
  docs/source/user_guide/learn/statsmodels.rst
  docs/source/user_guide/learn/tensorflow.rst
  docs/source/user_guide/learn/xgboost.rst
  mars/core/operand/core.py
  mars/core/operand/tests/test_core.py
  mars/tensor/stats/tests/test_stats_execute.py
Labels: type: feature, mod: dataframe, backport

#2358 [BACKPORT] Add API to retrieve progress and status of tileables (#2357)
  .github/workflows/core-ci.yml
  mars/services/subtask/worker/processor.py
  mars/services/task/api/oscar.py
  mars/services/task/api/web.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/stage.py
  mars/services/task/tests/test_service.py
  mars/services/web/ui/src/task_info/TaskTileableGraph.js
  mars/services/web/ui/src/task_info/TileableDetail.js
Labels: type: feature, backport, mod: task service

#2362 Added assign to DataFrame
  mars/dataframe/core.py
  mars/dataframe/tests/test_core.py
Labels: type: feature, mod: dataframe, to be backported

#2364 [BACKPORT] Support PyTorch Dataset for oscar (#2246)
  README.rst
  docs/source/getting_started/learn.rst
  docs/source/index.rst
  docs/source/locale/zh_CN/LC_MESSAGES/getting_started/learn.po
  docs/source/locale/zh_CN/LC_MESSAGES/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/frame.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/indexing.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/series.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/learn/generated/mars.learn.contrib.pytorch.MarsDataset.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/tensor/set.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/tensor/statistics.po
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/learn/pytorch.po
  docs/source/reference/learn/reference.rst
  docs/source/user_guide/learn/index.rst
  docs/source/user_guide/learn/pytorch.rst
  mars/learn/contrib/pytorch/__init__.py
  mars/learn/contrib/pytorch/dataset.py
  mars/learn/contrib/pytorch/run_script.py
  mars/learn/contrib/pytorch/sampler.py
  mars/learn/contrib/pytorch/tests/pytorch_dataset.py
  mars/learn/contrib/pytorch/tests/test_dataset.py
  mars/learn/contrib/tensorflow/run_script.py
  mars/remote/run_script.py
Labels: type: feature, backport, mod: learn

#2363 Add `KFold` support
  mars/learn/model_selection/__init__.py
  mars/learn/model_selection/_split.py
  mars/learn/model_selection/tests/test_split.py
  mars/learn/utils/__init__.py
  mars/learn/utils/core.py
Labels: type: feature, to be backported, mod: learn

#2365 [BACKPORT] Add KFold support (#2363)
  mars/learn/model_selection/__init__.py
  mars/learn/model_selection/_split.py
  mars/learn/model_selection/tests/test_split.py
  mars/learn/utils/__init__.py
  mars/learn/utils/core.py
Labels: type: feature, backport, mod: learn

#2367 Fix docs of `DataFrame.assign`
  docs/source/reference/dataframe/frame.rst
  mars/dataframe/core.py
  mars/dataframe/tests/test_core.py
Labels: type: enhancement, type: docs, to be backported

#2292 Support reading csv file from oss
  .github/workflows/core-ci.yml
  .github/workflows/os-compat-ci.yml
  mars/dataframe/datasource/read_csv.py
  mars/deploy/oscar/tests/test_local.py
  mars/lib/filesystem/_oss_lib/__init__.py
  mars/lib/filesystem/_oss_lib/common.py
  mars/lib/filesystem/_oss_lib/glob.py
  mars/lib/filesystem/_oss_lib/handle.py
  mars/lib/filesystem/core.py
  mars/lib/filesystem/oss.py
  mars/lib/filesystem/tests/test_oss.py
  mars/tests/test_utils.py
  mars/utils.py
  setup.cfg
Labels: type: feature, mod: dataframe, to be backported, mod: storage

#2369 [BACKPORT] Implements DataFrame.assign (#2362)
  docs/source/reference/dataframe/frame.rst
  mars/dataframe/core.py
  mars/dataframe/tests/test_core.py
Labels: type: feature, mod: dataframe, backport

#2374 [BACKPORT] Support reading csv file from oss (#2292)
  .github/workflows/core-ci.yml
  .github/workflows/os-compat-ci.yml
  mars/dataframe/datasource/read_csv.py
  mars/deploy/oscar/tests/test_local.py
  mars/lib/filesystem/_oss_lib/__init__.py
  mars/lib/filesystem/_oss_lib/common.py
  mars/lib/filesystem/_oss_lib/glob.py
  mars/lib/filesystem/_oss_lib/handle.py
  mars/lib/filesystem/core.py
  mars/lib/filesystem/oss.py
  mars/lib/filesystem/tests/test_oss.py
  mars/tests/test_utils.py
  mars/utils.py
  setup.cfg
Labels: type: feature, mod: dataframe, backport, mod: storage

#2371 Fix KeyError when remote function returns None
  LICENSE
  mars/contrib/dask/__init__.py
  mars/dataframe/utils.py
  mars/lib/filesystem/_oss_lib/common.py
  mars/lib/filesystem/_oss_lib/handle.py
  mars/lib/filesystem/oss.py
  mars/remote/tests/test_remote_function.py
  mars/services/subtask/worker/processor.py
  mars/services/task/tests/test_service.py
  mars/tensor/images/imread.py
  mars/tensor/linalg/cholesky.py
  mars/tensor/special/bessel.py
  mars/tensor/special/convenience.py
  mars/tensor/special/core.py
  mars/tensor/special/err_fresnel.py
  mars/tensor/special/gamma_funcs.py
  mars/tensor/special/info_theory.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: type: bug, to be backported, mod: remote

#2375 [BACKPORT] Fix KeyError when remote function returns None (#2371)
  LICENSE
  mars/dataframe/utils.py
  mars/lib/filesystem/_oss_lib/common.py
  mars/lib/filesystem/_oss_lib/handle.py
  mars/lib/filesystem/oss.py
  mars/remote/tests/test_remote_function.py
  mars/services/subtask/worker/processor.py
  mars/services/task/tests/test_service.py
  mars/tensor/images/imread.py
  mars/tensor/linalg/cholesky.py
  mars/tensor/special/bessel.py
  mars/tensor/special/convenience.py
  mars/tensor/special/core.py
  mars/tensor/special/err_fresnel.py
  mars/tensor/special/gamma_funcs.py
  mars/tensor/special/info_theory.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: type: bug, backport, mod: remote

#2373 Fix DataFrame comparison when data type is period
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/frame.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/learn/reference.po
  docs/source/reference/learn/reference.rst
  mars/_version.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_comparison.py
  mars/services/task/tests/test_service.py
  mars/tensor/base/astype.py
  mars/utils.py
Labels: type: bug, mod: dataframe, to be backported

#2360 Display tileable progress, status and dependency link type on task detail page
  mars/services/task/supervisor/processor.py
  mars/services/web/ui/src/task_info/TaskTileableGraph.js
Labels: type: feature, mod: web, to be backported

#2377 [BACKPORT] Display tileable progress, status and dependency link type on task detail page (#2360)
  mars/services/task/supervisor/processor.py
  mars/services/web/ui/src/task_info/TaskTileableGraph.js
Labels: type: feature, mod: web, backport

#2376 [BACKPORT] Fix DataFrame comparison when data type is period (#2373)
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/frame.po
  docs/source/locale/zh_CN/LC_MESSAGES/reference/learn/reference.po
  docs/source/reference/learn/reference.rst
  mars/_version.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_comparison.py
  mars/services/task/tests/test_service.py
  mars/tensor/base/astype.py
  mars/utils.py
Labels: type: bug, mod: dataframe, backport

#2368 Implements `Series.between`
  mars/dataframe/core.py
  mars/dataframe/tests/test_core.py
Labels: type: feature, mod: dataframe, to be backported

#2382 [BACKPORT] Implements `Series.between` (#2368)
  mars/dataframe/core.py
  mars/dataframe/tests/test_core.py
Labels: type: feature, mod: dataframe, backport

#2381 Improve case stability
  .github/workflows/os-compat-ci.yml
  docs/source/reference/dataframe/series.rst
  docs/source/user_guide/learn/lightgbm.rst
  mars/core/entity/executable.py
  mars/dataframe/core.py
  mars/dataframe/tests/test_core.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/session.py
  mars/deploy/oscar/tests/test_cmdline.py
  mars/services/cluster/api/oscar.py
  mars/services/cluster/tests/test_api.py
  mars/services/cluster/tests/test_service.py
  mars/services/lifecycle/supervisor/tests/test_tracker.py
  mars/services/meta/tests/test_api.py
  mars/services/meta/tests/test_service.py
  mars/services/scheduling/supervisor/tests/test_globalslot.py
  mars/services/scheduling/supervisor/tests/test_manager.py
  mars/services/scheduling/supervisor/tests/test_queueing.py
  mars/services/scheduling/tests/test_service.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/scheduling/worker/tests/test_workerslot.py
  mars/services/scheduling/worker/workerslot.py
  mars/services/session/tests/test_service.py
  mars/services/storage/tests/test_api.py
  mars/services/storage/tests/test_service.py
  mars/services/storage/worker/service.py
  mars/services/subtask/api.py
  mars/services/subtask/tests/test_service.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/stage.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/tests/test_service.py
  mars/services/tests/test_core.py
  mars/tensor/stats/ks.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: type: tests, to be backported, mod: service

#2210 Initially support auto scaling
  .github/workflows/platform-ci.yml
  mars/conftest.py
  mars/deploy/kubernetes/core.py
  mars/deploy/oscar/__init__.py
  mars/deploy/oscar/base_config.yml
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/rayconfig.yml
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/yarn/core.py
  mars/oscar/backends/ray/driver.py
  mars/services/cluster/api/core.py
  mars/services/cluster/api/oscar.py
  mars/services/cluster/backends/base.py
  mars/services/cluster/backends/fixed.py
  mars/services/cluster/supervisor/node_allocator.py
  mars/services/cluster/supervisor/service.py
  mars/services/cluster/tests/backend.py
  mars/services/cluster/tests/test_api.py
  mars/services/meta/api/oscar.py
  mars/services/meta/core.py
  mars/services/meta/store/base.py
  mars/services/meta/store/dictionary.py
  mars/services/meta/tests/test_api.py
  mars/services/scheduling/api.py
  mars/services/scheduling/supervisor/__init__.py
  mars/services/scheduling/supervisor/autoscale.py
  mars/services/scheduling/supervisor/globalslot.py
  mars/services/scheduling/supervisor/manager.py
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/supervisor/service.py
  mars/services/scheduling/supervisor/tests/test_globalslot.py
  mars/services/scheduling/supervisor/tests/test_queueing.py
  mars/services/storage/api/oscar.py
  mars/services/storage/core.py
  mars/services/storage/handler.py
  mars/services/storage/spill.py
  mars/services/subtask/api.py
  mars/services/subtask/worker/manager.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/service.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/storage/ray.py
  mars/tests/test_utils.py
  mars/typing.py
  mars/utils.py
Labels: type: feature, mod: ray backend, mod: service, mod: scheduling service

#2387 [BACKPORT] Improve case stability (#2381)
  .github/workflows/os-compat-ci.yml
  docs/source/reference/dataframe/series.rst
  docs/source/user_guide/learn/lightgbm.rst
  mars/core/entity/executable.py
  mars/dataframe/core.py
  mars/dataframe/tests/test_core.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/session.py
  mars/deploy/oscar/tests/test_cmdline.py
  mars/services/cluster/api/oscar.py
  mars/services/cluster/tests/test_api.py
  mars/services/cluster/tests/test_service.py
  mars/services/lifecycle/supervisor/tests/test_tracker.py
  mars/services/meta/tests/test_api.py
  mars/services/meta/tests/test_service.py
  mars/services/scheduling/supervisor/tests/test_globalslot.py
  mars/services/scheduling/supervisor/tests/test_manager.py
  mars/services/scheduling/supervisor/tests/test_queueing.py
  mars/services/scheduling/tests/test_service.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/scheduling/worker/tests/test_workerslot.py
  mars/services/scheduling/worker/workerslot.py
  mars/services/session/tests/test_service.py
  mars/services/storage/tests/test_api.py
  mars/services/storage/tests/test_service.py
  mars/services/storage/worker/service.py
  mars/services/subtask/api.py
  mars/services/subtask/tests/test_service.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/stage.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/tests/test_service.py
  mars/services/tests/test_core.py
  mars/tensor/stats/ks.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: type: tests, backport, mod: service

#2398 Add checks for file mode changes and absolute imports
  .gitattributes
  .github/workflows/checks.yml
  ci/importcheck.py
  ci/modecheck.sh
  mars/deploy/oscar/session.py
  mars/deploy/utils.py
  mars/learn/proxima/simple_index/recall.py
  mars/oscar/backends/ray/communication.py
  mars/oscar/errors.py
  mars/services/lifecycle/api/oscar.py
  mars/services/scheduling/supervisor/autoscale.py
Labels: type: tests, to be backported

#2399 Highlight dask-on-mars in doc
  README.rst
  docs/source/images/architecture.png
  docs/source/index.rst
  docs/source/locale/zh_CN/LC_MESSAGES/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/contrib/dask.po
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/learn/pytorch.po
  docs/source/user_guide/contrib/dask.rst
Labels: type: docs, dask-on-mars

#2401 [Ray] Fix occasionally failed unittest `test_ownership_when_scale_in`
  mars/deploy/oscar/tests/test_ray.py
Labels: type: bug, mod: ray backend

#2406 [Ray] Fix ray version
  .github/workflows/platform-ci.yml
Labels: type: tests, to be backported, mod: ray backend

#2404 [Oscar] Fix possible `ActorCaller.call` hang
  ci/importcheck.py
  mars/oscar/backends/core.py
  mars/oscar/tests/test_actorcaller.py
Labels: type: bug, mod: actor, to be backported

#2260 Implements `linear_model.LinearRegression`
  mars/learn/base.py
  mars/learn/linear_model/__init__.py
  mars/learn/linear_model/_base.py
  mars/learn/linear_model/tests/__init__.py
  mars/learn/linear_model/tests/test_base.py
  mars/learn/preprocessing/normalize.py
  mars/learn/utils/validation.py
Labels: type: feature, to be backported, mod: learn

#2397 Implemented hypergeometric functions
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/lib/uhashring/__init__.py
  mars/lib/uhashring/monkey.py
  mars/lib/uhashring/ring.py
  mars/lib/uhashring/ring_ketama.py
  mars/lib/uhashring/ring_meta.py
  mars/tensor/special/__init__.py
  mars/tensor/special/hypergeometric_funcs.py
  mars/tensor/special/tests/test_special_execute.py
Labels: mod: tensor, type: feature, to be backported

#2389 API for subtask DAG structure
  mars/services/task/api/oscar.py
  mars/services/task/api/web.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/stage.py
  mars/services/task/tests/test_service.py
  mars/services/web/ui/src/task_info/TaskDetail.js
  mars/services/web/ui/src/task_info/TaskTileableGraph.js
  mars/services/web/ui/src/task_info/TileableDetail.js
Labels: type: feature, mod: web, to be backported, mod: task service

#2408 [BACKPORT] Implements hypergeometric functions (#2397)
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/lib/uhashring/__init__.py
  mars/lib/uhashring/monkey.py
  mars/lib/uhashring/ring.py
  mars/lib/uhashring/ring_ketama.py
  mars/lib/uhashring/ring_meta.py
  mars/tensor/special/__init__.py
  mars/tensor/special/hypergeometric_funcs.py
  mars/tensor/special/tests/test_special_execute.py
Labels: mod: tensor, type: feature, backport

#2383 Add TensorFlow dataset
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/learn/tensorflow.po
  docs/source/reference/learn/reference.rst
  docs/source/user_guide/learn/tensorflow.rst
  mars/learn/contrib/tensorflow/__init__.py
  mars/learn/contrib/tensorflow/dataset.py
  mars/learn/contrib/tensorflow/run_script.py
  mars/learn/contrib/tensorflow/tests/test_dataset.py
  mars/learn/contrib/tensorflow/tests/test_run_script.py
  mars/learn/contrib/tensorflow/tests/tf_dataset.py
  mars/services/task/analyzer/assigner.py
  setup.cfg
Labels: type: feature, to be backported, mod: learn
