Repository mars-project/mars, pull requests merged in 2021-04, with the labels that each got.

#2069 Implements `mt.block`
  .github/workflows/install-hadoop.sh
  mars/tensor/__init__.py
  mars/tensor/merge/__init__.py
  mars/tensor/merge/block.py
  mars/tensor/merge/tests/test_merge_execute.py
Labels: mod: tensor, to be backported, type: feature

#2080 [BACKPORT] Implements `mt.block` (#2069)
  .github/workflows/install-hadoop.sh
  mars/tensor/__init__.py
  mars/tensor/merge/__init__.py
  mars/tensor/merge/block.py
  mars/tensor/merge/tests/test_merge_execute.py
Labels: backport, mod: tensor, type: feature

#2082 Allow cancelling flows automatically
  .github/workflows/cancel-prev.yml
Labels: to be backported, type: tests

#2081 Backport of bug fixes discovered in Galois serialization refactor
  .github/workflows/cancel-prev.yml
  mars/dataframe/base/check_monotonic.py
  mars/dataframe/groupby/core.py
  mars/dataframe/indexing/sample.py
  mars/dataframe/operands.py
  mars/dataframe/reduction/core.py
  mars/learn/metrics/pairwise/euclidean.py
  mars/remote/core.py
  mars/remote/utils.py
  mars/scheduler/analyzer.py
  mars/tensor/arithmetic/angle.py
  mars/tensor/base/map_chunk.py
  mars/tensor/base/topk.py
  mars/tensor/base/transpose.py
  mars/tensor/fft/core.py
  mars/tensor/linalg/core.py
  mars/tensor/spatial/distance/cdist.py
  mars/tensor/spatial/distance/pdist.py
  mars/tensor/statistics/histogram.py
  mars/tensor/stats/tests/test_stats_execute.py
  mars/utils.py
  mars/worker/storage/diskmerge.py
Labels: mod: dataframe, mod: tensor, type: bug

#2063 Oscar actor pool on ray
  .codecov.yml
  .coveragerc
  .coveragerc-threaded
  mars/oscar/backends/allocate_strategy.py
  mars/oscar/backends/communication/__init__.py
  mars/oscar/backends/communication/base.py
  mars/oscar/backends/communication/core.py
  mars/oscar/backends/communication/dummy.py
  mars/oscar/backends/communication/errors.py
  mars/oscar/backends/communication/socket.py
  mars/oscar/backends/communication/tests/__init__.py
  mars/oscar/backends/communication/tests/test_comm.py
  mars/oscar/backends/communication/utils.py
  mars/oscar/backends/config.py
  mars/oscar/backends/context.py
  mars/oscar/backends/core.py
  mars/oscar/backends/mars/__init__.py
  mars/oscar/backends/mars/backend.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test_allocate_strategy.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/backends/message.py
  mars/oscar/backends/pool.py
  mars/oscar/backends/ray/backend.py
  mars/oscar/backends/ray/communication.py
  mars/oscar/backends/ray/context.pyx
  mars/oscar/backends/ray/driver.py
  mars/oscar/backends/ray/pool.py
  mars/oscar/backends/ray/tests/test_communication.py
  mars/oscar/backends/ray/tests/test_ray_actor_context.py
  mars/oscar/backends/ray/tests/test_ray_actor_driver.py
  mars/oscar/backends/ray/utils.py
  mars/oscar/backends/router.py
  mars/services/meta/api.py
  mars/services/storage/core.py
Labels: mod: actor, mod: ray backend, type: enhancement

#2083 Make import of LightGBM and XGBoost lazy
  .github/workflows/install-hadoop.sh
  mars/learn/contrib/lightgbm/__init__.py
  mars/learn/contrib/lightgbm/_predict.py
  mars/learn/contrib/lightgbm/classifier.py
  mars/learn/contrib/lightgbm/core.py
  mars/learn/contrib/lightgbm/ranker.py
  mars/learn/contrib/lightgbm/regressor.py
  mars/learn/contrib/utils.py
  mars/learn/contrib/xgboost/__init__.py
  mars/learn/contrib/xgboost/predict.py
  mars/serialization/core.py
Labels: mod: learn, to be backported, type: enhancement

#2086 Use chunk index as default shuffle key
  .github/workflows/cancel-prev.yml
  mars/context.py
  mars/core/operand/base.py
  mars/core/operand/fetch.py
  mars/core/operand/objects.py
  mars/core/operand/shuffle.py
  mars/dataframe/align.py
  mars/dataframe/base/_duplicate.py
  mars/dataframe/base/apply.py
  mars/dataframe/base/cartesian_chunk.py
  mars/dataframe/base/drop_duplicates.py
  mars/dataframe/base/duplicated.py
  mars/dataframe/base/map.py
  mars/dataframe/base/map_chunk.py
  mars/dataframe/base/transform.py
  mars/dataframe/fetch/core.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/sample.py
  mars/dataframe/groupby/transform.py
  mars/dataframe/merge/merge.py
  mars/dataframe/operands.py
  mars/dataframe/sort/psrs.py
  mars/learn/operands.py
  mars/learn/utils/shuffle.py
  mars/opcodes.py
  mars/remote/core.py
  mars/scheduler/graph.py
  mars/scheduler/operands/shuffle.py
  mars/serialization/serializables/field.py
  mars/serialization/serializables/tests/test_serializable.py
  mars/tensor/base/map_chunk.py
  mars/tensor/base/psrs.py
  mars/tensor/base/unique.py
  mars/tensor/fetch/core.py
  mars/tensor/indexing/getitem.py
  mars/tensor/indexing/index_lib.py
  mars/tensor/random/permutation.py
  mars/tensor/reshape/reshape.py
  mars/tensor/spatial/distance/pdist.py
  mars/tensor/spatial/distance/squareform.py
  mars/utils.py
  mars/worker/calc.py
  mars/worker/execution.py
  mars/worker/storage/diskhandler.py
  mars/worker/tests/test_calc.py
Labels: mod: dataframe, mod: tensor, type: enhancement

#2088 Remove protobuf dependency
  .codecov.yml
  .coveragerc
  .coveragerc-threaded
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/codecov-upstream.yml
  .github/workflows/upload-packages.sh
  LICENSE
  conda-spec.txt
  docs/source/development/contributing.rst
  docs/source/locale/zh_CN/LC_MESSAGES/development/contributing.po
  mars/deploy/kubernetes/docker/Dockerfile.base
  requirements-dev.txt
  requirements-extra.txt
  requirements-wheel.txt
Labels: mod: deploy, type: tests

#2092 Fix distributed `make_blobs` and column pruning in `read_sql`
  mars/dataframe/datasource/core.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/read_sql.py
  mars/learn/datasets/tests/integrated/__init__.py
  mars/learn/datasets/tests/integrated/test_distributed_samples_generator.py
  mars/learn/decomposition/_pca.py
  mars/learn/utils/shuffle.py
  mars/optimizes/runtime/dataframe.py
  mars/optimizes/tileable_graph/tests/test_column_pruning.py
Labels: mod: dataframe, mod: learn, to be backported, type: bug

#2093 [BACKPORT] Fix distributed `make_blobs` and column pruning in `read_sql` (#2092)
  mars/dataframe/datasource/core.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/read_sql.py
  mars/learn/datasets/tests/integrated/__init__.py
  mars/learn/datasets/tests/integrated/test_distributed_samples_generator.py
  mars/learn/decomposition/_pca.py
  mars/learn/utils/shuffle.py
  mars/optimizes/runtime/dataframe.py
  mars/optimizes/tileable_graph/tests/test_column_pruning.py
Labels: backport, mod: dataframe, mod: learn, type: bug

#2095 Fix coverage result on SubActorPool
  mars/oscar/backends/context.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/pool.py
  mars/oscar/backends/ray/pool.py
  mars/services/task/supervisor/tests/test_task_manager.py
Labels: mod: actor, type: enhancement, type: tests

#2096 Fix result error when yield after exceptions
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/core.pyx
  mars/serialization/core.py
Labels: mod: actor, type: bug

#2089 [Ray] ray oscar deploy
  .github/workflows/platform-ci.yml
  .github/workflows/reload-env.sh
  .github/workflows/run-tests.sh
  mars/_utils.pyx
  mars/deploy/oscar/local.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/rayconfig.yml
  mars/deploy/oscar/service.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/message.py
  mars/oscar/backends/ray/backend.py
  mars/oscar/backends/ray/communication.py
  mars/oscar/backends/ray/driver.py
  mars/oscar/backends/ray/pool.py
  mars/oscar/backends/ray/tests/test_ray_actor_context.py
  mars/oscar/backends/ray/tests/test_ray_actor_driver.py
  mars/oscar/core.pyx
  mars/ray/core.py
  mars/serialization/__init__.py
  mars/serialization/core.py
  mars/serialization/ray.py
  mars/serialization/serializables/core.py
  mars/services/core.py
  mars/services/storage/core.py
  mars/services/storage/tests/test_service.py
  mars/services/storage/worker/service.py
  mars/services/task/worker/subtask.py
  mars/storage/ray.py
  mars/storage/tests/test_libs.py
  mars/tests/core.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: mod: deploy, mod: ray backend, type: feature

#2099 Implement last_idle_time API
  mars/services/session/api.py
  mars/services/session/supervisor/core.py
  mars/services/session/tests/test_service.py
  mars/services/task/api.py
  mars/services/task/supervisor/task_manager.py
Labels: mod: service, type: enhancement

#2104 Fix put_file_like_object for ray >= 1.3.0
  mars/storage/ray.py
Labels: mod: ray backend, mod: storage, type: bug

#2110 Make Mars pools compatible with Python 3.6
  .github/workflows/os-compat-ci.yml
  mars/deploy/oscar/tests/__init__.py
  mars/oscar/__init__.py
  mars/oscar/backends/communication/tests/__init__.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/__init__.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/core.pyx
  mars/oscar/errors.py
  mars/services/cluster/tests/__init__.py
  mars/services/meta/tests/__init__.py
  mars/services/session/tests/__init__.py
  mars/services/storage/tests/__init__.py
  mars/services/task/supervisor/tests/__init__.py
  mars/services/task/tests/__init__.py
  mars/services/task/worker/tests/__init__.py
  mars/services/task/worker/tests/test_subtask.py
  mars/services/tests/__init__.py
  mars/storage/plasma.py
  mars/storage/shared_memory.py
  mars/storage/tests/test_libs.py
  requirements-dev.txt
  requirements.txt
Labels: mod: actor, type: enhancement

#2109 Wrap sync method in session so that they will be running in threads
  mars/__init__.py
  mars/core/session.py
  mars/storage/__init__.py
Labels: mod: client, type: bug

#2114 Fix pool cases and shared memory cases in Windows
  .github/workflows/os-compat-ci.yml
  .github/workflows/platform-ci.yml
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/oscar/backends/communication/socket.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/storage/plasma.py
  mars/storage/shared_memory.py
  mars/storage/tests/test_libs.py
Labels: mod: actor, type: bug

#2116 Fix `_get_ports_from_netstat` hang
  mars/utils.py
Labels: to be backported, type: bug
