Repository mars-project/mars, pull requests merged in 2021-01, with the labels that each got.

#1858 [BACKPORT] Implements `mars.learn.preprocessing.{MinMaxScaler, minmax_scale}`(#1844)
  docs/source/reference/learn/reference.rst
  mars/_version.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/utils.py
  mars/learn/base.py
  mars/learn/cluster/_kmeans.py
  mars/learn/preprocessing/__init__.py
  mars/learn/preprocessing/_data.py
  mars/learn/preprocessing/tests/test_data.py
  mars/learn/preprocessing/tests/test_normalize.py
  mars/tensor/datasource/array.py
Labels: backport, mod: learn, type: feature

#1859 [BACKPORT] Support `to_pandas` in a batch way for DataFrame and Series (#1853)
  mars/core.py
  mars/dataframe/core.py
  mars/dataframe/utils.py
  mars/tests/test_session.py
Labels: backport, mod: dataframe, type: enhancement

#1861 [BACKPORT] Support specifying memory scale in kubernetes (#1856)
  mars/deploy/kubedl/config.py
  mars/deploy/kubernetes/client.py
  mars/deploy/kubernetes/config.py
  mars/deploy/kubernetes/tests/test_config.py
  mars/resource.py
Labels: backport, mod: deploy, type: enhancement

#1847 Fix compatibility for pandas 1.2.0
  .github/workflows/platform-ci.yml
  mars/dataframe/arithmetic/bitwise_and.py
  mars/dataframe/arithmetic/bitwise_or.py
  mars/dataframe/arithmetic/bitwise_xor.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/arrays.py
  mars/dataframe/base/transform.py
  mars/dataframe/groupby/core.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/tests/test_arrays.py
  mars/dataframe/utils.py
  mars/dataframe/window/rolling/aggregation.py
  mars/dataframe/window/rolling/tests/test_rolling_execute.py
  mars/utils.py
  requirements-dev.txt
  requirements.txt
Labels: mod: dataframe, to be backported, type: bug

#1862 [BACKPORT] Fix compatibility for pandas 1.2.0 (#1847)
  .github/workflows/platform-ci.yml
  mars/dataframe/arithmetic/bitwise_and.py
  mars/dataframe/arithmetic/bitwise_or.py
  mars/dataframe/arithmetic/bitwise_xor.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/arrays.py
  mars/dataframe/base/transform.py
  mars/dataframe/groupby/core.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/tests/test_arrays.py
  mars/dataframe/utils.py
  mars/dataframe/window/rolling/aggregation.py
  mars/dataframe/window/rolling/tests/test_rolling_execute.py
  mars/utils.py
  requirements-dev.txt
  requirements.txt
Labels: backport, mod: dataframe, type: bug

#1860 Add more functionalities for `md.Index`
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/indexing.po
  docs/source/reference/dataframe/index.rst
  docs/source/reference/dataframe/indexing.rst
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/is_ufuncs.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/astype.py
  mars/dataframe/base/cartesian_chunk.py
  mars/dataframe/base/map.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/transform.py
  mars/dataframe/core.py
  mars/dataframe/datasource/index.py
  mars/dataframe/missing/__init__.py
  mars/dataframe/missing/checkna.py
  mars/dataframe/missing/dropna.py
  mars/dataframe/missing/fillna.py
  mars/dataframe/missing/tests/test_missing_execute.py
  mars/dataframe/reduction/__init__.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/all.py
  mars/dataframe/reduction/any.py
  mars/dataframe/reduction/max.py
  mars/dataframe/reduction/min.py
  mars/dataframe/reduction/nunique.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/tests/test_utils.py
  mars/operands.py
  mars/tests/test_session.py
Labels: mod: dataframe, to be backported, type: feature

#1864 [BACKPORT] Add more functionalities for `md.Index` (#1860)
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/indexing.po
  docs/source/reference/dataframe/index.rst
  docs/source/reference/dataframe/indexing.rst
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/is_ufuncs.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/astype.py
  mars/dataframe/base/cartesian_chunk.py
  mars/dataframe/base/map.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/transform.py
  mars/dataframe/core.py
  mars/dataframe/datasource/index.py
  mars/dataframe/missing/__init__.py
  mars/dataframe/missing/checkna.py
  mars/dataframe/missing/dropna.py
  mars/dataframe/missing/fillna.py
  mars/dataframe/missing/tests/test_missing_execute.py
  mars/dataframe/reduction/__init__.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/all.py
  mars/dataframe/reduction/any.py
  mars/dataframe/reduction/max.py
  mars/dataframe/reduction/min.py
  mars/dataframe/reduction/nunique.py
  mars/dataframe/reduction/tests/test_reduction_execute.py
  mars/dataframe/tests/test_utils.py
  mars/operands.py
  mars/tests/test_session.py
Labels: backport, mod: dataframe, type: feature

#1865 LFAI & Data: Add required documents
  CODEOWNERS
  CODE_OF_CONDUCT.md
  MAINTAINERS.md
  RELEASES.md
  SUPPORT.md
Labels: type: docs

#1867 Implements `{DataFrame,Series}.rename_axis`
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/indexing.po
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/indexing.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/core.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/rename.py
  mars/dataframe/indexing/rename_axis.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/serialize/protos/operand.proto
  mars/tests/test_session.py
Labels: mod: dataframe, to be backported, type: feature

#1869 Support unknown shape for mt.reshape, mt.histogram and md.DataFrame
  CODEOWNERS
  mars/dataframe/base/cartesian_chunk.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/ray/tests/test_ray_execution.py
  mars/tensor/reshape/reshape.py
  mars/tensor/reshape/tests/test_reshape.py
  mars/tensor/reshape/tests/test_reshape_execute.py
  mars/tensor/statistics/histogram.py
  mars/tensor/statistics/tests/test_statistics_execute.py
Labels: mod: dataframe, mod: tensor, to be backported, type: bug

#1870 [BACKPORT] Implements `{DataFrame,Series}.rename_axis` (#1867)
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/indexing.po
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/indexing.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/core.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/rename.py
  mars/dataframe/indexing/rename_axis.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/serialize/protos/operand.proto
  mars/tests/test_session.py
Labels: backport, mod: dataframe, type: feature

#1872 Fix wrongly raised error: Tileable object must be executed first before being fetched
  mars/dataframe/core.py
  mars/tests/test_session.py
Labels: mod: dataframe, to be backported, type: bug

#1874 Fix reshape when input tensor has unknown shape and 1 chunk
  mars/dataframe/core.py
  mars/tensor/base/flatten.py
  mars/tensor/reshape/reshape.py
  mars/tensor/reshape/tests/test_reshape_execute.py
  mars/tests/test_session.py
Labels: mod: tensor, to be backported, type: bug

#1875 [BACKPORT] Fix wrongly raised error: Tileable object must be executed first before being fetched (#1872)
  mars/dataframe/core.py
  mars/tests/test_session.py
Labels: backport, mod: dataframe, type: bug

#1876 [BACKPORT] Support unknown shape for mt.reshape, mt.histogram and md.DataFrame (#1869)
  CODEOWNERS
  mars/dataframe/base/cartesian_chunk.py
  mars/dataframe/core.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/ray/tests/test_ray_execution.py
  mars/tensor/base/flatten.py
  mars/tensor/reshape/reshape.py
  mars/tensor/reshape/tests/test_reshape.py
  mars/tensor/reshape/tests/test_reshape_execute.py
  mars/tensor/statistics/histogram.py
  mars/tensor/statistics/tests/test_statistics_execute.py
  mars/tests/test_session.py
Labels: backport, mod: dataframe, mod: tensor, type: bug

#1879 Fix stuck of threaded actor operations in gevent==20.12.0
  mars/actors/pool/gevent_pool.pyx
  requirements-extra.txt
Labels: mod: actor, to be backported, type: bug

#1880 Allow internal serialization to use JSON
  mars/config.py
  mars/scheduler/tests/test_graph.py
  mars/utils.py
  mars/worker/execution.py
Labels: to be backported, type: enhancement

#1881 [BACKPORT] Fix stuck of threaded actor operations in gevent==20.12.0 (#1879)
  mars/actors/pool/gevent_pool.pyx
  requirements-extra.txt
Labels: backport, mod: actor, type: bug

#1882 [BACKPORT] Allow internal serialization to use JSON (#1880)
  mars/config.py
  mars/scheduler/tests/test_graph.py
  mars/utils.py
  mars/worker/execution.py
Labels: backport, type: enhancement

#1884 Optimize performance of `df.sort_values().head()`
  mars/dataframe/base/value_counts.py
  mars/dataframe/sort/core.py
  mars/dataframe/sort/sort_index.py
  mars/dataframe/sort/sort_values.py
  mars/optimizes/tileable_graph/__init__.py
  mars/optimizes/tileable_graph/head.py
  mars/optimizes/tileable_graph/tests/test_head.py
Labels: mod: dataframe, to be backported, type: enhancement

#1888 [BACKPORT] Optimize performance of `df.sort_values().head()` (#1884)
  mars/dataframe/base/value_counts.py
  mars/dataframe/sort/core.py
  mars/dataframe/sort/sort_index.py
  mars/dataframe/sort/sort_values.py
  mars/optimizes/tileable_graph/__init__.py
  mars/optimizes/tileable_graph/head.py
  mars/optimizes/tileable_graph/tests/test_head.py
Labels: backport, mod: dataframe, type: enhancement

#1886 Support column pruning for groupby().agg() on data sources
  mars/dataframe/datasource/core.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/read_sql.py
  mars/optimizes/tileable_graph/__init__.py
  mars/optimizes/tileable_graph/column_pruning.py
  mars/optimizes/tileable_graph/tests/test_column_pruning.py
Labels: mod: dataframe, to be backported, type: enhancement

#1889 [BACKPORT] Support column pruning for groupby().agg() on data sources (#1886)
  mars/dataframe/datasource/core.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/read_sql.py
  mars/optimizes/tileable_graph/__init__.py
  mars/optimizes/tileable_graph/column_pruning.py
  mars/optimizes/tileable_graph/tests/test_column_pruning.py
Labels: backport, mod: dataframe, type: enhancement

#1891 Fix sorting string columns with None value & sorting with empty chunks
  mars/dataframe/core.py
  mars/dataframe/datasource/index.py
  mars/dataframe/initializer.py
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/tests/test_sort_execute.py
  mars/tensor/base/tests/test_base_execute.py
Labels: mod: dataframe, to be backported, type: bug

#1893 [BACKPORT] Fix sorting string columns with None value & sorting with empty chunks (#1891)
  mars/dataframe/core.py
  mars/dataframe/datasource/index.py
  mars/dataframe/initializer.py
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/tests/test_sort_execute.py
  mars/tensor/base/tests/test_base_execute.py
Labels: backport, mod: dataframe, type: bug

#1887 Adapt vineyardhandler.py to latest vineyard.
  .github/workflows/platform-ci.yml
  mars/config.py
  mars/deploy/local/tests/test_cluster.py
  mars/learn/cluster/tests/integrated/test_distributed_kmeans.py
  mars/learn/contrib/joblib/tests/integrated/test_distributed_backend.py
  mars/learn/contrib/lightgbm/tests/integrated/test_distributed_lightgbm.py
  mars/learn/contrib/pytorch/tests/integrated/test_distributed_dataset.py
  mars/learn/contrib/pytorch/tests/integrated/test_distributed_pytorch.py
  mars/learn/contrib/statsmodels/tests/integrated/test_distributed_statsmodels.py
  mars/learn/contrib/tensorflow/tests/integrated/test_distributed_tensorflow.py
  mars/learn/contrib/tsfresh/tests/integrated/test_distributed_tsfresh.py
  mars/learn/contrib/xgboost/tests/integrated/test_distributed_xgboost.py
  mars/learn/metrics/tests/integrated/test_ranking.py
  mars/learn/proxima/simple_index/tests/integrated/test_distributed_simple_index.py
  mars/learn/tests/integrated/__init__.py
  mars/optimizes/tileable_graph/tests/integrated/test_distributed_optimization.py
  mars/scheduler/chunkmeta.py
  mars/scheduler/service.py
  mars/serialize/dataserializer.py
  mars/tests/integrated/__init__.py
  mars/tests/integrated/base.py
  mars/worker/calc.py
  mars/worker/dataio.py
  mars/worker/execution.py
  mars/worker/seal.py
  mars/worker/service.py
  mars/worker/status.py
  mars/worker/storage/core.py
  mars/worker/storage/manager.py
  mars/worker/storage/objectholder.py
  mars/worker/storage/vineyardhandler.py
  mars/worker/transfer.py
Labels: mod: storage, to be backported, type: bug

#1896 Improve `named_{dataframe, series, tensor}` that it's able to get more meta
  mars/_version.py
  mars/api.py
  mars/context.py
  mars/dataframe/initializer.py
  mars/deploy/local/tests/test_cluster.py
  mars/scheduler/graph.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/tensor/datasource/array.py
  mars/tests/test_session.py
  mars/web/apihandlers.py
  mars/web/session.py
  requirements-extra.txt
Labels: mod: client, mod: dataframe, mod: scheduler, mod: tensor, to be backported, type: enhancement

#1897 [BACKPORT] Improve `named_{dataframe, series, tensor}` that it's able to get more meta (#1896)
  .github/workflows/platform-ci.yml
  mars/_version.py
  mars/api.py
  mars/config.py
  mars/context.py
  mars/dataframe/initializer.py
  mars/deploy/local/tests/test_cluster.py
  mars/learn/cluster/tests/integrated/test_distributed_kmeans.py
  mars/learn/contrib/lightgbm/tests/integrated/test_distributed_lightgbm.py
  mars/learn/contrib/pytorch/tests/integrated/test_distributed_dataset.py
  mars/learn/contrib/pytorch/tests/integrated/test_distributed_pytorch.py
  mars/learn/contrib/tensorflow/tests/integrated/test_distributed_tensorflow.py
  mars/learn/contrib/tsfresh/tests/integrated/test_distributed_tsfresh.py
  mars/learn/contrib/xgboost/tests/integrated/test_distributed_xgboost.py
  mars/learn/metrics/tests/integrated/test_ranking.py
  mars/learn/proxima/simple_index/tests/integrated/test_distributed_simple_index.py
  mars/learn/tests/integrated/__init__.py
  mars/optimizes/tileable_graph/tests/integrated/test_distributed_optimization.py
  mars/scheduler/chunkmeta.py
  mars/scheduler/graph.py
  mars/scheduler/service.py
  mars/scheduler/tests/integrated/test_normal_execution.py
  mars/serialize/dataserializer.py
  mars/tensor/datasource/array.py
  mars/tests/integrated/__init__.py
  mars/tests/integrated/base.py
  mars/tests/test_session.py
  mars/web/apihandlers.py
  mars/web/session.py
  mars/worker/calc.py
  mars/worker/dataio.py
  mars/worker/execution.py
  mars/worker/seal.py
  mars/worker/service.py
  mars/worker/status.py
  mars/worker/storage/core.py
  mars/worker/storage/manager.py
  mars/worker/storage/objectholder.py
  mars/worker/storage/vineyardhandler.py
  mars/worker/transfer.py
  requirements-extra.txt
Labels: backport, mod: client, mod: dataframe, mod: scheduler, mod: storage, mod: tensor, type: enhancement

#1898 Implements `DataFrame.{eval,query}`
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/general_functions.po
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/general_functions.rst
  mars/dataframe/__init__.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/eval.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/deploy/local/tests/test_cluster.py
  mars/serialize/protos/operand.proto
  mars/tests/integrated/base.py
Labels: mod: dataframe, to be backported, type: feature

#1900 [BACKPORT] Implements `DataFrame.{eval,query}` (#1898)
  docs/source/locale/zh_CN/LC_MESSAGES/reference/dataframe/general_functions.po
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/general_functions.rst
  mars/dataframe/__init__.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/eval.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/deploy/local/tests/test_cluster.py
  mars/serialize/protos/operand.proto
  mars/tests/integrated/base.py
Labels: backport, mod: dataframe, type: feature

#1907 Implements `{DataFrame, Series}.duplicated()`
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/base/__init__.py
  mars/dataframe/base/_duplicate.py
  mars/dataframe/base/drop_duplicates.py
  mars/dataframe/base/duplicated.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#1909 [BACKPORT] Implements `{DataFrame, Series}.duplicated()` (#1907)
  .github/workflows/platform-ci.yml
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/config.py
  mars/context.py
  mars/dataframe/base/__init__.py
  mars/dataframe/base/_duplicate.py
  mars/dataframe/base/drop_duplicates.py
  mars/dataframe/base/duplicated.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/datastore/to_vineyard.py
  mars/deploy/local/tests/test_cluster.py
  mars/serialize/protos/operand.proto
  mars/tensor/datastore/to_vineyard.py
  mars/worker/storage/vineyardhandler.py
Labels: backport, mod: dataframe, type: feature

#1912 Fix rechunk when input tileable has unknown shape
  mars/dataframe/base/rechunk.py
  mars/dataframe/datastore/tests/test_datastore_execute.py
  mars/dataframe/datastore/to_csv.py
  mars/learn/contrib/xgboost/tests/test_classifier.py
  mars/tensor/rechunk/rechunk.py
Labels: mod: dataframe, mod: tensor, to be backported, type: bug

#1911 Allow set verify_ssl to False for kubernetes configuration
  mars/deploy/kubedl/client.py
  mars/deploy/kubernetes/core.py
Labels: mod: deploy, type: enhancement

#1913 Optimize generating mock DataFrames
  mars/dataframe/reduction/core.py
  mars/dataframe/utils.py
Labels: mod: dataframe, to be backported, type: enhancement

#1914 [BACKPORT] Fix rechunk when input tileable has unknown shape (#1912)
  mars/dataframe/base/rechunk.py
  mars/dataframe/datastore/tests/test_datastore_execute.py
  mars/dataframe/datastore/to_csv.py
  mars/deploy/kubedl/client.py
  mars/deploy/kubernetes/core.py
  mars/learn/contrib/xgboost/tests/test_classifier.py
  mars/tensor/rechunk/rechunk.py
Labels: backport, mod: dataframe, mod: tensor, type: bug

#1915 [BACKPORT] Optimize generating mock DataFrames (#1913)
  mars/dataframe/reduction/core.py
  mars/dataframe/utils.py
Labels: backport, mod: dataframe, type: enhancement

#1920 Fix KeyError when comparing series
  CODEOWNERS
  mars/dataframe/arithmetic/core.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/cum.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/groupby/transform.py
  mars/dataframe/missing/replace.py
  mars/dataframe/statistics/quantile.py
  mars/deploy/local/tests/test_cluster.py
  mars/learn/neighbors/tree.py
  mars/tensor/statistics/histogram.py
  mars/tests/core.py
  mars/utils.py
Labels: mod: dataframe, to be backported, type: bug

#1921 [BACKPORT] Fix KeyError when comparing series (#1920)
  CODEOWNERS
  mars/dataframe/arithmetic/core.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/cum.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/groupby/transform.py
  mars/dataframe/missing/replace.py
  mars/dataframe/statistics/quantile.py
  mars/deploy/local/tests/test_cluster.py
  mars/learn/neighbors/tree.py
  mars/tensor/statistics/histogram.py
  mars/tests/core.py
  mars/utils.py
Labels: backport, mod: dataframe, type: bug

#1922 Fix rechunk when chunks have different dtypes that cannot compare
  CODEOWNERS
  mars/_version.py
  mars/dataframe/base/rechunk.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/utils.py
  mars/tensor/rechunk/rechunk.py
Labels: mod: dataframe, to be backported, type: bug

#1924 Collect available ports before running LightGBM task
  mars/learn/contrib/lightgbm/_train.py
  mars/learn/utils/__init__.py
  mars/learn/utils/collect_ports.py
  mars/serialize/protos/operand.proto
  mars/utils.py
Labels: mod: learn, to be backported, type: bug

#1926 [BACKPORT] Fix rechunk when chunks have different dtypes that cannot compare (#1922)
  CODEOWNERS
  mars/_version.py
  mars/dataframe/base/rechunk.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/utils.py
  mars/tensor/rechunk/rechunk.py
Labels: backport, mod: dataframe, type: bug

#1927 [BACKPORT] Collect available ports before running LightGBM task (#1924)
  mars/learn/contrib/lightgbm/_train.py
  mars/learn/utils/__init__.py
  mars/learn/utils/collect_ports.py
  mars/serialize/protos/operand.proto
  mars/utils.py
Labels: backport, mod: learn, type: bug

#1929 Fix KeyError when column pruning is applied
  mars/optimizes/tileable_graph/core.py
  mars/optimizes/tileable_graph/tests/test_head.py
Labels: mod: optimization, to be backported, type: bug

#1916 [oscar][ray backend] Actor creation
  mars/oscar/backends/ray/__init__.py
  mars/oscar/backends/ray/backend.py
  mars/oscar/backends/ray/context.pyx
  mars/oscar/backends/ray/driver.py
  mars/oscar/backends/ray/tests/__init__.py
  mars/oscar/backends/ray/tests/test_ray_actor_context.py
  mars/oscar/core.pyx
  mars/oscar/utils.pyx
Labels: mod: actor, mod: ray backend

#1931 Fix shuffling data in mars.learn module
  mars/learn/model_selection/tests/integrated/__init__.py
  mars/learn/model_selection/tests/integrated/test_distributed_split.py
  mars/learn/utils/shuffle.py
Labels: mod: learn, to be backported, type: bug

#1933 [BACKPORT] Fix KeyError when column pruning is applied (#1929)
  mars/deploy/kubedl/client.py
  mars/deploy/kubedl/config.py
  mars/optimizes/tileable_graph/core.py
  mars/optimizes/tileable_graph/tests/test_head.py
Labels: backport, mod: optimization, type: bug

#1934 Fix memory estimation of StartTracker for XGBoost
  mars/learn/contrib/xgboost/start_tracker.py
  mars/learn/contrib/xgboost/tests/integrated/test_distributed_xgboost.py
  mars/learn/contrib/xgboost/train.py
  mars/tests/integrated/base.py
Labels: mod: learn, to be backported, type: bug

#1936 Fix error when shuffling data in `mars.learn` module (#1931) and estimation of StartTracker for XGBoost (#1934)
  mars/learn/contrib/xgboost/start_tracker.py
  mars/learn/contrib/xgboost/tests/integrated/test_distributed_xgboost.py
  mars/learn/contrib/xgboost/train.py
  mars/learn/model_selection/tests/integrated/__init__.py
  mars/learn/model_selection/tests/integrated/test_distributed_split.py
  mars/learn/utils/shuffle.py
  mars/tests/integrated/base.py
Labels: backport, mod: learn, type: bug

#1937 Add new serializer implementation
  mars/_utils.pyx
  mars/lib/groupby_wrapper.py
  mars/lib/tests/test_lib.py
  mars/scheduler/operands/core.py
  mars/serialization/__init__.py
  mars/serialization/arrow.py
  mars/serialization/core.py
  mars/serialization/cuda.py
  mars/serialization/mars_objects.py
  mars/serialization/numpy.py
  mars/serialization/scipy.py
  mars/serialization/tests/__init__.py
  mars/serialization/tests/test_serial.py
  mars/tests/test_utils.py
  mars/utils.py
  requirements.txt
Labels: mod: serialization, type: enhancement

#1939 Implements is_monotonic properties
  docs/source/reference/dataframe/indexing.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/base/__init__.py
  mars/dataframe/base/check_monotonic.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/learn/contrib/lightgbm/classifier.py
  mars/learn/contrib/lightgbm/ranker.py
  mars/learn/contrib/lightgbm/regressor.py
  mars/learn/contrib/utils.py
  mars/learn/contrib/xgboost/classifier.py
  mars/learn/contrib/xgboost/regressor.py
  mars/serialize/protos/operand.proto
Labels: mod: dataframe, to be backported, type: feature

#1944 Move opcodes out of protobuf definition
  .gitignore
  bin/build-protos.py
  docs/source/development/contributing.rst
  mars/deploy/local/core.py
  mars/opcodes.py
  mars/serialize/protos/operand.proto
Labels: mod: serialization, to be backported, type: enhancement

#1946 [BACKPORT] Implements `is_monotonic` properties (#1939)
  docs/source/reference/dataframe/indexing.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/base/__init__.py
  mars/dataframe/base/check_monotonic.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/learn/contrib/lightgbm/classifier.py
  mars/learn/contrib/lightgbm/ranker.py
  mars/learn/contrib/lightgbm/regressor.py
  mars/learn/contrib/utils.py
  mars/learn/contrib/xgboost/classifier.py
  mars/learn/contrib/xgboost/regressor.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: dataframe, type: feature

#1945 Fix `accuracy_score` for distributed execution
  mars/dataframe/core.py
  mars/dataframe/tests/test_core.py
  mars/learn/metrics/_check_targets.py
  mars/learn/metrics/_classification.py
  mars/learn/metrics/tests/integrated/test_ranking.py
  mars/learn/utils/multiclass.py
Labels: mod: learn, to be backported, type: bug

#1947 [BACKPORT] Move opcodes out of protobuf definition (#1944)
  .gitignore
  bin/build-protos.py
  docs/source/development/contributing.rst
  mars/deploy/local/core.py
  mars/opcodes.py
  mars/serialize/protos/operand.proto
Labels: backport, mod: serialization, type: enhancement

#1948 [BACKPORT] Fix `accuracy_score` for distributed execution (#1945)
  mars/dataframe/core.py
  mars/dataframe/tests/test_core.py
  mars/learn/metrics/_check_targets.py
  mars/learn/metrics/_classification.py
  mars/learn/metrics/tests/integrated/test_ranking.py
  mars/learn/utils/multiclass.py
Labels: backport, mod: learn, type: bug

#1950 Implements `{DataFrame,Series}.set_axis`
  .github/workflows/os-compat-ci.yml
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/base/astype.py
  mars/dataframe/core.py
  mars/dataframe/datasource/index.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/set_axis.py
  mars/dataframe/indexing/set_label.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/initializer.py
  mars/dataframe/statistics/corr.py
  mars/opcodes.py
Labels: mod: dataframe, to be backported, type: feature

#1951 [BACKPORT] Implements `{DataFrame,Series}.set_axis` (#1950)
  .github/workflows/os-compat-ci.yml
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/base/astype.py
  mars/dataframe/core.py
  mars/dataframe/datasource/index.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/set_axis.py
  mars/dataframe/indexing/set_label.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/initializer.py
  mars/dataframe/statistics/corr.py
  mars/opcodes.py
Labels: backport, mod: dataframe, type: feature
