Repository mars-project/mars, pull requests merged in 2021-11, with the labels that each got.

#2566 Support Series.median()
  docs/source/reference/dataframe/series.rst
  mars/dataframe/core.py
  mars/dataframe/tests/test_core.py
Labels: type: feature, mod: dataframe, to be backported

#2554 Add `mars.learn.metrics.multilabel_confusion_matrix` and derivative metrics
  .github/PULL_REQUEST_TEMPLATE.md
  docs/source/reference/learn/reference.rst
  mars/learn/metrics/__init__.py
  mars/learn/metrics/_classification.py
  mars/learn/metrics/tests/test_classification.py
  mars/learn/preprocessing/_label.py
  mars/learn/utils/sparsefuncs.py
  mars/learn/utils/tests/test_sparsefuncs.py
Labels: type: feature, to be backported, mod: learn

#2562 Add a document about how to implement a Mars operand
  docs/source/development/contributing.rst
  docs/source/development/index.rst
  docs/source/development/operand.rst
  docs/source/locale/zh_CN/LC_MESSAGES/development/operand.po
Labels: type: enhancement, type: docs, to be backported

#2568 [BACKPORT] Add `mars.learn.metrics.multilabel_confusion_matrix` and derivative metrics (#2554)
  .github/PULL_REQUEST_TEMPLATE.md
  docs/source/development/contributing.rst
  docs/source/development/index.rst
  docs/source/development/operand.rst
  docs/source/locale/zh_CN/LC_MESSAGES/development/operand.po
  docs/source/reference/learn/reference.rst
  mars/learn/metrics/__init__.py
  mars/learn/metrics/_classification.py
  mars/learn/metrics/tests/test_classification.py
  mars/learn/preprocessing/_label.py
  mars/learn/utils/sparsefuncs.py
  mars/learn/utils/tests/test_sparsefuncs.py
Labels: type: feature, backport, mod: learn

#2570 [BACKPORT] Support `Series.median` (#2566)
  docs/source/reference/dataframe/series.rst
  mars/dataframe/core.py
  mars/dataframe/tests/test_core.py
Labels: type: feature, mod: dataframe, backport

#2567 Reduce time cost of `cpu_percent()` calls
  azure-pipelines.yml
  docs/source/locale/zh_CN/LC_MESSAGES/development/operand.po
  mars/deploy/oscar/session.py
  mars/oscar/backends/communication/dummy.py
  mars/oscar/backends/message.py
  mars/resource.py
  mars/services/cluster/uploader.py
  mars/services/context.py
  mars/services/session/api/oscar.py
Labels: type: enhancement, to be backported, mod: cluster service

#2572 [BACKPORT] Reduce time cost of `cpu_percent()` calls (#2567)
  azure-pipelines.yml
  docs/source/locale/zh_CN/LC_MESSAGES/development/operand.po
  mars/deploy/oscar/session.py
  mars/oscar/backends/communication/dummy.py
  mars/oscar/backends/message.py
  mars/resource.py
  mars/services/cluster/uploader.py
  mars/services/context.py
  mars/services/session/api/oscar.py
Labels: type: enhancement, backport, mod: cluster service

#2574 Fix tests under cudf 21.10
  mars/dataframe/reduction/aggregation.py
  mars/serialization/cuda.py
  mars/serialization/tests/test_serial.py
Labels: type: bug, mod: dataframe, to be backported, hw: nvidia gpu

#2577 Reduce estimation time cost
  mars/core/operand/core.py
  mars/lib/groupby_wrapper.py
  mars/lib/tests/test_lib.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: type: enhancement, mod: dataframe, to be backported

#2581 Fix DataFrame getitem when exists duplicate columns
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/indexing/utils.py
Labels: type: bug, mod: dataframe, to be backported

#2582 [BACKPORT] Fix DataFrame getitem when exists duplicate columns (#2581)
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/indexing/utils.py
Labels: type: bug, mod: dataframe, backport

#2580 [ray] refine mars on ray usability
  README.rst
  docs/source/index.rst
  docs/source/installation/index.rst
  docs/source/installation/ray.rst
  docs/source/locale/zh_CN/LC_MESSAGES/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/installation/ray.po
  mars/__init__.py
  mars/conftest.py
  mars/deploy/oscar/__init__.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/backends/ray/driver.py
Labels: type: enhancement, to be backported, mod: ray backend

#2579 [ray] Refine raydataset integration
  .github/workflows/platform-ci.yml
  README.rst
  mars/conftest.py
  mars/dataframe/__init__.py
  mars/dataframe/contrib/raydataset/dataset.py
  mars/dataframe/contrib/raydataset/mldataset.py
  mars/dataframe/contrib/raydataset/tests/test_mldataset.py
  mars/dataframe/contrib/raydataset/tests/test_raydataset.py
  mars/dataframe/datasource/read_raydataset.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/opcodes.py
Labels: type: enhancement, mod: dataframe, mod: ray backend

#2583 Optimize tileable graph construction
  mars/_utils.pyx
  mars/core/base.py
  mars/core/entity/tileables.py
  mars/core/mode.py
  mars/core/operand/base.py
  mars/core/operand/core.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/equal.py
  mars/dataframe/arithmetic/greater.py
  mars/dataframe/arithmetic/greater_equal.py
  mars/dataframe/arithmetic/less.py
  mars/dataframe/arithmetic/less_equal.py
  mars/dataframe/arithmetic/not_equal.py
  mars/dataframe/arrays.py
  mars/dataframe/base/map_chunk.py
  mars/dataframe/core.py
  mars/dataframe/datasource/dataframe.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/reduction/core.py
  mars/dataframe/utils.py
  mars/serialization/serializables/core.py
  mars/serialization/serializables/field.py
  mars/serialization/serializables/tests/test_serializable.py
  mars/services/task/analyzer/fusion.py
  mars/services/task/supervisor/processor.py
  mars/services/task/tests/test_service.py
  mars/tensor/datasource/core.py
  mars/tests/test_utils.py
Labels: type: enhancement, mod: dataframe
