Repository mars-project/mars, pull requests merged in 2021-05, with the labels that each got.

#2101 [Ray] Support ray subprocess covarage
  .codecov.yml
  .coveragerc
  .coveragerc-threaded
  .github/workflows/os-compat-ci.yml
  .github/workflows/platform-ci.yml
  mars/deploy/oscar/ray.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/backends/pool.py
  mars/oscar/backends/ray/communication.py
  mars/oscar/backends/ray/pool.py
  mars/oscar/backends/ray/tests/test_communication.py
  mars/oscar/backends/ray/tests/test_ray_pool.py
  mars/tests/core.py
Labels: mod: ray backend, type: tests

#2121 [ray] Support supervisor exclusive node option
  mars/core/session.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/rayconfig.yml
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/backends/communication/dummy.py
  mars/oscar/backends/pool.py
  mars/oscar/backends/ray/backend.py
  mars/oscar/backends/ray/pool.py
  mars/oscar/backends/ray/tests/test_ray_actor_driver.py
  mars/oscar/backends/ray/tests/test_ray_pool.py
  mars/oscar/backends/ray/utils.py
  mars/utils.py
Labels: mod: ray backend, type: enhancement

#2130 Fix unpickle mars config error
  mars/config.py
  mars/oscar/backends/ray/tests/test_ray_pool.py
  mars/services/storage/tests/test_api.py
  mars/services/task/supervisor/tests/test_task_manager_on_ray.py
  mars/services/web/worker.py
  mars/storage/ray.py
  mars/storage/tests/test_libs.py
  mars/tests/conftest.py
  mars/tests/test_config.py
Labels: mod: ray backend, type: bug

#2100 Add transfer support for storage service
  mars/deploy/oscar/config.yml
  mars/deploy/oscar/pool.py
  mars/deploy/oscar/rayconfig.yml
  mars/deploy/oscar/tests/check_enabled_config.yml
  mars/deploy/oscar/tests/local_test_config.yml
  mars/deploy/oscar/tests/test_local.py
  mars/oscar/backends/mars/backend.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/ray/backend.py
  mars/oscar/core.pyx
  mars/services/session/supervisor/core.py
  mars/services/storage/api/oscar.py
  mars/services/storage/core.py
  mars/services/storage/errors.py
  mars/services/storage/tests/test_api.py
  mars/services/storage/tests/test_service.py
  mars/services/storage/tests/test_transfer.py
  mars/services/storage/transfer.py
  mars/services/storage/worker/service.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/tests/test_service.py
  mars/services/task/worker/subtask.py
  mars/services/task/worker/tests/test_subtask.py
  mars/storage/base.py
  mars/storage/plasma.py
  mars/storage/ray.py
  mars/storage/shared_memory.py
  mars/storage/tests/test_libs.py
Labels: mod: service, type: enhancement

#2132 Add add_prefix support
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/add_preifx.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
Labels: mod: dataframe, to be backported, type: feature

#2133 [BACKPORT] Add `add_prefix` support (#2132)
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/add_prefix.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/serialize/dataserializer.py
Labels: backport, mod: dataframe, type: feature

#2131 Add command line support for Oscar deployment
  conda-spec.txt
  mars/core/session.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/add_prefix.py
  mars/deploy/oscar/cmdline.py
  mars/deploy/oscar/pool.py
  mars/deploy/oscar/service.py
  mars/deploy/oscar/supervisor.py
  mars/deploy/oscar/tests/session.py
  mars/deploy/oscar/tests/test_cmdline.py
  mars/deploy/oscar/worker.py
  mars/lib/aio/__init__.py
  mars/oscar/backends/config.py
  mars/oscar/backends/pool.py
  mars/services/cluster/api.py
  mars/services/cluster/gather.py
  mars/services/cluster/supervisor/node_info.py
  mars/services/cluster/tests/test_api.py
  mars/services/cluster/tests/test_uploader.py
  mars/services/cluster/uploader.py
  mars/services/core.py
  mars/services/lifecycle/api/oscar.py
  mars/services/lifecycle/api/web.py
  mars/services/meta/api/oscar.py
  mars/services/meta/api/web.py
  mars/services/session/api/oscar.py
  mars/services/session/api/web.py
  mars/services/storage/api/oscar.py
  mars/services/storage/api/web.py
  mars/services/task/api/oscar.py
  mars/services/task/api/web.py
  mars/services/task/supervisor/task_manager.py
  mars/services/task/worker/subtask.py
  mars/services/web/supervisor.py
  mars/utils.py
Labels: mod: deploy, type: feature
