Repository mars-project/mars, pull requests merged in 2021-06, with the labels that each got.

#2128 [ray] supervisor support sub pool
  MANIFEST.in
  mars/deploy/oscar/pool.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/rayconfig.yml
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/backends/config.py
  mars/oscar/backends/pool.py
  mars/oscar/backends/ray/backend.py
  mars/oscar/backends/ray/pool.py
Labels: mod: ray backend, type: enhancement

#2137 Run operand tests in Azure Pipelines
  .github/codecov-upstream.yml
  .github/workflows/cd.yml
  .github/workflows/core-ci.yml
  .github/workflows/os-compat-ci.yml
  .github/workflows/platform-ci.yml
  azure-pipelines.yml
  ci/build-ext.sh
  ci/install-conda.sh
  ci/reload-env.sh
  mars/core/mode.py
Labels: type: feature, type: tests

#2138 Filter pipeline jobs by branch
  azure-pipelines.yml
Labels: type: bug, type: tests

#2139 Configure azure pipelines job timeout
  azure-pipelines.yml
Labels: type: enhancement, type: tests

#2141 Remove tokens for codecov on 0.6
  .github/codecov-upstream.yml
  .github/workflows/core-ci.yml
  .github/workflows/os-compat-ci.yml
  .github/workflows/platform-ci.yml
Labels: type: enhancement, type: tests

#2140 Allow overriding service config files
  MANIFEST.in
  mars/deploy/oscar/base_config.yml
  mars/deploy/oscar/cmdline.py
  mars/deploy/oscar/config.yml
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/rayconfig.yml
  mars/deploy/oscar/service.py
  mars/deploy/oscar/tests/check_enabled_config.yml
  mars/deploy/oscar/tests/local_test_config.yml
  mars/deploy/tests/__init__.py
  mars/deploy/tests/base_test_cfg.yml
  mars/deploy/tests/inherit_test_cfg1.yml
  mars/deploy/tests/inherit_test_cfg2.yml
  mars/deploy/tests/test_utils.py
  mars/deploy/utils.py
Labels: mod: deploy, type: enhancement

#2147 Fix race condition when creating actors with IdleLabel strategy in a parallel way
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/backends/pool.py
Labels: mod: actor, type: bug

#2150 Use a setup.cfg to gather configurations
  .codecov.yml
  .coveragerc
  .flake8
  .github/workflows/build-wheels.sh
  .github/workflows/cd.yml
  .github/workflows/core-ci.yml
  .github/workflows/os-compat-ci.yml
  .github/workflows/platform-ci.yml
  .github/workflows/upload-packages.sh
  LICENSE
  MANIFEST.in
  azure-pipelines.yml
  ci/build-ext.sh
  ci/requirements-wheel.txt
  ci/rewrite-cov-config.sh
  mars/deploy/kubernetes/tests/entrypoint.sh
  requirements-dev.txt
  requirements-extra.txt
  requirements-vineyard.txt
  requirements.txt
  setup.cfg
  setup.py
Labels: type: enhancement, type: tests

#2153 Add version API on cluster
  .codecov.yml
  mars/core/session.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/transform.py
  mars/dataframe/window/ewm/core.py
  mars/dataframe/window/expanding/core.py
  mars/dataframe/window/expanding/tests/test_expanding_execute.py
  mars/dataframe/window/rolling/aggregation.py
  mars/deploy/oscar/session.py
  mars/lib/groupby_wrapper.py
  mars/lib/version.py
  mars/node_info.py
  mars/services/cluster/api/core.py
  mars/services/cluster/api/oscar.py
  mars/services/cluster/api/web.py
  mars/services/cluster/gather.py
  mars/services/cluster/supervisor/node_info.py
  mars/services/cluster/tests/test_api.py
  mars/services/context.py
  mars/tensor/stats/tests/test_stats_execute.py
  mars/tensor/stats/ttest.py
  mars/tests/test_session.py
  setup.cfg
  setup.py
Labels: mod: service, type: enhancement

#2146 Fix shuffle task on oscar
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/services/storage/api/oscar.py
  mars/services/storage/core.py
  mars/services/task/supervisor/task_manager.py
  mars/services/task/supervisor/tests/test_task_manager.py
Labels: mod: scheduler, type: bug

#2155 Implement {DataFrame, Series}.empty
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/core.py
Labels: mod: dataframe, to be backported, type: feature

#2161 Make sure slot usages updated when some task ends
  .gitignore
  mars/services/scheduling/supervisor/globalslot.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/scheduling/worker/workerslot.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tensor/random/tests/test_random_execute.py
Labels: mod: service, type: enhancement

#2164 Add debug options for oscar
  mars/oscar/__init__.py
  mars/oscar/backends/context.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test_debug.py
  mars/oscar/core.pyx
  mars/oscar/debug.py
Labels: mod: actor, type: enhancement

#2163 Fault injection subtask processor
  mars/deploy/oscar/tests/fault_injection_config.yml
  mars/deploy/oscar/tests/test_fault_injection.py
  mars/services/subtask/worker/subtask.py
  mars/services/subtask/worker/tests/__init__.py
  mars/services/subtask/worker/tests/subtask_processor.py
Labels: mod: service, type: enhancement

#2169 Collects available ports before running tensorflow scripts
  azure-pipelines.yml
  mars/learn/contrib/tensorflow/run_script.py
  mars/learn/utils/collect_ports.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
Labels: mod: learn, type: enhancement

#2154 Support stopping tasks for interactive execution
  CODEOWNERS
  mars/_version.py
  mars/core/graph/builder/chunk.py
  mars/core/session.py
  mars/deploy/oscar/pool.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/check_enabled_config.yml
  mars/deploy/oscar/tests/test_checked_session.py
  mars/deploy/oscar/tests/test_local.py
  mars/optimization/logical/__init__.py
  mars/oscar/backends/config.py
  mars/oscar/backends/context.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/pool.py
  mars/services/context.py
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/scheduling/supervisor/tests/test_manager.py
  mars/services/scheduling/tests/test_service.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/scheduling/worker/workerslot.py
  mars/services/storage/core.py
  mars/services/subtask/api.py
  mars/services/subtask/tests/test_service.py
  mars/services/subtask/worker/manager.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/runner.py
  mars/services/subtask/worker/service.py
  mars/services/subtask/worker/tests/subtask_processor.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/api/oscar.py
  mars/services/task/core.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/service.py
  mars/services/task/supervisor/stage.py
  mars/services/task/supervisor/task_manager.py
  mars/services/task/supervisor/tests/__init__.py
  mars/services/task/supervisor/tests/task_preprocessor.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/supervisor/tests/test_task_manager_on_ray.py
Labels: mod: client, type: enhancement

#2173 Support configuring overriding fields
  mars/deploy/kubernetes/config.yml
  mars/deploy/kubernetes/tests/test_kube_config.yml
  mars/deploy/oscar/base_config.yml
  mars/deploy/oscar/config.yml
  mars/deploy/oscar/rayconfig.yml
  mars/deploy/oscar/tests/check_enabled_config.yml
  mars/deploy/oscar/tests/fault_injection_config.yml
  mars/deploy/oscar/tests/local_test_config.yml
  mars/deploy/oscar/tests/local_test_with_vineyard_config.yml
  mars/deploy/tests/base_test_cfg.yml
  mars/deploy/tests/inherit_test_cfg1.yml
  mars/deploy/tests/inherit_test_cfg2.yml
  mars/deploy/tests/test_utils.py
  mars/deploy/utils.py
  mars/deploy/yarn/config.yml
  mars/deploy/yarn/tests/test_yarn_config.yml
  mars/tests/test_session.py
Labels: type: enhancement

#2174 [BACKPORT] Implement {DataFrame, Series}.empty (#2155)
  mars/_version.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/core.py
  mars/utils.py
Labels: backport, mod: dataframe, type: feature

#2177 Fix unexpected NaNs in groupby-agg
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction.py
  setup.cfg
Labels: mod: dataframe, to be backported, type: bug

#2178 [BACKPORT] Fix unexpected NaNs in groupby-agg (#2177)
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction.py
Labels: backport, mod: dataframe, type: bug

#2183 Use `aiohttp` to handle web requests
  LICENSE
  conda-spec.txt
  mars/services/cluster/api/web.py
  mars/services/lifecycle/api/web.py
  mars/services/meta/api/web.py
  mars/services/session/api/web.py
  mars/services/storage/api/web.py
  mars/services/task/api/web.py
  mars/services/web/core.py
  mars/services/web/tests/test_core.py
  setup.cfg
Labels: mod: web, type: enhancement
