Repository mars-project/mars, pull requests merged in 2022-06, with the labels that each got.

#3100 [BACKPORT] Simplify argument passing in actor batch calls (#3098)
  mars/_resource.pyx
  mars/oscar/batch.py
  mars/oscar/core.pyx
  mars/serialization/core.pxd
  mars/serialization/core.pyx
  mars/serialization/tests/test_serial.py
  mars/services/web/ui/src/node_info/NodeEnvTab.js
  mars/services/web/ui/src/node_info/NodeResourceTab.js
Labels: type: enhancement, mod: actor, backport

#3104 [BACKPORT] [Ray] Implements get_total_n_cpu for Ray execution context (#3059)
  mars/dataframe/base/tests/test_base_execution.py
  mars/services/task/execution/api.py
  mars/services/task/execution/mars/config.py
  mars/services/task/execution/mars/executor.py
  mars/services/task/execution/ray/config.py
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  mars/services/task/execution/utils.py
  mars/tensor/base/tests/test_base_execution.py
Labels: type: enhancement, backport, mod: ray integration, mod: task service

#3105 [BACKPORT] Optimize performance of transfer (#3091)
  benchmarks/asv_bench/benchmarks/storage.py
  benchmarks/asv_bench/benchmarks/util_tokenize.py
  benchmarks/tpch/run_queries.py
  mars/core/context.py
  mars/core/operand/base.py
  mars/deploy/oscar/session.py
  mars/remote/core.py
  mars/remote/tests/test_remote_function.py
  mars/services/context.py
  mars/services/storage/tests/test_transfer.py
  mars/services/storage/transfer.py
  mars/services/task/execution/ray/context.py
Labels: type: enhancement, backport, mod: storage

#3055 Add `n_reducers` and `reducer_ordinal` to shuffle operands
  mars/core/operand/shuffle.py
  mars/core/operand/tests/test_core.py
  mars/dataframe/align.py
  mars/dataframe/base/_duplicate.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/sample.py
  mars/dataframe/merge/merge.py
  mars/dataframe/sort/psrs.py
  mars/learn/ensemble/_bagging.py
  mars/learn/utils/shuffle.py
  mars/services/task/execution/mars/executor.py
  mars/services/task/supervisor/tests/task_preprocessor.py
  mars/tensor/base/psrs.py
  mars/tensor/base/unique.py
  mars/tensor/indexing/index_lib.py
  mars/tensor/indexing/setitem.py
  mars/tensor/random/permutation.py
  mars/tensor/reshape/reshape.py
  mars/tensor/spatial/distance/pdist.py
  mars/tensor/spatial/distance/squareform.py
  mars/tensor/statistics/bincount.py
Labels: type: enhancement, mod: tensor, mod: dataframe, to be backported, mod: learn

#3103 Make `test_session_set_progress` more stable under Ray tests
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_dag.py
Labels: type: tests, to be backported

#3107 [BACKPORT] Add `n_reducers` and `reducer_ordinal` to shuffle operands (#3055)
  mars/core/operand/shuffle.py
  mars/core/operand/tests/test_core.py
  mars/dataframe/align.py
  mars/dataframe/base/_duplicate.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/sample.py
  mars/dataframe/merge/merge.py
  mars/dataframe/sort/psrs.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/learn/ensemble/_bagging.py
  mars/learn/utils/shuffle.py
  mars/services/task/execution/mars/executor.py
  mars/services/task/supervisor/tests/task_preprocessor.py
  mars/tensor/base/psrs.py
  mars/tensor/base/unique.py
  mars/tensor/indexing/index_lib.py
  mars/tensor/indexing/setitem.py
  mars/tensor/random/permutation.py
  mars/tensor/reshape/reshape.py
  mars/tensor/spatial/distance/pdist.py
  mars/tensor/spatial/distance/squareform.py
  mars/tensor/statistics/bincount.py
Labels: type: enhancement, mod: tensor, mod: dataframe, backport, mod: learn

#3109 [Ray] Move some tests out of test_ray.py
  .github/workflows/platform-ci.yml
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/tests/test_ray_client.py
  mars/deploy/oscar/tests/test_ray_cluster_standalone.py
Labels: type: tests, to be backported, mod: ray integration

#3111 Integrate part of scipy elliptic functions and integrals
  docs/source/reference/tensor/special.rst
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/tensor/special/__init__.py
  mars/tensor/special/ellip_func_integrals.py
  mars/tensor/special/tests/test_special.py
  mars/tensor/special/tests/test_special_execution.py
Labels: mod: tensor, type: feature, to be backported

#3112 [BACKPORT] Integrate part of scipy elliptic functions and integrals (#3111)
  docs/source/reference/tensor/special.rst
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/tensor/special/__init__.py
  mars/tensor/special/ellip_func_integrals.py
  mars/tensor/special/tests/test_special.py
  mars/tensor/special/tests/test_special_execution.py
Labels: mod: tensor, type: feature, backport

#3110 Stop importing main module when starting Mars local cluster
  .github/workflows/benchmark-ci.yml
  benchmarks/asv_bench/benchmarks/storage.py
  mars/deploy/oscar/tests/test_local.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/debug.py
  mars/tests/test_utils.py
Labels: type: feature, mod: actor, to be backported

#3093 [BACKPORT][Ray] Implement cancel method on Ray task executor (#3044)
  mars/deploy/oscar/local.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/services/task/execution/ray/config.py
  mars/services/task/execution/ray/executor.py
Labels: type: enhancement, backport, mod: ray integration, mod: task service

#3113 [BACKPORT] Stop importing main module when starting Mars local cluster (#3110)
  .github/workflows/benchmark-ci.yml
  benchmarks/asv_bench/benchmarks/storage.py
  mars/deploy/oscar/tests/test_local.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/debug.py
  mars/tests/test_utils.py
Labels: type: feature, mod: actor, backport

#3114 [BACKPORT] [Ray] Create RayTaskState actor as needed by default (#3081)
  mars/services/task/execution/ray/config.py
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/supervisor/tests/test_task_manager_on_ray_dag.py
Labels: type: enhancement, backport, mod: ray integration, mod: task service

#3115 [BACKPORT] [Ray] Fix ray worker failover (#3080)
  .github/workflows/platform-ci.yml
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/backends/ray/pool.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: type: bug, mod: actor, backport, mod: ray integration

#3116 [BACKPORT][Ray] Implement gc for ray task executor context (#3061)
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/lib/ordered_set.py
  mars/services/task/execution/ray/config.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
Labels: type: enhancement, backport, mod: ray integration, mod: task service

#2946 [Ray] Fix pandas schema parsing when reading Ray dataset
  .github/workflows/platform-ci.yml
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/datasource/read_raydataset.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/services/task/execution/ray/config.py
  mars/services/task/supervisor/tests/test_task_manager.py
Labels: type: bug, mod: dataframe, to be backported, mod: ray integration

#3117 [BACKPORT][Ray] Fix pandas schema parsing when reading Ray dataset (#2946)
  .github/workflows/platform-ci.yml
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/datasource/read_raydataset.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/services/task/execution/ray/config.py
  mars/services/task/supervisor/tests/test_task_manager.py
Labels: type: bug, mod: dataframe, backport, mod: ray integration

#3118 [Ray] Fix Ray context GC
  mars/services/task/execution/ray/config.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
Labels: type: bug, mod: ray integration

#3121 [BACKPORT][Ray] Optimize Ray CI execution time and stability (#3102)
  .github/workflows/platform-ci.yml
  mars/conftest.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/tests/test_ray_client.py
  mars/deploy/oscar/tests/test_ray_cluster_standalone.py
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/deploy/oscar/tests/test_ray_fault_injection.py
  mars/deploy/oscar/tests/test_ray_scheduling.py
  mars/oscar/backends/ray/driver.py
Labels: type: tests, backport, mod: ray integration

#3043 [Ray] fix auto scale-in hang
  mars/deploy/oscar/tests/test_ray_scheduling.py
  mars/oscar/backends/ray/pool.py
  mars/services/scheduling/supervisor/autoscale.py
Labels: type: bug, to be backported, mod: ray integration

#3120 Optimize serializable memory
  benchmarks/asv_bench/benchmarks/graph_assigner.py
  benchmarks/asv_bench/benchmarks/serialize.py
  mars/core/base.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/core.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/serialization/serializables/core.py
  mars/serialization/serializables/field.py
  mars/serialization/serializables/tests/test_serializable.py
  mars/services/task/execution/ray/executor.py
Labels: type: enhancement, to be backported, mod: serialization

#3124 [Metric] Fix prometheus metric backend
  docs/source/development/metrics.rst
  docs/source/locale/zh_CN/LC_MESSAGES/development/metrics.po
  mars/metrics/__init__.py
  mars/metrics/api.py
  mars/metrics/backends/prometheus/prometheus_metric.py
  mars/metrics/backends/prometheus/tests/test_prometheus_metric.py
  mars/metrics/tests/test_metric_api.py
Labels: type: bug, to be backported, mod: metric

#3125 [BACKPORT] [Ray] fix auto scale-in hang (#3043)
  mars/deploy/oscar/tests/test_ray_scheduling.py
  mars/oscar/backends/ray/pool.py
  mars/services/scheduling/supervisor/autoscale.py
Labels: type: bug, backport, mod: ray integration

#3126 [BACKPORT] Optimize serializable memory (#3120)
  benchmarks/asv_bench/benchmarks/graph_assigner.py
  benchmarks/asv_bench/benchmarks/serialize.py
  mars/core/base.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/core.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/serialization/serializables/core.py
  mars/serialization/serializables/field.py
  mars/serialization/serializables/tests/test_serializable.py
  mars/services/task/execution/ray/executor.py
Labels: type: enhancement, backport, mod: serialization

#3129 Update pytest imports for test_special.py
  mars/tensor/special/__init__.py
  mars/tensor/special/ellip_func_integrals.py
  mars/tensor/special/tests/test_special.py
Labels: mod: tensor, type: tests, to be backported

#3130 Make PyPI user name configurable
  .github/workflows/pypi-cd.yml
Labels: mod: deploy, to be backported

#3131 [BACKPORT] Update pytest imports for test_special.py (#3129)
  .github/workflows/pypi-cd.yml
  mars/tensor/special/__init__.py
  mars/tensor/special/ellip_func_integrals.py
  mars/tensor/special/tests/test_special.py
Labels: mod: tensor, type: tests, backport

#3133 [Ray] Fix flaky test `test_optional_supervisor_node`
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/tests/test_ray_cluster_standalone.py
Labels: type: tests, to be backported, mod: ray integration

#3134 Fix mt.{cumsum, cumprod} when the first chunk is empty
  mars/tensor/arithmetic/add.py
  mars/tensor/arithmetic/multiply.py
  mars/tensor/reduction/core.py
  mars/tensor/reduction/tests/test_reduction_execution.py
  mars/tensor/reshape/reshape.py
Labels: type: bug, mod: tensor, to be backported

#3135 [BACKPORT][Ray] Fix flaky test `test_optional_supervisor_node` (#3133)
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/tests/test_ray_cluster_standalone.py
Labels: type: tests, backport, mod: ray integration

#3136 [BACKPORT] Fix mt.{cumsum, cumprod} when the first chunk is empty (#3134)
  mars/tensor/arithmetic/add.py
  mars/tensor/arithmetic/multiply.py
  mars/tensor/reduction/core.py
  mars/tensor/reduction/tests/test_reduction_execution.py
  mars/tensor/reshape/reshape.py
Labels: type: bug, mod: tensor, backport

#3140 Optimize tile of DataFrame.__setitem__ by reducing time of generating chunk meta
  benchmarks/asv_bench/benchmarks/graph_builder.py
  benchmarks/tpch/run_queries.py
  mars/dataframe/align.py
  mars/dataframe/indexing/setitem.py
  mars/dataframe/utils.py
Labels: type: enhancement, mod: dataframe, to be backported

#3141 [BACKPORT] Optimize tile of DataFrame.__setitem__ by reducing time of generating chunk meta (#3140)
  benchmarks/asv_bench/benchmarks/graph_builder.py
  benchmarks/tpch/run_queries.py
  mars/dataframe/align.py
  mars/dataframe/indexing/setitem.py
  mars/dataframe/utils.py
Labels: type: enhancement, mod: dataframe, backport

#3146 Increase the default value of alru cache max size
  mars/services/meta/api/oscar.py
Labels: type: enhancement, to be backported, mod: meta service

#3139 Support scipy special function with tuple output
  docs/source/reference/tensor/special.rst
  mars/tensor/special/__init__.py
  mars/tensor/special/core.py
  mars/tensor/special/err_fresnel.py
  mars/tensor/special/tests/test_special.py
  mars/tensor/special/tests/test_special_execution.py
  mars/tensor/utils.py
Labels: mod: tensor, type: feature, to be backported

#3149 Fix deserializing RandomStateField when its value is None
  mars/dataframe/groupby/sample.py
  mars/serialization/serializables/core.py
  mars/tensor/random/core.py
  mars/tensor/random/tests/test_random.py
Labels: type: bug, mod: dataframe, to be backported

#3155 Patch pandas magic functions to allow reverse operands
  mars/dataframe/arithmetic/__init__.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/dot.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/arithmetic/tests/test_comparison.py
  mars/dataframe/arithmetic/tests/test_dot.py
  mars/dataframe/base/accessor.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/operands.py
  mars/dataframe/tseries/to_datetime.py
  mars/typing.py
Labels: type: bug, mod: dataframe, to be backported

#3151 [BACKPORT] Support scipy special function with tuple output (#3139)
  docs/source/reference/tensor/special.rst
  mars/services/meta/api/oscar.py
  mars/tensor/special/__init__.py
  mars/tensor/special/core.py
  mars/tensor/special/err_fresnel.py
  mars/tensor/special/tests/test_special.py
  mars/tensor/special/tests/test_special_execution.py
  mars/tensor/utils.py
Labels: mod: tensor, type: feature, backport

#3153 [BACKPORT] Fix deserializing RandomStateField when its value is None (#3149)
  mars/core/graph/core.pyx
  mars/dataframe/groupby/sample.py
  mars/serialization/serializables/core.py
  mars/tensor/random/core.py
  mars/tensor/random/tests/test_random.py
Labels: type: bug, mod: dataframe, backport

#3156 [BACKPORT] Patch pandas magic functions to allow reverse operands (#3155)
  mars/dataframe/arithmetic/__init__.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/dot.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/arithmetic/tests/test_comparison.py
  mars/dataframe/arithmetic/tests/test_dot.py
  mars/dataframe/base/accessor.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/operands.py
  mars/dataframe/tseries/to_datetime.py
  mars/typing.py
Labels: type: bug, mod: dataframe, backport

#3162 Run flaky test `test_load_third_party_modules` separately
  .github/workflows/platform-ci.yml
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/tests/test_ray_load_modules.py
Labels: type: tests, to be backported, mod: ray integration

#3166 Manually install cri-dockerd before installing kubernetes
  .github/workflows/core-ci.yml
  .github/workflows/download-etcd.sh
  .github/workflows/install-minikube.sh
  .github/workflows/platform-ci.yml
  ci/install-hadoop.sh
  ci/install-minikube.sh
  ci/remove_tracer_errors.py
  ci/run-tests.sh
  mars/dataframe/merge/append.py
  mars/dataframe/merge/concat.py
  mars/dataframe/statistics/quantile.py
  mars/tensor/indexing/setitem.py
Labels: type: tests, mod: deploy, to be backported

#3167 [BACKPORT] Manually install cri-dockerd before installing kubernetes (#3166)
  .github/workflows/core-ci.yml
  .github/workflows/download-etcd.sh
  .github/workflows/install-minikube.sh
  .github/workflows/platform-ci.yml
  ci/install-hadoop.sh
  ci/install-minikube.sh
  ci/remove_tracer_errors.py
  ci/run-tests.sh
  mars/dataframe/merge/append.py
  mars/dataframe/merge/concat.py
  mars/dataframe/statistics/quantile.py
  mars/tensor/indexing/setitem.py
Labels: type: tests, mod: deploy, backport

#3169 [BACKPORT][Shuffle] Add `n_mappers` and `n_reducers` to `ShuffleProxy` (#3160)
  mars/core/operand/shuffle.py
  mars/dataframe/align.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/merge/merge.py
  mars/dataframe/sort/psrs.py
  mars/learn/utils/shuffle.py
  mars/services/task/supervisor/tests/task_preprocessor.py
  mars/tensor/base/psrs.py
  mars/tensor/base/unique.py
  mars/tensor/indexing/index_lib.py
  mars/tensor/indexing/setitem.py
  mars/tensor/random/permutation.py
  mars/tensor/reshape/reshape.py
  mars/tensor/spatial/distance/pdist.py
  mars/tensor/spatial/distance/squareform.py
Labels: type: enhancement, mod: tensor, mod: dataframe, backport, shuffle

#3040 [Ray] task based shuffle for ray
  benchmarks/asv_bench/benchmarks/serialize.py
  mars/core/operand/__init__.py
  mars/core/operand/fetch.py
  mars/core/operand/shuffle.py
  mars/core/operand/tests/test_core.py
  mars/dataframe/base/shift.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/oscar/backends/ray/driver.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/analyzer/tests/test_analyzer.py
  mars/services/task/execution/api.py
  mars/services/task/execution/mars/config.py
  mars/services/task/execution/mars/executor.py
  mars/services/task/execution/ray/config.py
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/shuffle.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/tests/task_preprocessor.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/tensor/base/tests/test_base_execution.py
  mars/tensor/reshape/reshape.py
  mars/tensor/statistics/bincount.py
  mars/utils.py
Labels: type: enhancement, shuffle

#3147 Add support for `{DataFrame,Series}.align`
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/align.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/add_prefix.py
  mars/dataframe/indexing/add_prefix_suffix.py
  mars/dataframe/indexing/align.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/missing/fillna.py
  mars/dataframe/statistics/corr.py
  mars/opcodes.py
  mars/serialization/core.pyx
Labels: type: feature, mod: dataframe, to be backported

#3170 [BACKPORT] Add support for `{DataFrame,Series}.align` (#3147)
  docs/source/reference/dataframe/frame.rst
  docs/source/reference/dataframe/series.rst
  mars/dataframe/align.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/indexing/__init__.py
  mars/dataframe/indexing/add_prefix.py
  mars/dataframe/indexing/add_prefix_suffix.py
  mars/dataframe/indexing/align.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/missing/fillna.py
  mars/dataframe/statistics/corr.py
  mars/opcodes.py
  mars/serialization/core.pyx
Labels: type: feature, mod: dataframe, backport
