Repository mars-project/mars, pull requests merged in 2022-09, with the labels that each got.

#3230 Lifecycle gc task service
  .github/workflows/benchmark-ci.yml
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/check_enabled_config.yml
  mars/deploy/oscar/tests/test_local.py
  mars/serialization/serializables/core.py
  mars/serialization/serializables/field.py
  mars/services/lifecycle/supervisor/tests/test_tracker.py
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/task/api/core.py
  mars/services/task/api/oscar.py
  mars/services/task/api/web.py
  mars/services/task/config.py
  mars/services/task/core.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/service.py
  mars/services/task/supervisor/task.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/utils.py
  setup.cfg
Labels: mod: task service, mod: lifecycle service

#3241 Fix dataframe loc with slice returns incorrect results
  mars/dataframe/indexing/loc.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
Labels: type: bug, mod: dataframe

#3240 Fix dataframe setitem bugs when partial indexes exist in target dataframe
  mars/dataframe/indexing/setitem.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
Labels: type: bug, mod: dataframe

#3242 TypeDispatcher support one type multiple serializers
  mars/_utils.pyx
  mars/conftest.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/tests/test_ray_dag_failover.py
  mars/oscar/backends/ray/communication.py
  mars/oscar/backends/ray/driver.py
  mars/oscar/backends/ray/pool.py
  mars/oscar/backends/ray/tests/test_ray_actor_context.py
  mars/serialization/core.pyx
  mars/serialization/ray.py
  mars/serialization/tests/test_serial.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: mod: serialization

#3165 [ray] Support scheduling ray tasks in Ray oscar deploy backend
  .github/workflows/platform-ci.yml
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/test_ray_dag_oscar.py
  mars/deploy/oscar/tests/test_ray_scheduling.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  mars/services/task/execution/utils.py
Labels: mod: deploy

#3245 Dump subtask graph for all backends
  mars/services/task/supervisor/graph_visualizer.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/tests/test_task_manager.py
Labels: mod: task service

#3246 Fix optimization rule memory leak
  mars/optimization/logical/common/column_pruning.py
  mars/optimization/logical/common/head.py
  mars/optimization/logical/core.py
Labels: mod: optimization

#3253 fsspec integration
  mars/dataframe/datastore/to_parquet.py
  mars/lib/filesystem/__init__.py
  mars/lib/filesystem/_glob.py
  mars/lib/filesystem/azure.py
  mars/lib/filesystem/base.py
  mars/lib/filesystem/core.py
  mars/lib/filesystem/fsspec_adapter.py
  mars/lib/filesystem/tests/test_filesystem.py
  mars/lib/filesystem/tests/test_fsspec_adapter.py
  setup.cfg
Labels: type: feature

#3250 [Ray] Enable CI of mars/dataframe for Ray DAG
  .github/workflows/platform-ci.yml
  mars/conftest.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/contrib/raydataset/tests/test_mldataset.py
  mars/dataframe/contrib/raydataset/tests/test_raydataset.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/dataframe/statistics/tests/test_statistics_execution.py
  mars/deploy/oscar/ray.py
  pyproject.toml
Labels: mod: dataframe, mod: ray integration

#3244 Fix minikube installation
  .github/workflows/platform-ci.yml
  ci/install-minikube.sh
Labels: type: tests

#3258 Add S3 support
  mars/dataframe/datasource/read_csv.py
  mars/lib/filesystem/__init__.py
  mars/lib/filesystem/core.py
  mars/lib/filesystem/s3.py
Labels: type: feature

#3259 Fix tensor frexp
  mars/tensor/arithmetic/frexp.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
Labels: mod: tensor
