Repository mars-project/mars, pull requests merged in 2022-04, with the labels that each got.

#2890 [BACKPORT] Fix timeout for `wait_task` (#2883)
  mars/services/task/api/web.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/service.py
  mars/services/task/tests/test_service.py
Labels: type: bug, mod: web, backport

#2864 Optimize `DataFrameIsin`'s tile
  mars/dataframe/arithmetic/bitwise_or.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/base/isin.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/datasource/from_index.py
  mars/dataframe/datasource/read_sql.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/opcodes.py
  mars/services/storage/handler.py
  mars/tensor/arithmetic/utils.py
  mars/utils.py
Labels: type: enhancement, mod: dataframe

#2892 [BACKPORT] Make sure errors can be raised in `Actor.__pre_destroy__` (#2887)
  mars/core/entity/executable.py
  mars/deploy/oscar/local.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/pool.py
  mars/services/session/api/core.py
  mars/services/session/api/oscar.py
  mars/services/session/api/web.py
  mars/services/session/supervisor/core.py
  mars/services/session/tests/test_service.py
  mars/services/subtask/worker/runner.py
  mars/storage/shared_memory.py
Labels: type: bug, mod: actor, backport

#2901 Add benchmark for serialization
  asv_bench/benchmarks/serialize.py
  setup.py
Labels: type: enhancement, mod: benchmark

#2740 [Ray] Ray client channel get recv when first complied
  mars/oscar/backends/ray/communication.py
Labels: type: enhancement, mod: actor, mod: ray integration

#2895 Use bloom filter to optimize df.merge execution
  .codecov.yml
  LICENSE
  mars/dataframe/base/bloom_filter.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/dataframe/utils.py
  mars/lib/bloom_filter.py
  mars/opcodes.py
  setup.cfg
Labels: type: enhancement, mod: dataframe

#2902 Adapt to official cancel of Github Actions
  .github/workflows/benchmark-ci.yml
  .github/workflows/cancel-prev.yml
  .github/workflows/core-ci.yml
  .github/workflows/docker-cd.yml
  .github/workflows/os-compat-ci.yml
  .github/workflows/platform-ci.yml
  .github/workflows/pypi-cd.yml
  mars/deploy/oscar/tests/test_fault_injection.py
  mars/oscar/backends/message.py
  mars/oscar/backends/test/tests/test_message.py
  mars/services/scheduling/worker/execution.py
  mars/utils.py
Labels: type: enhancement, type: tests, to be backported

#2900 Stop recording all mapper meta
  .codacy.yml
  .codecov.yml
  LICENSE
  asv_bench/benchmarks/graph_assigner.py
  asv_bench/benchmarks/learn/model_selection.py
  mars/dataframe/utils.py
  mars/lib/ordered_set.py
  mars/services/meta/api/oscar.py
  mars/services/meta/store/dictionary.py
  mars/services/storage/core.py
  mars/services/storage/handler.py
  mars/services/storage/transfer.py
  mars/services/subtask/worker/processor.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/analyzer/fusion.py
  mars/services/task/supervisor/graph_visualizer.py
  mars/services/task/supervisor/processor.py
  setup.cfg
Labels: type: enhancement, to be backported, mod: task service, mod: subtask service

#2878 [Ray] Use main pool as owner when autoscale disabled
  mars/services/storage/core.py
  mars/services/storage/worker/service.py
Labels: type: enhancement, to be backported, mod: ray integration, mod: storage

#2903 [BACKPORT][Ray] Use main pool as owner when autoscale disabled (#2878)
  .github/workflows/cancel-prev.yml
  .github/workflows/core-ci.yml
  .github/workflows/docker-cd.yml
  .github/workflows/os-compat-ci.yml
  .github/workflows/platform-ci.yml
  .github/workflows/pypi-cd.yml
  mars/services/storage/core.py
  mars/services/storage/worker/service.py
Labels: type: enhancement, backport, mod: ray integration

#2894 New execution API
  mars/services/subtask/worker/tests/test_subtask.py
  mars/services/task/execution/__init__.py
  mars/services/task/execution/api.py
  mars/services/task/execution/mars/__init__.py
  mars/services/task/execution/mars/executor.py
  mars/services/task/execution/mars/resource.py
  mars/services/task/execution/mars/stage.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/service.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/supervisor/tests/test_task_manager_on_ray.py
Labels: type: enhancement, mod: task service

#2909 Support worker meta service
  mars/services/meta/__init__.py
  mars/services/meta/api/__init__.py
  mars/services/meta/api/oscar.py
  mars/services/meta/supervisor/core.py
  mars/services/meta/tests/test_api.py
  mars/services/meta/tests/test_service.py
  mars/services/meta/worker/__init__.py
  mars/services/meta/worker/core.py
  mars/services/meta/worker/service.py
Labels: type: feature, mod: meta service

#2910 Fix task hang when error object cannot be pickled
  mars/_utils.pyx
  mars/core/graph/tests/test_graph.py
  mars/oscar/__init__.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/backends/pool.py
  mars/oscar/errors.py
  mars/remote/tests/test_remote_function.py
Labels: type: bug, mod: actor, to be backported

#2911 Fix paramter issue of worker actor pool
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/test_ray.py
Labels: type: bug, mod: ray integration, mod: metric

#2913 [BACKPORT] Fix task hang when error object cannot be pickled (#2910)
  .gitignore
  mars/_utils.pyx
  mars/core/graph/tests/test_graph.py
  mars/oscar/__init__.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/oscar/backends/pool.py
  mars/oscar/errors.py
  mars/remote/tests/test_remote_function.py
Labels: type: bug, mod: actor, backport

#2914 Mars serialization performance optimization
  asv_bench/benchmarks/serialize.py
  mars/core/operand/base.py
  mars/core/operand/fetch.py
  mars/serialization/core.py
  mars/serialization/serializables/core.py
  mars/services/subtask/core.py
  mars/tensor/operands.py
  mars/utils.py
Labels: type: enhancement, mod: serialization

#2922 Skip adding band in meta when fetch shuffle data
  mars/services/scheduling/worker/execution.py
  mars/services/storage/handler.py
Labels: type: enhancement, to be backported, mod: storage, mod: meta service

#2912 Store complete meta on worker and update supervisor meta via fetching from workers
  mars/dataframe/base/_duplicate.py
  mars/dataframe/base/drop_duplicates.py
  mars/dataframe/base/explode.py
  mars/dataframe/base/melt.py
  mars/dataframe/base/standardize_range_index.py
  mars/dataframe/indexing/reset_index.py
  mars/dataframe/merge/append.py
  mars/dataframe/merge/concat.py
  mars/dataframe/merge/tests/test_merge.py
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/sort_index.py
  mars/dataframe/utils.py
  mars/dataframe/window/rolling/aggregation.py
  mars/services/context.py
  mars/services/meta/__init__.py
  mars/services/meta/api/__init__.py
  mars/services/meta/api/oscar.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/subtask/core.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/execution/mars/stage.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/tests/task_preprocessor.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/tensor/base/shape.py
Labels: type: enhancement, mod: task service, mod: subtask service

#2926 Refine lifecycle api to support incref or decref with ref counts
  mars/services/lifecycle/api/core.py
  mars/services/lifecycle/api/oscar.py
  mars/services/lifecycle/api/web.py
  mars/services/lifecycle/supervisor/tests/test_tracker.py
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/task/execution/mars/executor.py
Labels: type: enhancement, mod: task service, mod: lifecycle service

#2927 [BACKPORT] Implementing Ellipsoidal Harmonics Functions (#2891)
  .gitignore
  docs/source/reference/tensor/special.rst
  mars/lib/sparse/__init__.py
  mars/tensor/special/__init__.py
  mars/tensor/special/core.py
  mars/tensor/special/ellip_harm.py
  mars/tensor/special/tests/test_special_execution.py
  setup.cfg
Labels: mod: tensor, type: feature, backport

#2929 Ignore fetch operands when assign initial nodes
  .github/workflows/benchmark-ci.yml
  docs/source/reference/tensor/special.rst
  mars/services/task/analyzer/analyzer.py
  mars/services/task/analyzer/tests/test_assigner.py
  mars/services/task/api/web.py
  mars/services/task/execution/api.py
  mars/services/task/execution/mars/executor.py
  mars/services/task/execution/mars/stage.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/tests/task_preprocessor.py
Labels: type: enhancement, mod: task service

#2935 Fix default config to ensure storage backends configured
  LICENSE
  mars/config.yml
  mars/deploy/oscar/cmdline.py
  mars/deploy/oscar/supervisor.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/ray/pool.py
  mars/oscar/backends/ray/tests/test_communication.py
  mars/serialization/aio.py
  mars/services/web/core.py
  mars/supervisor.py
  mars/tests/test_cluster.py
  mars/utils.py
  mars/worker.py
  setup.cfg
Labels: type: bug, to be backported, mod: storage

#2937 Add TPC-H benchmarks
  .codacy.yml
  .codecov.yml
  .github/workflows/benchmark-ci.yml
  .github/workflows/platform-ci.yml
  .gitignore
  CODEOWNERS
  azure-pipelines.yml
  benchmarks/README.md
  benchmarks/__init__.py
  benchmarks/asv_bench/asv.conf.json
  benchmarks/asv_bench/benchmarks/__init__.py
  benchmarks/asv_bench/benchmarks/empty_remotes.py
  benchmarks/asv_bench/benchmarks/graph_assigner.py
  benchmarks/asv_bench/benchmarks/graph_builder.py
  benchmarks/asv_bench/benchmarks/learn/__init__.py
  benchmarks/asv_bench/benchmarks/learn/metrics.py
  benchmarks/asv_bench/benchmarks/learn/model_selection.py
  benchmarks/asv_bench/benchmarks/serialize.py
  benchmarks/tpch/__init__.py
  benchmarks/tpch/gen_data.py
  benchmarks/tpch/loader.py
  benchmarks/tpch/run_queries.py
  mars/dataframe/__init__.py
  setup.cfg
Labels: type: tests, mod: benchmark

#2943 Ignore broadcaster's locality when assign subtasks
  mars/core/entity/chunks.py
  mars/dataframe/base/bloom_filter.py
  mars/dataframe/merge/merge.py
  mars/services/scheduling/supervisor/assigner.py
  mars/services/scheduling/supervisor/tests/test_assigner.py
  mars/services/scheduling/worker/execution.py
  mars/utils.py
Labels: type: enhancement, to be backported, mod: scheduling service

#2944 Allow spawning serialization to threads for large objects
  mars/core/base.py
  mars/oscar/backends/message.pyx
  mars/oscar/batch.py
  mars/oscar/tests/test_batch.py
  mars/serialization/__init__.py
  mars/serialization/aio.py
  mars/serialization/core.pyi
  mars/serialization/core.pyx
  mars/serialization/tests/test_serial.py
  setup.cfg
Labels: type: enhancement, mod: serialization

#2940 Add more logs about execution info
  mars/core/entity/executable.py
  mars/dataframe/base/bloom_filter.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/merge/merge.py
  mars/serialization/core.pyx
  mars/services/scheduling/worker/execution.py
  mars/services/session/supervisor/core.py
  setup.py
Labels: type: enhancement, mod: serialization

#2953 Add support for `dask.persist`
  mars/contrib/dask/scheduler.py
  mars/contrib/dask/tests/test_dask.py
Labels: type: enhancement, to be backported, dask-on-mars

#2949 Remove `should_be_monotonic` property
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/core.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/merge/concat.py
  mars/deploy/oscar/session.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/utils.py
Labels: type: enhancement, mod: dataframe

#2947 [Metrics] Add metrics for scheduling
  mars/core/operand/core.py
  mars/metrics/backends/metric.py
  mars/metrics/backends/tests/test_metric.py
  mars/services/scheduling/supervisor/manager.py
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/worker/execution.py
Labels: type: enhancement, mod: scheduling service, mod: metric

#2955 Add metrics docs
  docs/source/development/index.rst
  docs/source/development/metrics.rst
  docs/source/locale/zh_CN/LC_MESSAGES/development/metrics.po
Labels: type: docs, mod: metric

#2957 [Ray] optimize ray fetcher by query in remote node
  mars/services/task/execution/ray/fetcher.py
Labels: type: enhancement, mod: client, mod: ray integration

#2950 Fix potential KeyError in actor_ref calls when running with multiple processes
  mars/core/graph/tests/test_graph.py
  mars/deploy/kubernetes/config.py
  mars/deploy/oscar/supervisor.py
  mars/oscar/backends/context.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/pool.py
  mars/oscar/context.pxd
  mars/oscar/context.pyx
  mars/tests/core.py
  mars/tests/test_cluster.py
  mars/utils.py
Labels: type: bug, mod: actor, to be backported

#2962 [BACKPORT] Fix potential KeyError in actor_ref calls when running with multiple processes (#2950)
  mars/core/graph/tests/test_graph.py
  mars/deploy/kubernetes/config.py
  mars/deploy/oscar/supervisor.py
  mars/oscar/backends/context.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/pool.py
  mars/oscar/context.pxd
  mars/oscar/context.pyx
  mars/utils.py
Labels: type: bug, mod: actor, backport

#2964 Wrap errors in operand execution to protect scheduling service
  mars/core/__init__.py
  mars/core/base.py
  mars/dataframe/groupby/aggregation.py
  mars/lib/cython/__init__.py
  mars/lib/cython/libcpp.pxd
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/message.pyi
  mars/oscar/backends/message.pyx
  mars/oscar/backends/ray/communication.py
  mars/oscar/context.pyx
  mars/oscar/utils.pyx
  mars/serialization/core.pyx
  mars/services/scheduling/tests/test_service.py
  mars/services/scheduling/worker/execution.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/tests/test_cluster.py
  mars/utils.py
Labels: type: bug, to be backported, mod: scheduling service

#2971 [BACKPORT] Wrap errors in operand execution to protect scheduling service (#2964)
  .gitignore
  mars/core/__init__.py
  mars/core/base.py
  mars/dataframe/groupby/aggregation.py
  mars/oscar/context.pyx
  mars/oscar/utils.pyx
  mars/services/scheduling/tests/test_service.py
  mars/services/scheduling/worker/execution.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/utils.py
Labels: type: bug, backport, mod: scheduling service

#2954 Support reporting tile progress
  mars/core/__init__.py
  mars/core/base.py
  mars/core/entity/utils.py
  mars/core/graph/__init__.py
  mars/core/graph/builder/__init__.py
  mars/core/graph/builder/chunk.py
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/optimization/logical/chunk/tests/test_column_pruning.py
  mars/optimization/logical/chunk/tests/test_head.py
  mars/optimization/physical/tests/test_cupy.py
  mars/oscar/backends/pool.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/analyzer/tests/test_assigner.py
  mars/services/task/execution/api.py
  mars/services/task/execution/mars/executor.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/task.py
  mars/services/task/supervisor/tests/task_preprocessor.py
  mars/services/task/tests/test_service.py
Labels: type: enhancement, mod: task service

#2961 Add logic key for tileable graph
  mars/core/graph/entity.py
  mars/core/graph/tests/test_graph.py
Labels: type: enhancement

#2978 Fix dtype of series result for `DataFrame.apply`
  azure-pipelines.yml
  mars/dataframe/base/apply.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/reduction/custom_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execution.py
  mars/oscar/backends/message.pyx
Labels: type: bug, mod: dataframe, to be backported

#2976 [Ray] Loads the subtask inputs from meta
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/supervisor/tests/test_task_manager_on_ray_dag.py
Labels: type: enhancement, mod: ray integration, mod: task service

#2979 [BACKPORT] Fix dtype of series result for DataFrame.apply (#2978)
  azure-pipelines.yml
  mars/dataframe/base/apply.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/reduction/custom_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execution.py
Labels: type: bug, mod: dataframe, backport

#2975 Fix potential data leak for shuffle tasks
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/storage/api/oscar.py
  mars/services/storage/transfer.py
  mars/services/task/execution/mars/executor.py
Labels: type: bug, mod: storage

#2983 Fix Ray cases
  mars/deploy/oscar/tests/test_local.py
Labels: type: tests
