Repository mars-project/mars, pull requests merged in 2022-03, with the labels that each got.

#2749 [Metric]Add ray metrics implementation
  mars/metric/api.py
  mars/metric/backends/ray/__init__.py
  mars/metric/backends/ray/ray_metric.py
  mars/metric/backends/ray/tests/__init__.py
  mars/metric/backends/ray/tests/test_ray_metric.py
  mars/metric/tests/test_metric_api.py
Labels: type: feature, mod: ray integration, mod: metric

#2774 Fix the wrong result of df.merge
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
Labels: type: bug, mod: dataframe, to be backported

#2770 Fix DataFrame initializer when Mars object exists in list
  mars/_version.py
  mars/dataframe/arithmetic/dot.py
  mars/dataframe/datasource/dataframe.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/initializer.py
  mars/dataframe/merge/concat.py
  mars/dataframe/statistics/quantile.py
  mars/dataframe/tests/test_initializer.py
  mars/services/task/analyzer/analyzer.py
  mars/storage/filesystem.py
  mars/storage/plasma.py
  mars/storage/shared_memory.py
  mars/storage/vineyard.py
  mars/tensor/datasource/array.py
  mars/tensor/datasource/core.py
  mars/tensor/datasource/diag.py
  mars/tensor/datasource/ones.py
  mars/tensor/datasource/tests/test_datasource.py
  mars/tensor/datasource/tri.py
  mars/tensor/datasource/zeros.py
  mars/tensor/linalg/cholesky.py
  mars/tensor/linalg/lu.py
Labels: type: bug, mod: dataframe, to be backported

#2777 [BACKPORT] Fix wrong result of `df.merge` (#2774)
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
Labels: type: bug, mod: dataframe, backport

#2778 [BACKPORT] Fix DataFrame initializer when Mars object exists in list (#2770)
  mars/_version.py
  mars/dataframe/arithmetic/dot.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/initializer.py
  mars/dataframe/merge/concat.py
  mars/dataframe/statistics/quantile.py
  mars/dataframe/tests/test_initializer.py
  mars/storage/filesystem.py
  mars/storage/plasma.py
  mars/storage/shared_memory.py
  mars/storage/vineyard.py
  mars/tensor/datasource/array.py
  mars/tensor/datasource/diag.py
  mars/tensor/datasource/ones.py
  mars/tensor/datasource/tests/test_datasource.py
  mars/tensor/datasource/tri.py
  mars/tensor/datasource/zeros.py
  mars/tensor/linalg/cholesky.py
  mars/tensor/linalg/lu.py
Labels: type: bug, mod: dataframe, backport

#2779 Increase test stability for command-line tests
  .codecov.yml
  mars/_utils.pyx
  mars/conftest.py
  mars/deploy/oscar/cmdline.py
  mars/deploy/oscar/service.py
  mars/deploy/oscar/tests/local_test_config.yml
  mars/deploy/oscar/tests/test_cmdline.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/services/cluster/tests/test_locator.py
  mars/services/scheduling/worker/quota.py
  mars/services/task/tests/test_service.py
  mars/utils.py
  setup.cfg
Labels: type: bug, type: tests, to be backported

#2760 [Metric] Add common metrics
  .github/workflows/run-tests.sh
  mars/deploy/oscar/base_config.yml
  mars/deploy/oscar/local.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/rayconfig.yml
  mars/deploy/oscar/session.py
  mars/deploy/oscar/supervisor.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/worker.py
  mars/metrics/__init__.py
  mars/metrics/api.py
  mars/metrics/backends/__init__.py
  mars/metrics/backends/console/__init__.py
  mars/metrics/backends/console/console_metric.py
  mars/metrics/backends/console/tests/__init__.py
  mars/metrics/backends/console/tests/test_console_metric.py
  mars/metrics/backends/metric.py
  mars/metrics/backends/prometheus/__init__.py
  mars/metrics/backends/prometheus/prometheus_metric.py
  mars/metrics/backends/prometheus/tests/__init__.py
  mars/metrics/backends/prometheus/tests/test_prometheus_metric.py
  mars/metrics/backends/ray/__init__.py
  mars/metrics/backends/ray/ray_metric.py
  mars/metrics/backends/ray/tests/__init__.py
  mars/metrics/backends/ray/tests/test_ray_metric.py
  mars/metrics/backends/tests/__init__.py
  mars/metrics/backends/tests/test_metric.py
  mars/metrics/tests/__init__.py
  mars/metrics/tests/test_metric_api.py
  mars/oscar/backends/config.py
  mars/oscar/backends/pool.py
  mars/oscar/backends/ray/communication.py
  mars/services/subtask/core.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/stage.py
Labels: type: feature, mod: actor, mod: task service, mod: subtask service

#2786 [BACKPORT] Increase test stability for command-line tests (#2779)
  .codecov.yml
  mars/conftest.py
  mars/deploy/oscar/cmdline.py
  mars/deploy/oscar/service.py
  mars/deploy/oscar/tests/local_test_config.yml
  mars/deploy/oscar/tests/test_cmdline.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test_pool.py
  mars/services/cluster/tests/test_locator.py
  mars/services/scheduling/worker/quota.py
  mars/services/task/tests/test_service.py
  mars/utils.py
  setup.cfg
Labels: type: bug, type: tests, backport

#2772 Add broadcast merge support for DataFrame
  mars/conftest.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/merge/__init__.py
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
  mars/opcodes.py
Labels: type: enhancement, mod: dataframe

#2789 [BACKPORT] Fix duplicate dec object ref (#2741)
  mars/services/task/supervisor/processor.py
Labels: type: bug, backport, mod: task service

#2790 [BACKPORT] Remove deprecate warnings when import mars.tensor (#2788)
  docs/source/reference/dataframe/general_functions.rst
  mars/oscar/backends/ray/tests/test_ray_pool.py
  mars/services/subtask/core.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/stage.py
  mars/tensor/__init__.py
Labels: type: enhancement, backport

#2763 Optimize in-process actor calls
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_fault_injection.py
  mars/oscar/__init__.py
  mars/oscar/backends/context.py
  mars/oscar/backends/mars/tests/test_debug.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/pool.py
  mars/oscar/context.pxd
  mars/oscar/context.pyx
  mars/oscar/core.pxd
  mars/oscar/core.pyx
  mars/oscar/utils.pyx
  mars/services/scheduling/supervisor/manager.py
Labels: type: enhancement, mod: actor

#2783 [ray] New ray actor creation model
  .github/workflows/platform-ci.yml
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/backend.py
  mars/oscar/backends/mars/backend.py
  mars/oscar/backends/ray/backend.py
  mars/oscar/backends/ray/driver.py
  mars/oscar/backends/ray/pool.py
  mars/oscar/backends/ray/tests/test_ray_actor_context.py
  mars/oscar/backends/ray/tests/test_ray_actor_driver.py
  mars/oscar/backends/ray/tests/test_ray_pool.py
  mars/oscar/backends/ray/utils.py
  mars/oscar/backends/test/backend.py
Labels: type: enhancement, to be backported, mod: ray integration

#2773 [ray] support ray client mode
  .github/workflows/platform-ci.yml
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/backends/ray/communication.py
  mars/oscar/backends/ray/driver.py
  mars/oscar/backends/ray/pool.py
Labels: type: bug, to be backported, mod: ray integration

#2794 [BACKPORT][Ray] New ray actor creation model (#2783)
  .github/workflows/platform-ci.yml
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/backend.py
  mars/oscar/backends/mars/backend.py
  mars/oscar/backends/ray/backend.py
  mars/oscar/backends/ray/driver.py
  mars/oscar/backends/ray/pool.py
  mars/oscar/backends/ray/tests/test_ray_actor_context.py
  mars/oscar/backends/ray/tests/test_ray_actor_driver.py
  mars/oscar/backends/ray/tests/test_ray_pool.py
  mars/oscar/backends/ray/utils.py
  mars/oscar/backends/test/backend.py
Labels: type: enhancement, backport, mod: ray integration

#2796 [BACKPORT][Ray] Support Ray client mode (#2773)
  .github/workflows/platform-ci.yml
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/backends/ray/communication.py
  mars/oscar/backends/ray/driver.py
  mars/oscar/backends/ray/pool.py
Labels: type: bug, backport, mod: ray integration

#2793 [Ray] Refine ray tests
  mars/conftest.py
  mars/dataframe/contrib/raydataset/tests/test_mldataset.py
  mars/dataframe/contrib/raydataset/tests/test_raydataset.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/backends/ray/driver.py
  mars/oscar/backends/ray/tests/test_ray_actor_context.py
  mars/services/scheduling/supervisor/assigner.py
  mars/services/scheduling/worker/tests/test_workerslot.py
  mars/tests/core.py
Labels: type: tests, to be backported, mod: ray integration

#2804 Build docker images cronically
  .github/workflows/core-ci.yml
  .github/workflows/docker-cd.yml
  .github/workflows/os-compat-ci.yml
  .github/workflows/platform-ci.yml
  mars/_utils.pxd
  mars/_utils.pyx
  mars/tests/test_utils.py
  mars/utils.py
Labels: type: tests

#2798 Introduce asv benchmark
  .codacy.yml
  .github/workflows/benchmark-ci.yml
  .github/workflows/cancel-prev.yml
  .gitignore
  asv_bench/asv.conf.json
  asv_bench/benchmarks/__init__.py
  asv_bench/benchmarks/empty_remotes.py
  asv_bench/benchmarks/graph_builder.py
Labels: type: tests, mod: benchmark

#2806 Use versioneer to manage release versions
  .codacy.yml
  .codecov.yml
  .gitattributes
  MANIFEST.in
  ci/copycheck.py
  mars/__init__.py
  mars/_version.py
  mars/services/cluster/gather.py
  mars/services/cluster/tests/test_api.py
  mars/tests/test_session.py
  mars/utils.py
  pyproject.toml
  setup.cfg
  setup.py
  versioneer.py
Labels: mod: deploy, type: feature, to be backported

#2807 [BACKPORT] Use versioneer to manage release versions (#2806)
  .codacy.yml
  .codecov.yml
  .gitattributes
  .github/workflows/core-ci.yml
  .github/workflows/docker-cd.yml
  .github/workflows/os-compat-ci.yml
  .github/workflows/platform-ci.yml
  MANIFEST.in
  ci/copycheck.py
  mars/__init__.py
  mars/_utils.pxd
  mars/_utils.pyx
  mars/_version.py
  mars/services/cluster/gather.py
  mars/services/cluster/tests/test_api.py
  mars/tests/test_session.py
  mars/tests/test_utils.py
  mars/utils.py
  pyproject.toml
  setup.cfg
  setup.py
  versioneer.py
Labels: mod: deploy, type: feature, backport

#2803 Support generating a DOT file for subtask graph
  mars/dataframe/utils.py
  mars/oscar/profiling.py
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/task/supervisor/graph_visualizer.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/tests/test_task_manager.py
Labels: type: enhancement, to be backported, mod: service, mod: task service

#2756 Support generating dtypes, index_value etc lazily for DataFrame chunks
  mars/core/base.py
  mars/core/entity/core.py
  mars/core/graph/builder/chunk.py
  mars/core/operand/base.py
  mars/core/operand/core.py
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/base/_duplicate.py
  mars/dataframe/base/duplicated.py
  mars/dataframe/core.py
  mars/dataframe/datasource/from_tensor.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/sort/psrs.py
  mars/serialization/serializables/core.py
Labels: type: enhancement, mod: dataframe

#2810 [BACKPORT][Ray] Refine ray tests (#2793)
  mars/conftest.py
  mars/dataframe/contrib/raydataset/tests/test_mldataset.py
  mars/dataframe/contrib/raydataset/tests/test_raydataset.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/backends/ray/driver.py
  mars/oscar/backends/ray/tests/test_ray_actor_context.py
  mars/services/scheduling/supervisor/assigner.py
  mars/services/scheduling/worker/tests/test_workerslot.py
  mars/tests/core.py
Labels: type: tests, backport, mod: ray integration

#2811 Fix default value of `gpu` property for some operands
  mars/dataframe/datasource/dataframe.py
  mars/dataframe/datasource/from_records.py
  mars/dataframe/datasource/from_vineyard.py
  mars/dataframe/datasource/index.py
  mars/dataframe/datasource/series.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/loc.py
  mars/dataframe/reduction/core.py
  mars/dataframe/sort/core.py
  mars/learn/neighbors/_faiss.py
  mars/services/task/analyzer/tests/test_fusion.py
  mars/tensor/arithmetic/tests/test_arithmetic.py
  mars/tensor/datasource/array.py
  mars/tensor/datasource/diag.py
  mars/tensor/datasource/diagflat.py
  mars/tensor/datasource/empty.py
  mars/tensor/datasource/eye.py
  mars/tensor/datasource/from_tiledb.py
  mars/tensor/datasource/from_vineyard.py
  mars/tensor/datasource/full.py
  mars/tensor/datasource/identity.py
  mars/tensor/datasource/linspace.py
  mars/tensor/datasource/ones.py
  mars/tensor/datasource/scalar.py
  mars/tensor/datasource/tests/test_datasource.py
  mars/tensor/datasource/zeros.py
  mars/tensor/fft/fftfreq.py
  mars/tensor/fft/rfftfreq.py
Labels: type: bug, mod: tensor, mod: dataframe, to be backported

#2784 Fix race condition of `set_subtask_result`
  mars/services/scheduling/worker/workerslot.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/stage.py
Labels: type: bug, to be backported, mod: scheduling service

#2819 [BACKPORT] Fix race condition of set_subtask_result (#2784)
  mars/services/scheduling/worker/workerslot.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/stage.py
  mars/tensor/datastore/to_vineyard.py
Labels: type: bug, backport, mod: scheduling service

#2818 [BACKPORT] Support generating a DOT file for subtask graph (#2803)
  mars/dataframe/utils.py
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/task/supervisor/graph_visualizer.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/tests/test_task_manager.py
Labels: type: enhancement, backport, mod: task service

#2820 [BACKPORT] Fix default value of `gpu` property for some operands (#2811)
  mars/dataframe/datasource/dataframe.py
  mars/dataframe/datasource/from_records.py
  mars/dataframe/datasource/from_vineyard.py
  mars/dataframe/datasource/index.py
  mars/dataframe/datasource/series.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/loc.py
  mars/dataframe/reduction/core.py
  mars/dataframe/sort/core.py
  mars/learn/neighbors/_faiss.py
  mars/tensor/arithmetic/tests/test_arithmetic.py
  mars/tensor/datasource/array.py
  mars/tensor/datasource/diag.py
  mars/tensor/datasource/diagflat.py
  mars/tensor/datasource/empty.py
  mars/tensor/datasource/eye.py
  mars/tensor/datasource/from_tiledb.py
  mars/tensor/datasource/from_vineyard.py
  mars/tensor/datasource/full.py
  mars/tensor/datasource/identity.py
  mars/tensor/datasource/linspace.py
  mars/tensor/datasource/ones.py
  mars/tensor/datasource/scalar.py
  mars/tensor/datasource/tests/test_datasource.py
  mars/tensor/datasource/zeros.py
  mars/tensor/fft/fftfreq.py
  mars/tensor/fft/rfftfreq.py
Labels: type: bug, mod: tensor, mod: dataframe, backport

#2823 Implements `mars.tensor.setdiff1d`
  docs/source/reference/tensor/set.rst
  mars/tensor/__init__.py
  mars/tensor/base/__init__.py
  mars/tensor/base/setdiff1d.py
  mars/tensor/base/tests/test_base_execution.py
Labels: mod: tensor, type: feature, to be backported

#2824 Change `StorageHandlerActor` to stateful
  mars/core/graph/tests/test_graph.py
  mars/dataframe/datastore/tests/test_datastore_execution.py
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/storage/handler.py
  mars/services/task/supervisor/processor.py
Labels: type: bug, to be backported, mod: storage

#2576 [scheduling] A speculative execution based task scheduler
  .github/workflows/platform-ci.yml
  mars/conftest.py
  mars/core/operand/__init__.py
  mars/core/operand/base.py
  mars/dataframe/base/apply.py
  mars/dataframe/datasource/read_sql.py
  mars/dataframe/datastore/to_sql.py
  mars/dataframe/groupby/apply.py
  mars/deploy/oscar/base_config.yml
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/tests/test_ray_scheduling.py
  mars/oscar/backends/ray/driver.py
  mars/oscar/core.pyx
  mars/services/meta/api/oscar.py
  mars/services/meta/core.py
  mars/services/meta/store/dictionary.py
  mars/services/scheduling/api/oscar.py
  mars/services/scheduling/errors.py
  mars/services/scheduling/supervisor/assigner.py
  mars/services/scheduling/supervisor/globalslot.py
  mars/services/scheduling/supervisor/manager.py
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/supervisor/service.py
  mars/services/scheduling/supervisor/speculation.py
  mars/services/scheduling/supervisor/tests/test_assigner.py
  mars/services/scheduling/supervisor/tests/test_manager.py
  mars/services/scheduling/supervisor/tests/test_queue_balance.py
  mars/services/scheduling/supervisor/tests/test_queueing.py
  mars/services/scheduling/supervisor/tests/test_speculation.py
  mars/services/scheduling/utils.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/workerslot.py
  mars/services/subtask/core.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/runner.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/api/oscar.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/stage.py
  mars/services/task/supervisor/tests/task_preprocessor.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: type: feature, mod: scheduling service

#2801 [ray] Default enable fault tolerance for ray
  mars/deploy/oscar/rayconfig.yml
  mars/deploy/oscar/tests/local_test_with_ray_config.yml
  mars/services/scheduling/worker/workerslot.py
Labels: type: enhancement, mod: ray integration, mod: subtask service

#2826 Fix running xgboost on Ray cluster
  mars/core/context.py
  mars/core/custom_log.py
  mars/learn/contrib/pytorch/run_script.py
  mars/learn/contrib/tensorflow/run_script.py
  mars/learn/contrib/xgboost/start_tracker.py
  mars/learn/contrib/xgboost/tests/test_train.py
  mars/services/context.py
  mars/utils.py
Labels: type: bug, to be backported, mod: learn

#2830 [BACKPORT] Fix running xgboost on Ray cluster (#2826)
  mars/core/context.py
  mars/core/custom_log.py
  mars/core/graph/tests/test_graph.py
  mars/dataframe/datastore/tests/test_datastore_execution.py
  mars/learn/contrib/pytorch/run_script.py
  mars/learn/contrib/tensorflow/run_script.py
  mars/learn/contrib/xgboost/start_tracker.py
  mars/learn/contrib/xgboost/tests/test_train.py
  mars/services/context.py
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/storage/handler.py
  mars/services/task/supervisor/processor.py
  mars/utils.py
Labels: type: bug, backport, mod: learn, mod: storage

#2832 Added support for `mars.learn.metrics.roc_auc_score`
  docs/source/reference/learn/reference.rst
  mars/learn/metrics/__init__.py
  mars/learn/metrics/_base.py
  mars/learn/metrics/_ranking.py
  mars/learn/metrics/tests/test_ranking.py
  mars/learn/preprocessing/_label.py
  mars/learn/utils/_encode.py
  mars/learn/utils/multiclass.py
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/task/supervisor/processor.py
  mars/tensor/base/map_chunk.py
Labels: type: feature, to be backported, mod: learn

#2837 Fix `FileSystem.ls` for OSS
  mars/core/graph/entity.py
  mars/lib/filesystem/oss.py
  mars/optimization/logical/common/column_pruning.py
  mars/optimization/logical/core.py
  mars/optimization/logical/tileable/arithmetic_query.py
  mars/services/task/supervisor/stage.py
Labels: type: bug, to be backported

#2836 Improve subtask details in logs
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/service.py
  mars/services/subtask/core.py
  mars/services/subtask/tests/test_service.py
  mars/services/subtask/worker/processor.py
Labels: type: enhancement, to be backported, mod: subtask service

#2842 [BACKPORT] Enhance subtask details in logs (#2836) and fix FileSystem.ls for OSS (#2837)
  mars/core/graph/entity.py
  mars/lib/filesystem/oss.py
  mars/optimization/logical/common/column_pruning.py
  mars/optimization/logical/core.py
  mars/optimization/logical/tileable/arithmetic_query.py
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/service.py
  mars/services/subtask/core.py
  mars/services/subtask/tests/test_service.py
  mars/services/subtask/worker/processor.py
  mars/services/task/supervisor/stage.py
Labels: type: bug, backport

#2841 [BACKPORT] Added support for `mars.learn.metrics.roc_auc_score` (#2832)
  docs/source/reference/learn/reference.rst
  mars/learn/metrics/__init__.py
  mars/learn/metrics/_base.py
  mars/learn/metrics/_ranking.py
  mars/learn/metrics/tests/test_ranking.py
  mars/learn/preprocessing/_label.py
  mars/learn/utils/_encode.py
  mars/learn/utils/multiclass.py
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/task/supervisor/processor.py
  mars/tensor/base/map_chunk.py
Labels: type: feature, backport, mod: learn

#2840 Stop fetching data when pure dependencies specified
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/subtask/core.py
  mars/services/subtask/worker/processor.py
Labels: type: bug, to be backported, mod: scheduling service

#2843 [BACKPORT] Stop fetching data when pure dependencies specified (#2840)
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/subtask/core.py
  mars/services/subtask/worker/processor.py
Labels: type: bug, backport, mod: scheduling service

#2732 [scheduling] accurate resource management for global slot manager
  mars/_resource.pyx
  mars/resource.py
  mars/services/scheduling/api/oscar.py
  mars/services/scheduling/supervisor/__init__.py
  mars/services/scheduling/supervisor/autoscale.py
  mars/services/scheduling/supervisor/globalresource.py
  mars/services/scheduling/supervisor/globalslot.py
  mars/services/scheduling/supervisor/manager.py
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/supervisor/service.py
  mars/services/scheduling/supervisor/speculation.py
  mars/services/scheduling/supervisor/tests/test_globalresource.py
  mars/services/scheduling/supervisor/tests/test_manager.py
  mars/services/scheduling/supervisor/tests/test_queue_balance.py
  mars/services/scheduling/supervisor/tests/test_queueing.py
  mars/services/scheduling/supervisor/tests/test_speculation.py
  mars/services/scheduling/tests/test_service.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/scheduling/worker/tests/test_workerslot.py
  mars/services/scheduling/worker/workerslot.py
  mars/tests/test_resource.py
Labels: type: enhancement, mod: scheduling service

#2844 Configure nthread of XGBoost jobs
  mars/core/context.py
  mars/deploy/oscar/cmdline.py
  mars/learn/contrib/xgboost/dmatrix.py
  mars/learn/contrib/xgboost/predict.py
  mars/learn/contrib/xgboost/start_tracker.py
  mars/learn/contrib/xgboost/tracker.py
  mars/learn/contrib/xgboost/train.py
  mars/services/context.py
Labels: type: enhancement, to be backported, mod: learn

#2838 Improved performance of `mars.learn.metrics.{roc_curve, roc_auc_score}`
  .github/workflows/benchmark-ci.yml
  asv_bench/benchmarks/learn/__init__.py
  asv_bench/benchmarks/learn/metrics.py
  mars/config.py
  mars/core/entity/tileables.py
  mars/dataframe/base/diff.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/learn/metrics/_ranking.py
  mars/learn/utils/core.py
  mars/learn/utils/sparsefuncs.py
  mars/learn/utils/tests/test_core.py
  mars/opcodes.py
  mars/services/scheduling/worker/execution.py
  mars/tensor/base/diff.py
  mars/tensor/base/flatten.py
  mars/tensor/indexing/getitem.py
  mars/tests/test_session.py
  mars/utils.py
Labels: type: enhancement, to be backported, mod: learn

#2845 Fix store duplicate chunk and meta per subtask
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/tests/subtask_processor.py
Labels: type: enhancement, to be backported, mod: subtask service

#2847 [BACKPORT] Configure cores of XGBoost jobs (#2844)
  mars/core/context.py
  mars/deploy/oscar/cmdline.py
  mars/learn/contrib/xgboost/dmatrix.py
  mars/learn/contrib/xgboost/predict.py
  mars/learn/contrib/xgboost/start_tracker.py
  mars/learn/contrib/xgboost/tracker.py
  mars/learn/contrib/xgboost/train.py
  mars/services/context.py
Labels: type: enhancement, backport, mod: learn

#2850 [BACKPORT] Improved performance of `mars.learn.metrics.{roc_curve, roc_auc_score}` (#2838)
  mars/config.py
  mars/core/entity/tileables.py
  mars/dataframe/base/diff.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/learn/metrics/_ranking.py
  mars/learn/utils/core.py
  mars/learn/utils/sparsefuncs.py
  mars/learn/utils/tests/test_core.py
  mars/opcodes.py
  mars/services/scheduling/worker/execution.py
  mars/tensor/base/diff.py
  mars/tensor/base/flatten.py
  mars/tensor/indexing/getitem.py
  mars/tests/test_session.py
  mars/utils.py
Labels: type: enhancement, backport, mod: learn

#2851 [BACKPORT] Fix store duplicate chunk and meta per subtask (#2845)
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/tests/subtask_processor.py
  mars/services/web/ui/package-lock.json
Labels: type: enhancement, backport, mod: subtask service

#2855 Fix dirty version when building with CIBW
  .github/workflows/pypi-cd.yml
  .gitignore
Labels: type: bug, mod: deploy

#2854 Add cibuildwheel wheel build support (#2672)
  .github/workflows/build-wheels.sh
  .github/workflows/pypi-cd.yml
  .github/workflows/upload-packages.sh
  .gitignore
  ci/requirements-wheel.txt
  mars/serialization/numpy.py
Labels: type: bug, mod: deploy

#2861 Fix XGBoost when some workers do not have `evals` data
  mars/learn/contrib/xgboost/start_tracker.py
  mars/learn/contrib/xgboost/tests/test_train.py
  mars/learn/contrib/xgboost/tracker.py
  mars/learn/contrib/xgboost/train.py
Labels: type: bug, to be backported, mod: learn

#2863 [BACKPORT] Fix XGBoost when some workers do not have `evals` data (#2861)
  mars/learn/contrib/xgboost/start_tracker.py
  mars/learn/contrib/xgboost/tests/test_train.py
  mars/learn/contrib/xgboost/tracker.py
  mars/learn/contrib/xgboost/train.py
Labels: type: bug, backport, mod: learn

#2857 Fix duplicate node iteration in GraphAssigner
  asv_bench/benchmarks/graph_assigner.py
  mars/services/task/analyzer/assigner.py
Labels: type: bug, to be backported, mod: task service

#2859 Raise ActorNotExist when no supervisors available
  .gitignore
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/services/cluster/api/oscar.py
  mars/services/cluster/backends/fixed.py
  mars/services/cluster/locator.py
  mars/services/cluster/tests/test_api.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/scheduling/worker/workerslot.py
  mars/services/session/supervisor/core.py
  mars/services/session/tests/test_service.py
Labels: type: bug, to be backported, mod: cluster service

#2871 Avoid printing too many messages in Oscar
  mars/oscar/backends/context.py
  mars/oscar/backends/pool.py
  mars/oscar/backends/ray/communication.py
  mars/oscar/core.pyx
Labels: type: enhancement, mod: actor, to be backported

#2869 [BACKPORT] Raise ActorNotExist when no supervisors available (#2859)
  .gitignore
  mars/deploy/kubernetes/tests/test_kubernetes.py
  mars/services/cluster/api/oscar.py
  mars/services/cluster/backends/fixed.py
  mars/services/cluster/locator.py
  mars/services/cluster/tests/test_api.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/scheduling/worker/workerslot.py
  mars/services/session/supervisor/core.py
  mars/services/session/tests/test_service.py
Labels: type: bug, backport, mod: cluster service

#2879 Fix dtype infer in DataFrame arithmetic on datetime consts
  mars/core/graph/tests/test_graph.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/services/scheduling/worker/quota.py
  mars/utils.py
Labels: type: bug, mod: dataframe, to be backported

#2880 [BACKPORT] Fix dtype infer in DataFrame arithmetic on datetime consts (#2879)
  asv_bench/benchmarks/graph_assigner.py
  mars/core/graph/tests/test_graph.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/oscar/backends/context.py
  mars/oscar/backends/pool.py
  mars/oscar/backends/ray/communication.py
  mars/oscar/core.pyx
  mars/services/scheduling/worker/quota.py
  mars/services/task/analyzer/assigner.py
  mars/utils.py
Labels: type: bug, mod: dataframe, backport, mod: scheduling service

#2846 [scheduling] Expand slot scheduler to resource scheduler
  asv_bench/benchmarks/graph_assigner.py
  mars/_resource.pyx
  mars/deploy/kubernetes/worker.py
  mars/deploy/oscar/local.py
  mars/deploy/oscar/pool.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/service.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/worker.py
  mars/deploy/yarn/worker.py
  mars/resource.py
  mars/services/cluster/api/core.py
  mars/services/cluster/api/oscar.py
  mars/services/cluster/api/web.py
  mars/services/cluster/gather.py
  mars/services/cluster/supervisor/node_info.py
  mars/services/cluster/tests/test_api.py
  mars/services/cluster/uploader.py
  mars/services/cluster/worker/service.py
  mars/services/context.py
  mars/services/scheduling/supervisor/globalresource.py
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/supervisor/tests/test_assigner.py
  mars/services/scheduling/supervisor/tests/test_globalresource.py
  mars/services/scheduling/supervisor/tests/test_queue_balance.py
  mars/services/scheduling/tests/test_service.py
  mars/services/scheduling/worker/quota.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/scheduling/worker/workerslot.py
  mars/services/session/tests/test_service.py
  mars/services/storage/core.py
  mars/services/storage/tests/test_service.py
  mars/services/subtask/core.py
  mars/services/subtask/tests/test_service.py
  mars/services/subtask/worker/manager.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/analyzer/assigner.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/resource.py
  mars/services/task/supervisor/tests/task_preprocessor.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/tests/test_service.py
  mars/tests/test_resource.py
Labels: type: enhancement, mod: scheduling service

#2876 Add stack display page on Mars Web
  mars/oscar/__init__.py
  mars/oscar/api.py
  mars/oscar/backends/context.py
  mars/oscar/backends/core.py
  mars/oscar/backends/pool.py
  mars/oscar/context.pyx
  mars/services/cluster/api/core.py
  mars/services/cluster/api/oscar.py
  mars/services/cluster/api/web.py
  mars/services/cluster/procinfo.py
  mars/services/cluster/supervisor/service.py
  mars/services/cluster/tests/test_api.py
  mars/services/cluster/tests/test_procinfo.py
  mars/services/cluster/worker/service.py
  mars/services/web/ui/package-lock.json
  mars/services/web/ui/src/node_info/NodeResourceTab.js
  mars/services/web/ui/src/node_info/NodeStackTab.js
  mars/services/web/ui/src/node_info/SupervisorDetailPage.js
  mars/services/web/ui/src/node_info/WorkerDetailPage.js
Labels: type: feature, mod: web, to be backported

#2881 [BACKPORT] Add stack display page on Mars Web (#2876)
  mars/oscar/__init__.py
  mars/oscar/api.py
  mars/oscar/backends/context.py
  mars/oscar/backends/core.py
  mars/oscar/backends/pool.py
  mars/oscar/context.pyx
  mars/services/cluster/api/core.py
  mars/services/cluster/api/oscar.py
  mars/services/cluster/api/web.py
  mars/services/cluster/procinfo.py
  mars/services/cluster/supervisor/service.py
  mars/services/cluster/tests/test_api.py
  mars/services/cluster/tests/test_procinfo.py
  mars/services/cluster/worker/service.py
  mars/services/web/ui/package-lock.json
  mars/services/web/ui/src/node_info/NodeResourceTab.js
  mars/services/web/ui/src/node_info/NodeStackTab.js
  mars/services/web/ui/src/node_info/SupervisorDetailPage.js
  mars/services/web/ui/src/node_info/WorkerDetailPage.js
Labels: type: feature, mod: web, backport

#2862 Upgrade azure-pipelines to Python 3.9
  .github/workflows/docker-cd.yml
  azure-pipelines.yml
  mars/core/entity/executable.py
  mars/core/graph/tests/test_graph.py
  mars/deploy/oscar/session.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/batch.py
  mars/services/cluster/api/oscar.py
  mars/services/scheduling/supervisor/manager.py
  mars/services/scheduling/utils.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/services/task/supervisor/processor.py
Labels: type: tests, to be backported

#2886 [BACKPORT] Upgrade azure-pipelines to Python 3.9 (#2862)
  .github/workflows/docker-cd.yml
  azure-pipelines.yml
  mars/core/entity/executable.py
  mars/core/graph/tests/test_graph.py
  mars/deploy/oscar/session.py
  mars/oscar/batch.py
  mars/services/cluster/api/oscar.py
  mars/services/scheduling/supervisor/manager.py
  mars/services/scheduling/utils.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/services/task/supervisor/processor.py
Labels: type: tests, backport

#2874 Optimized iterative tiling by pruning unrelated chunks
  mars/core/entity/tests/test_utils.py
  mars/core/entity/utils.py
  mars/core/graph/builder/chunk.py
  mars/dataframe/base/cut.py
  mars/dataframe/base/describe.py
  mars/dataframe/datasource/core.py
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/learn/ensemble/_blockwise.py
  mars/learn/metrics/_check_targets.py
  mars/learn/metrics/pairwise/pairwise_distances_topk.py
  mars/learn/preprocessing/_label.py
  mars/learn/utils/multiclass.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/tests/task_preprocessor.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/tensor/indexing/index_lib.py
  mars/tensor/indexing/setitem.py
  mars/tensor/rechunk/core.py
  mars/tensor/statistics/bincount.py
  mars/tensor/statistics/histogram.py
  mars/tensor/statistics/quantile.py
  mars/tests/test_session.py
Labels: type: enhancement, mod: task service

#2883 Fix timeout for `wait_task`
  mars/services/task/api/web.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/service.py
  mars/services/task/tests/test_service.py
Labels: type: bug, mod: web, to be backported

#2887 Make sure error can be raised in `Actor.__pre_destroy__`
  mars/core/entity/executable.py
  mars/deploy/oscar/local.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/pool.py
  mars/services/session/api/core.py
  mars/services/session/api/oscar.py
  mars/services/session/api/web.py
  mars/services/session/supervisor/core.py
  mars/services/session/tests/test_service.py
  mars/services/subtask/worker/runner.py
  mars/storage/shared_memory.py
Labels: type: bug, mod: actor, to be backported
