Repository mars-project/mars, pull requests merged in 2022-07, with the labels that each got.

#3172 Integrate remaining error functions and fresnel integrals except ```fresnel_zeros```
  docs/source/reference/tensor/special.rst
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/tensor/special/__init__.py
  mars/tensor/special/err_fresnel.py
  mars/tensor/special/tests/test_special.py
  mars/tensor/special/tests/test_special_execution.py
Labels: mod: tensor, type: feature, to be backported

#3178 [BACKPORT] Integrate remaining error functions and fresnel integrals except `fresnel_zeros` (#3172)
  docs/source/reference/tensor/special.rst
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/tensor/special/__init__.py
  mars/tensor/special/err_fresnel.py
  mars/tensor/special/tests/test_special.py
  mars/tensor/special/tests/test_special_execution.py
Labels: mod: tensor, type: feature, backport

#3177 Improve numexpr fusion
  benchmarks/asv_bench/benchmarks/execution.py
  mars/optimization/physical/numexpr.py
  mars/optimization/physical/tests/test_numexpr.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  mars/tensor/fuse/numexpr.py
  mars/tensor/fuse/tests/test_numexpr_execution.py
Labels: type: enhancement, to be backported, mod: optimization

#3190 Ensure key is a valid Python identifier
  mars/_utils.pyx
  mars/core/operand/tests/test_core.py
  mars/deploy/oscar/tests/session.py
  mars/services/subtask/worker/tests/subtask_processor.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/fetcher.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  mars/tensor/datastore/tests/test_datastore_execution.py
  mars/tests/test_eager_mode.py
  mars/tests/test_session.py
  mars/utils.py
  setup.py
Labels: type: bug, to be backported, mod: optimization, mod: ray integration

#3203 Disable version updates for dependabot
  .github/dependabot.yml
Labels: type: enhancement, mod: deploy
