Repository mars-project/mars, pull requests merged in 2022-10, with the labels that each got.

#3271 [Ray] Optimize ray executor submit subtask
  mars/lib/filesystem/s3.py
  mars/services/subtask/core.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  setup.cfg
Labels: mod: ray integration, mod: task service

#3261 [Ray] Enable CI of mars/learn for Ray DAG
  .github/workflows/platform-ci.yml
  mars/core/operand/shuffle.py
  mars/deploy/oscar/session.py
  mars/learn/decomposition/_pca.py
  mars/learn/ensemble/_bagging.py
  mars/learn/ensemble/tests/test_bagging.py
  mars/learn/preprocessing/tests/test_label.py
  mars/learn/utils/_encode.py
  mars/learn/utils/core.py
  mars/learn/wrappers.py
  mars/lib/sparse/array.py
  mars/metrics/api.py
  mars/remote/core.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/execution/mars/executor.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  mars/services/task/execution/utils.py
  mars/tensor/statistics/bincount.py
  mars/utils.py
Labels: mod: learn, mod: ray integration, shuffle

#3275 [Ray] Enable CI of mars/tensor for Ray DAG
  .github/workflows/platform-ci.yml
Labels: mod: ray integration

#3276 Compatible with pandas 1.5.0
  .github/workflows/platform-ci.yml
  mars/_utils.pyx
  mars/dataframe/arrays.py
  mars/dataframe/base/shift.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/core.py
  mars/dataframe/datasource/date_range.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
  mars/dataframe/missing/dropna.py
  mars/dataframe/missing/tests/test_missing.py
  mars/dataframe/reduction/tests/test_reduction_execution.py
  mars/dataframe/tests/test_arrays.py
  mars/lib/groupby_wrapper.py
  mars/utils.py
  setup.cfg
Labels: type: enhancement, to be backported

#3281 [Ray] Spread scheduling subtasks with empty dependencies
  mars/dataframe/utils.py
  mars/deploy/oscar/local.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/modules/check_ray_remote_function_options.py
  mars/deploy/oscar/tests/test_ray_client.py
  mars/deploy/oscar/tests/test_ray_cluster_standalone.py
  mars/lib/aio/isolation.py
  mars/oscar/backends/ray/communication.py
  mars/services/task/execution/ray/config.py
  mars/services/task/execution/ray/executor.py
Labels: mod: deploy, mod: task service
