Repository mars-project/mars, pull requests merged in 2022-08, with the labels that each got.

#3184 [Ray] Fix ray memory leak
  azure-pipelines.yml
  mars/deploy/oscar/ray.py
  mars/oscar/backends/core.py
Labels: type: bug, mod: ray integration

#3206 [Ray] Support reducer has inputs which isn't mapper
  mars/services/task/execution/ray/executor.py
  mars/tensor/indexing/tests/test_indexing_execution.py
Labels: mod: ray integration, mod: task service, shuffle

#3204 Refine UT and logs
  mars/core/entity/chunks.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/sort/tests/test_sort_execution.py
  mars/deploy/oscar/service.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_client.py
  mars/deploy/oscar/tests/test_ray_cluster_standalone.py
  mars/deploy/oscar/tests/test_ray_dag_failover.py
  mars/deploy/oscar/tests/test_ray_scheduling.py
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/subtask/worker/processor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
Labels: type: enhancement

#3207 [Ray] Configurable subtask num_cpus
  mars/services/task/execution/mars/executor.py
  mars/services/task/execution/ray/config.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
Labels: mod: ray integration, mod: task service

#3212 [Ray] RayExecutionContext.get_chunk_meta from meta service
  LICENSE
  benchmarks/asv_bench/benchmarks/serialize.py
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/learn/linear_model/tests/test_base.py
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  mars/tensor/datasource/array.py
  mars/tensor/fuse/tests/test_numexpr_execution.py
  mars/tests/test_session.py
Labels: mod: ray integration, mod: task service

#3219 [Ray] Share RayTaskState across tasks
  benchmarks/asv_bench/benchmarks/execution.py
  mars/services/task/execution/ray/config.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
Labels: mod: ray integration, mod: task service
