Repository mars-project/mars, pull requests merged in 2022-01, with the labels that each got.

#2628 Fix backward compatibility for pandas 1.0
  azure-pipelines.yml
  mars/conftest.py
  mars/core/graph/builder/chunk.py
  mars/core/graph/core.pyx
  mars/core/mode.py
  mars/dataframe/arrays.py
  mars/dataframe/base/astype.py
  mars/dataframe/base/duplicated.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/transform.py
  mars/dataframe/base/value_counts.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/reindex.py
  mars/dataframe/indexing/setitem.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execution.py
  mars/dataframe/tests/test_core.py
  mars/dataframe/utils.py
  mars/dataframe/window/ewm/core.py
  mars/dataframe/window/expanding/core.py
  mars/dataframe/window/rolling/aggregation.py
  mars/dataframe/window/rolling/core.py
  mars/lib/groupby_wrapper.py
  mars/utils.py
  setup.cfg
Labels: type: bug, mod: dataframe, to be backported

#2630 [BACKPORT] Fix backward compatibility for pandas 1.0 (#2628)
  azure-pipelines.yml
  mars/conftest.py
  mars/core/graph/builder/chunk.py
  mars/core/graph/core.pyx
  mars/core/mode.py
  mars/dataframe/arrays.py
  mars/dataframe/base/astype.py
  mars/dataframe/base/duplicated.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/transform.py
  mars/dataframe/base/value_counts.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/reindex.py
  mars/dataframe/indexing/setitem.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execution.py
  mars/dataframe/tests/test_core.py
  mars/dataframe/utils.py
  mars/dataframe/window/ewm/core.py
  mars/dataframe/window/expanding/core.py
  mars/dataframe/window/rolling/aggregation.py
  mars/dataframe/window/rolling/core.py
  mars/lib/groupby_wrapper.py
  mars/utils.py
  setup.cfg
Labels: type: bug, mod: dataframe, backport

#2635 Fix `NotImplementedError` for `mo.batch` when single call not implemented
  .github/workflows/core-ci.yml
  .github/workflows/os-compat-ci.yml
  .github/workflows/platform-ci.yml
  mars/oscar/batch.py
  mars/oscar/tests/test_batch.py
Labels: type: bug, mod: actor, to be backported

#2637 [BACKPORT] Fix `NotImplementedError` for `mo.batch` when single call not implemented (#2635)
  .github/workflows/core-ci.yml
  .github/workflows/os-compat-ci.yml
  .github/workflows/platform-ci.yml
  mars/oscar/batch.py
  mars/oscar/tests/test_batch.py
Labels: type: bug, mod: actor, backport

#2641 Fix `IndexError` raise by aggregation of DataFrameGroupBy
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
Labels: type: bug, mod: dataframe, to be backported

#2650 Fix compatibility for pandas 1.4
  docs/source/conf.py
  mars/dataframe/arrays.py
  mars/dataframe/base/apply.py
  mars/dataframe/base/memory_usage.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/to_numeric.py
  mars/dataframe/datasource/index.py
  mars/dataframe/groupby/head.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/loc.py
  mars/dataframe/indexing/reindex.py
  mars/dataframe/indexing/reset_index.py
  mars/dataframe/missing/fillna.py
  mars/dataframe/missing/replace.py
  mars/dataframe/tests/test_arrays.py
  mars/dataframe/utils.py
  mars/dataframe/window/aggregation.py
  mars/dataframe/window/ewm/core.py
  mars/oscar/utils.pyx
  mars/serialization/serializables/field.py
  mars/serialization/serializables/tests/test_field_type.py
  mars/serialization/serializables/tests/test_serializable.py
  mars/tensor/indexing/core.py
  mars/tensor/reduction/all.py
  mars/tensor/reduction/any.py
  mars/tensor/reduction/sum.py
  mars/utils.py
Labels: type: bug, mod: dataframe, to be backported

#2643 Fix df.loc[:] to make sure same index_value key generated
  mars/dataframe/base/rechunk.py
  mars/dataframe/indexing/loc.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/utils.py
  mars/utils.py
Labels: type: bug, mod: dataframe, to be backported

#2652 [BACKPORT] Fix compatibility for pandas 1.4 (#2650)
  docs/source/conf.py
  mars/dataframe/arrays.py
  mars/dataframe/base/apply.py
  mars/dataframe/base/memory_usage.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/base/to_numeric.py
  mars/dataframe/datasource/index.py
  mars/dataframe/groupby/head.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/getitem.py
  mars/dataframe/indexing/iloc.py
  mars/dataframe/indexing/loc.py
  mars/dataframe/indexing/reindex.py
  mars/dataframe/indexing/reset_index.py
  mars/dataframe/missing/fillna.py
  mars/dataframe/missing/replace.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/all.py
  mars/dataframe/reduction/any.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/kurtosis.py
  mars/dataframe/reduction/max.py
  mars/dataframe/reduction/mean.py
  mars/dataframe/reduction/min.py
  mars/dataframe/reduction/prod.py
  mars/dataframe/reduction/sem.py
  mars/dataframe/reduction/skew.py
  mars/dataframe/reduction/std.py
  mars/dataframe/reduction/sum.py
  mars/dataframe/reduction/tests/test_reduction_execution.py
  mars/dataframe/reduction/var.py
  mars/dataframe/tests/test_arrays.py
  mars/dataframe/window/aggregation.py
  mars/dataframe/window/ewm/core.py
  mars/oscar/utils.pyx
  mars/serialization/serializables/field.py
  mars/serialization/serializables/tests/test_field_type.py
  mars/tensor/indexing/core.py
  mars/tensor/reduction/all.py
  mars/tensor/reduction/any.py
  mars/tensor/reduction/sum.py
  mars/utils.py
Labels: type: bug, mod: dataframe, backport

#2653 [BACKPORT] Fix `IndexError` raise by aggregation of DataFrameGroupBy (#2641)
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
Labels: type: bug, mod: dataframe, backport

#2654 [BACKPORT] Fix df.loc[:] to make sure same index_value key generated (#2643)
  mars/dataframe/base/rechunk.py
  mars/dataframe/indexing/loc.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/utils.py
  mars/utils.py
Labels: type: bug, mod: dataframe, backport

#2647 Fix aggregation with comparison
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/indexing/reset_index.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction.py
Labels: type: bug, mod: dataframe, to be backported

#2655 [BACKPORT] Fix aggregation with comparison (#2647)
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction.py
Labels: type: bug, mod: dataframe, backport

#2639 Add support for GroupBy.{ffill, bfill,fillna}
  mars/dataframe/groupby/__init__.py
  mars/dataframe/groupby/fill.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
Labels: type: feature, mod: dataframe, to be backported

#2657 [BACKPORT] Add support for GroupBy.{ffill, bfill,fillna} (#2639)
  mars/dataframe/groupby/__init__.py
  mars/dataframe/groupby/fill.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
Labels: type: feature, mod: dataframe, backport

#2658 Fix the wrong index_value generated by df.loc[:]
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/tests/test_indexing.py
Labels: type: bug, mod: dataframe, to be backported

#2661 Added merging small files support for `md.{read_parquet, read_csv}`
  mars/_version.py
  mars/dataframe/datasource/core.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
Labels: type: enhancement, mod: dataframe, to be backported

#2664 Add support for HTTP request rewriter
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/services/cluster/api/web.py
  mars/services/lifecycle/api/web.py
  mars/services/meta/api/web.py
  mars/services/mutable/api/web.py
  mars/services/scheduling/api/web.py
  mars/services/session/api/web.py
  mars/services/storage/api/web.py
  mars/services/task/api/web.py
  mars/services/web/core.py
  mars/services/web/tests/test_core.py
Labels: type: enhancement, mod: web, to be backported

#2662 Add nunique support for DataFrameGroupBy
  docs/source/reference/dataframe/groupby.rst
  mars/config.py
  mars/conftest.py
  mars/core/custom_log.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/contrib/raydataset/tests/test_mldataset.py
  mars/dataframe/contrib/raydataset/tests/test_raydataset.py
  mars/dataframe/core.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datastore/to_csv.py
  mars/dataframe/groupby/__init__.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/groupby/transform.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/reduction/kurtosis.py
  mars/dataframe/reduction/skew.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execution.py
  mars/dataframe/reduction/var.py
  mars/dataframe/statistics/corr.py
  mars/dataframe/window/ewm/aggregation.py
  mars/dataframe/window/expanding/aggregation.py
  mars/deploy/kubedl/client.py
  mars/deploy/kubernetes/tests/test_config.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/tests/test_ray_fault_injection.py
  mars/deploy/yarn/tests/test_config.py
  mars/learn/cluster/_kmeans.py
  mars/learn/decomposition/_base.py
  mars/learn/decomposition/_pca.py
  mars/learn/decomposition/tests/test_pca.py
  mars/learn/decomposition/tests/test_truncated_svd.py
  mars/learn/metrics/_classification.py
  mars/learn/metrics/_ranking.py
  mars/learn/metrics/pairwise/tests/test_euclidean_distances.py
  mars/learn/neighbors/_faiss.py
  mars/learn/neighbors/tests/test_faiss.py
  mars/learn/preprocessing/normalize.py
  mars/learn/proxima/simple_index/builder.py
  mars/learn/proxima/simple_index/searcher.py
  mars/learn/utils/core.py
  mars/lib/filesystem/_oss_lib/glob.py
  mars/lib/groupby_wrapper.py
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/lib/sparse/tests/test_sparse.py
  mars/oscar/backends/communication/utils.py
  mars/services/scheduling/supervisor/autoscale.py
  mars/services/storage/transfer.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tensor/reduction/var.py
  mars/tensor/statistics/histogram.py
  mars/tensor/stats/ks.py
  mars/tensor/stats/ttest.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: type: feature, mod: dataframe, to be backported

#2665 [BACKPORT] Add support for HTTP request rewriter (#2664)
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/services/cluster/api/web.py
  mars/services/lifecycle/api/web.py
  mars/services/meta/api/web.py
  mars/services/mutable/api/web.py
  mars/services/scheduling/api/web.py
  mars/services/session/api/web.py
  mars/services/storage/api/web.py
  mars/services/task/api/web.py
  mars/services/web/core.py
  mars/services/web/tests/test_core.py
Labels: type: enhancement, mod: web, backport

#2666 [BACKPORT] Fix the wrong index_value generated by df.loc[:] (#2658)
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/tests/test_indexing.py
Labels: type: bug, mod: dataframe, backport

#2667 [BACKPORT] Add nunique support for DataFrameGroupBy (#2662)
  docs/source/reference/dataframe/groupby.rst
  mars/config.py
  mars/core/custom_log.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/dataframe/contrib/raydataset/tests/test_mldataset.py
  mars/dataframe/contrib/raydataset/tests/test_raydataset.py
  mars/dataframe/core.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datastore/to_csv.py
  mars/dataframe/groupby/__init__.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/groupby/transform.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
  mars/dataframe/reduction/kurtosis.py
  mars/dataframe/reduction/skew.py
  mars/dataframe/reduction/tests/test_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execution.py
  mars/dataframe/reduction/var.py
  mars/dataframe/statistics/corr.py
  mars/dataframe/window/ewm/aggregation.py
  mars/dataframe/window/expanding/aggregation.py
  mars/deploy/kubedl/client.py
  mars/deploy/kubernetes/tests/test_config.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/tests/test_ray_fault_injection.py
  mars/deploy/yarn/tests/test_config.py
  mars/learn/cluster/_kmeans.py
  mars/learn/decomposition/_base.py
  mars/learn/decomposition/_pca.py
  mars/learn/decomposition/tests/test_pca.py
  mars/learn/decomposition/tests/test_truncated_svd.py
  mars/learn/metrics/_classification.py
  mars/learn/metrics/_ranking.py
  mars/learn/metrics/pairwise/tests/test_euclidean_distances.py
  mars/learn/neighbors/_faiss.py
  mars/learn/neighbors/tests/test_faiss.py
  mars/learn/preprocessing/normalize.py
  mars/learn/proxima/simple_index/builder.py
  mars/learn/proxima/simple_index/searcher.py
  mars/learn/utils/core.py
  mars/lib/filesystem/_oss_lib/glob.py
  mars/lib/groupby_wrapper.py
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/lib/sparse/tests/test_sparse.py
  mars/oscar/backends/communication/utils.py
  mars/services/scheduling/supervisor/autoscale.py
  mars/services/storage/transfer.py
  mars/tensor/arithmetic/tests/test_arithmetic_execution.py
  mars/tensor/reduction/var.py
  mars/tensor/statistics/histogram.py
  mars/tensor/stats/ks.py
  mars/tensor/stats/ttest.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: type: feature, mod: dataframe, backport

#2571 Optimize filtering DataFrame with its fields
  mars/core/graph/builder/base.py
  mars/dataframe/arithmetic/core.py
  mars/optimization/logical/common/column_pruning.py
  mars/optimization/logical/common/head.py
  mars/optimization/logical/core.py
  mars/optimization/logical/tileable/__init__.py
  mars/optimization/logical/tileable/arithmetic_query.py
  mars/optimization/logical/tileable/tests/test_arithmetic_query.py
Labels: type: enhancement, to be backported, mod: optimization

#2669 [BACKPORT] Add merging small files support for `md.{read_parquet, read_csv}` (#2661)
  mars/_version.py
  mars/dataframe/datasource/core.py
  mars/dataframe/datasource/read_csv.py
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
Labels: type: enhancement, mod: dataframe, backport

#2671 Fix optimizing DataFrame query with timestamp in conditions
  mars/optimization/logical/tileable/arithmetic_query.py
  mars/optimization/logical/tileable/tests/test_arithmetic_query.py
Labels: type: bug, mod: dataframe, to be backported

#2668 [BACKPORT] Optimize filtering DataFrame with its fields (#2571)
  mars/core/graph/builder/base.py
  mars/dataframe/arithmetic/core.py
  mars/optimization/logical/common/column_pruning.py
  mars/optimization/logical/common/head.py
  mars/optimization/logical/core.py
  mars/optimization/logical/tileable/__init__.py
  mars/optimization/logical/tileable/arithmetic_query.py
  mars/optimization/logical/tileable/tests/test_arithmetic_query.py
Labels: type: enhancement, backport, mod: optimization
