Repository mars-project/mars, pull requests merged in 2022-02, with the labels that each got.

#2674 Add pyproject.toml to config build packages
  MANIFEST.in
  docs/source/development/contributing.rst
  pyproject.toml
Labels: type: enhancement, mod: deploy, to be backported

#2676 Fix `as_index` when calling agg on SeriesGroupBy
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/reduction/core.py
Labels: type: bug, mod: dataframe, to be backported

#2678 [BACKPORT] Fix as_index when calling groupby-agg (#2676)
  MANIFEST.in
  docs/source/development/contributing.rst
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/reduction/core.py
  pyproject.toml
Labels: type: bug, mod: dataframe, backport

#2681 Fix `sort_values` for empty DataFrame or Series
  mars/dataframe/datasource/core.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/sort/tests/test_sort_execution.py
  mars/learn/metrics/pairwise/tests/test_pariwise_distances.py
  mars/tensor/datasource/from_zarr.py
  mars/tensor/random/tests/test_random_execution.py
  mars/tensor/spatial/distance/cdist.py
  mars/tensor/spatial/distance/pdist.py
  mars/tensor/spatial/distance/tests/test_distance_execution.py
Labels: type: bug, mod: dataframe, to be backported

#2686 [BACKPORT] Fix `sort_values` for empty DataFrame or Series (#2681)
  mars/dataframe/datasource/core.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/sort/tests/test_sort_execution.py
  mars/learn/metrics/pairwise/tests/test_pariwise_distances.py
  mars/tensor/datasource/from_zarr.py
  mars/tensor/random/tests/test_random_execution.py
  mars/tensor/spatial/distance/cdist.py
  mars/tensor/spatial/distance/pdist.py
  mars/tensor/spatial/distance/tests/test_distance_execution.py
Labels: type: bug, mod: dataframe, backport

#2683 Eliminate redundant eval node in optimization
  mars/optimization/logical/core.py
  mars/optimization/logical/tileable/tests/test_arithmetic_query.py
Labels: type: bug, mod: dataframe, to be backported

#2685 Avoid iterative tiling for `df.loc[:, fields]`
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
Labels: type: bug, mod: dataframe, to be backported

#2688 [BACKPORT] Eliminate redundant eval node in optimization (#2683)
  mars/optimization/logical/core.py
  mars/optimization/logical/tileable/tests/test_arithmetic_query.py
Labels: type: bug, backport, mod: optimization

#2633 Refine failure recovery log and exception
  .github/workflows/platform-ci.yml
  mars/deploy/oscar/tests/test_fault_injection.py
  mars/deploy/oscar/tests/test_ray_fault_injection.py
  mars/services/scheduling/worker/execution.py
  mars/services/task/tests/test_service.py
Labels: type: enhancement, mod: scheduling service

#2689 [BACKPORT] Avoid iterative tiling for df.loc[:, fields] (#2685)
  mars/dataframe/indexing/index_lib.py
  mars/dataframe/indexing/tests/test_indexing.py
  mars/dataframe/indexing/tests/test_indexing_execution.py
Labels: type: bug, mod: dataframe, backport

#2672 Add cibuildwheel with Linux AArch64 wheel build support
  .github/workflows/build-wheels.sh
  .github/workflows/pypi-cd.yml
  .github/workflows/upload-packages.sh
  ci/requirements-wheel.txt
  mars/serialization/numpy.py
Labels: mod: deploy, type: feature

#2695 Optimize eval-setitem expressions as single eval expressions
  mars/dataframe/indexing/setitem.py
  mars/optimization/logical/tileable/arithmetic_query.py
  mars/optimization/logical/tileable/tests/test_arithmetic_query.py
Labels: type: enhancement, to be backported, mod: optimization

#2693 [hotfix][ray] fix ray dataset compatibility
  .github/workflows/platform-ci.yml
Labels: type: bug, to be backported, mod: ray integration

#2701 Fix error on dependent DataFrame setitems
  mars/optimization/logical/core.py
  mars/optimization/logical/tileable/arithmetic_query.py
  mars/optimization/logical/tileable/tests/test_arithmetic_query.py
Labels: type: bug, to be backported, mod: optimization

#2704 Add Slack invite link
  README.rst
Labels: type: docs

#2702 [BACKPORT] Fix `use_arrow_dtype` parameter for `read_parquet` (#2698)
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
Labels: type: bug, mod: dataframe, backport

#2703 [BACKPORT] Fix error on dependent DataFrame setitems (#2701)
  mars/optimization/logical/core.py
  mars/optimization/logical/tileable/arithmetic_query.py
  mars/optimization/logical/tileable/tests/test_arithmetic_query.py
Labels: type: bug, backport, mod: optimization

#2707 Fix `estimate_pandas_size` for `pd.MultiIndex`
  mars/_version.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: type: bug, mod: dataframe, to be backported

#2708 Auto merge small chunks when `df.groupby().apply(func)` is doing aggregation
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
Labels: type: enhancement, mod: dataframe

#2710 [BACKPORT] Fix `estimate_pandas_size` on `pd.MultiIndex` (#2707)
  mars/_version.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: type: bug, mod: dataframe, backport

#2712 [BACKPORT][Ray] Refine raydataset integration (#2579)
  .github/workflows/platform-ci.yml
  README.rst
  mars/conftest.py
  mars/dataframe/__init__.py
  mars/dataframe/contrib/raydataset/dataset.py
  mars/dataframe/contrib/raydataset/mldataset.py
  mars/dataframe/contrib/raydataset/tests/test_mldataset.py
  mars/dataframe/contrib/raydataset/tests/test_raydataset.py
  mars/dataframe/datasource/read_raydataset.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/opcodes.py
Labels: type: enhancement, mod: dataframe, backport, mod: ray integration

#2696 Optimize GroupBy's aggregation algorithm
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/services/subtask/worker/tests/subtask_processor.py
Labels: type: enhancement, mod: dataframe

#2714 Import vineyard.data.pickle to make members available.
  mars/storage/vineyard.py
Labels: type: bug, to be backported, mod: vineyard integration

#2716 [BACKPORT] Import vineyard.data.pickle to make members available (#2714)
  mars/storage/vineyard.py
Labels: type: bug, backport, mod: vineyard integration

#2718 Support `inclusive` argument for `pd.date_range`
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/core.py
  mars/dataframe/datasource/date_range.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/indexing/set_index.py
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
  mars/learn/ensemble/_bagging.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/tensor/statistics/bincount.py
Labels: type: feature, mod: dataframe, to be backported

#2721 [BACKPORT] Support inclusive argument for pd.date_range (#2718)
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/core.py
  mars/dataframe/datasource/date_range.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  mars/dataframe/indexing/set_index.py
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
  mars/learn/ensemble/_bagging.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/tensor/statistics/bincount.py
Labels: type: feature, mod: dataframe, backport

#2705 [Ray] refine ray dataset integration
  .github/workflows/platform-ci.yml
  docs/source/installation/ray.rst
  mars/dataframe/__init__.py
  mars/dataframe/contrib/raydataset/dataset.py
  mars/dataframe/contrib/raydataset/mldataset.py
  mars/dataframe/datasource/read_raydataset.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  setup.cfg
Labels: type: enhancement, to be backported, mod: ray integration

#2726 [BACKPORT][Ray] refine ray dataset integration (#2705)
  .github/workflows/platform-ci.yml
  docs/source/installation/ray.rst
  mars/dataframe/__init__.py
  mars/dataframe/contrib/raydataset/dataset.py
  mars/dataframe/contrib/raydataset/mldataset.py
  mars/dataframe/datasource/read_raydataset.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
  setup.cfg
Labels: type: enhancement, backport, mod: ray integration

#2629 Improve profiling
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/backends/core.py
  mars/oscar/profiling.py
  mars/oscar/tests/test_profiling.py
  mars/oscar/tests/test_profiling_data.py
  mars/services/scheduling/supervisor/manager.py
  mars/services/subtask/api.py
  mars/services/task/supervisor/processor.py
  mars/tests/core.py
Labels: type: enhancement, mod: actor, to be backported, mod: task service, mod: subtask service

#2727 Fix shuffle when ndim of input tensors are different
  mars/learn/utils/shuffle.py
  mars/learn/utils/tests/test_shuffle.py
Labels: type: bug, to be backported, mod: learn

#2728 [BACKPORT] Fix shuffle when ndim of input tensors are different (#2727)
  mars/learn/utils/shuffle.py
  mars/learn/utils/tests/test_shuffle.py
Labels: type: bug, backport, mod: learn

#2724 Add support for reading partitioned parquet for fastparquet
  azure-pipelines.yml
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
Labels: type: enhancement, mod: dataframe, to be backported

#2729 [BACKPORT] Add support for reading partitioned parquet for fastparquet (#2724)
  azure-pipelines.yml
  mars/dataframe/datasource/read_parquet.py
  mars/dataframe/datasource/tests/test_datasource_execution.py
Labels: type: enhancement, mod: dataframe, backport

#2719 Introduce coloring based fusion algorithm
  mars/core/operand/base.py
  mars/dataframe/base/rechunk.py
  mars/dataframe/datastore/to_vineyard.py
  mars/dataframe/window/rolling/aggregation.py
  mars/dataframe/window/rolling/tests/test_rolling_execution.py
  mars/deploy/oscar/base_config.yml
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/tests/subtask_processor.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/analyzer/fusion.py
  mars/services/task/analyzer/tests/test_fusion.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/tests/task_preprocessor.py
  mars/tensor/datastore/to_hdf5.py
Labels: type: enhancement, mod: optimization

#2723 Fix duplicate exceptions in log
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
Labels: type: enhancement, mod: client, to be backported

#2736 [BACKPORT] Fix duplicate exceptions in log (#2723)
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
Labels: type: enhancement, mod: client, backport

#2741 [Bug] Fix duplicate dec object ref
  mars/services/task/supervisor/processor.py
Labels: type: bug, to be backported, mod: task service

#2748 Fix long exception of asyncio.gather
  mars/oscar/backends/core.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
Labels: type: bug, mod: actor, to be backported

#2742 Add metric framework
  .github/workflows/run-tests.sh
  mars/metric/__init__.py
  mars/metric/api.py
  mars/metric/backends/__init__.py
  mars/metric/backends/console/__init__.py
  mars/metric/backends/console/console_metric.py
  mars/metric/backends/console/tests/__init__.py
  mars/metric/backends/console/tests/test_console_metric.py
  mars/metric/backends/metric.py
  mars/metric/backends/tests/__init__.py
  mars/metric/backends/tests/test_metric.py
  mars/metric/tests/__init__.py
  mars/metric/tests/test_metric_api.py
Labels: type: feature, mod: metric

#2745 Simplify rechunk implementation
  mars/core/operand/core.py
  mars/dataframe/base/rechunk.py
  mars/lib/sparse/__init__.py
  mars/lib/sparse/matrix.py
  mars/lib/sparse/tests/test_sparse.py
  mars/tensor/indexing/tests/test_indexing.py
  mars/tensor/rechunk/core.py
  mars/tensor/rechunk/rechunk.py
  mars/tensor/rechunk/tests/test_rechunk.py
  mars/tensor/utils.py
Labels: type: enhancement, mod: tensor, mod: dataframe

#2753 [BACKPORT] Fix long exception of asyncio.gather (#2748)
  mars/dataframe/datasource/read_parquet.py
  mars/oscar/backends/core.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
Labels: type: bug, mod: actor, backport

#2755 Fix profiling band_subtasks and most_calls are empty if the slow duration is large
  mars/dataframe/datasource/read_parquet.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/profiling.py
  mars/tests/core.py
Labels: type: bug, mod: actor

#2759 Stop inferring outputs when args provided
  mars/dataframe/base/apply.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/deploy/oscar/tests/test_fault_injection.py
  mars/utils.py
Labels: type: enhancement, mod: dataframe, to be backported

#2761 [BACKPORT] Stop inferring outputs when args provided (#2759)
  mars/dataframe/base/apply.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/groupby/apply.py
  mars/dataframe/groupby/tests/test_groupby.py
Labels: type: enhancement, mod: dataframe, backport

#2752 [Metric]Add prometheus metric implementation
  .github/workflows/core-ci.yml
  mars/metric/api.py
  mars/metric/backends/prometheus/__init__.py
  mars/metric/backends/prometheus/prometheus_metric.py
  mars/metric/backends/prometheus/tests/__init__.py
  mars/metric/backends/prometheus/tests/test_prometheus_metric.py
  mars/metric/tests/test_metric_api.py
Labels: type: feature, mod: metric
