Repository mars-project/mars, pull requests merged in 2022-05, with the labels that each got.

#2986 Fix version mismatch between kubernetes and minikube
  .github/workflows/install-minikube.sh
  benchmarks/asv_bench/benchmarks/tokenize.py
  mars/_utils.pyx
Labels: type: tests, to be backported

#2987 Fix potential empty chunks when creating DataFrame from pandas
  mars/dataframe/datasource/dataframe.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/utils.py
Labels: type: bug, mod: dataframe, to be backported

#2988 [BACKPORT] Fix version mismatch between kubernetes and minikube (#2986)
  .github/workflows/install-minikube.sh
Labels: type: tests, backport

#2989 [BACKPORT] Fix default config to ensure storage backends configured (#2935)
  LICENSE
  mars/config.yml
  mars/deploy/oscar/cmdline.py
  mars/deploy/oscar/supervisor.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/ray/pool.py
  mars/oscar/backends/ray/tests/test_communication.py
  mars/serialization/aio.py
  mars/services/web/core.py
  mars/supervisor.py
  mars/tests/test_cluster.py
  mars/utils.py
  mars/worker.py
  setup.cfg
Labels: type: bug, backport, mod: storage

#2991 [BACKPORT] Fix potential empty chunks when creating DataFrame from pandas (#2987)
  mars/dataframe/datasource/dataframe.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/utils.py
Labels: type: bug, mod: dataframe, backport

#2990 [BACKPORT] Add support for `dask.persist` (#2953)
  mars/contrib/dask/scheduler.py
  mars/contrib/dask/tests/test_dask.py
Labels: type: enhancement, backport, dask-on-mars

#2981 [Ray] Support new ray cluster through ray client
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/backends/ray/communication.py
Labels: type: bug, mod: ray integration

#2993 [BACKPORT] Skip adding band when fetch shuffle data (#2922)
  mars/services/scheduling/worker/execution.py
  mars/services/storage/handler.py
Labels: type: enhancement, backport, mod: storage

#2994 [BACKPORT] Ignore broadcaster's locality when assign subtasks (#2943)
  mars/core/entity/chunks.py
  mars/dataframe/merge/merge.py
  mars/services/scheduling/supervisor/assigner.py
  mars/services/scheduling/supervisor/tests/test_assigner.py
  mars/utils.py
Labels: type: enhancement, backport, mod: scheduling service

#2995 Fix speculative execution compatibility with coloring
  mars/deploy/oscar/base_config.yml
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_scheduling.py
  mars/deploy/utils.py
Labels: type: enhancement, mod: task service, mod: scheduling service

#2992 Make functions that may take long run in thread for lifecycle tracker
  mars/deploy/oscar/tests/test_local.py
  mars/services/lifecycle/supervisor/tracker.py
Labels: type: enhancement, mod: lifecycle service

#2996 [Metrics] Optimize metric configs
  mars/deploy/oscar/base_config.yml
  mars/deploy/oscar/ray.py
  mars/metrics/api.py
  mars/metrics/tests/test_metric_api.py
  mars/oscar/backends/pool.py
Labels: type: enhancement, mod: metric

#2999 Fix missing extra_params when constructing operands
  mars/core/operand/base.py
  mars/core/operand/tests/test_core.py
Labels: type: bug

#3003 Fix `msg_to_simple_str` in Ray backend and add tests
  mars/oscar/backends/ray/communication.py
  mars/oscar/backends/ray/tests/test_communication.py
Labels: type: bug

#3004 Optimize gen subtask graph
  mars/services/task/analyzer/analyzer.py
Labels: type: enhancement, mod: task service

#3005 Allow selecting TPC queries
  benchmarks/tpch/run_queries.py
  mars/oscar/backends/mars/pool.py
Labels: type: tests

#2984 Fix incorrect result for `df.sort_values` when specifying multiple ascending
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/sort/tests/test_sort_execution.py
Labels: type: bug, mod: dataframe, to be backported

#3006 [BACKPORT] Fix incorrect result for df.sort_values when specifying multiple ascending (#2984)
  mars/core/operand/base.py
  mars/core/operand/tests/test_core.py
  mars/dataframe/sort/core.py
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/sort/tests/test_sort_execution.py
  mars/oscar/backends/mars/pool.py
  mars/services/task/analyzer/analyzer.py
Labels: type: bug, mod: dataframe, backport

#3002 [Ray] Ray execution state
  mars/dataframe/datasource/core.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/oscar/backends/pool.py
  mars/services/task/execution/mars/executor.py
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/supervisor/tests/test_task_manager_on_ray_dag.py
Labels: type: enhancement, mod: ray integration, mod: task service

#3014 Build web code before CIBW when deploying to PyPI
  .github/workflows/pypi-cd.yml
  setup.cfg
Labels: mod: deploy, to be backported

#3015 [BACKPORT] Build web code before CIBW when deploying to PyPI (#3014)
  .github/workflows/pypi-cd.yml
  setup.cfg
Labels: mod: deploy, backport

#3016 [BACKPORT] Build web code before CIBW when deploying to PyPI (#3014)
  .github/workflows/pypi-cd.yml
  setup.cfg
Labels: mod: deploy, backport

#3018 Fix errors when deleting mapper data
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/storage/api/oscar.py
Labels: type: bug, to be backported, mod: storage

#3025 Use @pytest_asyncio.fixture instead of @pytest.fixture for async fixtures
  mars/conftest.py
  mars/dataframe/contrib/raydataset/tests/test_raydataset.py
  mars/deploy/oscar/tests/test_fault_injection.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/tests/test_ray_fault_injection.py
  mars/deploy/oscar/tests/test_ray_scheduling.py
  mars/oscar/backends/mars/tests/test_debug.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/ray/tests/test_ray_actor_context.py
  mars/oscar/backends/ray/tests/test_ray_actor_driver.py
  mars/services/cluster/tests/test_api.py
  mars/services/cluster/tests/test_locator.py
  mars/services/cluster/tests/test_procinfo.py
  mars/services/cluster/tests/test_service.py
  mars/services/cluster/tests/test_uploader.py
  mars/services/mutable/tests/test_mutable.py
  mars/services/scheduling/supervisor/tests/test_assigner.py
  mars/services/scheduling/supervisor/tests/test_globalresource.py
  mars/services/scheduling/supervisor/tests/test_manager.py
  mars/services/scheduling/supervisor/tests/test_queue_balance.py
  mars/services/scheduling/supervisor/tests/test_queueing.py
  mars/services/scheduling/supervisor/tests/test_speculation.py
  mars/services/scheduling/tests/test_service.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/scheduling/worker/tests/test_quota.py
  mars/services/scheduling/worker/tests/test_workerslot.py
  mars/services/storage/tests/test_service.py
  mars/services/storage/tests/test_spill.py
  mars/services/storage/tests/test_transfer.py
  mars/services/subtask/tests/test_service.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/tests/test_service.py
  mars/services/tests/test_core.py
  mars/services/web/tests/test_core.py
  mars/storage/tests/test_libs.py
Labels: type: tests

#3021 Fix recursive_tile that it may cause duplicated tile for one tileable
  mars/core/entity/tests/test_utils.py
  mars/core/entity/utils.py
  mars/services/task/supervisor/tests/task_preprocessor.py
Labels: type: bug, to be backported, mod: task service

#3028 Dump remote tracebacks to make local ones more friendly
  mars/lib/tbcode.py
  mars/lib/tblib/__init__.py
  mars/lib/tblib/cpython.py
  mars/lib/tblib/decorators.py
  mars/lib/tblib/pickling_support.py
  mars/lib/tests/test_lib.py
  mars/services/task/api/web.py
  pyproject.toml
Labels: type: enhancement, to be backported

#3027 Use tell when remove mapper data after execution
  mars/lib/tbcode.py
  mars/services/scheduling/worker/execution.py
  mars/services/storage/transfer.py
  mars/services/task/api/web.py
  pyproject.toml
Labels: type: enhancement, to be backported, mod: service

#3031 Change code owners to Mars PMC maintainers
  CODEOWNERS
Labels: type: tests

#3030 [BACKPORT] Dump remote tracebacks to make local ones more friendly (#3028)
  mars/lib/tbcode.py
  mars/lib/tblib/__init__.py
  mars/lib/tblib/cpython.py
  mars/lib/tblib/decorators.py
  mars/lib/tblib/pickling_support.py
  mars/lib/tests/test_lib.py
  mars/services/task/api/web.py
  pyproject.toml
Labels: type: enhancement, backport

#2959 Support `sort=True` for Groupby
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/sort.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/opcodes.py
  mars/serialization/serializables/core.py
Labels: type: feature, mod: dataframe

#3032 Do not aggressively choose tree method in tile of groupby for distributed setting
  benchmarks/tpch/run_queries.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/sort.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
Labels: type: enhancement, mod: dataframe, to be backported

#3023 [Ray] Implements get_chunks_result for Ray execution context
  .github/workflows/platform-ci.yml
  mars/conftest.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  pyproject.toml
Labels: type: enhancement, to be backported, mod: ray integration, mod: task service

#3033 [Ray] Fix ray executor progress test
  mars/conftest.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_dag.py
Labels: type: tests, to be backported, mod: ray integration

#3037 Refine ThreadedServiceContext.get_chunks_meta usage
  mars/conftest.py
  mars/dataframe/base/standardize_range_index.py
  mars/dataframe/utils.py
  mars/remote/core.py
  mars/tensor/base/shape.py
  mars/tensor/base/tests/test_base_execution.py
Labels: type: enhancement, to be backported, mod: task service

#3046 Fix error message when sparse data format not supported
  mars/lib/sparse/array.py
  mars/lib/sparse/tests/test_sparse.py
  mars/tensor/base/tests/test_base_execution.py
Labels: type: bug, to be backported, mod: lib

#3041 Shuffle both sides at the same time for `md.merge`
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge.py
Labels: type: enhancement, mod: dataframe, to be backported

#3047 Patch pandas to make pickle compatible between 1.2 and 1.3
  benchmarks/asv_bench/benchmarks/graph_assigner.py
  mars/_utils.pxd
  mars/_utils.pyx
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/message.pyi
  mars/oscar/backends/message.pyx
  mars/oscar/utils.pyx
  mars/serialization/core.pyx
  mars/tests/test_utils.py
  mars/utils.py
Labels: type: bug, to be backported, mod: serialization

#3048 Assign reducer ops in task assigner to make them more balanced across cluster
  benchmarks/tpch/run_queries.py
  mars/core/operand/shuffle.py
  mars/dataframe/groupby/aggregation.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/analyzer/assigner.py
  mars/services/task/analyzer/tests/test_assigner.py
Labels: type: enhancement, to be backported, mod: task service

#3050 [BACKPORT] Patch pandas to make pickle compatible between 1.2 and 1.3 (#3047)
  benchmarks/asv_bench/benchmarks/graph_assigner.py
  mars/_utils.pxd
  mars/_utils.pyx
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/message.pyi
  mars/oscar/backends/message.pyx
  mars/oscar/utils.pyx
  mars/serialization/core.pyx
  mars/tests/test_utils.py
  mars/utils.py
Labels: type: bug, backport, mod: serialization

#3049 [Ray] Destroy Ray executor when the task finish
  mars/services/task/execution/api.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  mars/services/task/supervisor/processor.py
Labels: type: enhancement, to be backported, mod: task service

#3052 [Ray] Implements get_chunks_meta for Ray execution context
  mars/dataframe/base/tests/test_base_execution.py
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/fetcher.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  mars/tensor/base/tests/test_base_execution.py
Labels: mod: task service

#2969 [Ray] Support basic subtask retry and lineage reconstruction
  mars/conftest.py
  mars/dataframe/contrib/raydataset/dataset.py
  mars/dataframe/contrib/raydataset/mldataset.py
  mars/dataframe/contrib/raydataset/tests/test_raydataset.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/tests/test_ray_dag_failover.py
  mars/deploy/utils.py
  mars/services/task/execution/ray/config.py
  mars/services/task/execution/ray/executor.py
Labels: type: enhancement, mod: ray integration, mod: scheduling service, failover

#3057 Fix chunk index error in auto_merge_chunks
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
Labels: type: bug, mod: dataframe, to be backported

#3060 Integrate special error functions
  docs/source/reference/tensor/special.rst
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/tensor/special/__init__.py
  mars/tensor/special/err_fresnel.py
  mars/tensor/special/tests/test_special.py
  mars/tensor/special/tests/test_special_execution.py
Labels: mod: tensor, type: feature, to be backported

#3051 Combine tree and shuffle methods in `DataFrameGroupBy.agg` tile
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/services/subtask/worker/processor.py
Labels: type: enhancement, mod: dataframe, to be backported

#3062 [BACKPORT] Integrate special error functions (#3060)
  docs/source/reference/tensor/special.rst
  mars/lib/sparse/__init__.py
  mars/lib/sparse/array.py
  mars/tensor/special/__init__.py
  mars/tensor/special/err_fresnel.py
  mars/tensor/special/tests/test_special.py
  mars/tensor/special/tests/test_special_execution.py
Labels: mod: tensor, type: feature, backport

#3063 [BACKPORT] Support `sort=True` for Groupby (#2959)
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/sort.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/opcodes.py
  mars/serialization/serializables/core.py
Labels: type: feature, mod: dataframe, backport

#3064 [BACKPORT] Fix errors when deleting mapper data (#3018)
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/storage/api/oscar.py
Labels: type: bug, backport, mod: storage

#3059 [Ray] Implements get_total_n_cpu for Ray execution context
  mars/dataframe/base/tests/test_base_execution.py
  mars/services/task/execution/api.py
  mars/services/task/execution/mars/config.py
  mars/services/task/execution/mars/executor.py
  mars/services/task/execution/ray/config.py
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  mars/services/task/execution/utils.py
  mars/tensor/base/tests/test_base_execution.py
Labels: mod: task service

#3065 [BACKPORT][Ray] Implement ray task executor progress (#3008)
  mars/conftest.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/services/task/execution/ray/executor.py
Labels: type: enhancement, backport, mod: ray integration

#3066 [BACKPORT] Shuffle both sides at the same time for `md.merge` (#3041)
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge.py
Labels: type: enhancement, mod: dataframe, backport

#3067 [BACKPORT] Refine ThreadedServiceContext.get_chunks_meta usage (#3037)
  mars/conftest.py
  mars/dataframe/base/standardize_range_index.py
  mars/dataframe/utils.py
  mars/lib/sparse/array.py
  mars/lib/sparse/tests/test_sparse.py
  mars/remote/core.py
  mars/tensor/base/shape.py
  mars/tensor/base/tests/test_base_execution.py
Labels: type: enhancement, backport, mod: task service

#3068 [BACKPORT] Fix chunk index error in auto_merge_chunks (#3057)
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
Labels: type: bug, mod: dataframe, backport

#3069 [BACKPORT] Fix recursive_tile that it may cause duplicated tile for one tileable (#3021)
  mars/core/entity/tests/test_utils.py
  mars/core/entity/utils.py
  mars/services/task/supervisor/tests/task_preprocessor.py
Labels: type: bug, backport, mod: task service

#3070 [BACKPORT] Do not aggressively choose tree method in tile of groupby for distributed setting (#3032)
  benchmarks/tpch/run_queries.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/sort.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
Labels: type: enhancement, mod: dataframe, backport

#3071 [BACKPORT] Disable bloom filter in merge for now (#2967)
  mars/core/entity/executable.py
  mars/dataframe/base/bloom_filter.py
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
Labels: type: enhancement, mod: dataframe, backport

#3072 [BACKPORT][Ray] Implements get_chunks_result for Ray execution context (#3023)
  .github/workflows/platform-ci.yml
  mars/conftest.py
  mars/dataframe/base/tests/test_base_execution.py
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  pyproject.toml
Labels: type: enhancement, backport, mod: ray integration, mod: task service

#3073 [BACKPORT] Use tell when remove mapper data after execution (#3027)
  mars/services/scheduling/worker/execution.py
  mars/services/storage/transfer.py
Labels: type: enhancement, backport, mod: scheduling service

#3075 [BACKPORT] Assign reducer ops in task assigner to make them more balanced across cluster (#3048)
  benchmarks/tpch/run_queries.py
  mars/core/operand/shuffle.py
  mars/dataframe/groupby/aggregation.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/analyzer/assigner.py
  mars/services/task/analyzer/tests/test_assigner.py
Labels: type: enhancement, backport, mod: task service

#3074 [BACKPORT][Ray] Destroy Ray executor when the task finish (#3049)
  mars/services/task/execution/api.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  mars/services/task/supervisor/processor.py
Labels: type: enhancement, backport, mod: ray integration, mod: task service

#3077 [BACKPORT] Combine tree and shuffle methods in `DataFrameGroupBy.agg` tile (#3051)
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/services/subtask/worker/processor.py
Labels: type: enhancement, mod: dataframe, backport

#3076 [BACKPORT][Ray] Implements get_chunks_meta for Ray execution context (#3052)
  mars/dataframe/base/tests/test_base_execution.py
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/fetcher.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  mars/tensor/base/tests/test_base_execution.py
Labels: type: enhancement, backport, mod: ray integration, mod: task service

#3044 [Ray] Implement cancel method on Ray task executor
  mars/deploy/oscar/local.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/services/task/execution/ray/config.py
  mars/services/task/execution/ray/executor.py
Labels: type: enhancement, to be backported, mod: ray integration, mod: task service

#3084 Unify DataFrameGroupByAgg's tile logic for auto method
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby.py
Labels: type: enhancement, mod: dataframe, to be backported

#3086 Simplify router clean up when pools or clusters ends
  MANIFEST.in
  benchmarks/tpch/gen_data.py
  benchmarks/tpch/run_queries.py
  mars/conftest.py
  mars/dataframe/contrib/raydataset/tests/test_mldataset.py
  mars/dataframe/contrib/raydataset/tests/test_raydataset.py
  mars/deploy/oscar/local.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/test_fault_injection.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/deploy/oscar/tests/test_ray_fault_injection.py
  mars/deploy/oscar/tests/test_ray_scheduling.py
  mars/oscar/backends/pool.py
  mars/oscar/backends/router.py
  mars/oscar/backends/test/tests/test_actor_context.py
  mars/services/cluster/tests/test_api.py
  mars/services/cluster/tests/test_locator.py
  mars/services/cluster/tests/test_procinfo.py
  mars/services/cluster/tests/test_service.py
  mars/services/cluster/tests/test_uploader.py
  mars/services/meta/tests/test_service.py
  mars/services/mutable/tests/test_mutable.py
  mars/services/scheduling/supervisor/tests/test_assigner.py
  mars/services/scheduling/supervisor/tests/test_globalresource.py
  mars/services/scheduling/supervisor/tests/test_manager.py
  mars/services/scheduling/supervisor/tests/test_queue_balance.py
  mars/services/scheduling/supervisor/tests/test_queueing.py
  mars/services/scheduling/supervisor/tests/test_speculation.py
  mars/services/scheduling/tests/test_service.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/scheduling/worker/tests/test_quota.py
  mars/services/scheduling/worker/tests/test_workerslot.py
  mars/services/storage/tests/test_service.py
  mars/services/storage/tests/test_spill.py
  mars/services/storage/tests/test_transfer.py
  mars/services/subtask/tests/test_service.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/tests/test_service.py
  mars/services/tests/test_core.py
  mars/services/web/tests/test_core.py
  mars/tests/test_session.py
  setup.cfg
Labels: type: enhancement, mod: actor, to be backported

#3085 Call immutable web API only once when previous call blocks
  mars/services/cluster/api/web.py
  mars/services/task/api/web.py
  mars/services/web/core.py
  mars/services/web/tests/test_core.py
Labels: type: enhancement, mod: web, to be backported

#3081 [Ray] Create RayTaskState actor as needed by default
  .github/workflows/platform-ci.yml
  mars/services/task/execution/ray/config.py
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/supervisor/tests/test_task_manager_on_ray_dag.py
Labels: mod: ray integration, mod: task service

#3088 [BACKPORT] Call immutable web API only once when previous call blocks (#3085)
  .github/workflows/platform-ci.yml
  mars/learn/metrics/pairwise/tests/test_haversine_distances.py
  mars/services/cluster/api/web.py
  mars/services/task/api/web.py
  mars/services/web/core.py
  mars/services/web/tests/test_core.py
Labels: type: enhancement, mod: web, backport

#3080 [Ray] Fix ray worker failover
  .github/workflows/platform-ci.yml
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/backends/ray/pool.py
  mars/tests/test_utils.py
  mars/utils.py
Labels: type: bug, mod: actor, to be backported, mod: ray integration

#3094 [BACKPORT] Unify DataFrameGroupByAgg's tile logic for auto method (#3084)
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby.py
Labels: type: enhancement, mod: dataframe, backport

#3061 [Ray] Implement gc for ray task executor context
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/lib/ordered_set.py
  mars/services/task/execution/ray/config.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
Labels: type: enhancement, to be backported, mod: ray integration, mod: task service

#3098 Simplify argument passing in actor batch calls
  mars/_resource.pyx
  mars/learn/metrics/pairwise/tests/test_haversine_distances.py
  mars/oscar/batch.py
  mars/oscar/core.pyx
  mars/serialization/core.pxd
  mars/serialization/core.pyx
  mars/serialization/tests/test_serial.py
  mars/services/web/ui/src/node_info/NodeEnvTab.js
  mars/services/web/ui/src/node_info/NodeResourceTab.js
Labels: type: enhancement, mod: actor, to be backported
