Repository mars-project/mars, changes with the owners that CODEOWNERS names for each.
All owners: @qinxuye, @wjsi, @hekaisheng, @chaokunyang, @fyrestone, @sighingnow

Introduce the ExactlyMapDataKeys type for get_output_data_keys
  mars/core/operand/shuffle.py
  mars/dataframe/align.py
  mars/dataframe/base/_duplicate.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/sample.py
  mars/dataframe/merge/merge.py
  mars/dataframe/sort/psrs.py
  mars/learn/ensemble/_bagging.py
  mars/learn/utils/shuffle.py
  mars/services/subtask/worker/tests/subtask_processor.py
  mars/tensor/base/psrs.py
  mars/tensor/base/unique.py
  mars/tensor/indexing/getitem.py
  mars/tensor/indexing/setitem.py
  mars/tensor/random/permutation.py
  mars/tensor/spatial/distance/pdist.py
  mars/tensor/spatial/distance/squareform.py
Owners: @qinxuye, @hekaisheng, @wjsi

Fix lint
  mars/core/operand/shuffle.py
Owners: @qinxuye, @hekaisheng, @wjsi

Only calculate current stage progress
  mars/services/task/execution/ray/executor.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix lint
  mars/dataframe/base/_duplicate.py
Owners: @hekaisheng, @qinxuye, @wjsi

Fix
  mars/tensor/indexing/getitem.py
Owners: @hekaisheng, @qinxuye, @wjsi

Fix
  mars/dataframe/align.py
  mars/dataframe/base/_duplicate.py
  mars/tensor/base/psrs.py
Owners: @hekaisheng, @qinxuye, @wjsi

Fix
  mars/core/operand/shuffle.py
  mars/tensor/spatial/distance/squareform.py
Owners: @qinxuye, @hekaisheng, @wjsi

Fix typo
  mars/services/task/execution/ray/executor.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix NPM script
  .github/workflows/pypi-cd.yml
Owners: @wjsi, @qinxuye, @hekaisheng

Fix
  .github/workflows/pypi-cd.yml
Owners: @wjsi, @qinxuye, @hekaisheng

Manifest
  .github/workflows/pypi-cd.yml
  setup.cfg
Owners: @wjsi, @qinxuye, @hekaisheng

Build web code before CIBW when deploying to PyPI (#3014)
  .github/workflows/pypi-cd.yml
  setup.cfg
Owners: @wjsi, @qinxuye, @hekaisheng

Build web code before CIBW when deploying to PyPI (#3014)
  .github/workflows/pypi-cd.yml
  setup.cfg
Owners: @wjsi, @qinxuye, @hekaisheng

Build web code before CIBW when deploying to PyPI (#3014)
  .github/workflows/pypi-cd.yml
  setup.cfg
Owners: @wjsi, @qinxuye, @hekaisheng

Remove unnecessary calculation of stage progress
  mars/services/task/execution/ray/executor.py
Owners: @wjsi, @qinxuye, @hekaisheng

[BACKPORT] Build web code before CIBW when deploying to PyPI (#3014) (#3015)
  .github/workflows/pypi-cd.yml
  setup.cfg
Owners: @wjsi, @qinxuye, @hekaisheng

[BACKPORT] Build web code before CIBW when deploying to PyPI (#3014) (#3016)
  .github/workflows/pypi-cd.yml
  setup.cfg
Owners: @wjsi, @qinxuye, @hekaisheng

Fix the failure of deletion
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/storage/api/oscar.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix
  mars/core/operand/shuffle.py
  mars/learn/utils/shuffle.py
  mars/tensor/random/permutation.py
Owners: @qinxuye, @hekaisheng, @wjsi

Fix errors when deleting mapper data (#3018)
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/storage/api/oscar.py
Owners: @wjsi, @qinxuye, @hekaisheng

[Ray] Implement ray task executor progress (#3008)
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/services/task/execution/ray/executor.py
Owners: @wjsi, @hekaisheng, @qinxuye

Implement cancel method for ray task executor
  mars/services/task/execution/ray/executor.py
Owners: @wjsi, @qinxuye, @hekaisheng

Add get_chunks_result for Ray execution context.
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/executor.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix recursive_tile that it may cause duplicated tile for one tileable
  mars/core/entity/tests/test_utils.py
  mars/core/entity/utils.py
  mars/services/task/supervisor/tests/task_preprocessor.py
Owners: @qinxuye, @hekaisheng, @wjsi

Use sync actor for Ray execution state
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
Owners: @wjsi, @qinxuye, @hekaisheng

Add ray_dag CI
  .github/workflows/platform-ci.yml
  mars/conftest.py
  mars/dataframe/base/tests/test_base_execution.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix
  .github/workflows/platform-ci.yml
  mars/conftest.py
  pyproject.toml
Owners: @wjsi, @qinxuye, @hekaisheng

Use @pytest_asyncio.fixture instead of @pytest.fixture
  mars/conftest.py
  mars/dataframe/contrib/raydataset/tests/test_raydataset.py
  mars/deploy/oscar/tests/test_fault_injection.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/tests/test_ray_fault_injection.py
  mars/deploy/oscar/tests/test_ray_scheduling.py
  mars/oscar/backends/mars/tests/test_debug.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/ray/tests/test_ray_actor_context.py
  mars/oscar/backends/ray/tests/test_ray_actor_driver.py
  mars/services/cluster/tests/test_api.py
  mars/services/cluster/tests/test_locator.py
  mars/services/cluster/tests/test_procinfo.py
  mars/services/cluster/tests/test_service.py
  mars/services/cluster/tests/test_uploader.py
  mars/services/mutable/tests/test_mutable.py
  mars/services/scheduling/supervisor/tests/test_assigner.py
  mars/services/scheduling/supervisor/tests/test_globalresource.py
  mars/services/scheduling/supervisor/tests/test_manager.py
  mars/services/scheduling/supervisor/tests/test_queue_balance.py
  mars/services/scheduling/supervisor/tests/test_queueing.py
  mars/services/scheduling/supervisor/tests/test_speculation.py
  mars/services/scheduling/tests/test_service.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/scheduling/worker/tests/test_quota.py
  mars/services/scheduling/worker/tests/test_workerslot.py
  mars/services/storage/tests/test_service.py
  mars/services/storage/tests/test_spill.py
  mars/services/storage/tests/test_transfer.py
  mars/services/subtask/tests/test_service.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/tests/test_service.py
  mars/services/tests/test_core.py
  mars/services/web/tests/test_core.py
  mars/storage/tests/test_libs.py
Owners: @qinxuye, @hekaisheng, @wjsi, @chaokunyang, @fyrestone

Fix lint
  mars/services/task/execution/ray/context.py
Owners: @wjsi, @qinxuye, @hekaisheng

Use ray_dag mark for testing test_task_manager.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/supervisor/tests/test_task_manager_on_ray_dag.py
Owners: @wjsi, @qinxuye, @hekaisheng

Try to fix CI
  mars/services/task/supervisor/tests/test_task_manager.py
Owners: @wjsi, @qinxuye, @hekaisheng

Use @pytest_asyncio.fixture instead of @pytest.fixture for async fixtures (#3025)
  mars/conftest.py
  mars/dataframe/contrib/raydataset/tests/test_raydataset.py
  mars/deploy/oscar/tests/test_fault_injection.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/tests/test_ray_fault_injection.py
  mars/deploy/oscar/tests/test_ray_scheduling.py
  mars/oscar/backends/mars/tests/test_debug.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/ray/tests/test_ray_actor_context.py
  mars/oscar/backends/ray/tests/test_ray_actor_driver.py
  mars/services/cluster/tests/test_api.py
  mars/services/cluster/tests/test_locator.py
  mars/services/cluster/tests/test_procinfo.py
  mars/services/cluster/tests/test_service.py
  mars/services/cluster/tests/test_uploader.py
  mars/services/mutable/tests/test_mutable.py
  mars/services/scheduling/supervisor/tests/test_assigner.py
  mars/services/scheduling/supervisor/tests/test_globalresource.py
  mars/services/scheduling/supervisor/tests/test_manager.py
  mars/services/scheduling/supervisor/tests/test_queue_balance.py
  mars/services/scheduling/supervisor/tests/test_queueing.py
  mars/services/scheduling/supervisor/tests/test_speculation.py
  mars/services/scheduling/tests/test_service.py
  mars/services/scheduling/worker/tests/test_execution.py
  mars/services/scheduling/worker/tests/test_quota.py
  mars/services/scheduling/worker/tests/test_workerslot.py
  mars/services/storage/tests/test_service.py
  mars/services/storage/tests/test_spill.py
  mars/services/storage/tests/test_transfer.py
  mars/services/subtask/tests/test_service.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/tests/test_service.py
  mars/services/tests/test_core.py
  mars/services/web/tests/test_core.py
  mars/storage/tests/test_libs.py
Owners: @qinxuye, @hekaisheng, @wjsi, @chaokunyang, @fyrestone

Revert "Try to fix CI"
  mars/services/task/supervisor/tests/test_task_manager.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix remote object may not be created
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix recursive_tile that it may cause duplicated tile for one tileable (#3021)
  mars/core/entity/tests/test_utils.py
  mars/core/entity/utils.py
  mars/services/task/supervisor/tests/task_preprocessor.py
Owners: @qinxuye, @hekaisheng, @wjsi

Revert "Use ray_dag mark for testing test_task_manager.py"
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/supervisor/tests/test_task_manager_on_ray_dag.py
Owners: @wjsi, @qinxuye, @hekaisheng

Dump remote tracebacks to make local ones more friendly
  mars/lib/tbcode.py
  mars/lib/tblib/__init__.py
  mars/lib/tblib/cpython.py
  mars/lib/tblib/decorators.py
  mars/lib/tblib/pickling_support.py
  mars/lib/tests/test_lib.py
  mars/services/task/api/web.py
  pyproject.toml
Owners: @wjsi, @qinxuye, @hekaisheng

Fix import
  mars/lib/tblib/decorators.py
  mars/services/task/api/web.py
Owners: @wjsi, @qinxuye, @hekaisheng

support fetch infos without accessing storage API
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
Owners: @wjsi, @hekaisheng, @qinxuye

support basic task reconstruction
  mars/conftest.py
  mars/deploy/oscar/rayconfig.yml
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/tests/test_ray_dag_failover.py
  mars/deploy/utils.py
  mars/services/task/execution/ray/executor.py
Owners: @qinxuye, @hekaisheng, @wjsi, @chaokunyang, @fyrestone

CODEOWNERS:

# Each line is a component followed by one or more owners.

*                          @qinxuye @wjsi @hekaisheng
/.github                   @wjsi @qinxuye @hekaisheng
/bin                       @wjsi @qinxuye @hekaisheng
/ci                        @wjsi @qinxuye @hekaisheng
/docs                      @qinxuye @hekaisheng @wjsi
/mars/                     @qinxuye @hekaisheng @wjsi
/mars/core                 @qinxuye @hekaisheng @wjsi
/mars/dataframe            @hekaisheng @qinxuye @wjsi
/mars/deploy               @wjsi @hekaisheng @qinxuye
/mars/deploy/oscar/ray*    @chaokunyang @fyrestone @qinxuye @hekaisheng @wjsi
/mars/learn                @qinxuye @hekaisheng @wjsi
/mars/lib                  @wjsi @qinxuye @hekaisheng
/mars/optimization         @hekaisheng @qinxuye @wjsi
/mars/oscar                @wjsi @qinxuye @hekaisheng
/mars/oscar/backends/ray   @chaokunyang @fyrestone @qinxuye @hekaisheng @wjsi
/mars/remote               @qinxuye @wjsi @hekaisheng
/mars/serialization        @qinxuye @wjsi @hekaisheng
/mars/services/            @wjsi @qinxuye @hekaisheng
/mars/services/cluster     @wjsi @qinxuye @hekaisheng
/mars/services/lifecycle   @wjsi @qinxuye @hekaisheng
/mars/services/meta        @wjsi @qinxuye @hekaisheng
/mars/services/scheduling  @wjsi @qinxuye @hekaisheng
/mars/services/session     @wjsi @qinxuye @hekaisheng
/mars/services/storage     @hekaisheng @qinxuye @wjsi
/mars/services/subtask     @wjsi @qinxuye @hekaisheng
/mars/services/task        @wjsi @qinxuye @hekaisheng
/mars/services/web         @wjsi @qinxuye @hekaisheng
/mars/storage              @hekaisheng @qinxuye @wjsi
/mars/storage/vineyard.py  @sighingnow @qinxuye @hekaisheng @wjsi
/mars/storage/ray.py       @chaokunyang @fyrestone @qinxuye @hekaisheng @wjsi
/mars/tensor               @hekaisheng @qinxuye @wjsi
/mars/tests                @wjsi @hekaisheng @qinxuye
