Repository mars-project/mars, changes with the owners that CODEOWNERS names for each.
All owners: @qinxuye, @wjsi, @hekaisheng, @chaokunyang, @fyrestone, @sighingnow, @acezen

Use uvloop for cmdline and k8s client
  mars/deploy/kubernetes/client.py
  mars/deploy/oscar/cmdline.py
  mars/deploy/oscar/local.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/typing.py
  mars/oscar/backends/mars/pool.py
  mars/typing.py
Owners: @wjsi, @hekaisheng, @qinxuye

Refine log
  mars/services/scheduling/worker/execution.py
Owners: @wjsi, @qinxuye

Fix merge_index_value when index_values come from multi range indexes
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
  setup.py
Owners: @hekaisheng, @qinxuye, @wjsi

mars auto scale on ray
  mars/core/session.py
  mars/deploy/kubernetes/core.py
  mars/deploy/oscar/base_config.yml
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/rayconfig.yml
  mars/deploy/oscar/service.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/yarn/core.py
  mars/oscar/backends/ray/communication.py
  mars/services/cluster/api/oscar.py
  mars/services/cluster/backends/base.py
  mars/services/cluster/backends/fixed.py
  mars/services/scheduling/supervisor/assigner.py
  mars/services/scheduling/supervisor/autoscale.py
  mars/services/scheduling/supervisor/globalslot.py
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/supervisor/service.py
  mars/services/task/supervisor/processor.py
  mars/tests/conftest.py
Owners: @qinxuye, @hekaisheng, @wjsi, @chaokunyang, @fyrestone

Reimplemented subtask reassignment
  mars/services/scheduling/supervisor/assigner.py
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/supervisor/tests/test_assigner.py
  mars/services/scheduling/supervisor/tests/test_queue_balance.py
  mars/services/task/supervisor/processor.py
Owners: @wjsi, @qinxuye

Fix ut
  mars/dataframe/tests/test_utils.py
  mars/dataframe/utils.py
Owners: @hekaisheng, @qinxuye, @wjsi

Add scheduling.subtask_max_runs config
  mars/deploy/oscar/tests/fault_injection_config_with_rerun.yml
  mars/deploy/oscar/tests/test_fault_injection.py
  mars/services/scheduling/api.py
  mars/services/scheduling/worker/execution.py
  mars/services/scheduling/worker/service.py
  mars/services/scheduling/worker/tests/test_execution.py
Owners: @wjsi, @hekaisheng, @qinxuye

CODEOWNERS:

# Each line is a component followed by one or more owners.

*                          @qinxuye @wjsi @hekaisheng
/.github                   @wjsi @qinxuye
/bin                       @wjsi @qinxuye
/ci                        @wjsi @qinxuye
/docs                      @qinxuye @hekaisheng @wjsi
/mars/                     @qinxuye @hekaisheng @wjsi
/mars/core                 @qinxuye @hekaisheng @wjsi
/mars/dataframe            @hekaisheng @qinxuye @wjsi
/mars/deploy               @wjsi @hekaisheng @qinxuye
/mars/deploy/oscar/ray*    @chaokunyang @fyrestone @qinxuye
/mars/learn                @qinxuye @hekaisheng @wjsi
/mars/lib                  @wjsi @qinxuye
/mars/optimization         @hekaisheng @qinxuye
/mars/oscar                @wjsi @qinxuye
/mars/oscar/backends/ray   @chaokunyang @fyrestone @qinxuye
/mars/remote               @qinxuye @wjsi @hekaisheng
/mars/serialization        @qinxuye @wjsi
/mars/services/            @wjsi @qinxuye
/mars/services/cluster     @wjsi @qinxuye
/mars/services/lifecycle   @wjsi @qinxuye
/mars/services/meta        @wjsi @qinxuye
/mars/services/scheduling  @wjsi @qinxuye
/mars/services/session     @wjsi @qinxuye
/mars/services/storage     @hekaisheng @qinxuye
/mars/services/subtask     @wjsi @qinxuye
/mars/services/task        @wjsi @qinxuye
/mars/services/web         @wjsi @qinxuye
/mars/storage              @hekaisheng @qinxuye
/mars/storage/vineyard.py  @sighingnow @acezen @qinxuye
/mars/storage/ray.py       @chaokunyang @fyrestone @qinxuye
/mars/tensor               @hekaisheng @qinxuye @wjsi
/mars/tests                @wjsi @hekaisheng @qinxuye
