Repository mars-project/mars, changes with the owners that CODEOWNERS names for each.
All owners: @qinxuye, @wjsi, @hekaisheng, @chaokunyang, @fyrestone, @sighingnow

Fix supervisor n_process
  mars/core/graph/tests/test_graph.py
  mars/deploy/kubernetes/config.py
  mars/deploy/oscar/supervisor.py
  mars/oscar/backends/context.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/pool.py
  mars/oscar/context.pxd
  mars/oscar/context.pyx
  mars/tests/core.py
  mars/tests/test_cluster.py
  mars/utils.py
Owners: @qinxuye, @hekaisheng, @wjsi

Fix supervisor n_process (#2950)
  mars/core/graph/tests/test_graph.py
  mars/deploy/kubernetes/config.py
  mars/deploy/oscar/supervisor.py
  mars/oscar/backends/context.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/pool.py
  mars/oscar/context.pxd
  mars/oscar/context.pyx
  mars/tests/core.py
  mars/tests/test_cluster.py
  mars/utils.py
Owners: @qinxuye, @hekaisheng, @wjsi

Fix potential KeyError in actor_ref calls when running with multiple processes (#2950)
  mars/core/graph/tests/test_graph.py
  mars/deploy/kubernetes/config.py
  mars/deploy/oscar/supervisor.py
  mars/oscar/backends/context.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/pool.py
  mars/oscar/context.pxd
  mars/oscar/context.pyx
  mars/utils.py
Owners: @qinxuye, @hekaisheng, @wjsi

Add logic key for tileable graph
  mars/core/graph/entity.py
  mars/core/graph/tests/test_graph.py
Owners: @qinxuye, @hekaisheng, @wjsi

Make logic key more easier
  mars/core/graph/entity.py
  mars/core/graph/tests/test_graph.py
Owners: @qinxuye, @hekaisheng, @wjsi

INITIAL wrap ers
  mars/core/base.py
  mars/dataframe/groupby/aggregation.py
  mars/oscar/backends/ray/communication.py
  mars/services/scheduling/tests/test_service.py
  mars/tests/test_cluster.py
  mars/utils.py
Owners: @qinxuye, @hekaisheng, @wjsi, @chaokunyang, @fyrestone

[BACKPORT] Fix potential KeyError in actor_ref calls when running with multiple processes (#2950) (#2962)
  mars/core/graph/tests/test_graph.py
  mars/deploy/kubernetes/config.py
  mars/deploy/oscar/supervisor.py
  mars/oscar/backends/context.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/mars/tests/test_mars_actor_context.py
  mars/oscar/backends/pool.py
  mars/oscar/context.pxd
  mars/oscar/context.pyx
  mars/utils.py
Owners: @qinxuye, @hekaisheng, @wjsi

INITIAL wrap ers
  mars/utils.py
Owners: @qinxuye, @hekaisheng, @wjsi

Calculate better progress.
  mars/core/__init__.py
  mars/core/graph/__init__.py
  mars/core/graph/builder/__init__.py
  mars/core/graph/builder/chunk.py
  mars/services/task/execution/mars/executor.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/processor.py
Owners: @qinxuye, @hekaisheng, @wjsi

Refine progress calculation of tileable graph
  mars/core/base.py
  mars/core/entity/utils.py
  mars/core/graph/builder/chunk.py
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/optimization/logical/chunk/tests/test_column_pruning.py
  mars/optimization/logical/chunk/tests/test_head.py
  mars/optimization/physical/tests/test_cupy.py
  mars/oscar/backends/pool.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/analyzer/tests/test_assigner.py
  mars/services/task/execution/api.py
  mars/services/task/execution/mars/executor.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/task.py
  mars/services/task/supervisor/tests/task_preprocessor.py
  mars/services/task/tests/test_service.py
Owners: @qinxuye, @hekaisheng, @wjsi

Fix test
  mars/core/graph/tests/test_graph.py
Owners: @qinxuye, @hekaisheng, @wjsi

Finish wraps
  mars/core/__init__.py
  mars/core/base.py
  mars/lib/cython/__init__.py
  mars/lib/cython/libcpp.pxd
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/message.pyi
  mars/oscar/backends/message.pyx
  mars/oscar/context.pyx
  mars/oscar/utils.pyx
  mars/serialization/core.pyx
  mars/services/scheduling/tests/test_service.py
  mars/services/scheduling/worker/execution.py
  mars/services/subtask/worker/processor.py
  mars/utils.py
Owners: @qinxuye, @hekaisheng, @wjsi

Fix error
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/utils.py
Owners: @wjsi, @qinxuye, @hekaisheng

Improve deploy backend (#2958)
  mars/deploy/oscar/base_config.yml
  mars/deploy/oscar/local.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/service.py
  mars/deploy/oscar/tests/local_test_with_ray_dag_config.yml
  mars/deploy/oscar/tests/test_checked_session.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/deploy/utils.py
Owners: @wjsi, @hekaisheng, @qinxuye, @chaokunyang, @fyrestone

New ExecutionConfig.
  mars/deploy/oscar/base_config.yml
  mars/deploy/oscar/local.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/resource.py
  mars/services/task/execution/api.py
  mars/services/task/execution/mars/config.py
  mars/services/task/execution/mars/executor.py
  mars/services/task/execution/ray/__init__.py
  mars/services/task/execution/ray/config.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/service.py
  mars/services/task/supervisor/tests/test_task_manager.py
Owners: @wjsi, @hekaisheng, @qinxuye

Optmize test
  mars/core/graph/tests/test_graph.py
Owners: @qinxuye, @hekaisheng, @wjsi

Fix
  mars/deploy/oscar/tests/test_local.py
  mars/services/task/execution/api.py
Owners: @wjsi, @hekaisheng, @qinxuye

Wrap errors in operand execution to protect scheduling service (#2964)
  mars/core/__init__.py
  mars/core/base.py
  mars/dataframe/groupby/aggregation.py
  mars/lib/cython/__init__.py
  mars/lib/cython/libcpp.pxd
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/message.pyi
  mars/oscar/backends/message.pyx
  mars/oscar/backends/ray/communication.py
  mars/oscar/context.pyx
  mars/oscar/utils.pyx
  mars/serialization/core.pyx
  mars/services/scheduling/tests/test_service.py
  mars/services/scheduling/worker/execution.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/tests/test_cluster.py
  mars/utils.py
Owners: @qinxuye, @hekaisheng, @wjsi, @chaokunyang, @fyrestone

Wrap errors in operand execution to protect scheduling service (#2964)
  .gitignore
  mars/core/__init__.py
  mars/core/base.py
  mars/dataframe/groupby/aggregation.py
  mars/oscar/context.pyx
  mars/oscar/utils.pyx
  mars/services/scheduling/tests/test_service.py
  mars/services/scheduling/worker/execution.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/utils.py
Owners: @qinxuye, @wjsi, @hekaisheng

sample output chunk shape does not rely on by
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby.py
Owners: @hekaisheng, @qinxuye, @wjsi

[BACKPORT] Wrap errors in operand execution to protect scheduling service (#2964) (#2971)
  .gitignore
  mars/core/__init__.py
  mars/core/base.py
  mars/dataframe/groupby/aggregation.py
  mars/oscar/context.pyx
  mars/oscar/utils.pyx
  mars/services/scheduling/tests/test_service.py
  mars/services/scheduling/worker/execution.py
  mars/services/subtask/worker/processor.py
  mars/services/subtask/worker/tests/test_subtask.py
  mars/utils.py
Owners: @qinxuye, @wjsi, @hekaisheng

Support reporting tile progress (#2954)
  mars/core/__init__.py
  mars/core/base.py
  mars/core/entity/utils.py
  mars/core/graph/__init__.py
  mars/core/graph/builder/__init__.py
  mars/core/graph/builder/chunk.py
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
  mars/optimization/logical/chunk/tests/test_column_pruning.py
  mars/optimization/logical/chunk/tests/test_head.py
  mars/optimization/physical/tests/test_cupy.py
  mars/oscar/backends/pool.py
  mars/services/task/analyzer/analyzer.py
  mars/services/task/analyzer/tests/test_assigner.py
  mars/services/task/execution/api.py
  mars/services/task/execution/mars/executor.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/preprocessor.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/task.py
  mars/services/task/supervisor/tests/task_preprocessor.py
  mars/services/task/tests/test_service.py
Owners: @qinxuye, @hekaisheng, @wjsi

Add logic key for tileable graph (#2961)
  mars/core/graph/entity.py
  mars/core/graph/tests/test_graph.py
Owners: @qinxuye, @hekaisheng, @wjsi

Fix potential leak for shuffle tasks
  mars/deploy/oscar/tests/test_local.py
  mars/services/storage/api/oscar.py
Owners: @wjsi, @hekaisheng, @qinxuye

Fix merge
  mars/services/task/supervisor/task.py
Owners: @wjsi, @qinxuye, @hekaisheng

Ray executor loads the subtask inputs from meta.
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/supervisor/tests/test_task_manager_on_ray_dag.py
Owners: @wjsi, @hekaisheng, @qinxuye

Fix
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/supervisor/tests/test_task_manager_on_ray_dag.py
Owners: @wjsi, @hekaisheng, @qinxuye

Black
  mars/services/task/supervisor/processor.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix CI
  mars/deploy/oscar/tests/test_local.py
Owners: @wjsi, @hekaisheng, @qinxuye

Remove print from the test_local.py::test_sync_execute
  mars/deploy/oscar/tests/test_local.py
Owners: @wjsi, @hekaisheng, @qinxuye

Fix apply dtypes
  azure-pipelines.yml
  mars/dataframe/base/apply.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/reduction/custom_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execution.py
  mars/oscar/backends/message.pyx
Owners: @qinxuye, @wjsi, @hekaisheng

Fix dtype of series result for DataFrame.apply (#2978)
  azure-pipelines.yml
  mars/dataframe/base/apply.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/reduction/custom_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execution.py
  mars/oscar/backends/message.pyx
Owners: @qinxuye, @wjsi, @hekaisheng

Fix dtype of series result for DataFrame.apply (#2978)
  azure-pipelines.yml
  mars/dataframe/base/apply.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/reduction/custom_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execution.py
Owners: @qinxuye, @wjsi, @hekaisheng

[Ray] Load subtask inputs from meta (#2976)
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/supervisor/tests/test_task_manager_on_ray_dag.py
Owners: @wjsi, @hekaisheng, @qinxuye

[BACKPORT] Fix dtype of series result for DataFrame.apply (#2978) (#2979)
  azure-pipelines.yml
  mars/dataframe/base/apply.py
  mars/dataframe/base/tests/test_base.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/reduction/custom_reduction.py
  mars/dataframe/reduction/tests/test_reduction_execution.py
Owners: @qinxuye, @wjsi, @hekaisheng

Improve test case
  mars/deploy/oscar/tests/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_dag.py
Owners: @wjsi, @hekaisheng, @qinxuye

Fix ref counts
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/task/execution/mars/executor.py
Owners: @wjsi, @hekaisheng, @qinxuye

Fix ut
  mars/services/storage/api/oscar.py
  mars/services/storage/transfer.py
Owners: @hekaisheng, @qinxuye, @wjsi

order preserve poc
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/core.py
Owners: @hekaisheng, @qinxuye, @wjsi

impl execute for indexing phase
  mars/dataframe/groupby/aggregation.py
Owners: @hekaisheng, @qinxuye, @wjsi

CODEOWNERS:

# Each line is a component followed by one or more owners.

*                          @qinxuye @wjsi @hekaisheng
/.github                   @wjsi @qinxuye @hekaisheng
/bin                       @wjsi @qinxuye @hekaisheng
/ci                        @wjsi @qinxuye @hekaisheng
/docs                      @qinxuye @hekaisheng @wjsi
/mars/                     @qinxuye @hekaisheng @wjsi
/mars/core                 @qinxuye @hekaisheng @wjsi
/mars/dataframe            @hekaisheng @qinxuye @wjsi
/mars/deploy               @wjsi @hekaisheng @qinxuye
/mars/deploy/oscar/ray*    @chaokunyang @fyrestone @qinxuye @hekaisheng @wjsi
/mars/learn                @qinxuye @hekaisheng @wjsi
/mars/lib                  @wjsi @qinxuye @hekaisheng
/mars/optimization         @hekaisheng @qinxuye @wjsi
/mars/oscar                @wjsi @qinxuye @hekaisheng
/mars/oscar/backends/ray   @chaokunyang @fyrestone @qinxuye @hekaisheng @wjsi
/mars/remote               @qinxuye @wjsi @hekaisheng
/mars/serialization        @qinxuye @wjsi @hekaisheng
/mars/services/            @wjsi @qinxuye @hekaisheng
/mars/services/cluster     @wjsi @qinxuye @hekaisheng
/mars/services/lifecycle   @wjsi @qinxuye @hekaisheng
/mars/services/meta        @wjsi @qinxuye @hekaisheng
/mars/services/scheduling  @wjsi @qinxuye @hekaisheng
/mars/services/session     @wjsi @qinxuye @hekaisheng
/mars/services/storage     @hekaisheng @qinxuye @wjsi
/mars/services/subtask     @wjsi @qinxuye @hekaisheng
/mars/services/task        @wjsi @qinxuye @hekaisheng
/mars/services/web         @wjsi @qinxuye @hekaisheng
/mars/storage              @hekaisheng @qinxuye @wjsi
/mars/storage/vineyard.py  @sighingnow @qinxuye @hekaisheng @wjsi
/mars/storage/ray.py       @chaokunyang @fyrestone @qinxuye @hekaisheng @wjsi
/mars/tensor               @hekaisheng @qinxuye @wjsi
/mars/tests                @wjsi @hekaisheng @qinxuye
