Repository mars-project/mars, changes with the owners that CODEOWNERS names for each.
All owners: @qinxuye, @wjsi, @hekaisheng, @chaokunyang, @fyrestone, @sighingnow

CODEOWNERS:

# Each line is a component followed by one or more owners.

*                          @qinxuye @wjsi @hekaisheng
/.github                   @wjsi @qinxuye @hekaisheng
/bin                       @wjsi @qinxuye @hekaisheng
/ci                        @wjsi @qinxuye @hekaisheng
/docs                      @qinxuye @hekaisheng @wjsi
/mars/                     @qinxuye @hekaisheng @wjsi
/mars/core                 @qinxuye @hekaisheng @wjsi
/mars/dataframe            @hekaisheng @qinxuye @wjsi
/mars/deploy               @wjsi @hekaisheng @qinxuye
/mars/deploy/oscar/ray*    @chaokunyang @fyrestone @qinxuye @hekaisheng @wjsi
/mars/learn                @qinxuye @hekaisheng @wjsi
/mars/lib                  @wjsi @qinxuye @hekaisheng
/mars/optimization         @hekaisheng @qinxuye @wjsi
/mars/oscar                @wjsi @qinxuye @hekaisheng
/mars/oscar/backends/ray   @chaokunyang @fyrestone @qinxuye @hekaisheng @wjsi
/mars/remote               @qinxuye @wjsi @hekaisheng
/mars/serialization        @qinxuye @wjsi @hekaisheng
/mars/services/            @wjsi @qinxuye @hekaisheng
/mars/services/cluster     @wjsi @qinxuye @hekaisheng
/mars/services/lifecycle   @wjsi @qinxuye @hekaisheng
/mars/services/meta        @wjsi @qinxuye @hekaisheng
/mars/services/scheduling  @wjsi @qinxuye @hekaisheng
/mars/services/session     @wjsi @qinxuye @hekaisheng
/mars/services/storage     @hekaisheng @qinxuye @wjsi
/mars/services/subtask     @wjsi @qinxuye @hekaisheng
/mars/services/task        @wjsi @qinxuye @hekaisheng
/mars/services/web         @wjsi @qinxuye @hekaisheng
/mars/storage              @hekaisheng @qinxuye @wjsi
/mars/storage/vineyard.py  @sighingnow @qinxuye @hekaisheng @wjsi
/mars/storage/ray.py       @chaokunyang @fyrestone @qinxuye @hekaisheng @wjsi
/mars/tensor               @hekaisheng @qinxuye @wjsi
/mars/tests                @wjsi @hekaisheng @qinxuye

Revert process changes
  mars/deploy/kubernetes/config.py
  mars/deploy/oscar/supervisor.py
Owners: @wjsi, @hekaisheng, @qinxuye

Add some metrics
  mars/core/operand/core.py
  mars/metrics/backends/metric.py
  mars/metrics/backends/tests/test_metric.py
  mars/services/scheduling/supervisor/manager.py
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/worker/execution.py
Owners: @qinxuye, @hekaisheng, @wjsi

Add metrics and event report for Ray channels (#2936)
  mars/oscar/backends/ray/communication.py
  mars/oscar/backends/ray/tests/test_utils.py
  mars/oscar/backends/ray/utils.py
Owners: @chaokunyang, @fyrestone, @qinxuye, @hekaisheng, @wjsi

Remove `should_be_monotonic`
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/core.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/merge/concat.py
  mars/deploy/oscar/session.py
  mars/utils.py
Owners: @hekaisheng, @qinxuye, @wjsi

Fix ut
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
Owners: @hekaisheng, @qinxuye, @wjsi

Add more logs on execution info of operands (#2940)
  mars/core/entity/executable.py
  mars/dataframe/base/bloom_filter.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/merge/merge.py
  mars/serialization/core.pyx
  mars/services/scheduling/worker/execution.py
  mars/services/session/supervisor/core.py
  setup.py
Owners: @qinxuye, @hekaisheng, @wjsi

update Slack link
  README.rst
Owners: @qinxuye, @wjsi, @hekaisheng

Debug CI
  .github/workflows/core-ci.yml
  .github/workflows/platform-ci.yml
  .github/workflows/run-tests.sh
Owners: @wjsi, @qinxuye, @hekaisheng

Update Slack link (#2951)
  README.rst
Owners: @qinxuye, @wjsi, @hekaisheng

Revert "Debug CI"
  .github/workflows/core-ci.yml
  .github/workflows/platform-ci.yml
  .github/workflows/run-tests.sh
Owners: @wjsi, @qinxuye, @hekaisheng

Improve test session
  mars/deploy/oscar/local.py
  mars/deploy/oscar/tests/session.py
Owners: @wjsi, @hekaisheng, @qinxuye

Debug CI
  .github/workflows/run-tests.sh
Owners: @wjsi, @qinxuye, @hekaisheng

Fix ut
  mars/services/task/supervisor/tests/test_task_manager.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix lint
  mars/deploy/oscar/tests/session.py
Owners: @wjsi, @hekaisheng, @qinxuye

Debug CI2
  .github/workflows/run-tests.sh
Owners: @wjsi, @qinxuye, @hekaisheng

Try to Fix CI
  mars/deploy/oscar/tests/session.py
Owners: @wjsi, @hekaisheng, @qinxuye

Revert "Debug CI2"
  .github/workflows/run-tests.sh
Owners: @wjsi, @qinxuye, @hekaisheng

Revert "Debug CI"
  .github/workflows/run-tests.sh
Owners: @wjsi, @qinxuye, @hekaisheng

Add tests for `dask.persist`
  mars/contrib/dask/tests/test_dask.py
Owners: @qinxuye, @hekaisheng, @wjsi

Support `dask.persist`: Add support for 1d-keys in `mars_scheduler`
  mars/contrib/dask/scheduler.py
Owners: @qinxuye, @hekaisheng, @wjsi

added unit tests for group by sort
  mars/dataframe/groupby/tests/test_groupby_execution.py
Owners: @hekaisheng, @qinxuye, @wjsi

Use `mars.execute` to batch run multiple tileables
  mars/contrib/dask/scheduler.py
Owners: @qinxuye, @hekaisheng, @wjsi

Fix CI
  mars/deploy/oscar/tests/session.py
Owners: @wjsi, @hekaisheng, @qinxuye

Improve coverage
  mars/services/task/execution/api.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/fetcher.py
  mars/services/task/execution/ray/tests/__init__.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
Owners: @wjsi, @qinxuye, @hekaisheng

Add support for `dask.persist` (#2953)
  mars/contrib/dask/scheduler.py
  mars/contrib/dask/tests/test_dask.py
Owners: @qinxuye, @hekaisheng, @wjsi

Remove `should_be_monotonic` property (#2949)
  mars/dataframe/arithmetic/core.py
  mars/dataframe/arithmetic/tests/test_arithmetic.py
  mars/dataframe/arithmetic/tests/test_arithmetic_execution.py
  mars/dataframe/core.py
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/merge/concat.py
  mars/deploy/oscar/session.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/utils.py
Owners: @hekaisheng, @qinxuye, @wjsi

Fix CI
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
Owners: @wjsi, @qinxuye, @hekaisheng

Add metrics docs
  docs/source/development/index.rst
  docs/source/development/metrics.rst
Owners: @qinxuye, @hekaisheng, @wjsi

Add metrics on operand and subtask executions (#2947)
  mars/core/operand/core.py
  mars/metrics/backends/metric.py
  mars/metrics/backends/tests/test_metric.py
  mars/services/scheduling/supervisor/manager.py
  mars/services/scheduling/supervisor/queueing.py
  mars/services/scheduling/worker/execution.py
Owners: @qinxuye, @hekaisheng, @wjsi

Add metrics chinese docs
  docs/source/development/metrics.rst
  docs/source/locale/zh_CN/LC_MESSAGES/development/metrics.po
Owners: @qinxuye, @hekaisheng, @wjsi

Basic Ray execution backend (#2921)
  mars/conftest.py
  mars/dataframe/contrib/raydataset/tests/test_mldataset.py
  mars/dataframe/contrib/raydataset/tests/test_raydataset.py
  mars/deploy/oscar/local.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/local_test_with_ray_dag_config.yml
  mars/deploy/oscar/tests/session.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/oscar/backends/ray/pool.py
  mars/remote/core.py
  mars/services/meta/api/oscar.py
  mars/services/subtask/utils.py
  mars/services/subtask/worker/processor.py
  mars/services/task/execution/__init__.py
  mars/services/task/execution/api.py
  mars/services/task/execution/mars/executor.py
  mars/services/task/execution/mars/fetcher.py
  mars/services/task/execution/mars/stage.py
  mars/services/task/execution/ray/__init__.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/fetcher.py
  mars/services/task/execution/ray/tests/__init__.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  mars/services/task/supervisor/processor.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/supervisor/tests/test_task_manager_on_ray_dag.py
  mars/utils.py
Owners: @qinxuye, @hekaisheng, @wjsi, @chaokunyang, @fyrestone

Add development documents for metrics (#2955)
  docs/source/development/index.rst
  docs/source/development/metrics.rst
  docs/source/locale/zh_CN/LC_MESSAGES/development/metrics.po
Owners: @qinxuye, @hekaisheng, @wjsi

optimize ray fetcher by query in remote
  mars/services/task/execution/ray/fetcher.py
Owners: @wjsi, @qinxuye, @hekaisheng

new_cluster support backend
  mars/deploy/oscar/base_config.yml
  mars/deploy/oscar/local.py
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/service.py
  mars/deploy/oscar/tests/local_test_with_ray_dag_config.yml
  mars/deploy/oscar/tests/test_checked_session.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray.py
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/deploy/utils.py
Owners: @wjsi, @hekaisheng, @qinxuye, @chaokunyang, @fyrestone

Fix
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/test_ray.py
Owners: @chaokunyang, @fyrestone, @qinxuye, @hekaisheng, @wjsi

Fix
  mars/deploy/oscar/ray.py
  mars/deploy/oscar/tests/test_ray.py
Owners: @chaokunyang, @fyrestone, @qinxuye, @hekaisheng, @wjsi

Fix lint
  mars/deploy/oscar/ray.py
Owners: @chaokunyang, @fyrestone, @qinxuye, @hekaisheng, @wjsi

Remove unused code
  mars/deploy/oscar/local.py
  mars/deploy/oscar/service.py
  mars/deploy/oscar/tests/test_checked_session.py
  mars/deploy/oscar/tests/test_local.py
Owners: @wjsi, @hekaisheng, @qinxuye

[Ray] optimize ray fetcher by query in remote node (#2957)
  mars/services/task/execution/ray/fetcher.py
Owners: @wjsi, @qinxuye, @hekaisheng

fixed conflicts
  mars/dataframe/groupby/aggregation.py
Owners: @hekaisheng, @qinxuye, @wjsi
