Repository mars-project/mars, changes with the owners that CODEOWNERS names for each.
All owners: @qinxuye, @wjsi, @hekaisheng, @chaokunyang, @fyrestone, @sighingnow

Refine the ExecutionConfig
  mars/services/task/execution/api.py
  mars/services/task/execution/core.py
  mars/services/task/execution/ray/config.py
Owners: @wjsi, @qinxuye, @hekaisheng

Use utils instead of mixin
  mars/services/task/execution/api.py
  mars/services/task/execution/mars/config.py
  mars/services/task/execution/ray/config.py
  mars/services/task/execution/utils.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix potential data leak for shuffle tasks (#2975)
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/storage/api/oscar.py
  mars/services/storage/transfer.py
  mars/services/task/execution/mars/executor.py
Owners: @wjsi, @hekaisheng, @qinxuye

Remove build_band_resources from mars/resource.py
  mars/resource.py
  mars/services/task/execution/mars/config.py
  mars/services/task/execution/ray/config.py
  mars/services/task/execution/utils.py
Owners: @qinxuye, @hekaisheng, @wjsi

Support new ray cluster through ray client.
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/backends/ray/communication.py
Owners: @wjsi, @hekaisheng, @qinxuye, @chaokunyang, @fyrestone

Revert "Fix potential data leak for shuffle tasks (#2975)"
  mars/deploy/oscar/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/services/lifecycle/supervisor/tracker.py
  mars/services/storage/api/oscar.py
  mars/services/storage/transfer.py
  mars/services/task/execution/mars/executor.py
Owners: @wjsi, @hekaisheng, @qinxuye

Fix Ray cases
  mars/deploy/oscar/tests/test_local.py
Owners: @wjsi, @hekaisheng, @qinxuye

Refine test case
  mars/deploy/oscar/tests/test_ray.py
Owners: @wjsi, @hekaisheng, @qinxuye

Try to fix test case for ray
  mars/deploy/oscar/tests/test_local.py
Owners: @wjsi, @hekaisheng, @qinxuye

Fix Ray cases (#2983)
  mars/deploy/oscar/tests/test_local.py
Owners: @wjsi, @hekaisheng, @qinxuye

Fix kubernetes install
  .github/workflows/install-minikube.sh
  benchmarks/asv_bench/benchmarks/tokenize.py
  mars/_utils.pyx
Owners: @wjsi, @qinxuye, @hekaisheng

Fix potential empty chunks when creating DataFrame from pandas
  mars/dataframe/datasource/dataframe.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/utils.py
Owners: @hekaisheng, @qinxuye, @wjsi

Fix
  .github/workflows/install-minikube.sh
Owners: @wjsi, @qinxuye, @hekaisheng

Fix version mismatch between kubernetes and minikube (#2986)
  .github/workflows/install-minikube.sh
  benchmarks/asv_bench/benchmarks/tokenize.py
  mars/_utils.pyx
Owners: @wjsi, @qinxuye, @hekaisheng

Fix potential empty chunks when creating DataFrame from pandas (#2987)
  mars/dataframe/datasource/dataframe.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/utils.py
Owners: @hekaisheng, @qinxuye, @wjsi

Fix output_type of DataFrameGroupbyAgg map
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/sort.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
Owners: @hekaisheng, @qinxuye, @wjsi

Fix default config to ensure storage backends configured (#2935)
  LICENSE
  mars/config.yml
  mars/deploy/oscar/cmdline.py
  mars/deploy/oscar/supervisor.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/ray/pool.py
  mars/oscar/backends/ray/tests/test_communication.py
  mars/serialization/aio.py
  mars/services/web/core.py
  mars/supervisor.py
  mars/tests/test_cluster.py
  mars/utils.py
  mars/worker.py
  setup.cfg
Owners: @qinxuye, @wjsi, @hekaisheng, @chaokunyang, @fyrestone

Add support for `dask.persist` (#2953)
  mars/contrib/dask/scheduler.py
  mars/contrib/dask/tests/test_dask.py
Owners: @qinxuye, @hekaisheng, @wjsi

Fix potential empty chunks when creating DataFrame from pandas (#2987)
  mars/dataframe/datasource/dataframe.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/utils.py
Owners: @hekaisheng, @qinxuye, @wjsi

Make functions that may take long run in thread for lifecycle tracker
  mars/deploy/oscar/tests/test_local.py
  mars/services/lifecycle/supervisor/tracker.py
Owners: @wjsi, @hekaisheng, @qinxuye

Fix version mismatch between kubernetes and minikube (#2986)
  .github/workflows/install-minikube.sh
Owners: @wjsi, @qinxuye, @hekaisheng

[BACKPORT] Fix version mismatch between kubernetes and minikube (#2986) (#2988)
  .github/workflows/install-minikube.sh
Owners: @wjsi, @qinxuye, @hekaisheng

Sync test_cluster
  mars/tests/test_cluster.py
Owners: @wjsi, @hekaisheng, @qinxuye

New ExecutionConfig API (#2968)
  mars/deploy/oscar/base_config.yml
  mars/deploy/oscar/local.py
  mars/deploy/oscar/tests/session.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/services/task/execution/api.py
  mars/services/task/execution/mars/config.py
  mars/services/task/execution/mars/executor.py
  mars/services/task/execution/ray/__init__.py
  mars/services/task/execution/ray/config.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/utils.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/service.py
  mars/services/task/supervisor/task.py
  mars/services/task/supervisor/tests/test_task_manager.py
Owners: @wjsi, @hekaisheng, @qinxuye

[BACKPORT] Fix default config to ensure storage backends configured (#2935) (#2989)
  LICENSE
  mars/config.yml
  mars/deploy/oscar/cmdline.py
  mars/deploy/oscar/supervisor.py
  mars/oscar/backends/mars/pool.py
  mars/oscar/backends/ray/pool.py
  mars/oscar/backends/ray/tests/test_communication.py
  mars/serialization/aio.py
  mars/services/web/core.py
  mars/supervisor.py
  mars/tests/test_cluster.py
  mars/utils.py
  mars/worker.py
  setup.cfg
Owners: @qinxuye, @wjsi, @hekaisheng, @chaokunyang, @fyrestone

[BACKPORT] Fix potential empty chunks when creating DataFrame from pandas (#2987) (#2991)
  mars/dataframe/datasource/dataframe.py
  mars/dataframe/datasource/tests/test_datasource.py
  mars/dataframe/utils.py
Owners: @hekaisheng, @qinxuye, @wjsi

[BACKPORT] Add support for `dask.persist` (#2953) (#2990)
  mars/contrib/dask/scheduler.py
  mars/contrib/dask/tests/test_dask.py
Owners: @qinxuye, @hekaisheng, @wjsi

Skip adding band when fetch shuffle data (#2922)
  mars/services/scheduling/worker/execution.py
  mars/services/storage/handler.py
Owners: @wjsi, @qinxuye, @hekaisheng

Ignore broadcaster's locality when assign subtasks (#2943)
  mars/core/entity/chunks.py
  mars/dataframe/merge/merge.py
  mars/services/scheduling/supervisor/assigner.py
  mars/services/scheduling/supervisor/tests/test_assigner.py
  mars/utils.py
Owners: @qinxuye, @hekaisheng, @wjsi

set initial_same_color_num to 1 to ensure enough homogeneous subtasks to calculate statistics
  mars/deploy/oscar/base_config.yml
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_scheduling.py
  mars/deploy/utils.py
Owners: @wjsi, @hekaisheng, @qinxuye

[Ray] Support new ray cluster through ray client (#2981)
  mars/deploy/oscar/tests/test_ray.py
  mars/oscar/backends/ray/communication.py
Owners: @wjsi, @hekaisheng, @qinxuye, @chaokunyang, @fyrestone

[BACKPORT] Skip adding band when fetch shuffle data (#2922) (#2993)
  mars/services/scheduling/worker/execution.py
  mars/services/storage/handler.py
Owners: @wjsi, @qinxuye, @hekaisheng

[BACKPORT] Ignore broadcaster's locality when assign subtasks (#2943) (#2994)
  mars/core/entity/chunks.py
  mars/dataframe/merge/merge.py
  mars/services/scheduling/supervisor/assigner.py
  mars/services/scheduling/supervisor/tests/test_assigner.py
  mars/utils.py
Owners: @qinxuye, @hekaisheng, @wjsi

Optimize metric configs
  mars/deploy/oscar/base_config.yml
  mars/deploy/oscar/ray.py
  mars/metrics/api.py
  mars/metrics/tests/test_metric_api.py
  mars/oscar/backends/pool.py
Owners: @wjsi, @hekaisheng, @qinxuye, @chaokunyang, @fyrestone

Expand the ability to resource evaluator
  mars/services/task/execution/mars/executor.py
  mars/services/task/execution/mars/resource.py
  mars/services/task/execution/mars/tests/__init__.py
  mars/services/task/execution/mars/tests/test_resource.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix comments
  mars/services/task/execution/mars/resource.py
Owners: @wjsi, @qinxuye, @hekaisheng

Ignore F821
  mars/services/task/execution/mars/resource.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix missing extra_params when constructing operands
  mars/core/operand/base.py
Owners: @qinxuye, @hekaisheng, @wjsi

removed redundant comments
  mars/dataframe/groupby/preserve_order.py
  mars/dataframe/groupby/sort.py
  mars/opcodes.py
Owners: @hekaisheng, @qinxuye, @wjsi

changes for order preservation
  mars/dataframe/groupby/aggregation.py
Owners: @hekaisheng, @qinxuye, @wjsi

CODEOWNERS:

# Each line is a component followed by one or more owners.

*                          @qinxuye @wjsi @hekaisheng
/.github                   @wjsi @qinxuye @hekaisheng
/bin                       @wjsi @qinxuye @hekaisheng
/ci                        @wjsi @qinxuye @hekaisheng
/docs                      @qinxuye @hekaisheng @wjsi
/mars/                     @qinxuye @hekaisheng @wjsi
/mars/core                 @qinxuye @hekaisheng @wjsi
/mars/dataframe            @hekaisheng @qinxuye @wjsi
/mars/deploy               @wjsi @hekaisheng @qinxuye
/mars/deploy/oscar/ray*    @chaokunyang @fyrestone @qinxuye @hekaisheng @wjsi
/mars/learn                @qinxuye @hekaisheng @wjsi
/mars/lib                  @wjsi @qinxuye @hekaisheng
/mars/optimization         @hekaisheng @qinxuye @wjsi
/mars/oscar                @wjsi @qinxuye @hekaisheng
/mars/oscar/backends/ray   @chaokunyang @fyrestone @qinxuye @hekaisheng @wjsi
/mars/remote               @qinxuye @wjsi @hekaisheng
/mars/serialization        @qinxuye @wjsi @hekaisheng
/mars/services/            @wjsi @qinxuye @hekaisheng
/mars/services/cluster     @wjsi @qinxuye @hekaisheng
/mars/services/lifecycle   @wjsi @qinxuye @hekaisheng
/mars/services/meta        @wjsi @qinxuye @hekaisheng
/mars/services/scheduling  @wjsi @qinxuye @hekaisheng
/mars/services/session     @wjsi @qinxuye @hekaisheng
/mars/services/storage     @hekaisheng @qinxuye @wjsi
/mars/services/subtask     @wjsi @qinxuye @hekaisheng
/mars/services/task        @wjsi @qinxuye @hekaisheng
/mars/services/web         @wjsi @qinxuye @hekaisheng
/mars/storage              @hekaisheng @qinxuye @wjsi
/mars/storage/vineyard.py  @sighingnow @qinxuye @hekaisheng @wjsi
/mars/storage/ray.py       @chaokunyang @fyrestone @qinxuye @hekaisheng @wjsi
/mars/tensor               @hekaisheng @qinxuye @wjsi
/mars/tests                @wjsi @hekaisheng @qinxuye
