Repository mars-project/mars, changes with the owners that CODEOWNERS names for each.
All owners: @qinxuye, @wjsi, @hekaisheng, @chaokunyang, @fyrestone, @sighingnow

Basic shuffle support for Ray backend
  mars/core/operand/shuffle.py
  mars/dataframe/align.py
  mars/dataframe/base/_duplicate.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/sample.py
  mars/dataframe/merge/merge.py
  mars/dataframe/sort/psrs.py
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/learn/ensemble/_bagging.py
  mars/learn/utils/shuffle.py
  mars/services/subtask/worker/tests/subtask_processor.py
  mars/services/task/execution/ray/executor.py
  mars/tensor/base/psrs.py
  mars/tensor/base/unique.py
  mars/tensor/indexing/getitem.py
  mars/tensor/indexing/index_lib.py
  mars/tensor/indexing/setitem.py
  mars/tensor/random/permutation.py
  mars/tensor/spatial/distance/pdist.py
  mars/tensor/spatial/distance/squareform.py
Owners: @qinxuye, @hekaisheng, @wjsi

Fix field def
  mars/dataframe/sort/core.py
Owners: @hekaisheng, @qinxuye, @wjsi

Mark the get_output_data_keys of TensorBinCount and TensorReshape as to be implemented.
  mars/core/operand/shuffle.py
  mars/dataframe/base/_duplicate.py
  mars/dataframe/groupby/core.py
  mars/dataframe/groupby/sample.py
  mars/dataframe/merge/merge.py
  mars/dataframe/sort/psrs.py
  mars/learn/ensemble/_bagging.py
  mars/learn/utils/shuffle.py
  mars/tensor/base/psrs.py
  mars/tensor/base/unique.py
  mars/tensor/indexing/getitem.py
  mars/tensor/indexing/setitem.py
  mars/tensor/random/permutation.py
  mars/tensor/reshape/reshape.py
  mars/tensor/spatial/distance/pdist.py
  mars/tensor/spatial/distance/squareform.py
  mars/tensor/statistics/bincount.py
Owners: @qinxuye, @hekaisheng, @wjsi

Check initialization of serializables on CI
  .github/workflows/benchmark-ci.yml
  azure-pipelines.yml
  mars/dataframe/sort/core.py
  mars/dataframe/sort/sort_index.py
  mars/dataframe/sort/sort_values.py
  mars/serialization/serializables/core.py
  mars/serialization/serializables/field.py
  mars/serialization/serializables/tests/test_serializable.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix stage output object refs
  mars/services/task/execution/ray/executor.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix lint
  mars/deploy/oscar/tests/test_ray_dag.py
Owners: @wjsi, @hekaisheng, @qinxuye

Fix
  mars/tensor/base/unique.py
Owners: @hekaisheng, @qinxuye, @wjsi

[BACKPORT] Fix incorrect result for df.sort_values when specifying multiple ascending (#2984) (#3006)
  mars/core/operand/base.py
  mars/core/operand/tests/test_core.py
  mars/dataframe/sort/core.py
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/sort/tests/test_sort_execution.py
  mars/oscar/backends/mars/pool.py
  mars/services/task/analyzer/analyzer.py
Owners: @qinxuye, @hekaisheng, @wjsi

Use shuffle when nunique is calculated
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/merge/concat.py
  mars/dataframe/reduction/nunique.py
Owners: @hekaisheng, @qinxuye, @wjsi

[Ray] Ray execution state (#3002)
  mars/dataframe/datasource/core.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/oscar/backends/pool.py
  mars/services/task/execution/mars/executor.py
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/supervisor/tests/test_task_manager_on_ray_dag.py
Owners: @hekaisheng, @qinxuye, @wjsi

Fix mismatches
  mars/dataframe/datasource/from_index.py
  mars/serialization/serializables/core.py
  mars/serialization/serializables/field.py
  mars/tensor/datasource/ones.py
  mars/tensor/datasource/zeros.py
  mars/tensor/indexing/choose.py
  mars/tensor/random/core.py
Owners: @hekaisheng, @qinxuye, @wjsi

Fix
  mars/learn/ensemble/_bagging.py
Owners: @qinxuye, @hekaisheng, @wjsi

Disable bloom_filter in merge for now
  mars/core/entity/executable.py
  mars/dataframe/base/bloom_filter.py
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
Owners: @qinxuye, @hekaisheng, @wjsi

Increase coverage
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
Owners: @hekaisheng, @qinxuye, @wjsi

Fix read_sql
  mars/dataframe/base/value_counts.py
  mars/dataframe/datasource/read_sql.py
  mars/dataframe/datastore/to_sql.py
Owners: @hekaisheng, @qinxuye, @wjsi

fixed imports. removed redundant code
  mars/dataframe/groupby/sort.py
Owners: @hekaisheng, @qinxuye, @wjsi

reformat code
  mars/dataframe/groupby/sort.py
Owners: @hekaisheng, @qinxuye, @wjsi

code style check
  mars/dataframe/groupby/sort.py
Owners: @hekaisheng, @qinxuye, @wjsi

code style check
  mars/dataframe/groupby/sort.py
Owners: @hekaisheng, @qinxuye, @wjsi

added apache 2.0 licence
  mars/dataframe/groupby/sort.py
Owners: @hekaisheng, @qinxuye, @wjsi

code cleanup
  mars/dataframe/groupby/sort.py
Owners: @hekaisheng, @qinxuye, @wjsi

Added test for empty df
  mars/dataframe/groupby/tests/test_groupby_execution.py
Owners: @hekaisheng, @qinxuye, @wjsi

removed unused import
  mars/dataframe/groupby/sort.py
Owners: @hekaisheng, @qinxuye, @wjsi

fixed code style issues
  mars/dataframe/groupby/sort.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
Owners: @hekaisheng, @qinxuye, @wjsi

removed redundant code
  mars/dataframe/groupby/sort.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
Owners: @hekaisheng, @qinxuye, @wjsi

Fix
  mars/tensor/indexing/index_lib.py
Owners: @hekaisheng, @qinxuye, @wjsi

set subtask_max_retries for ray task
  mars/deploy/oscar/rayconfig.yml
  mars/services/task/execution/ray/executor.py
Owners: @chaokunyang, @fyrestone, @qinxuye, @hekaisheng, @wjsi

Add a test
  mars/deploy/oscar/tests/test_ray_dag.py
  mars/services/task/execution/ray/executor.py
Owners: @wjsi, @hekaisheng, @qinxuye

Check output data keys compatible with duplicate operands execution
  mars/services/subtask/worker/tests/subtask_processor.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix format
  mars/services/task/execution/ray/executor.py
Owners: @wjsi, @qinxuye, @hekaisheng

made changes to map and reduce stage to support series and dataframe
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
Owners: @hekaisheng, @qinxuye, @wjsi

resolved a few review comments
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/sort.py
Owners: @hekaisheng, @qinxuye, @wjsi

code style checks
  mars/dataframe/groupby/aggregation.py
Owners: @hekaisheng, @qinxuye, @wjsi

code style checks
  mars/dataframe/groupby/sort.py
Owners: @hekaisheng, @qinxuye, @wjsi

resolved a few review comments
  mars/dataframe/groupby/aggregation.py
Owners: @hekaisheng, @qinxuye, @wjsi

Refine code
  mars/dataframe/sort/psrs.py
  mars/services/task/execution/ray/executor.py
  mars/tensor/base/psrs.py
  mars/tensor/base/unique.py
Owners: @hekaisheng, @qinxuye, @wjsi

resolved review comment to direct output type to init
  mars/dataframe/groupby/sort.py
Owners: @hekaisheng, @qinxuye, @wjsi

removed unused sort
  mars/dataframe/groupby/sort.py
Owners: @hekaisheng, @qinxuye, @wjsi

Fix ut
  mars/dataframe/groupby/sort.py
  mars/serialization/serializables/core.py
Owners: @hekaisheng, @qinxuye, @wjsi

Disable bloom filter in merge for now (#2967)
  mars/core/entity/executable.py
  mars/dataframe/base/bloom_filter.py
  mars/dataframe/merge/merge.py
  mars/dataframe/merge/tests/test_merge.py
  mars/dataframe/merge/tests/test_merge_execution.py
Owners: @qinxuye, @hekaisheng, @wjsi

CODEOWNERS:

# Each line is a component followed by one or more owners.

*                          @qinxuye @wjsi @hekaisheng
/.github                   @wjsi @qinxuye @hekaisheng
/bin                       @wjsi @qinxuye @hekaisheng
/ci                        @wjsi @qinxuye @hekaisheng
/docs                      @qinxuye @hekaisheng @wjsi
/mars/                     @qinxuye @hekaisheng @wjsi
/mars/core                 @qinxuye @hekaisheng @wjsi
/mars/dataframe            @hekaisheng @qinxuye @wjsi
/mars/deploy               @wjsi @hekaisheng @qinxuye
/mars/deploy/oscar/ray*    @chaokunyang @fyrestone @qinxuye @hekaisheng @wjsi
/mars/learn                @qinxuye @hekaisheng @wjsi
/mars/lib                  @wjsi @qinxuye @hekaisheng
/mars/optimization         @hekaisheng @qinxuye @wjsi
/mars/oscar                @wjsi @qinxuye @hekaisheng
/mars/oscar/backends/ray   @chaokunyang @fyrestone @qinxuye @hekaisheng @wjsi
/mars/remote               @qinxuye @wjsi @hekaisheng
/mars/serialization        @qinxuye @wjsi @hekaisheng
/mars/services/            @wjsi @qinxuye @hekaisheng
/mars/services/cluster     @wjsi @qinxuye @hekaisheng
/mars/services/lifecycle   @wjsi @qinxuye @hekaisheng
/mars/services/meta        @wjsi @qinxuye @hekaisheng
/mars/services/scheduling  @wjsi @qinxuye @hekaisheng
/mars/services/session     @wjsi @qinxuye @hekaisheng
/mars/services/storage     @hekaisheng @qinxuye @wjsi
/mars/services/subtask     @wjsi @qinxuye @hekaisheng
/mars/services/task        @wjsi @qinxuye @hekaisheng
/mars/services/web         @wjsi @qinxuye @hekaisheng
/mars/storage              @hekaisheng @qinxuye @wjsi
/mars/storage/vineyard.py  @sighingnow @qinxuye @hekaisheng @wjsi
/mars/storage/ray.py       @chaokunyang @fyrestone @qinxuye @hekaisheng @wjsi
/mars/tensor               @hekaisheng @qinxuye @wjsi
/mars/tests                @wjsi @hekaisheng @qinxuye
