Repository mars-project/mars, changes with the owners that CODEOWNERS names for each.
All owners: @qinxuye, @wjsi, @hekaisheng, @chaokunyang, @fyrestone, @sighingnow

Made changes for sampling on the basis of series or dataframe output
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/sort.py
Owners: @hekaisheng, @qinxuye, @wjsi

code cleanup
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/sort.py
Owners: @hekaisheng, @qinxuye, @wjsi

Add test
  mars/core/operand/tests/test_core.py
Owners: @qinxuye, @hekaisheng, @wjsi

Fix stop pool
  mars/oscar/backends/pool.py
Owners: @wjsi, @qinxuye, @hekaisheng

Not to fetch chunk meta when tiling HeadOptimizedDataSource
  mars/dataframe/datasource/core.py
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_dag.py
Owners: @hekaisheng, @qinxuye, @wjsi

Ray execution state
  mars/services/task/execution/mars/executor.py
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/supervisor/manager.py
  mars/services/task/supervisor/tests/test_task_manager.py
  mars/services/task/supervisor/tests/test_task_manager_on_ray_dag.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix
  mars/services/task/execution/ray/context.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix speculative execution compatibility with coloring (#2995)
  mars/deploy/oscar/base_config.yml
  mars/deploy/oscar/tests/test_local.py
  mars/deploy/oscar/tests/test_ray_scheduling.py
  mars/deploy/utils.py
Owners: @wjsi, @hekaisheng, @qinxuye

Make functions that may take long run in thread for lifecycle tracker (#2992)
  mars/deploy/oscar/tests/test_local.py
  mars/services/lifecycle/supervisor/tracker.py
Owners: @wjsi, @hekaisheng, @qinxuye

Optimize metric configs (#2996)
  mars/deploy/oscar/base_config.yml
  mars/deploy/oscar/ray.py
  mars/metrics/api.py
  mars/metrics/tests/test_metric_api.py
  mars/oscar/backends/pool.py
Owners: @wjsi, @hekaisheng, @qinxuye, @chaokunyang, @fyrestone

Fix missing extra_params when constructing operands (#2999)
  mars/core/operand/base.py
  mars/core/operand/tests/test_core.py
Owners: @qinxuye, @hekaisheng, @wjsi

Fix
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
Owners: @wjsi, @qinxuye, @hekaisheng

Add type hint for resource evaluator argument and make resource evaluator as abstract class
  mars/services/task/execution/mars/executor.py
  mars/services/task/execution/mars/resource.py
Owners: @wjsi, @qinxuye, @hekaisheng

Remove creation check of resource evaluator
  mars/services/task/execution/mars/resource.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix ut
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/sort.py
Owners: @hekaisheng, @qinxuye, @wjsi

fix msg_to_simple_str and add tests
  mars/oscar/backends/ray/communication.py
  mars/oscar/backends/ray/tests/test_communication.py
Owners: @chaokunyang, @fyrestone, @qinxuye, @hekaisheng, @wjsi

Fix msg_to_simple_str in Ray backend and add tests (#3003)
  mars/oscar/backends/ray/communication.py
  mars/oscar/backends/ray/tests/test_communication.py
Owners: @chaokunyang, @fyrestone, @qinxuye, @hekaisheng, @wjsi

Use named actor for Ray task state
  mars/services/task/execution/ray/context.py
  mars/services/task/execution/ray/executor.py
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
Owners: @wjsi, @qinxuye, @hekaisheng

Improve coverage
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix incorrect result for sort_values
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/sort/tests/test_sort_execution.py
Owners: @hekaisheng, @qinxuye, @wjsi

Fix ut
  mars/dataframe/sort/psrs.py
Owners: @hekaisheng, @qinxuye, @wjsi

Improve performance
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/tests/test_sort_execution.py
Owners: @hekaisheng, @qinxuye, @wjsi

Expand the ability of resource evaluator (#2997)
  mars/services/task/execution/mars/executor.py
  mars/services/task/execution/mars/resource.py
  mars/services/task/execution/mars/tests/__init__.py
  mars/services/task/execution/mars/tests/test_resource.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix lint
  mars/services/task/execution/ray/tests/test_ray_execution_backend.py
Owners: @wjsi, @qinxuye, @hekaisheng

use set for start_ops
  mars/services/task/analyzer/analyzer.py
Owners: @wjsi, @qinxuye, @hekaisheng

use pd.api.types.is_numeric_dtype instead of np.issubdtype
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/sort/tests/test_sort_execution.py
Owners: @hekaisheng, @qinxuye, @wjsi

Optimize gen subtask graph (#3004)
  mars/services/task/analyzer/analyzer.py
Owners: @wjsi, @qinxuye, @hekaisheng

Allow selecting TPC queries
  benchmarks/tpch/run_queries.py
  mars/oscar/backends/mars/pool.py
Owners: @qinxuye, @wjsi, @hekaisheng

Fix
  mars/oscar/backends/mars/pool.py
Owners: @wjsi, @qinxuye, @hekaisheng

refine
  mars/dataframe/sort/psrs.py
Owners: @hekaisheng, @qinxuye, @wjsi

Allow selecting TPC queries (#3005)
  benchmarks/tpch/run_queries.py
  mars/oscar/backends/mars/pool.py
Owners: @qinxuye, @wjsi, @hekaisheng

Simplify agg with single return
  mars/dataframe/groupby/aggregation.py
Owners: @hekaisheng, @qinxuye, @wjsi

Fix tests
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/groupby/tests/test_groupby.py
  mars/dataframe/groupby/tests/test_groupby_execution.py
  mars/dataframe/reduction/nunique.py
Owners: @hekaisheng, @qinxuye, @wjsi

Fix apply
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/reduction/aggregation.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/tests/test_reduction_execution.py
Owners: @hekaisheng, @qinxuye, @wjsi

Use numpy methods to accelerate
  mars/dataframe/groupby/aggregation.py
  mars/dataframe/reduction/core.py
  mars/dataframe/reduction/nunique.py
Owners: @hekaisheng, @qinxuye, @wjsi

Implement `get_progress` of ray task executor
  mars/services/task/execution/ray/executor.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix incorrect result for `df.sort_values` when specifying multiple ascending (#2984)
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/sort/tests/test_sort_execution.py
Owners: @hekaisheng, @qinxuye, @wjsi

Fix incorrect result for `df.sort_values` when specifying multiple ascending (#2984)
  mars/dataframe/sort/psrs.py
  mars/dataframe/sort/sort_values.py
  mars/dataframe/sort/tests/test_sort_execution.py
Owners: @hekaisheng, @qinxuye, @wjsi

Optimize gen subtask graph (#3004)
  mars/services/task/analyzer/analyzer.py
Owners: @wjsi, @qinxuye, @hekaisheng

Fix missing extra_params when constructing operands (#2999)
  mars/core/operand/base.py
  mars/core/operand/tests/test_core.py
  mars/oscar/backends/mars/pool.py
Owners: @qinxuye, @hekaisheng, @wjsi

CODEOWNERS:

# Each line is a component followed by one or more owners.

*                          @qinxuye @wjsi @hekaisheng
/.github                   @wjsi @qinxuye @hekaisheng
/bin                       @wjsi @qinxuye @hekaisheng
/ci                        @wjsi @qinxuye @hekaisheng
/docs                      @qinxuye @hekaisheng @wjsi
/mars/                     @qinxuye @hekaisheng @wjsi
/mars/core                 @qinxuye @hekaisheng @wjsi
/mars/dataframe            @hekaisheng @qinxuye @wjsi
/mars/deploy               @wjsi @hekaisheng @qinxuye
/mars/deploy/oscar/ray*    @chaokunyang @fyrestone @qinxuye @hekaisheng @wjsi
/mars/learn                @qinxuye @hekaisheng @wjsi
/mars/lib                  @wjsi @qinxuye @hekaisheng
/mars/optimization         @hekaisheng @qinxuye @wjsi
/mars/oscar                @wjsi @qinxuye @hekaisheng
/mars/oscar/backends/ray   @chaokunyang @fyrestone @qinxuye @hekaisheng @wjsi
/mars/remote               @qinxuye @wjsi @hekaisheng
/mars/serialization        @qinxuye @wjsi @hekaisheng
/mars/services/            @wjsi @qinxuye @hekaisheng
/mars/services/cluster     @wjsi @qinxuye @hekaisheng
/mars/services/lifecycle   @wjsi @qinxuye @hekaisheng
/mars/services/meta        @wjsi @qinxuye @hekaisheng
/mars/services/scheduling  @wjsi @qinxuye @hekaisheng
/mars/services/session     @wjsi @qinxuye @hekaisheng
/mars/services/storage     @hekaisheng @qinxuye @wjsi
/mars/services/subtask     @wjsi @qinxuye @hekaisheng
/mars/services/task        @wjsi @qinxuye @hekaisheng
/mars/services/web         @wjsi @qinxuye @hekaisheng
/mars/storage              @hekaisheng @qinxuye @wjsi
/mars/storage/vineyard.py  @sighingnow @qinxuye @hekaisheng @wjsi
/mars/storage/ray.py       @chaokunyang @fyrestone @qinxuye @hekaisheng @wjsi
/mars/tensor               @hekaisheng @qinxuye @wjsi
/mars/tests                @wjsi @hekaisheng @qinxuye
